[2017-05-23 16:38] Natim opened #1 "Add Mozilla trademarks and legal links"

[2017-05-30 08:23] Natim opened #3 "launchWebAuthFlow should open a tab rather than a popup"

[2017-06-01 13:54] vladikoff commented on #3
https://bugzilla.mozilla.org/show_bug.cgi?id=1305421#c8

[2017-06-01 14:01] Natim commented on #3
@mixedpuppy in the bug you said:

It is exactly what currently happens with the current implementation of the Firefox Notes sidebar add-on.

It opens a new window, then it send an email where you need to click on a link to validate the login flow.
Then the click open a new tab with the sidebar on the side.

So you get a sidebar, a tab and a popup. You have to close the tab manually and then to wai

[2017-06-05 15:10] vladikoff opened #8 "Pull notes from other devices on some timeout value"
from June 5, this is a tracking issue to add faster note updates on other devices that have the sidebar open.

[2017-06-05 23:05] pdehaan opened #10 "Add prettier to auto-format code?"
Here was my local config, although the indenting is a bit different between ESLint and Prettier, so I think we'd need to disable the indenting rules in ESLint.

[code]

And here's my output (showing the processed files):

[code]

[2017-06-08 04:58] rfk opened #11 "Should I get signed out of Notes when I sign out of Sync?"
(sorry if there's a mailing list I should ask this on instead, I couldn't find one in my notes)

I'm trying to make sure I have my head around the relationship between being logged in to Firefox Sync, and being logged in to the Notes webextension.  IIUC the intention is for these to be two separate and independent login states despite co-existing in the same browser, right?

If I'm signed in to sy

[2017-06-08 05:10] rfk opened #12 "Should I get disconnected from Notes if I change/reset my FxA password?"
If the account password gets reset, the encryption keys will need to change, so ISTM it makes sense for any connected Notes clients to get disconnected straight away.  Does it also make sense to disconnect on password change?  IIRC that's the current behaviour for sync, all devices get disconnected on password change or reset.

[2017-06-08 15:16] vladikoff opened #13 "Fix Notes in multi Firefox windows"
John suggest to find the easiest solution for this. This is a bit of an edge case. Let's just not lose data.

![image](https://user-images.githubusercontent.com/128755/26936176-e465fbd0-4c3b-11e7-89e0-766edaac305a.png)

cc @Natim

[2017-06-08 15:26] vladikoff commented on #11
No mailing list :)

[2017-06-12 15:28] vladikoff opened #14 "Merge conflicts"
Figure out simplest way

[2017-06-12 15:29] vladikoff opened #15 "Add Polling strategies"

[2017-06-12 15:32] vladikoff opened #16 "Figure out production client_ids and endpoints"

[2017-06-12 21:32] pdehaan opened #17 "Add Circle-CI integration"
We should run ESLint and run some tests on each commit to ensure we keep it all kosher.

[2017-06-12 22:19] pdehaan opened #18 "Audit HTMLLint results"
HTMLLint didn't bring up anything ~~too~~ interesting, but here they are in case anybody else finds them interesting:

[code]

And my config file, `.htmllintrc`, is:

[code]

[2017-06-13 14:52] Natim commented on #15
I tried using the background script to send events to all sidebars but it doesn't seems to work.
Polling can get in the way of typing but I am working on it.

[2017-06-13 15:21] #15 closed

[2017-06-13 15:21] #14 closed

[2017-06-13 15:49] vladikoff opened #23 "Do not merge conflict Intro Text"
Hey @Natim, merge conflict worked well. Only thing is we don't want to merge conflict the intro text.

Not sure if it is easy to detect the intro text or not

[2017-06-13 16:19] pdehaan opened #25 "Add quill and kinto-http as npm dependencies?"
This would make building and bundling a bit trickier (`npm install` and potentially moving files), but would keep some 3rd party code out of our codebase and make it easier to upgrade libraries in the future.

For example, it looks like we're bundling [**quill@1.2.4**](https://github.com/mozilla/notes/blob/master/src/sidebar/quill.js) in our repo, but the latest is [v1.2.6](https://www.npmjs.com/p

[2017-06-13 16:24] vladikoff commented on #25
After V1

[2017-06-13 16:26] pdehaan commented on #25
![](http://memeguy.com/photos/images/mrw-i-see-my-ex-in-public-and-she-makes-eye-contact-with-me-23484.gif)

[2017-06-13 16:26] vladikoff opened #26 "Toolbar does not fit on small sidebar width"
![image](https://user-images.githubusercontent.com/128755/27093131-903a1464-5033-11e7-9bde-3dab84d5c86e.png)

[2017-06-13 16:27] vladikoff opened #27 "list items too padded"
![image](https://user-images.githubusercontent.com/128755/27093157-a84a0082-5033-11e7-9637-c3c4836bca66.png)

[2017-06-13 16:29] vladikoff opened #28 "font sizes don't match"
![image](https://user-images.githubusercontent.com/128755/27093180-be1f04b6-5033-11e7-8537-8ba709e26d0a.png)

See https://github.com/quilljs/quill/issues/1208#issuecomment-303767338

(
Also see https://github.com/quilljs/quill/issues/491
And maybe https://github.com/quilljs/quill/issues/1493
)

[2017-06-13 16:30] vladikoff commented on #28
@ryanfeeley do you want to make the text size `18` or do you want to change the value in the dropdown from `18` to a greater value?

[2017-06-13 16:32] vladikoff commented on #28
from notes: `drop down fonts don't need to be sized to match font, numbers will suffice`

[2017-06-13 16:33] vladikoff opened #29 "Finish the Sync button design"
From meeting: Sync button is extremely missable

![image](https://user-images.githubusercontent.com/128755/27093378-6ed8d200-5034-11e7-8b02-27de0a8225d4.png)

[2017-06-13 16:33] vladikoff opened #30 "string review on the onboarding string"
from meeting: @johngruen will send it to review

[2017-06-13 16:34] vladikoff opened #31 "Edge Case: FullScreen view (OS X), when Enabling Sync the login window can get lost"
After V1

[2017-06-13 16:36] vladikoff commented on #8
@Natim mostly fixed this 👍

[2017-06-13 16:36] #8 closed

[2017-06-13 16:36] vladikoff commented on #13
The new polling logic from @Natim fixes this

[2017-06-13 16:36] #13 closed

[2017-06-13 18:55] pdehaan opened #33 "Share kinto backend URL between background.js and sidebar/panel.js?"
🔍 https://github.com/mozilla/notes/search?utf8=%E2%9C%93&q=kinto.dev&type=

Both [/src/background.js:1](https://github.com/mozilla/notes/blob/0a6ae033885de91c90d23da449f3b45f6ebbb84f/src/background.js#L1) and [/src/sidebar/panel.js:1](https://github.com/mozilla/notes/blob/0a6ae033885de91c90d23da449f3b45f6ebbb84f/src/sidebar/panel.js#L1) hardcode a Kinto URL endpoint, https://kinto.dev.mozaws.net/v

[2017-06-13 19:46] vladikoff commented on #33
Thanks @pdehaan !

[2017-06-13 19:56] wresuolc opened #34 "Ensure POSTs have a size limit and a request rate limit"
I think these can be set in nginx, so I'm ccing @jasonthomas

I don't have recommendations for values here.

[2017-06-13 19:58] wresuolc opened #35 "Check the magic number of opus files before processing them"
according to the rfc, it's 0x4F70757348656164 ("OpusHead")

[2017-06-13 19:59] wresuolc opened #36 "Ensure Opus processing is sandboxed"
@oremj is working on a solution to this

[2017-06-13 20:00] wresuolc opened #37 "Disable add-on functionality on non-ssl sites"
We don't want to run code or display the microphone on sites that aren't served over SSL

[2017-06-13 20:01] wresuolc opened #38 "Only ever display the microphone icon in a top level document"
Meaning, disable functionality within frames

[2017-06-13 20:03] wresuolc opened #39 "Verify microphone div is the highest z-index"

[2017-06-13 20:29] wresuolc commented on #34
sigh.  https://github.com/mozilla/speaktome/issues/8

[2017-06-13 20:29] #34 closed

[2017-06-13 20:31] wresuolc commented on #35
https://github.com/mozilla/speaktome/issues/9

[2017-06-13 20:31] #35 closed

[2017-06-13 20:31] wresuolc commented on #36
https://github.com/mozilla/speaktome/issues/10

[2017-06-13 20:31] #36 closed

[2017-06-13 20:32] wresuolc commented on #37
https://github.com/mozilla/speaktome/issues/11

[2017-06-13 20:32] #37 closed

[2017-06-13 20:32] wresuolc commented on #38
https://github.com/mozilla/speaktome/issues/12

[2017-06-13 20:32] #38 closed

[2017-06-13 20:33] wresuolc commented on #39
https://github.com/mozilla/speaktome/issues/13

[2017-06-13 20:33] #39 closed

[2017-06-13 21:21] #10 closed

[2017-06-13 23:09] jasonthomas commented on #34
Yes we can configure these via nginx. client_max_body_size in nginx defaults 1MB and seems like a sane value? We could also potentially rate limit by kinto bucket assuming each user has a unique bucket.  /cc @Natim for opinions.

[2017-06-14 05:06] pdehaan commented on #18
FWIW, I did most of this in #19, although there are still 2 errors/warnings re: `<style>` tag and `style=""` attribute.

[2017-06-14 05:09] pdehaan opened #40 "Multiple note support"
From what I understand, this just allows me to create a single note, not an infinite number of separate notes.

I understand it's probably out of scope for V1, but we should consider adding support for multiple notes, as it somewhat limits the utility of this add-on/experiment.

I'm a complex boy, with lots of varied interests. Trying to combine all my thoughts/notes into a single, consolidated te

[2017-06-14 11:55] vladikoff commented on #40
Yeah, this is something to learn from v1, if users want it or not

[2017-06-14 17:32] vladikoff opened #41 "Add the Testpilot metrics library"

[2017-06-14 17:38] vladikoff opened #42 "Add localization support"
See a good example: https://github.com/bwinton/SnoozeTabs

[2017-06-14 17:38] vladikoff commented on #42
bug `flod` about L10N

[2017-06-14 17:39] wresuolc commented on #42
/cc @flodolo

[2017-06-14 17:45] flodolo commented on #42
This is one confusing issue subject :-) I'd suggest "Add localization support".

I'm happy to answer questions if you have, I took a quick look at the repository and couldn't spot any string, so you might check at other repositories to see how they manage extracting strings to .properties, etc.

[2017-06-14 18:05] vladikoff commented on #42
Sorry, I typed it during the meeting. Updated

[2017-06-14 18:09] flodolo commented on #42
Some links in the meantime
https://www.npmjs.com/package/pontoon-to-webext

File structure requested by Pontoon
https://developer.mozilla.org/en-US/docs/Mozilla/Implementing_Pontoon_in_a_Mozilla_website

Pontoon can commit in master or in a branch, like it happens for SnoozeTabs.

Is this a TestPilot experiment?

[2017-06-14 19:12] ryanfeeley commented on #28
@vladikoff  My hunch is that this font size is more about finding a comfortable size for all of the text and not formatting notes with heading, subheadings (and subsubheadings, etc). That (likely) being the case, I think we should focus on sizes for readability and not formatting. Our reader mode uses these 9 sizes. I think we could probably be fine with the first 5 sizes. Make sense?

[code]

[2017-06-14 20:21] vladikoff commented on #42
Yeap!

[2017-06-15 14:53] vladikoff opened #43 "Update the manifest.json permissions to EXCLUDE *:/**. Only FxA should be there"

[2017-06-15 14:58] wresuolc opened #44 "Ensure pad has scripting disabled"
We should make sure people can't paste in onclick handlers or anything.  Maybe CSP rules could apply or using the sandbox tag?

[2017-06-15 15:17] wresuolc opened #45 "Enable greenkeeper"

[2017-06-15 15:20] jvehent opened #46 "Use JWE for notes encryption"
[JSON Web Encryption](https://tools.ietf.org/html/rfc7516) is an industry standard to stored blobs of data in encrypted form inside a JSON envelope. We should consider using it instead of a custom encryption format for notes.

[2017-06-15 15:21] wresuolc opened #47 "Add the Quill license to our code"
We can either append to our LICENSE file or just copy their license next to their code

[2017-06-15 15:43] vladikoff commented on #45
@pdehaan Do you have access to add this?

[2017-06-15 15:44] pdehaan commented on #47
FWIW, here's a link to their [_BSD 3-clause "New" or "Revised" License"_ license file](https://github.com/quilljs/quill/blob/develop/LICENSE).

[2017-06-15 15:49] pdehaan commented on #45
@vladikoff Apparently not. Not sure who our resident Greenkeeper whisperer is that has access to enable this to the repo. FWIW, I think disabled greenkeeper on some other repos due to excessive PR noise. Plus, the fact all our dependencies are just devDependencies.

[2017-06-15 15:51] vladikoff commented on #45
@pdehaan we should enable it from devDeps for now, and go from there :)

[2017-06-15 16:08] groovecoder commented on #45
I enabled greenkeeper for this repo. ...

Note: @cr mentioned the [`quill`](https://www.npmjs.com/package/quill) dependency in today's meeting, and it's not listed in the `package.json` file here, so greenkeeper won't watch it unless it's moved to `package.json`, and configured to install into the `src/sidebar` directory.

[2017-06-15 16:21] greenkeeper[bot] opened #48 "Action required: Greenkeeper could not be activated 🚨"
🚨 You need to enable Continuous Integration on all branches of this repository. 🚨

To enable Greenkeeper, you need to make sure that a [commit status](https://help.github.com/articles/about-statuses/) is reported on all branches. This is required by Greenkeeper because we are using your CI build statuses to figure out when to notify you about breaking changes.

Since we did not receive a CI status

[2017-06-15 16:34] pdehaan commented on #45
Ref: #25 _"Add quill and kinto-http as npm dependencies?"_

[2017-06-15 16:55] pdehaan commented on #45
Ref: #48 _"Action required: Greenkeeper could not be activated"_

I think this is currently blocked by #17; _"Add Circle-CI integration"_

[2017-06-15 17:11] ryanfeeley opened #49 "Optimize line-height for font size and content width"
I noticed some line height problems at some sizes. If we’re going with five font sizes, we should complement them with matching line-heights recommended by the [Golden Rule Calculator](https://pearsonified.com/typography/).

Font:
1. 12px/18px
1. 14px/20px
1. 16px/22px
1. 18px/25px
1. 20px/27px

[2017-06-15 17:54] #17 closed

[2017-06-15 18:02] pdehaan commented on #48
@vladikoff Do we need to do anything in settings in order to get this happy [now that we've enabled Circle-CI]?

[2017-06-15 18:05] vladikoff commented on #48
@pdehaan lol no clue

[2017-06-15 18:11] vladikoff commented on #48
@greenkeeper[bot] we did it !

[2017-06-15 18:11] #48 closed

[2017-06-15 18:19] ryanfeeley opened #51 "Bullets and numbered are one sized"
Is this just the library we're using?
<img width="122" alt="image" src="https://user-images.githubusercontent.com/68213/27195655-95b7eae4-51d5-11e7-8fdc-c30fc563b205.png">

[2017-06-15 18:22] ryanfeeley opened #52 "Reduce indent on lists"
<img width="290" alt="image" src="https://user-images.githubusercontent.com/68213/27195749-f3f5dcd8-51d5-11e7-984d-c282dac45592.png">

GitHub:
* has the left margin about right
* If you look at it

[2017-06-15 18:24] vladikoff commented on #51
Might be able to fix that up with some CSS changes to the theme

[2017-06-15 18:24] vladikoff commented on #52
Dup of https://github.com/mozilla/notes/issues/27 ?

[2017-06-15 18:30] ryanfeeley commented on #52
@vladikoff Oops, yes.

[2017-06-15 18:39] groovecoder commented on #45
Re-enabled.

[2017-06-15 18:42] vladikoff commented on #45
@groovecoder great!! Thanks so much!!

[2017-06-15 18:46] groovecoder commented on #25
This may need some new priority so Greenkeeper can make sure these dependencies stay up-to-date with security patches.

[2017-06-15 18:49] vladikoff commented on #25
@groovecoder great yeap!

[2017-06-15 18:50] vladikoff commented on #44
No <script> support https://github.com/quilljs/quill/issues/1375

[2017-06-15 18:54] greenkeeper[bot] opened #54 "Action required: Greenkeeper could not be activated 🚨"
🚨 You need to enable Continuous Integration on all branches of this repository. 🚨

To enable Greenkeeper, you need to make sure that a [commit status](https://help.github.com/articles/about-statuses/) is reported on all branches. This is required by Greenkeeper because we are using your CI build statuses to figure out when to notify you about breaking changes.

Since we did not receive a CI status

[2017-06-15 18:55] #44 closed

[2017-06-15 19:36] vladikoff commented on #47
Added in https://github.com/mozilla/notes/pull/59

[2017-06-15 19:36] #47 closed

[2017-06-15 20:27] ryanfeeley commented on #11
@rfk @vladikoff As this is a Test Pilot experiment, and the user is signing in to "Firefox Notes", I'd say they are not coupled in any way. Signing out of one will not affect the other.

However if a user deletes their account, we should delete it (eventually if not immediately).

[2017-06-15 20:28] ryanfeeley commented on #12
Yes, as soon as possible. State is designed (last on right) https://mozilla.invisionapp.com/share/6VBUYHMRB#/235284916_Desktop_Sidebar

[2017-06-15 21:33] vladikoff commented on #29
Additional designs from new Synced Tabs bar: https://mozilla.invisionapp.com/share/42C41B58E#/screens

[2017-06-16 00:48] pdehaan commented on #26
Even worse, the Sync button scrolls out of view if the toolbar starts wrapping.

<img width="207" alt="mozilla_firefox_and_toolbar_does_not_fit_on_small_sidebar_width_ _issue__26_ _mozilla_notes" src="https://user-images.githubusercontent.com/557895/27207304-b1462ccc-51f2-11e7-8f76-a9f05e3887c9.png">

[2017-06-16 01:13] #26 closed

[2017-06-16 01:57] vladikoff opened #64 "Add metrics events from the provided spec"
Draft metrics specification: https://gist.github.com/chuckharmston/adb9df1aaed2d769b2a3ff1a41f766c8

[2017-06-16 02:00] #41 closed

[2017-06-16 02:01] vladikoff commented on #52
Fixed in https://github.com/mozilla/notes/pull/65/files

[2017-06-16 02:01] #52 closed

[2017-06-16 02:01] vladikoff commented on #27
Fixed in https://github.com/mozilla/notes/pull/65/files

[2017-06-16 02:01] #27 closed

[2017-06-16 02:01] vladikoff commented on #40
Closing for now, not sure if we going for this yet

[2017-06-16 02:02] vladikoff commented on #3
Closing for now, let's revisit this if users get really confused with the popup

[2017-06-16 02:02] #3 closed

[2017-06-16 02:04] vladikoff commented on #43
This was done: https://github.com/mozilla/notes/blob/dfef4e2ed400b025990cf12b04780405ebfe9622/src/manifest.json#L27-L29

[2017-06-16 02:04] #43 closed

[2017-06-16 02:14] vladikoff commented on #64
Also add the latest GA Tracking Id, currently I use mine from testing

[2017-06-16 02:15] vladikoff opened #67 "Add production FxA derived key support ⚛️"

[2017-06-16 02:17] vladikoff commented on #46
@Natim do you want to use some library for this?

If `yes` then please let me know, because this will matter for my FxA crypto helper. (will depend on which helper methods the FxA lib provides VS the the given JWE library)

[2017-06-16 02:18] vladikoff commented on #1
@johngruen what Mozilla trademarks and legal links do we need?

[2017-06-16 02:29] #25 closed

[2017-06-16 07:13] pdehaan commented on #40
If we're going to close this (versus tagging as "V2 milestone"), at the very least we should add an FAQ.md or wiki page or update the README.md. I can pretty much guarantee that you'll get this request repeatedly on the first or second day after you launch.

[2017-06-16 07:15] Natim commented on #46
I don't think this would affect your part, I will plan to use it to store the encrypted content only.

[2017-06-16 07:25] Natim commented on #46
Related documentation: https://medium.facilelogin.com/jwt-jws-and-jwe-for-not-so-dummies-b63310d201a3#8df5

[2017-06-16 09:16] Natim commented on #45
Can we close that bug then?

[2017-06-16 09:18] #54 closed

[2017-06-16 09:19] Natim commented on #11
Do we have a way to know that from Kinto? Like a webhook we can register somewhere or something?

[2017-06-16 09:20] Natim commented on #12
Today the behavior is that if the bearer token cannot connect to kinto, we disconnect the user.
Is that sufficient?

[2017-06-16 09:22] Natim commented on #16
Before that we need to figure out how we can use the production FxA with the new oauth keys retrieving protocol.

[2017-06-16 09:25] Natim commented on #23
I can do a change so that we won't never sync the intro text.
However if you change it we will sync it and it won't be the Intro text anymore.

Would that cover your issue?

[2017-06-16 09:27] Natim commented on #28
Is that fixed already? It seems to me that the current behavior is much better:

![current-behavior](https://user-images.githubusercontent.com/229453/27220827-c3ce3f94-5286-11e7-914a-b1ebe72611f5.png)

[2017-06-16 09:28] Natim commented on #31
Refs https://github.com/mozilla/notes/issues/3

[2017-06-16 09:29] Natim commented on #33
Shall we bring webpack to the mix to be able to have a CONSTANTS.js file imported in both `panel.js` and `background.js` ?

[2017-06-16 09:45] Natim commented on #42
- [ ] Use `browser.i18n.getMessage('slug')}` everywhere we need to show a translated string.
- [ ] Add `pontoon-to-webext` as a `dev depedency`
- [ ] [List supported locale in packages.json](https://github.com/bwinton/SnoozeTabs/blob/1765637da1e1ed2f3aaf9f801458f1ae179f6d8f/package.json#L63)
- [ ] Create a [./bin/build-locales.js](https://github.com/bwinton/SnoozeTabs/blob/1765637da1e1ed2f3aaf9f80

[2017-06-16 09:58] Natim commented on #51
It is related both to the editor and the way HTML works.

When you change the text size, it changes the selection you made. However the list encompass the whole text so it stays with the quill.js editor size.

Are you expecting the 1 and 7 to be 12px, the 2 and 6 to be 14px, the 3 and 5 to be 16px and 4 to be 18px?

Would it work if in a list the font-size was set to the li directly?

[2017-06-16 10:33] flodolo commented on #42
That's on me as soon as soon as you create the en-US file. You'll need to tell me which repository (I assume this one) or branch to commit to, and give Pontoon's bot access to the repository.

I'd really like to avoid having an hard-coded list of locales (I didn't realize SnoozeTabs has one), because it's easy to forget to update it. I'm not sure how Activity Stream does it, but I don't think they

[2017-06-16 10:58] vladikoff commented on #33
Not sure, I'd rather not add webpack for now, extra complexity. I think one of the scripts should just message the other what the url is. maybe there is a simpler way

[2017-06-16 10:59] vladikoff commented on #12
@Natim we were discussing a feature where the tokens would get invalidated when password changes for certain clients (like this one). That might fix it 👍

[2017-06-16 11:02] vladikoff commented on #23
Exactly this! :D

[2017-06-16 11:04] vladikoff commented on #51
@Natim Quill has this custom css file that hides the native bullets and replaces them with CSS `content: ...`.

It might be a Firefox bug (didn't check Chrome) where the styles do not apply to `content: ` OR maybe we just need a bit of CSS.

[2017-06-16 11:18] vladikoff commented on #40
Ok I will trust you on this. Let's use this issue to keep track of that feedback.

[2017-06-16 11:22] Natim commented on #51
Refs https://github.com/quilljs/quill/issues/409

[2017-06-16 11:45] vladikoff commented on #51
@Natim good find!

[2017-06-16 11:57] Natim opened #71 "Polling for changes is annoying"
If you take more than a second to select a piece of text and edit or style it, you will loose your selection.
This is pretty annoying and it is due to the polling + refresh strategy.

I already have an idea of how to fix that (like looking at the content and refresh only if it changed) but I also filed a [Bugzilla issue](https://bugzilla.mozilla.org/show_bug.cgi?id=1373621) to see if we can come u

[2017-06-16 12:31] SoftVision-EmilPasca opened #72 "Tooltips are missing from the formatting option buttons"
[Affected versions]:
- Firefox 53.0 and up
- Firefox Notes v1.2

[Affected Platforms]:
- All Windows
- All Linux
- All Mac

[Prerequisites]:
- Have a Firefox profile with the latest Notes add-on version (1.2 -dev, built on 16/06/2017).

[Steps to reproduce]:
1. Open the browser with the profile from prerequisites.
2. Hover the formatting option buttons("Bold","Italic","Ordered list", etc.) from "N

[2017-06-16 12:34] vladikoff commented on #72
@SoftVision-EmilPasca good find, thank you!

[2017-06-16 12:48] Natim opened #73 "Handle If-Match headers to avoid overridding when writing to Kinto"
Now that we are polling changes from Kinto less often, it could happen that we are storing an update in Kinto without having loaded the last version from it.

To avoid that we should keep track of the Etag from the last time we read Kinto to avoid overriding if an update occurred in between.

The current implementation only handles conflict on loading from Kinto (with regards to the local pad) but

[2017-06-16 12:50] #46 closed

[2017-06-16 13:23] Natim opened #75 "Switch custom crypto to use js-jose"
See https://github.com/square/js-jose/blob/master/examples/jose-jwe-example2.html

It will greatly simplfiy the code of the add-ons and we would benefit from a shared security monitoring of the lib.

[2017-06-16 13:25] SoftVision-EmilPasca opened #76 "After removing Firefox Notes, the "Show sidebars" button is still displayed in the browser toolbar"
[Notes]:
- The same behavior can be observed also when disabling the "Firefox Notes" add-on.
- Since by default you don't have the "Show sidebars" button in the browser toolbar, it would be better if the button will be moved back after removing/disabling Firefox Notes.

[Affected versions]:
- Firefox 53.0 and up
- Firefox Notes v1.2

[Affected Platforms]:
- All Windows
- All Linux
- All Mac

[Prer

[2017-06-16 13:40] vladikoff commented on #76
@SoftVision-EmilPasca Good find! This is something that Firefox does.

cc @ryanfeeley check it out ^

[2017-06-16 13:41] vladikoff commented on #75
Yessss!

[2017-06-16 14:58] #75 closed

[2017-06-16 14:58] SoftVision-EmilPasca opened #78 ""Show sidebars" button is still highlighted after closing the sidebar and opening a new window"
[Notes]:
- The issue is intermittent:
	- on Mac, 5/10 times.
	- on Windows, 9/10 times.
- The issue is not reproducible without "Firefox Notes" add-on installed.

[Affected versions]:
- Firefox 53.0 and up
- Firefox Notes v1.2

[Affected Platforms]:
- All Windows
- All Linux
- All Mac

[Prerequisites]:
- Have a Firefox profile with the latest Notes add-on version (1.2 -dev, built on 16/06/2017) in

[2017-06-16 15:00] vladikoff commented on #78
Another great find! We might need to file Firefox UX Bugzilla bugs for this

cc @ryanfeeley

[2017-06-16 15:56] pdehaan opened #79 "Use minimized vendor libraries?"
Per some earlier PR comments on using minified versions of the vendor libraries:
- https://github.com/mozilla/notes/pull/68#discussion_r122376386
- https://github.com/mozilla/notes/pull/68#discussion_r122376681
- https://github.com/mozilla/notes/pull/77#discussion_r122460662

[code]

But, if we modify the _scripts/postinstall.sh_ to copy the vendor minified files, we can save oodles of filesize (~

[2017-06-16 15:58] Natim commented on #79
Thank you for the metrics, yeah let's do that 👍

[2017-06-16 16:03] vladikoff commented on #79
Sounds good 👍

[2017-06-16 16:10] pdehaan commented on #79
I think the other good benefit is that the add-on bundle size reduces from 338K down to 122K when using minified assets:

[code]

Versus the \*.min.js minified versions:

[code]

[2017-06-16 16:13] Natim commented on #71
Investigate if we can use https://developer.mozilla.org/en-US/Add-ons/WebExtensions/API/runtime/sendMessage

[2017-06-16 18:10] pdehaan opened #82 "Add vendor licenses for Jose and Kinto?"
Currently we bundle the **quill** license in [/src/quill-license](https://github.com/mozilla/notes/blob/master/src/quill-license). Not sure if we should be doing the same w/ the **kinto-http** and **jose-jwe-jws** licenses as well.

Plus, do we want to include them in the repo (in /src/sidebar/vendor/ perhaps) versus just copy them from node_modules via [/scripts/postinstall.sh](https://github.com

[2017-06-17 01:52] ryanfeeley commented on #11
Maybe? @vladikoff?

[2017-06-17 01:57] ryanfeeley commented on #76
I'm not too bothered by this. The new sidebar switcher makes sidebars a lot more usable. And we're adding an "Open Tabs" sidebar soon (replacing Synced Tabs)

[2017-06-17 01:58] ryanfeeley commented on #78
That's a Firefox bug alright. I know this feature is still in development. I'll file it.

[2017-06-19 02:09] rfk commented on #11
For other services such as Sync, we've set up a backchannel SQS queue from which you can get account lifecycle events such as deletions.  Will that be workable here?

(A webhook would be neat going forward, but more engineering work in the short term)

[2017-06-19 08:11] #79 closed

[2017-06-19 08:31] Natim commented on #11
The plan is to stick with web-extensions compatibility. I don't think WebExtension would have access to that SQS queue.

Is it possible to guess this by not being able to access the Kinto server with the current token and as a consequence disconnect the user?

[2017-06-19 10:46] #82 closed

[2017-06-19 14:18] SoftVision-EmilPasca opened #86 "The "Firefox Notes" doorhanger is wrongly placed under the sidebar switcher button"
[Notes]:
- Based on the other sidebar switcher options, when selected, the doorhanger starts at a small distance from the left browser margin, right under the sidebar switcher option icon.
- I have a hunch that this issue might be due the fact that there is no "Firefox Notes" icon in the sidebar switcher.

[Affected versions]:
- Firefox 53.0 and up
- Firefox Notes v1.2

[Affected Platforms]:
- All

[2017-06-19 15:03] vladikoff opened #87 "Save the attempt to Sync into metrics"

[2017-06-19 15:09] johngruen commented on #1
Nothing in the add-on

[2017-06-19 15:09] #1 closed

[2017-06-19 15:11] vladikoff commented on #11
@ryanfeeley says " Don't worry about singing out users when Firefox Sync signs out"

[2017-06-19 15:11] #11 closed

[2017-06-19 15:13] vladikoff commented on #12
from mtg: Invalidate bearer tokens for this type of applications / clients OR find another way

[2017-06-19 15:14] Natim commented on #12
The issue is to make sure we detect if the keys is not valid anymore.

[2017-06-19 15:32] vladikoff commented on #1
yay!

[2017-06-19 17:43] ryanfeeley commented on #11
🎤👨‍🎤

[2017-06-19 17:48] vladikoff commented on #76
Thanks for the bug @SoftVision-EmilPasca , @ryanfeeley will file a Firefox bug if this is not the desired behaviour.

Closing for now as it is "by design"

[2017-06-19 17:48] #76 closed

[2017-06-19 19:23] vladikoff commented on #42
From mtg:

* Let's add the en-US file ASAP
* Figure out how to `npm start` with an RTL locale

[2017-06-19 22:04] rfk commented on #11
Do we need a separate issue for this account-deletion part?

[2017-06-20 03:09] rfk commented on #12
My strawman proposal for handling this is two-fold.

First, on the FxA side, we arrange for password changes and resets to invalidate the OAuth tokens used by Firefox Notes.  If you check the OAuth token on every access, then you should immediately detect when there's been such an event, and should never find yourself using stale keys.

But of course, you will probably want to cache the OAuth toke

[2017-06-20 09:13] Natim commented on #87
https://github.com/mozilla/notes/blob/master/src/background.js#L30

[2017-06-20 09:13] #87 closed

[2017-06-20 09:17] Natim commented on #72
Refs https://quilljs.com/playground/#snow-toolbar-tooltips

[2017-06-20 09:17] #71 closed

[2017-06-20 09:28] Natim commented on #64
# Done
- [X] hoverpad-authenticate-button : [`webext-button-authenticate`](https://github.com/mozilla/notes/blob/master/src/background.js#L30)

# Started
- [ ] notes-open : [`webext-loaded`](https://github.com/mozilla/notes/blob/master/src/background.js#L22) We need to add the **pad** object

# Todo
- [ ] notes-close : See https://developer.mozilla.org/en-US/Add-ons/WebExtensions/API/runtime/Port

[2017-06-20 09:34] Natim commented on #18
Current master doesn't have anymore left.

[2017-06-20 09:34] #18 closed

[2017-06-20 09:50] Natim commented on #29
The current master looks like something correct to me for what we aims at for v1.
I am moving the next steps in the Syncing milestones.

[2017-06-20 09:51] Natim commented on #30
@johngruen Any news about that?

[2017-06-20 10:12] Natim commented on #45
How can we check that greenkeeper has our back already?

[2017-06-20 10:13] Natim commented on #45
Apparently someone needs to click on the configure menu here: https://github.com/mozilla/notes/settings/installations

But I cannot.

[2017-06-20 11:50] vladikoff commented on #64
Wow great list @Natim !

[2017-06-20 13:56] vladikoff opened #92 "Save the attempt to Sync into local store"
We already send a GA event, but we want to have the ability to notify users that "Sync is available now" once it ships. Should we bother notifying just those who pressed "Sync notes" or should we just tell everybody?

Ref: https://github.com/mozilla/notes/blob/master/src/background.js#L29

[2017-06-20 14:13] ryanfeeley commented on #11
@rfk I wouldn't make that a high priority for a test pilot release. Hell, I don't think our mobile clients even handle it properly with sync yet. But if we develop this further I would definitely revert the user to unauthenticated state and fire a desktop notification like this one we use for sync (but with Notes wording)
![screenshot 2017-06-19 14 05 07](https://user-images.githubusercontent.com/

[2017-06-20 14:52] Natim commented on #92
We already save it: https://github.com/mozilla/notes/blob/master/src/background.js#L27

[2017-06-20 14:59] vladikoff commented on #92
HERO @Natim !!

[2017-06-20 14:59] #92 closed

[2017-06-20 15:16] groovecoder commented on #45
Greenkeeper is configured to run on this repo. I'm not sure if/how we need to re-trigger it to run again.

[2017-06-20 15:57] Natim commented on #45
Ok I will close the issue and we will make sure for the first releases that greenkeeper didn't miss an update.

[2017-06-20 15:57] #45 closed

[2017-06-20 16:54] SoftVision-CarmenFat opened #93 ""Bullet list button" is no longer displayed if the user shrinks the Sidebar to the minimum"
[Notes]:
- The user has to resize the Sidebar again if he wants to have access to "Bullet list" button.

[Affected versions]:
- Firefox 54.0 and up
- Firefox Notes v1.3

[Affected Platforms]:
- All Windows
- All Mac

[Prerequisites]:
- Have a Firefox profile with the latest Firefox Notes Notes add-on version (1.3 -dev, built on 20/06/2017) installed.

[Steps to reproduce]:
1. Open the browser with

[2017-06-20 17:01] SoftVision-CarmenFat opened #94 "Unnecessary horizontal scroll in the Sidebar's editing area"
[Notes]:
- The issue is also reproducible by pressing and holding the "Space" key in the content area.
- The issue is reproducible even with the Sidebar expanded at maximum.

[Affected versions]:
- Firefox 54.0 and up
- Firefox Notes v1.3

[Affected Platforms]:
- All Windows
- All Linux
- All Mac

[Prerequisites]:
- Have a Firefox profile with the latest Firefox Notes add-on version (1.3 -dev, bui

[2017-06-20 17:08] vladikoff commented on #93
thanks for the report! this is by design for now

[2017-06-20 17:08] #93 closed

[2017-06-20 17:08] vladikoff commented on #94
Thanks for the issue, yeah we will need to fix that

[2017-06-20 18:26] udaraweerasinghege commented on #42
I can't tag you in the pr comments @flodolo ._.
Will this be sufficient for configuring pontoon on your end : https://github.com/mozilla/notes/pull/95

[2017-06-20 18:35] flodolo commented on #42
How complete is that localization file, i.e. how many strings are missing? I'm not sure if it makes sense to start localization if the file is far from complete.

If it's just for testing Pontoon automation, I can set it up on the dev version and try to see if it can commit (still not sure if you want commits in master or a branch).

At some point we will also need an easy way to test the dev add-

[2017-06-20 18:47] udaraweerasinghege commented on #42
Thanks for taking a look!

The localization file is complete with all the strings currently in the project, as well as a couple extra that are in the designs but not in the project.

^^ cc: @vladikoff

[2017-06-20 18:50] flodolo commented on #42
The user needing access is: https://github.com/mozilla-pontoon

Also cc @mathjazz, so he's aware of the incoming invite.

P.S. you can ping random people in comments, you just need to type their nicknames completely, autocomplete is available only for collaborators of the project

[2017-06-20 18:57] vladikoff commented on #42
@mathjazz @flodolo added @mozilla-pontoon to the repo 👍

[2017-06-20 19:00] flodolo commented on #42
I'll try to hook the repo tomorrow morning for a test (in case you'll see an incoming Italian localization).

[2017-06-21 07:18] flodolo commented on #42
A few more questions (I'll ask them here instead of #95, since that's already closed):
* Is Sync intended as generic synchronization, or Firefox Sync?
* `syncComplete=Synced`. Looking at the designs, do you expect to put a date after this string?
* Looks like "Verify Your Account" is not available in the file. Expected?
* What's the usage of "Notes" at the top of the panel?

[2017-06-21 07:20] flodolo commented on #42
@natim already answered this one (generic sync), I'll need to add a comment in the file. Sorry for the confusion, since you saw my comment disappear in the other PR.

[2017-06-21 07:23] Natim commented on #42
Yes

Yes, we know we will need this string but for this first version we removed the code related to synchronization and account management.

That's the title of the sidebar/add-on.

[2017-06-21 07:25] flodolo commented on #42
Is that expected to be non localizable and identical to the add-on name?

[2017-06-21 07:26] Natim commented on #42
Can we localize the name of the add-on? My understanding is that the values is coming from the manifest.json file directly.

[2017-06-21 07:27] flodolo commented on #42
No, we can't. That's why I'm asking if the plan is to basically use the add-on names, or if it's a generic "annotations". For the latter, we would need a localizable string.

[2017-06-21 07:37] Natim commented on #42
I think it is fine to commit localization directly to master.

[2017-06-21 08:29] flodolo commented on #42
Localization is working
https://github.com/mozilla/notes/commit/b96d7682cc074f819565b4918db9adc957c59dc9
https://github.com/mozilla/notes/commit/a1b6abdeaca68d65b558887c390498dc3cfa4bcc

At this point we could enable it on the prod server. A couple more questions:
* Does [this description](https://mozilla-pontoon-staging.herokuapp.com/it/test-pilot-notes/notes.properties/?string=166660) make sense

[2017-06-21 08:30] flodolo commented on #42
Correct link to current description: https://mozilla-pontoon-staging.herokuapp.com/projects/test-pilot-notes/info/

[2017-06-21 08:31] Natim commented on #42
Yes

First weeks of July.

[2017-06-21 08:34] flodolo commented on #42
OK, I'm going to enable the project and send an email out to localizers. I'll also enable French: note that you will be able to submit suggestions, but you'll need someone to review them (CC @TheoChevalier so he's aware).

[2017-06-21 08:35] flodolo commented on #42
On a side note: I wonder if you want to (and can) disable CI on these commits.

[2017-06-21 08:54] flodolo commented on #42
Project is set up on prod
https://pontoon.mozilla.org/projects/test-pilot-notes/

Email sent to dev-l10n
https://groups.google.com/d/msg/mozilla.dev.l10n/axPllXUlh34/mjlfMMaiAwAJ

This discussion might be useful for the date part
https://github.com/bwinton/SnoozeTabs/pull/206

[2017-06-21 10:06] Natim commented on #30
We should remove the story about the Android app.

[2017-06-21 10:12] Natim opened #101 "Should we use storage.sync for the v1 so that it magically syncs for people using Firefox Sync?"

[2017-06-21 11:50] vladikoff commented on #30
Yeah this is the basic intro for now: https://github.com/mozilla/notes/blob/master/locales/en-US/notes.properties#L2

[2017-06-21 11:51] vladikoff commented on #101
Interesting idea, but I would say probably not:

* Increases complexity for the ship date and future migration paths
* The sync 'merge' can be slow and won't merge conflict?
* Adds general confusion about different sync 'methods'

[2017-06-21 12:30] Natim commented on #101
Ok makes sense.

[2017-06-21 12:30] #101 closed

[2017-06-21 14:52] flodolo commented on #42
Last thing to note: the policy for updating strings is the same as Firefox
https://developer.mozilla.org/en-US/docs/Mozilla/Localization/Localization_content_best_practices#Changing_existing_strings

If you want your change to be noticed and considered by other languages, you need to change the string ID.

[2017-06-21 15:01] vladikoff commented on #42
Thanks so much @flodolo !

[2017-06-21 19:24] #28 closed

[2017-06-21 22:20] wresuolc opened #104 "Load Testing"
Load testing.  Let's do it!

https://bugzilla.mozilla.org/show_bug.cgi?id=1311510 has notes on previous kinto load testing, so maybe there isn't anything we need to do here?

@jasonthomas -- what date can we get stage running?

@pdehaan -- is the above bug good enough or should we do more?

[2017-06-21 22:21] wresuolc opened #105 "Hook Firefox Notes up to Test Pilot"
1) We need to make this repository match the spec at https://github.com/mozilla/testpilot/blob/master/docs/development/hosting.md

2) @relud to add this repository to the watcher

[2017-06-21 22:29] wresuolc opened #106 "Point add-on to correct updateURL"
The updateURL will be:

With the %ID% being the ID of the add-on

[2017-06-22 07:05] Natim commented on #106
Refs https://developer.mozilla.org/en-US/Add-ons/Updates#Enabling_updates_to_your_extension

[2017-06-22 14:26] vladikoff commented on #106
Interesting!

[2017-06-22 23:50] pdehaan commented on #104
Do we have Kinto support in V1? It looks like it was removed in #88.

[2017-06-23 00:28] vladikoff commented on #104
We do not have Kinto for v1

[2017-06-23 01:01] pdehaan commented on #104
Interesting. So what, if anything, would we need to load test for V1 still?

[2017-06-23 07:56] Natim commented on #104
We still plan on shipping with Kinto as soon as FxA Oauth Keys retrieving features are deployed in prod.
So I guess it could be nice to plan ahead and to see how the deployed stack handle the potential load.

[2017-06-23 07:58] #106 closed

[2017-06-23 08:07] SoftVision-CarmenFat commented on #94
Hi @vladikoff,

I tested this on the latest Notes version (dev built on 6/23/2017).

Middle click can't be used any longer on the editing area, but pressing and holding the "Space" key will still horizontally scroll the Sidebar to a non-editing area.
Please note that after using the "Space" key to scroll the Sidebar, some combinations of keyboard shortcuts can also be used for scrolling horizontal

[2017-06-23 11:48] SoftVision-EmilPasca opened #108 "Images, Hyperlinks and other types of content can be dragged into Firefox Notes"
[Notes]:
- This issue is also reproducible for other kinds of content(GIFs, styled text, etc.)

[Affected versions]:
- Firefox 53.0 and up
- Firefox Notes v1.3

[Affected Platforms]:
- All Windows
- All Linux
- All Mac

[Prerequisites]:
- Have a Firefox profile with the latest Notes add-on version (1.3 -dev, built on 23/06/2017) installed.

[Steps to reproduce]:
1. Open the browser with the profil

[2017-06-23 12:04] Natim commented on #108
Awesome feature 💃

[2017-06-23 13:25] vladikoff commented on #108
Hm pretty sure I disabled this , I will double check

[2017-06-23 14:00] vladikoff commented on #108
https://github.com/quilljs/quill/issues/191

[2017-06-23 14:09] vladikoff commented on #108
Gifs are fine, but once you start adding hyperlinks then they do not fit anymore with the current CSS Styles. I posted a work in progress patch to remove ability to drop into the notes area

[2017-06-26 20:15] pdehaan commented on #104
@vladikoff Do we have an ETA on the FxA work being deployed to prod?

@Natim +1 on planning ahead, but we may have to delay the load testing a bit until after the other 2 experiments are load tested.

[2017-06-27 19:58] Natim commented on #12
After talking about it this morning:

- Each time you verify a token (that also asked for keys) you will retrieve a kid.
- This kid should be stored along with the cache
- When a new token is validated and the kid changes, we invalidate all bearer token in the cache that are having this kid (so that their validation will fail later)
- Then it is impossible to authenticate on Kinto with a bearer li

[2017-06-27 20:04] Natim commented on #73
After talking about it this morning, we want to handle multiple cases here:

- Raise conditions, when to pad where edited and try to sync at the same time. (Merge conflict)
- When we synced the content of the pad but the key was reset in between, which means what we had synced in Kinto before the password reset in FxA was not merged (because unreadable with the new keys) In that case we want to de

[2017-06-27 20:14] Natim opened #111 "Handle the Refresh Token flow"
When we authenticate we get:

- An access_token (valid for a few time)
- A refresh_token (valid for ever that allow us to ask for a fresh access_token)
- keys

We want to refresh the `access_token` each time we open the sidebar, so that we can make sure the keys were not reset since the last time we'd sync.

Also using the `refresh_token` allows us to avoid failing with a staled `access_token`

[0

[2017-06-27 20:18] Natim opened #112 "Handle the PKCE client auth flow"
Because we can't have a client_secret in the client code, we will be using the new PKCE protocol to authenticate on fxa

This means providing:
- a `code_challenge` while initializing the flow.
- a `code_verifier` when trading the code with the `access_token`

The `code_challenge` is a `sha384` hash of the `code_verifier`

[2017-06-27 20:19] Natim commented on #16
@vladikoff Can you please provide us with the list of scopes we should support?

[2017-06-28 14:13] SoftVision-CarmenFat opened #113 ""Notes" sidebar flickers when it's opened from the toolbar button"
[Notes]:
- This is also reproducible while changing the sidebars from the "Notes" doorhanger.

[Affected versions]:
- Firefox 54.0 and up
- Firefox Notes v1.3

[Affected Platforms]:
- All Windows
- All Linux
- All Mac

[Prerequisites]:
- Have a Firefox profile with the latest Notes add-on version (1.3 -dev, built on 28/06/2017) installed.

[Steps to reproduce]:
1. Open the browser with the profile

[2017-06-28 14:23] SoftVision-CarmenFat opened #114 ""Undo" option is not working if the text was previously deleted through "Delete" key"
[Notes]:
- This is not reproducible when deleting the text through context menu option.

[Affected versions]:
- Firefox 54.0 and up
- Firefox Notes v1.3

[Affected Platforms]:
- All Windows
- All Linux
- All Mac

[Prerequisites]:
- Have a Firefox profile with the latest Notes add-on version (1.3 -dev, built on 28/06/2017) installed.

[Steps to reproduce]:
1. Open the browser with the profile from

[2017-06-29 14:15] SoftVision-CarmenFat opened #115 ""Sync Your Notes" notification doesn't display a "Close" button"
[Notes]:
- Since the notification doesn't go away and there is no "X" button to close it, the user has to click again on the "Sync Your Notes" button in order to dismiss the notification.

[Affected versions]:
- Firefox 54.0 and up
- Firefox Notes v1.3

[Affected Platforms]:
- All Windows
- All Linux
- All Mac

[Prerequisites]:
- Have a Firefox profile with the latest Firefox Notes Notes add-on ve

[2017-06-29 14:27] SoftVision-CarmenFat opened #116 ""Notes" icon is not displayed in sidebar switcher button and its door hanger"
[Notes]:
- On v54.0 the icon is displayed in the door hanger opened after clicking the "Show sidebars" toolbar button.
- On Mac OS the icon is displayed in the door hanger's sidebar switcher button on all Firefox channels.

[Affected versions]:
- Firefox 54.0 and up
- Firefox Notes v1.3

[Affected Platforms]:
- All Windows
- All Linux
- All Mac

[Prerequisites]:
- Have a Firefox profile with the l

[2017-06-29 17:03] vladikoff commented on #42
Thanks @udaraweerasinghege !! This was fixed

[2017-06-29 17:03] #42 closed

[2017-06-29 21:08] pdehaan opened #118 "Use the web-ext linter?"
Another proposal, we can run the `web-ext` linter against the /src/ directory as well:

[code]

[2017-06-29 22:17] Natim commented on #118
👍

[2017-06-30 14:24] SoftVision-EmilPasca opened #119 "The spelling error underline flickers in the other windows when writing in a window"
[Notes]:
- The issue is also reproducible with more than two windows.

[Affected versions]:
- Firefox 53.0 and up
- Firefox Notes v1.3

[Affected Platforms]:
- All Windows
- All Linux
- All Mac

[Prerequisites]:
- Have a Firefox profile with the latest Firefox Notes add-on version (1.3 -dev, built on 30/06/2017) installed.
- Have a few words with spelling errors in Firefox Notes.
- Have two window

[2017-06-30 17:18] #118 closed

[2017-07-02 17:34] cedricium commented on #72
I tried adding tooltips as shown in the reference but then realized that effect is only possible using Bootstrap (see this Quill issue: https://github.com/quilljs/quill/issues/650). I went ahead and instead added titles to the buttons which shows the function name and the key-binding for that specific function.

In addition to the titles, I added three key-bindings for the 'strike', 'numbered list

[2017-07-03 18:53] wresuolc opened #122 "Consider notes@mozilla.com vs hoverpad@mozilla.com"
hoverpad@mozilla.com is what is on the allowlist to avoid the Legacy label in the add-ons manager (from https://bugzilla.mozilla.org/show_bug.cgi?id=1354682).  I think being signed by the new Mozilla Extensions cert will also not show the Legacy label (@aswan can you confirm?)

This issue is to decide if we want to change the ID for this add-on in order to avoid the Legacy label or ignore that and

[2017-07-03 19:47] aswan commented on #122
confirmed that signing with "Mozilla Extensions" should avoid the legacy label in `about:addons`

[2017-07-05 06:28] Natim commented on #122
Which one is the legacy one? hoverpad@mozilla.com or notes@mozilla.com?

Currently we are using the latter: https://github.com/mozilla/notes/blob/master/src/manifest.json#L9

[2017-07-06 14:47] vladikoff opened #125 "Add metrics here to see how many users try to drag and drop!"
The track event should go into

[code]

[2017-07-06 15:02] #108 closed

[2017-07-06 15:05] wresuolc commented on #125
If we add this, let's add to the metrics document

[2017-07-06 15:07] wresuolc commented on #116
@johngruen is this critical?

[2017-07-06 15:08] vladikoff commented on #116
This is Photon only ( Nightly? )

[2017-07-06 15:11] wresuolc commented on #86
This is the expected place for web extensions.

[2017-07-06 15:11] #86 closed

[2017-07-06 15:12] wresuolc commented on #78
@ryanfeeley please link to the bug here, thanks

[2017-07-06 15:17] wresuolc commented on #122
Let's leave it at notes@m.c

[2017-07-06 15:17] #122 closed

[2017-07-06 17:29] #72 closed

[2017-07-07 00:53] cedricium commented on #115
Currently working on a solution for this, will make a PR soon.

[2017-07-07 02:59] vladikoff commented on #115
@cedricium there should be an svg icon for this in the source already

[2017-07-07 04:21] cedricium commented on #115
@vladikoff thanks for the heads up! Guess I don't need to use the multiplication sign anymore haha

[2017-07-07 08:53] SoftVision-EmilPasca commented on #72
The issue is no longer reproducible on the latest Firefox Notes version (1.5.0dev built on 07/07/2017).

[2017-07-07 11:15] SoftVision-EmilPasca commented on #108
The issue is no longer reproducible on the latest Firefox Notes version (1.5.0dev built on 07/07/2017).

[2017-07-07 15:12] vladikoff commented on #108
Yay!

[2017-07-07 23:04] johngruen opened #127 "Pasting inserts extra spaces"
<img width="381" alt="screen shot 2017-07-07 at 4 20 09 pm" src="https://user-images.githubusercontent.com/3323249/27975452-32c14ee6-6330-11e7-84a8-40f2e086b3a4.png">

becomes
[code]

when copy pasted

[2017-07-10 08:54] Natim commented on #127
Copy/paste from where?

If I copy/paste the content below to the pad, I don't have an issue.

[code]

[2017-07-10 08:56] Natim commented on #127
Ok, I got it, copy pasting from the pad to the github textarea does add newlines for each paragraph:

[code]

[2017-07-10 09:10] Natim commented on #127
My understanding is that it is the OS copy/paste behaviour to convert `<p>` as `\n\n` I have no idea if we can do something about it at our level.

[2017-07-10 09:33] Natim commented on #119
We could try to apply a delta on the Quill arrea rather than resetting the whole content each time it changes. However I am not 100% sure it will fix the issue.

[2017-07-10 09:34] #115 closed

[2017-07-10 09:35] Natim commented on #114
However the ctrl+z shortcut works.

[2017-07-10 09:45] Natim commented on #113
Do you mind filing this bug in Bugzilla?

[2017-07-10 09:47] Natim commented on #127
That's the implemented behaviour when pasting HTML in a text area.
The only thing we could try to do is to use `<br>` instead of `<p>` when pressing enter. Refs https://github.com/quilljs/quill/issues/252

[2017-07-10 09:50] Natim commented on #127
This could be a workable solution: https://github.com/quilljs/quill/issues/252#issuecomment-271930644

[2017-07-10 10:11] n1k0 commented on #119
A simple way to mitigate the effect is to buffer & debounce renders, eg. every 250ms.

[2017-07-10 14:26] johngruen opened #129 "Style Sync button with hover and active states"
Button should have visible states.

[2017-07-10 14:44] #30 closed

[2017-07-10 15:00] Natim commented on #33
After thinking a bit more about this, I think we should do all Kinto calls in the background using a similar strategy to the one we used for metrics.

[2017-07-10 15:04] SoftVision-CarmenFat commented on #116
The issue is reproducible on all Firefox channels, although on Release is a bit different:
- there isn't any "Notes" sidebar switcher button, but only the generic Sidebar button located in the toolbar; in this case, I'm not sure if the "Notes" icon should be displayed next to "Notes" sidebar title.
- if clicking the Sidebar button from the toolbar, a door hanger with all sidebars is displayed; in

[2017-07-10 15:15] #49 closed

[2017-07-10 15:20] Natim commented on #127
The idea is that if you copy something from a textarea in the pad and then copy it back in the textarea you should have the same presentation.

In order to do that we need to handle `<br/>` as well as `<p>` @ryanfeeley suggested that we handle `br` on `shift+p` which is what I have started in #131

We also need to make sure that a paste in the pad uses `<br/>` whenever necessary.

[2017-07-10 15:22] ryanfeeley commented on #129
Getting pixel specifics, but should match Photon (see attached)
![hover](https://user-images.githubusercontent.com/68213/28025646-fb179a20-6561-11e7-8a0f-e5d7a7a5b4b4.gif)

[2017-07-10 15:23] Natim commented on #129
Ok thanks @ryanfeeley

[2017-07-10 15:24] vladikoff commented on #30
Yay!

[2017-07-10 15:40] cedricium commented on #129
Assuming [these are the correct colors](http://design.firefox.com/photon/visual/color.html#grey), I can work on this issue.

[2017-07-10 15:43] vladikoff commented on #129
cc @ryanfeeley ^.

That would be great @cedricium !!

[2017-07-10 15:44] ryanfeeley commented on #129
@cedricium Seems to be using alphas. https://mozilla.invisionapp.com/share/PYC5LJJXG#/229940647_Toolbars

[2017-07-10 15:51] cedricium commented on #129
@ryanfeeley thanks for the resource, I'll see what I can do!

[2017-07-10 15:52] Natim commented on #129
@ryanfeeley can you just give us the reference for the E color we should use? I don't think we can access the theme value from the add-on.

[2017-07-10 15:56] cedricium commented on #129
I found theme here: https://mozilla.invisionapp.com/share/PYC5LJJXG#/screens/229940646

Any reference to a color in the rest of that presentation just uses an alpha based off of those A-G colors it appears.

[2017-07-10 15:58] SoftVision-EmilPasca opened #132 "[Enhancement] Mouse pointer should reflect that action is not allowed when trying to drop content into sidebar"
[Notes]:
- Since the drag and drop feature was disabled, the cursor should also reflect that this action is not allowed when the user tries to drop content into Firefox Notes.

[Affected versions]:
- Firefox 53.0 and up
- Firefox Notes dev v1.5

[Affected Platforms]:
- All Windows
- All Linux
- All Mac

[Prerequisites]:
- Have a Firefox profile with the latest Firefox Notes add-on version (1.5 -de

[2017-07-10 16:20] Natim commented on #129
Yes ok great!!

[2017-07-11 06:47] Natim commented on #114
According to https://bugzilla.mozilla.org/show_bug.cgi?id=1379584#c7:
[code]

[2017-07-11 06:48] Natim commented on #114
Refs https://github.com/w3c/editing/issues/150

[2017-07-11 06:51] Natim commented on #132
This can be handled in Javascript by binding the drag start and drag stop events.

[2017-07-11 13:07] SoftVision-CarmenFat commented on #115
The issue is no longer reproducible on the latest Firefox Notes version (1.5.0dev built on 07/11/2017).
The "Close" button is displayed and correctly works on all Firefox channels.

[2017-07-12 11:34] SoftVision-EmilPasca opened #136 "[Windows] Formatting option tooltips are wrongly displayed on the latest Nightly"
[Affected versions]:
- Nightly 56.0a1, Build ID: 20170711030203

[Affected Platforms]:
- All Windows

[Prerequisites]:
- Have a Firefox profile with the latest Notes add-on (version 1.5-dev) installed.

[Steps to reproduce]:
1. Open the browser with the profile from prerequisites.
2. Hover the formatting option buttons("Bold","Italic","Ordered list", etc.) from "Notes" sidebar.
3. Observe the disp

[2017-07-12 11:38] vladikoff commented on #136
Wow! Firefox bug?

[2017-07-12 11:42] Natim commented on #136
Yes :)

[2017-07-12 11:42] Natim commented on #136
@SoftVision-EmilPasca Can you file this bug in bugzilla?

[2017-07-12 12:17] SoftVision-EmilPasca commented on #136
Refs https://bugzilla.mozilla.org/show_bug.cgi?id=1380294

[2017-07-12 19:19] wresuolc commented on #64
flagging @rjweiss for data collection review

[2017-07-12 20:27] ryanfeeley opened #137 "Reduce startup states"
This slowed-down clip of switching to Notes shows about six different states. Is there a way that we can reduce this to one?
[slowmo.mp4.zip](https://github.com/mozilla/notes/files/1143208/slowmo.mp4.zip)

[2017-07-12 20:47] cedricium commented on #137
Not sure if this affects the slow start up, but maybe waiting until the entire DOM loads (using the `DOMContentLoaded` event) before applying the toolbar button tooltips may help.

[2017-07-13 14:13] SoftVision-EmilPasca opened #139 "The heading style format is wrongly kept when copying a text into Notes"
[Notes]
- The value "14" is displayed in the formatting bar for each selected heading styled text, although its size is different.
- After changing the text size for the heading styled text to another value, when changing back to "14", the text is displayed with the heading style size and not with corresponding "14" size.

[Affected versions]:
- Firefox 53.0 and up
- Firefox Notes dev v1.5

[Affec

[2017-07-13 14:19] vladikoff commented on #139
I think this is due https://github.com/mozilla/notes/blob/master/src/sidebar/panel.js#L7

We can remove it

[2017-07-13 14:43] #105 closed

[2017-07-13 15:30] pdehaan commented on #105
@clouserw @johngruen Do we have an ETA on when these new experiments will be posted up on https://testpilot.dev.mozaws.net/?

[2017-07-13 15:46] vladikoff commented on #105
@pdehaan John is working on it

[2017-07-13 17:11] SoftVision-PaulOiegas commented on #105
Would be nice to have at least a couple of weeks to thoroughly test them with the existing experiments before launching them to the Test Pilot release population. They must play nice with each other. 😄

[2017-07-13 18:48] vladikoff opened #140 "Ensure that metrics are not sent if DNT is enabled."
From https://github.com/mozilla-services/hoverpad/issues/57

[2017-07-14 16:23] wresuolc commented on #105
^ yes, that's on john's plate.

For this issue though, the production branch of notes is now being built at https://testpilot.firefox.com/files/@notes/latest .  If you install that add-on, you'll also get updates.

[2017-07-17 15:08] johngruen opened #144 "Add Feedback button"

[2017-07-17 15:17] #129 closed

[2017-07-17 16:36] #139 closed

[2017-07-17 22:25] chuckharmston commented on #64
A formal metrics docs landed in #97, and can be read [in `docs/metrics.md`](https://github.com/mozilla/notes/blob/master/docs/metrics.md) in the repository.

[2017-07-17 22:42] wresuolc commented on #64
Firefox Notes: UA-35433268-79

[2017-07-18 07:33] #144 closed

[2017-07-18 07:51] Natim commented on #127
It appears that we can't reproduce the bug with Chrome and it might be a Firefox Bug.

[2017-07-18 07:53] Natim commented on #127
This is the bug that implemented the behaviour: https://bugzilla.mozilla.org/show_bug.cgi?id=1119503

[2017-07-18 08:09] Natim commented on #127
Ok I found out how to fix this: https://github.com/quilljs/quill/issues/861

[2017-07-18 08:28] #127 closed

[2017-07-18 08:51] SoftVision-EmilPasca commented on #139
The issue is no longer reproducible on the latest Firefox Notes version (1.5.1dev built on 07/18/2017).

[2017-07-18 09:46] Natim commented on #140
Apparently Firefox handles it automatically raising a NetworkError when trying to use fetch with doNotTrack activated. However I added a specific check.

[2017-07-18 10:08] Natim commented on #113
Maybe fixing #137 will help fixing this one. Can you verify it after #149 gets merged?

[2017-07-18 10:11] Natim commented on #94
I can confirm and reproduce this, it is only with the space key though 👾

[2017-07-18 13:09] #140 closed

[2017-07-18 13:09] #137 closed

[2017-07-18 13:15] vladikoff commented on #113
This should be fixed 👍

[2017-07-18 13:16] #125 closed

[2017-07-18 13:20] Natim commented on #51
I started to look at it be it is far from being trivial: https://github.com/quilljs/quill/pull/1592

[2017-07-18 13:34] Natim commented on #94
Refs:
 - https://bugzilla.mozilla.org/show_bug.cgi?id=1343567
 - https://bugzilla.mozilla.org/show_bug.cgi?id=1351432

[2017-07-18 13:41] vladikoff commented on #94
:(

[2017-07-18 14:12] ryanfeeley opened #153 "Sync Your Notes button should truncate, not wrap"
<img width="184" alt="screenshot 2017-07-18 10 07 21" src="https://user-images.githubusercontent.com/68213/28321536-79dd7132-6ba1-11e7-8c8f-f3647ed5b802.png">

I tried to use the typical code:

[code]

But I don't think it works with flex-box. Ideas?

[2017-07-18 14:15] ryanfeeley opened #154 "Placeholder missing when boilerplate text deleted"
When the notepad is blank, much like a GitHub comment that says "Leave a comment", the light placeholder "Take a note…" should appear.

[2017-07-18 14:20] vladikoff commented on #154
@ryanfeeley run `npm run build` and try again please

[2017-07-18 16:23] SoftVision-EmilPasca opened #156 "Notes UI elements are wrongly displayed if installed using the Windows Registry Editor"
[Affected versions]:
- Firefox 56.0a1
- Firefox Notes dev v1.5.1

[Affected Platforms]:
- All Windows

[Prerequisites]:
- Have the latest Firefox Notes add-on xpi (version 1.5.1 -dev, built on 07/18/2017) unpacked in a local folder.
- The pref "xpinstall.signatures.required" is set to "false".
- Have a string variable with the value name "notes@mozilla.com" and value data "C:\Users\username\Downlo

[2017-07-18 16:31] Natim commented on #156
It looks like you didn't build the addon with the last locale messages.

[2017-07-18 20:20] rjweiss commented on #64
Who owns delivering the analysis described in these docs?

[2017-07-19 02:18] chuckharmston commented on #64
[`testpilot-ga`](https://github.com/mozilla/testpilot-ga) will make this go much more smoothly.

[2017-07-19 06:10] Natim commented on #64
It is not as if we never asked for that link :) Thanks anyway, we will refactor to use the lib.

[2017-07-19 09:36] Natim commented on #156
We look at it with @SoftVision-EmilPasca and we realize it was the case for other webextensions too.
@SoftVision-EmilPasca will open a bug in Bugzilla about it.

[2017-07-19 09:40] Natim commented on #154
This might be related to the Quill 1.3.0 update.

[2017-07-19 09:46] Natim commented on #154
Refs https://github.com/quilljs/quill/issues/1594

[2017-07-19 09:47] #154 closed

[2017-07-19 09:47] Natim opened #158 "Upgrade to Quill 1.3.0"
- [ ] Fix placeholder see quilljs/quill#1594

[2017-07-19 10:39] chuckharmston commented on #64
Sorry! First commit on that library was yesterday afternoon, I got to it as quickly as I could :)

[2017-07-19 11:10] Natim commented on #64
Ok this explain that, thanks a lot :)

[2017-07-19 11:47] SoftVision-EmilPasca commented on #156
Refs: https://bugzilla.mozilla.org/show_bug.cgi?id=1382180

[2017-07-19 12:31] SoftVision-EmilPasca commented on #132
The issue is still reproducible on the latest Firefox Notes version (1.5.1dev built on 07/19/2017), re-tested on Mac OS 10.12 and Windows 10 x64.

[2017-07-19 12:33] Natim commented on #132
After discussion on the Quill.js front, we discovered that it also happens to be a bug with textarea themselves.

A bug has been open here: https://bugzilla.mozilla.org/show_bug.cgi?id=1381759

[2017-07-19 12:56] vladikoff commented on #156
Wow!

[2017-07-19 12:57] vladikoff commented on #154
:+1:

[2017-07-19 13:09] SoftVision-CarmenFat commented on #113
I tested this with the latest Notes version (1.5.1dev built on 7/19/2017).
The Notes sidebar still flickers when it's opened or switched between the other existing sidebars.

[2017-07-20 04:22] wresuolc commented on #64
ping @rjweiss on this. thanks!

[2017-07-20 04:30] rjweiss commented on #64
@chuckharmston who owns the analysis of this data as described in the proposal?

As with the other thread, r+ on this (assuming that you will identify who owns the analysis) with the following review:

1) Is there documentation that describes the schema for the ultimate data set available publicly, complete and accurate?
Yes

2) Is there a control mechanism that allows the user to turn the data co

[2017-07-20 04:44] wresuolc commented on #64
@johngruen will own all the dashboards for these projects at launch

[2017-07-20 04:50] rjweiss commented on #64
Thanks @wresuolc!  Signing off on review.

[2017-07-20 08:08] Natim commented on #64
Not for all users, only for the one that didn't enabled DNT.

[2017-07-20 13:35] SoftVision-EmilPasca opened #163 "[Windows] "Notes" UI elements and content are zoomed in/out when holding the "Ctrl" key down and scrolling up/down using the mouse wheel"
[Affected versions]:
- Firefox 56.0a1, Build ID: 20170719030206
- Firefox Notes dev v1.5.1

[Affected Platforms]:
- All Windows

[Prerequisites]:
- Have a Firefox profile with the latest Firefox Notes add-on version (1.5.1 -dev, built on 07/20/2017) installed.

[Steps to reproduce]:
1. Open the browser with the profile from prerequisites.
2. Hover the "Notes" sidebar.
3. Holding the "Ctrl" key dow

[2017-07-20 13:48] SoftVision-EmilPasca commented on #163
Refs https://bugzilla.mozilla.org/show_bug.cgi?id=1382659

[2017-07-20 13:57] Natim commented on #163
My guess is that it is not a bug but a feature 💃

[2017-07-20 17:29] cedricium commented on #163
Yep, not actually a bug: https://science.house.gov/accessibility

[2017-07-21 09:19] SoftVision-EmilPasca commented on #163
If this is to be considered a feature, the following actions should be taken into account:

- The zoom should only apply to the sidebar content and not formatting option buttons ("Text Size","Bold","Italic", etc.)

- The zoom level of the sidebar cannot be actioned by keyboard shortcuts "Ctrl +/-" to zoom in/out and "Ctrl+0" to reset the zoom level.
 Instead, if the sidebar is focused and the CTRL

[2017-07-24 16:46] pdehaan opened #166 "Add CHANGELOG.md to track differences between releases?"
We may just be able to run diffs against releases/tags, but that can be tedious: https://github.com/mozilla/notes/tags

[2017-07-25 08:13] Softvision-VladBacia opened #167 "Formatting buttons are not highlighted with blue when formatting from the keyboard a part of an word"
**[Affected versions]:**
- Firefox 56.0a1, Build ID: 20170724030204
- Firefox latest release v54.0.1
- Firefox Notes dev v1.6.2

**[Affected Platforms]:**
- All Windows
- All Mac OS
- All Linux

**[Prerequisites]:**
- Have a Firefox profile with the latest Firefox Notes add-on version (1.6.2 -dev, built on 07/25/2017) installed.

**[Steps to reproduce]:**
1. Open the browser with the profile from

[2017-07-25 08:58] Softvision-VladBacia opened #168 "Enable drag&drop of content in the sidebar."
**[Affected versions]:**
- Firefox 56.0a1, Build ID: 20170724030204
- Firefox latest release v54.0.1
- Firefox Notes dev v1.6.2

**[Affected Platforms]:**
- All Windows
- All Mac OS
- All Linux

**[Prerequisites]:**
- Have a Firefox profile with the latest Firefox Notes add-on version (1.6.2 -dev, built on 07/25/2017) installed.

**[Steps to reproduce]:**
1. Open the browser with the profile from

[2017-07-25 14:20] Softvision-VladBacia opened #169 "Text size value changes when switching to a new row after a word/character has been written"
**[Affected versions]:**
- Firefox 56.0a1, Build ID: 20170724030204
- Firefox latest release v54.0.1
- Firefox Notes dev v1.6.2

**[Affected Platforms]:**
- All Windows
- All Mac OS
- All Linux

**[Prerequisites]:**
- Have a Firefox profile with the latest Firefox Notes add-on version (1.6.2 -dev, built on 07/25/2017) installed.

**[Steps to reproduce]:**
1. Open the browser with the profile from

[2017-07-25 15:19] Softvision-VladBacia opened #170 "Text size selector displayes a wrong value when selecting multiple words written with multiple size values"
**[Affected versions]:**
- Firefox 56.0a1, Build ID: 20170724030204
- Firefox latest release v54.0.1
- Firefox Notes dev v1.6.2

**[Affected Platforms]:**
- All Windows
- All Mac OS
- All Linux

**[Prerequisites]:**
- Have a Firefox profile with the latest Firefox Notes add-on version (1.6.2 -dev, built on 07/25/2017) installed.

**[Steps to reproduce]:**
1. Open the browser with the profile from

[2017-07-25 17:11] Softvision-VladBacia opened #171 "Text size value cannot be selected if it was previously selected"
**[Affected versions]:**
- Firefox 56.0a1, Build ID: 20170724030204
- Firefox latest release v54.0.1
- Firefox Notes dev v1.6.2

**[Affected Platforms]:**
- All Windows
- All Mac OS
- All Linux

**[Prerequisites]:**
- Have a Firefox profile with the latest Firefox Notes add-on version (1.6.2 -dev, built on 07/25/2017) installed.

**[Steps to reproduce]:**
1. Open the browser with the profile from

[2017-07-26 21:39] pdehaan opened #172 "rename testpilot-qa to testpilot-ga"
Ref: [/scripts/postinstall.sh:5](https://github.com/mozilla/notes/blob/5afd3c05f1f45059a3679b9f558259d5245cd879/scripts/postinstall.sh#L5):

[code]

Note that we're copying from "*-ga" to "*-qa", which could cause some confusion.

[2017-07-27 14:57] #172 closed

[2017-07-27 15:08] wresuolc commented on #168
This is disabled to avoid people dragging links and pictures in.   If we re-enable lets make sure we do it safely.

There is a metrics event to watch for drag-drop to see how many people try it.

[2017-07-27 15:09] wresuolc commented on #167
"just add focus to these"  --jgruen

[2017-08-01 14:32] autonome opened #175 "Google access notification on install"
This just feels all wrong. Why does a notes add-on need to send my info to Google? Why am I forced to make a choice between sending data to Google or not being able to use the add-on?

https://i.imgur.com/smD6vvX.png

(Also, hitting cancel leaves Test Pilot stuck at "Enabling".)

[2017-08-01 14:36] vladikoff commented on #175
@autonome If you enable "Do-Not-Track" no info will be sent.

[2017-08-01 14:44] johngruen commented on #175
@autonome hey, so Test Pilot is opt-in. We do collect data in order to understand how people are using the experiments so we can reason about how to develop them. Every experiment has a short notice that describes the data on the experiment page as well as a full rundown of the exact pings we send in: https://github.com/mozilla/notes/blob/master/docs/metrics.md

@vladikoff is right to point out th

[2017-08-01 23:08] imyxh commented on #40
What if you guys implemented a per-url notepad along with the one for the whole browser?
Like if I go to Wikipedia, I can switch to "per-url mode," type some notes, then go to Gmail, and I have a fresh new page. Maybe just a toggle switch in the lower right next to the feedback switch would be great.

Personally, I would also love multiple pages of notes that you can create and delete, but this id

[2017-08-02 00:13] imyxh opened #176 "Consider a keyboard shortcut to open the notes sidebar?"
I can open history with ctrl-h and bookmarks with ctrl-b. It would be great if I could open notes with alt-n or something.

[2017-08-02 05:57] MadhuriQA opened #178 "Notes dropdown - UI should be better."
![notes_ui](https://user-images.githubusercontent.com/26246696/28859527-63519440-7775-11e7-83ab-2fa36ca64555.png)

Drop down should be fit enough to look good according to UI measures. It can be shift a bit downward as usually a drop down appears.

[2017-08-02 06:00] MadhuriQA opened #179 "links should be underlined and clickable."
![2017-08-02_11h27_59](https://user-images.githubusercontent.com/26246696/28859566-b0be20cc-7775-11e7-9a85-a18bfbf6a3db.png)

- Links added in the notes should have color blue as links appears with an underline on hover.
- It should also be clickable from the notes panel itself so that a link can be opened from the same.

[2017-08-02 06:17] pdehaan commented on #178
Possibly related to #116

[2017-08-02 06:55] gowri-sankar commented on #176
I instantaneously searched for a shortcut after installing, that is so necessary

[2017-08-02 12:45] Natim opened #180 "Handling synchronization"
Here are proposition to handle synchronization errors.

- New pad → Add new pad message
- Connection →
    - load Kinto
        - If no kinto and new pad → new pad content and no sync
        - If no kinto and content → Sync the current content encrypted to kinto
        - If kinto and new pad → don't sync
        - If kinto and content → Display both content for merging
- Change →
    - Try to sy

[2017-08-02 12:51] Natim commented on #180
The syncing flow is the following

- First time we click on the Sync we do the Synchronization dance.
    - We keep an access token and the associated kBr
- Each time we need to communicate with Kinto we ask for a refresh token.
- In case something happened (password reset for instance), the refresh token request will fail.
   - In that case we restart the login flow
- We sync to kinto with the re

[2017-08-02 12:57] Natim commented on #180
The sync-ing status are as follow:

- **Enable Sync** → No Access Token nor kBr associated with the sidebar
- **Opening login** → As soon as we click on the button until about 1 second later
- **Verify you account** → 5 seconds after the click on the button + a forget this email action that put back in the **Enable Sync** step
- **Syncing changes** → From the request of the refresh token to the en

[2017-08-02 15:09] vladikoff commented on #176
@imyxh @gowri-sankar Thanks for the suggestion, we are trying to figure out what combination of keys makes sense for this. `Alt-N` might be a bit confusing, ideas welcome!

[2017-08-02 15:54] tradesmanhelix opened #181 "Add Dark Theme to Notes"
Many users prefer dark themes for their browsers as it's easier on the eyes than light themes when using your computer for long hours.

Could we add a dark theme option to Firefox Notes?

[2017-08-02 18:45] imyxh commented on #181
Hmm, I would like it, but I think it would also feel out of place while the History and Bookmarks pages remain light-themed.

[2017-08-02 19:14] tradesmanhelix commented on #181
Could be something super simple like:

![dark-notes](https://user-images.githubusercontent.com/2421172/28890459-2afa26a0-7795-11e7-9833-5419457a7e2b.png)

[2017-08-02 19:16] vladikoff commented on #181
@ryanfeeley Thoughts on Dark Themes 🕶 ?

[2017-08-02 19:56] bjherbison opened #182 "Unable to install, get "Installing..." for over ten minutes"
I tried to install from https://testpilot.firefox.com/experiments/notes and after getting the "Test Pilot is installed" pop-up the page says "Installing..." for as long as I have waited. Refreshing the page reverts back to the "Install Test Pilot and Enable Notes" button. (Test Pilot was previously installed)

[2017-08-02 20:13] vladikoff commented on #182
@bjherbison Are you on Linux + Nighly? Could be https://github.com/mozilla/testpilot/issues/2689

[2017-08-02 20:20] bjherbison commented on #182
That's it. I'll follow that issue and try again when it gets fixed. Thanks for the pointer.

[2017-08-02 20:20] #182 closed

[2017-08-02 20:24] vladikoff commented on #182
@bjherbison Sounds good! Sorry about that :(

[2017-08-02 21:39] ryanfeeley commented on #181
@vladikoff Love it! Why is "Sync Your Notes" wrapping?

[2017-08-02 21:41] vladikoff commented on #181
@ryanfeeley issue https://github.com/mozilla/notes/issues/153

[2017-08-02 22:08] ryanfeeley commented on #153
Not a stretch. Not a stretch!

[2017-08-02 22:14] vladikoff commented on #153
@cedricium are you able to help with this?

[2017-08-02 22:18] pdehaan commented on #153
@ryanfeeley How would truncation work? The button would say "Sync Your..."? Seems unfortunate loss of the key word in that phrase.

Or should the string just change the string to "Sync Notes" and we hope it never needs to wrap/truncate (which wouldn't help for translations)?

[2017-08-02 23:21] imyxh commented on #181
Here's a mockup to make it look like the compact dark theme. Like I said, might look out of place though.

![image](https://user-images.githubusercontent.com/12703838/28899186-8867fbec-779e-11e7-83e0-602f2ba47dff.png)

[2017-08-03 00:12] cedricium commented on #153
@vladikoff I tried working on this issue when it was originally opened. The best I could do was get the button to not wrap but the text wouldn't truncate (no "..." appeared).

From the little research I did I found out buttons need some CSS magic in order to get the ellipsis to show. I'll see if I can get it working, but @pdehaan brings up a good point so I wonder what @ryanfeeley thinks.

[2017-08-03 00:24] pdehaan commented on #153
I wonder if in addition to `white-space`, `overflow`, and `text-overflow`, if it needs an explicit container `width`: https://css-tricks.com/snippets/css/truncate-string-with-ellipsis/

[2017-08-03 01:34] cedricium commented on #153
I think that along with doing [what's described here](https://stackoverflow.com/questions/9905409/is-it-possible-to-use-text-overflow-ellipsis-on-a-button-element) should work. I'll give this a shot and report back.

[2017-08-03 07:35] Natim commented on #181
Very nice @imyxh

[2017-08-03 13:10] normcyr opened #183 "Enable markdown markup for formatting the notes"
It's cool to have user-friendly icons to format the notes. But it would be even cooler to enable markdown markup to format the notes.

[2017-08-03 13:31] Natim commented on #183
@vladikoff and I talked about that a little bit for a couple of days but we were having a hard time finding out how this should play in terms of UX.

Do you have an idea in mind of how it would looks like from a UX perspective?

[2017-08-03 14:11] ryanfeeley commented on #176
Is there a systematic way for us to pick a decent keyboard shortcut?

Can we query the "namespace" some way to know what is used and what is free?

Choosing one seems so arbitrary, and popular add-ons also make use of keyboard shortcuts.

It's the main reason the Synced Tabs sidebar doesn't have a keyboard shortcut. We couldn't find a decent method for choosing a good one.

[2017-08-03 14:28] vladikoff commented on #183
@normcyr do you want 2 tabs, one editor and one rendered view? or side-by-side?

I don't see how a side-by-side view would fit into the sidebar

[2017-08-03 14:41] ryanfeeley commented on #176
Is there a systematic way for us to pick a decent keyboard shortcut?

Is there a way to query the "namespace" to know what is used and what is free?

Choosing one seems so arbitrary, and popular add-ons also make use of keyboard shortcuts.

It's the main reason the Synced Tabs sidebar doesn't have a keyboard shortcut. We couldn't find a decent method for choosing a good one.

Would be great to hav

[2017-08-03 14:46] vladikoff commented on #176
@ryanfeeley you commented twice

@ryanfeeley you commented twice

[2017-08-03 14:48] ryanfeeley commented on #176
@vladikoff Odd, draft showed in Firefox after restart so I just added a bit and submitted it. I guess it had submitted.

[2017-08-03 16:33] #153 closed

[2017-08-03 17:26] 6a68 opened #185 "Text getting dropped with Notes open in multiple windows"
Congrats on the experiment launch! 🚀

If I have the Notes sidebar open in multiple windows at once, it seems to eagerly send over each character as I'm typing, but will sometimes miss the last few.

Possibly a separate bug, but I've also had cases where my typed text in window 1 was incompletely copied to the sidebar in window 2, then a moment later, window 1 was updated to delete the last few cha

[2017-08-03 17:48] vladikoff commented on #185
cc @Natim

[2017-08-03 18:32] marcelo140 commented on #183
The two tabs seems great as long as we `tab` (or other keyboard shortcut) to easily jump between them. As @vladikoff pointed, the side by side view would be way too narrow in a sidebar.

[2017-08-03 18:39] marcelo140 opened #186 "Delete-Word deletes new line"
Hi, when there's only one word left in the line and I use the delete-word command (ctrl-backspace), the new-line is also deleted, sending me to the previous line. Don't know if it's intended but it gets quite annoying.

[2017-08-03 18:50] normcyr commented on #183
@vladikoff I had the "two-tabs" option in mind. This would work for both people used to reading plain markdown and people willing to see a rendered notes.

Alternatively, having a way to highlight the syntax directly similarly to the way it is done in certain text editior (_eg_ atom) would avoid the dual tabs.

[2017-08-04 08:57] Natim commented on #185
Interesting, I guess we need to make sure that the update on the updated sidebar doesn't trigger itself an text-change event if the change wasn't made from the keyboard.

[2017-08-04 09:22] SoftVision-PaulOiegas commented on #182
@bjherbison people that encountered this issue too, mentioned some workarounds untill the issue gets fixed:
1. Turned off sandboxing, everything works. Installing experiments and turning sandboxing back on again works as well.
2. Install Test Pilot and desired experiments on the Firefox release version and after switch back to Nightly on the same profile. This will bypass the Nightly issue.

[2017-08-04 14:33] vladikoff opened #188 "Release 1.7.0"
## Fixes & Features

- [x] Pick a Keyboard Shortcut, https://github.com/mozilla/notes/issues/176
- [x] Truncated Sync button, fixes #153 (#184)
- [x] Pick up latest Translations
- [x] Add the Dark Theme https://github.com/mozilla/notes/issues/181
- [x] Add CHANGELOG.md https://github.com/mozilla/notes/issues/166
- [x] Fix multiple sidebar synchro bug #185

[2017-08-04 15:23] cedricium commented on #188
When would this version be released?

[2017-08-04 15:35] MasterTuto opened #189 "Add a view-source / export feature"
It would be interesting to show the "source code", such as clicking and appearing HTML code, BBCode and also Markdown formats to use on the web.

[2017-08-04 16:08] vladikoff commented on #188
@cedricium once we fix those issues :)

[2017-08-05 13:21] anngz opened #191 "sidebar problem"
Notes wouldn't paste to sidebar. Couldn't delete so that I could start over

[2017-08-06 11:52] Haroldgomez777 opened #192 "Sidebar not showing Notes"

[2017-08-07 07:30] mnowaksuse commented on #192
I don't see 'Notes' in 'Show Sidebars' menu on two instances Firefox ESR 52.2.0 on openSUSE Leap 42.3. Firefox Notes version is 1.6.3dev.

[2017-08-07 08:03] Natim commented on #192
Sidebar supports arrived in Firefox 56, so any prior version of Firefox will not work.

[2017-08-07 13:46] SoftVision-EmilPasca commented on #192
This issue was also mentioned on https://github.com/mozilla/testpilot/issues/2731 where I've suggested that the "Enable Notes" button should not be displayed for the users that tries to install the experiment form an outdated version and also a notification should be displayed on the experiment details page when this occurs.

[2017-08-07 16:19] dannyhajj opened #193 "[Feature Request] Add the ability to link to a certain tab"
Personally, I rarely close tabs, so I always end up with 1k+ tabs opened. I switch between them by searching for them in the awesome bar.
In addition to #179, it would be pretty awesome if, inside our notes, we are able to link/pin certain text to a specific tab in Firefox.
It could either be by drag dropping the tab inside our notes, or an option similar to "Link current tab" inside the notes pan

[2017-08-07 18:44] cedricium commented on #188
My PR #187 is ready to be looked at. It adds the Dark theme!

[2017-08-07 21:07] bbenoit commented on #183
I second @normcyr's suggestion. I don't know the underlying format used for _Notes_, but displaying Markdown formatted text with in-line formatting (more or less like some editor -- e.g. http://cdn.appstorm.net/mac.appstorm.net/files/2011/08/macchiatoapp-620x609.png or http://www.redchar.net/fp-content/images/rscite-60/markdown-scite.png) would be great.

Either two tabs or a button at the far rig

[2017-08-07 21:23] bbenoit opened #194 "[Feature request] Add ability to simply insert current page's URL"
As seen with Firefox 54.0 (Linux) + Note 1.6.3dev

Clicking in the Note area with right button calls the context menu. Nor this menu nor the buttons in the toolbar allow to **paste the currents page's URL at cursor position**.

_Note_: if this feature is implemented, it can maybe also allow to paste different things, like the title of the current page, the selected text if any, the current date (a

[2017-08-08 13:17] SoftVision-EmilPasca commented on #136
The issue is no longer reproducible on the latest Nightly 57.0a1, Build ID:  20170807113452.

[2017-08-08 13:17] #136 closed

[2017-08-09 05:12] joshhazelhurst123 opened #195 "[Windows] Fix Notes in multitab Firefox windows"
![notes firefox bug](https://user-images.githubusercontent.com/30138699/29105781-6552c6c4-7d24-11e7-8fe1-13e9916dbabd.jpg)
[Notes]:

Notes is not showing for me. Notes was working when I installed the add on. I installed privacy badger firefox add on immediately after installing notes. Maybe that has affected Notes. Notes was working, now it is not.

[Affected versions]:

    Firefox 55.0

[Affect

[2017-08-09 13:13] SoftVision-EmilPasca commented on #195
I have tested this issue on Windows 10, 8.1 and 8 x64 with Firefox Release 55.0 and the latest Nightly(57.0a1-20170808114032) with the steps provided and haven't managed to reproduce the issue.
After enabling Notes and badger (Privacy Badger 2017.7.24), the "Notes" sidebar was successfully loaded and the UI was correctly displayed.

If you encounter this issue again, can you please provide more in

[2017-08-09 15:51] SoftVision-EmilPasca opened #196 "[Windows 8] Notes is not correctly installed and throws the "add-on is not correctly signed" error in console"
**[Notes]:**
- I have tested this issue on multiple machines with Windows 8 x32/x64 and this issue was reproducible only on one of the machines with Windows 8 x64

**[Affected versions]:**
- Firefox 54.0 and above

**[Affected Platforms]:**
- Windows 8

**[Steps to reproduce]:**
1. Navigate to https://testpilot.firefox.com/experiments/notes page.
2. Click on "Install Test Pilot & Enable Notes".
3.

[2017-08-10 00:07] hackel opened #197 "Disable Google Analytics"
When attempting to activate Notes for the firs time, I get asked if I wish to allow Notes to "Access your data for ssl.google-analytics.com".  This shouldn't be necessary, and is certainly going to scare off a lot of potential users.  I block Google Analytics on a system level, and I assume (hope) uBlock will affect this extension as well, but still, this looks really bad.

I don't know if it's po

[2017-08-10 00:24] cedricium commented on #197
Hey @hackel, see #175. Because this is an experiment, the team collects data to see how this experiment (Notes) is being used so that future development decisions can be made based on analysis.

[2017-08-10 08:46] joshhazelhurst123 commented on #195
More details are as follows, hopefully this helps: windows 8.1 x64 Firefox release 55.0.
adds on are:
 - privacy badger 2017.7.24.
- test pilot 2.0.2-dev-0d66c35
as plugins I have:
- shockwave flash 26.0.0.151 Widevine Content Decryption Module provided by Google Inc 1.4.8.903
- OpenH264 Video Codec provided by Cisco Systems, Inc. 1.6
I will check the browser console if this error happens again. T

[2017-08-10 15:24] johngruen commented on #176
@Natim will open a bugzilla issue to figure out if there is a process for picking something here.

[2017-08-10 15:26] johngruen commented on #197
Hey @hackel if you have Do Not Track set in your browser we don't collect anything at all. You can verify this by looking at your network monitor. For more details about how to set the Do Not Track feature check this out: https://github.com/mozilla/testpilot/blob/master/docs/faq.md#why-do-test-pilot-experiments-ask-me-to-allow-google-analytics

[2017-08-10 15:26] #197 closed

[2017-08-10 15:27] johngruen commented on #196
Let's keep this open for now, but this has not been super reproducable

[2017-08-10 15:30] johngruen commented on #195
So, we are unable to reproduce this issue. Can you see other sidebars?

[2017-08-10 15:36] Natim commented on #176
Refs https://bugzilla.mozilla.org/show_bug.cgi?id=1389124

[2017-08-10 18:14] Radhraj opened #198 "Welcome message not getting erased as soon as user tries to enter/type any text into Notes"
Steps to reproduce:
1.	Open the browser which has Notes plugin enabled
2.	Click on Notes.
3.	Start typing any text.

Expected Result:
The Welcome message must get erased

Actual Result:
Welcome message is not getting erased.

Attached Screenshot:
![welcomemessagenoterased](https://user-images.githubusercontent.com/30893077/29185078-d2f1c0e8-7e25-11e7-8f5c-d5f0a0935f5a.gif)

[2017-08-10 18:17] cedricium commented on #198
I'm not sure if the welcome message is actually supposed to get erased.

@Natim @vladikoff Thoughts?

[2017-08-11 08:02] joshhazelhurst123 commented on #195
Yes I can see other sidebars @johngruen . Notes is working now. I can't reproduce the error again. Sidebars working, bookmarks, history, synced tabs, notes. All working fine.

[2017-08-11 08:19] Natim commented on #198
It is note but I would understand why @Radhraj could expect it to be :)

[2017-08-11 08:49] Natim commented on #195
Ok thanks for confirming.

[2017-08-11 08:49] #195 closed

[2017-08-11 08:56] johngruen commented on #195
I guess some weird error on sidebar initialization. I tend to chalk stuff like this up to deep Gecko weirdness which Test Pilot experiments have a way of exposing. @joshhazelhurst123 let us know if you see this again and we'll reopen for further investigation.

[2017-08-11 08:58] joshhazelhurst123 commented on #195
thanks.

[2017-08-11 23:01] ryanfeeley commented on #137
@vladikoff Notes is still slow for me to open in Nightly. Why is this closed?

[2017-08-12 02:18] vladikoff commented on #137
It takes time to open but there is one state now @ryanfeeley

[2017-08-13 06:36] Sudeepa14 opened #200 "'scripts' is not recognized as an internal or external command,"
## 'npm install' returns " 'scripts' is not recognized as an internal or external command," on **windows**

`
` >notes@1.6.3-dev postinstall D:\mypath\notes

"scripts" is not recognized as an internal or external command,
operable program or batch file.
npm ERR! code ELIFECYCLE
npm ERR! errno 1
npm ERR! notes@1.6.3-dev postinstall: `scripts/postinstall.sh`
npm ERR! Exit status 1
npm ERR!
npm ERR!

[2017-08-13 13:00] abinabrahamanchery opened #201 "Adding the option for Font color change-suggestion"
Add an option to select the font color so that the Items in the notes can be represent in a good manner and it will also help to organize the content in the note accordingly to the Priority based on the color code

-Please include the Sync option in the note
- Include Export option or Download Option
-Please include a proper documentation so that others can also contribute to the project
-If there

[2017-08-13 16:33] pdehaan commented on #200
@Sudeepa14 Are you using Cygwin or Powershell on Windows, or just cmd.exe?
Also, what version of Windows are you using?

[2017-08-14 04:16] Sudeepa14 commented on #200
hi @pdehaan , thanks for the response, it is Windows 10. I used CMD at the first place. Then got to know
about Cygwin. But still no go. Same outcome. I executed each command in the postinstall.sh (starting with 'CP') manually.  Not like CMD ,Cygwing was able to execute them. I was able to run the project on Ubuntu 16.04 LTS perfectly.  If there are special requirements, shouldn't they be included

[2017-08-14 04:23] pdehaan commented on #200
They should, yes. I'll try taking a look and see if I can find a way to run shell scripts on Mac/Linux and Windows. Maybe we just need to include a .bat file for Windows and developers will have to run that manually for now, until we can find a good cross-platform solution.

[2017-08-14 05:16] Sudeepa14 commented on #200
Will that solve 'script not found' ? Currently I'm comfortable with going with Ubuntu and I would like to contribute to the #198 . How can I allocate myself to the future-request ?

[2017-08-14 06:05] pdehaan commented on #200
@Sudeepa14 I have a PR for this issue at #202.

[2017-08-14 06:08] pdehaan commented on #200
As for issue #198, I'd just comment in that bug and ask if it's free/OK to work on. I was uncertain from the latest comment if it was a bug, or working as intended.

Thanks for all your help!

[2017-08-14 06:39] Sudeepa14 commented on #200
@pdehaan  Thanks for the advice and for the fix I'll try the fixed with windows ;)

[2017-08-14 06:40] Sudeepa14 commented on #198
Hi , @Natim I would like to work on this future-request. Is that OK?

[2017-08-14 07:43] Divya063 commented on #201
I would like to work on this feature

[2017-08-14 12:56] vladikoff commented on #198
@Sudeepa14 We are not sure if we want to actually do this. The existing note is meant to teach the user that text is editable, etc

[2017-08-14 14:01] Divya063 opened #205 "Improvement needed In README document"
New users can get quite confused as steps mentioned to set up the development environment are not clear
and also some commands are not working as expected(in windows).Therefore improvement is needed.

[2017-08-14 15:03] johngruen commented on #205
@vladikoff to review PR

[2017-08-14 15:07] johngruen commented on #201
Hey @Divya063 we are currently evaluating features to add based on user feedback, and will add font-color changing to the list. We are not sure this feature would necessarily merge, since it conflicts with other feature requests such as markdown support but we are happy to see demos.

[2017-08-14 15:09] johngruen commented on #200
Fixed by #202, @vladikoff will comment

[2017-08-14 15:10] johngruen commented on #198
yeah, this is a wontfix, since we have a separate placeholder. This is intended as intro text to let the user know that the field is editable.

[2017-08-14 15:10] #198 closed

[2017-08-14 15:10] johngruen commented on #194
@bbenoit we've added this to our backlog tracker, and it's under consideration!

[2017-08-14 15:12] johngruen commented on #193
Hey @dannyhajj we are working on UX to tie specific notes to URLS, but the feature you describe here would involve significant work on Firefox to implement. I'm going to close this issue since our team does not have the resources to make it possible :(

[2017-08-14 15:12] #193 closed

[2017-08-14 15:14] johngruen commented on #192
We need to add a minimim version notice to the Test Pilot, add-on has a min-version flag as well. We believe that 52 does not know about the min-version prop.

[2017-08-14 15:14] vladikoff commented on #192
https://github.com/mozilla/notes/blob/master/src/manifest.json#L10

[2017-08-14 15:15] johngruen commented on #191
@anngz, we are not able to reproduce this. Can you tell us about what version of Firefox you are on as well as what OS?

[2017-08-14 15:17] johngruen commented on #186
hmmm, i didn't even know this existed :( @SoftVision-EmilPasca

[2017-08-14 15:19] johngruen commented on #185
@Natim any chance we could resolve this, seems to be problematic for user trust

[2017-08-14 15:20] johngruen commented on #183
We all like this idea, it's in the backlog which we will triage next

[2017-08-14 15:22] johngruen commented on #181
@natim can we get a review for this one...seems like an easy win

[2017-08-14 15:23] johngruen commented on #179
We want to do this! adding links in the backlog, for further triage.

[2017-08-14 15:24] johngruen commented on #178
We have no control over this. This is a Firefox UI issue.

[2017-08-14 15:24] #178 closed

[2017-08-14 15:25] johngruen commented on #176
Lot of requests, this is in the backlog, we'll triage it out.

[2017-08-14 15:25] johngruen commented on #175
Since there's nothing actionable here, i'm going to go ahead and close.

[2017-08-14 15:25] #175 closed

[2017-08-14 15:27] johngruen commented on #176
I can also reach out to @andymckay about webext shortcuts

[2017-08-14 15:57] andymckay commented on #176
What @ryanfeeley said its really hard to pick one. A ui for choosing one would be nice, that's https://bugzilla.mozilla.org/show_bug.cgi?id=1303384.

[2017-08-14 16:00] Sudeepa14 commented on #198
@vladikoff , @johngruen  Opz I already sent a PR with the requested functionality!  :) . Anyway It was fun working on the project! Thanks for the response!

[2017-08-14 16:10] vladikoff commented on #198
@Sudeepa14 yea sorry, I guess we didn't mean "Feature Request" to mean that we are going to build it.

[2017-08-14 16:12] vladikoff commented on #198
@Sudeepa14 some "confirmed" issues that we need to fix are in the `Next` milestone: https://github.com/mozilla/notes/issues?q=is%3Aopen+is%3Aissue+milestone%3ANext

[2017-08-15 04:26] Divya063 commented on #201
Thanks for the response @johngruen I'm working on demo

[2017-08-16 11:37] SoftVision-EmilPasca commented on #186
I have managed to reproduce this issue.

**[Affected versions]:**
- Firefox Latest Release 54.0.1 and up

**[Affected Platforms]:**
- All Windows
- All Mac OS
- All Linux

**[Prerequisites]:**
- Have a Firefox profile with the latest Firefox Notes add-on version (1.6.3 -dev) installed.

**[Steps to reproduce]:**
1. Open the browser with the profile from prerequisites.
2. Click inside the "Notes" s

[2017-08-16 12:26] SoftVision-EmilPasca opened #207 "The wrong version of Firefox Notes is installed when enabling the experiment from Test Pilot"
**[Affected versions]:**
- Firefox Latest Release 54.0.1 and up

**[Affected Platforms]:**
- All Windows
- All Mac OS
- All Linux

**[Steps to reproduce]:**
1. Navigate to https://testpilot.firefox.com/experiments/notes page.
2. Click on "Install Test Pilot & Enable Notes".
3. Navigate to "about:addons" page.
4. Click on the "More" link for "Firefox Notes".
5. Observe the "Firefox Notes" displayed

[2017-08-16 12:51] Natim commented on #178
@MadhuriQA as a follow up could you create a bug in bugzilla and paste the link here so that we can follow the bug being Fixed in Firefox?

[2017-08-16 12:52] Natim commented on #181
Sure

[2017-08-16 13:11] MadhuriQA commented on #178
Sure @Natim and thanks to consider it as a follow up.

The bugzilla link for above issue is - https://bugzilla.mozilla.org/show_bug.cgi?id=1390855

[2017-08-16 13:15] MadhuriQA commented on #179
@johngruen so, we will see this feature soon...am i right ?? :-)

should I create it in bugzilla as well just to have a track or follow up ?

[2017-08-16 13:57] vladikoff commented on #186
Thank you @SoftVision-EmilPasca !

[2017-08-17 09:28] MadhuriQA commented on #178
Seems to be fixed now with latest Nightly build id : 20170816100153 on Win 10 X 64. Still suggestions are welcome. :) Please refer the latest screenshot attached.
![notes_ui_latest](https://user-images.githubusercontent.com/26246696/29405754-7b0a184e-835c-11e7-82bd-ad1fdf6094ff.png)

[2017-08-17 12:04] Natim commented on #178
Thank @MadhuriQA for the update 👍

[2017-08-17 13:45] #200 closed

[2017-08-17 14:34] #176 closed

[2017-08-17 14:34] vladikoff commented on #176
# Alt+Shift+W

(W) - for Write

[2017-08-17 15:28] Natim opened #208 "Add a saving status indicator"
Tell people that their notes were saved.

[2017-08-17 16:01] Siddhinita commented on #208
@Natim I propose adding a snackbar to alert the user. What do you think?

[2017-08-17 16:02] vladikoff commented on #208
@Siddhinita we have a design almost ready

[2017-08-17 16:43] Siddhinita commented on #208
@Natim Is it already implemented?If not, can I work on it?

[2017-08-17 19:27] ryanfeeley commented on #208
Will we have a time stamp? If yes, will it look different than, for example:

* Thursday 3:45 PM

(my locale)

[2017-08-17 20:14] #181 closed

[2017-08-17 20:23] #166 closed

[2017-08-17 20:24] vladikoff commented on #188
@Natim This should be ready.

Could you test it and cut a new release?

We are missing the 1.5.0 tag under https://github.com/mozilla/notes/releases
Let's make sure we have the 1.7.0 tag in there.
We also need to give translators a few days before we push this to TestPilot updates

[2017-08-18 06:35] Natim commented on #208
@ryanfeeley we can have a timestamp if you'd like to

[2017-08-18 07:13] #205 closed

[2017-08-18 07:34] #185 closed

[2017-08-18 07:51] #188 closed

[2017-08-18 07:52] Natim commented on #176
Released in 1.7.0 https://github.com/mozilla/notes/issues/188

[2017-08-18 07:52] Natim commented on #153
Released in 1.7.0 https://github.com/mozilla/notes/issues/188

[2017-08-18 07:52] Natim commented on #181
Released in 1.7.0 https://github.com/mozilla/notes/issues/188

[2017-08-18 07:52] Natim commented on #166
Released in 1.7.0 https://github.com/mozilla/notes/issues/188

[2017-08-18 07:53] Natim commented on #185
Released in 1.7.0 https://github.com/mozilla/notes/issues/188 @6a68 can you verify that it fixes your issue?

[2017-08-18 08:17] Natim commented on #208
@Siddhinita When you think about a snackbar are you thinking of something like that?

![snackbar](https://storage.googleapis.com/material-design/publish/material_v_11/assets/0B6Okdz75tqQsZV9TS3lTVHFzRUE/components_snackbar_usage_fabdo_005.webm)

[2017-08-18 08:44] Siddhinita commented on #208
@Natim..Yes.

[2017-08-18 14:10] ryanfeeley commented on #208
How is this? Text colour is #808080
![saving-indicator](https://user-images.githubusercontent.com/68213/29462458-6dac57a6-83fd-11e7-8e17-dfec28af3b28.gif)

[2017-08-18 14:27] Natim commented on #208
I kind of like it, how will it work with the syncing then?

[2017-08-18 16:09] SoftVision-EmilPasca opened #213 "Window content flickers when opening or closing the sidebar"
**[Notes]:**
- This issue is also reproducible without installing Firefox Notes.

**[Affected versions]:**
- Firefox Latest Release 54.0.1 and up

**[Affected Platforms]:**
- All Windows
- All Mac OS
- All Linux

**[Steps to reproduce]:**
1. Navigate to https://testpilot.firefox.com/experiments/notes page.
2. Click on "Install Test Pilot & Enable Notes".
3. Close and reopen the Notes Sidebar (keyb

[2017-08-18 16:26] vladikoff opened #214 "Pick up new translations into 1.7.1 release"
Let's wait until **~Tuesday** and then release 1.7.1 with these and more translations:

![image](https://user-images.githubusercontent.com/128755/29467974-6becb5f6-8410-11e7-8ec7-afac9d1e0111.png)

[2017-08-18 16:27] vladikoff commented on #158
1.3.1 is out now

[2017-08-18 16:28] vladikoff commented on #156
https://bugzilla.mozilla.org/show_bug.cgi?id=1385057

[2017-08-18 18:57] ryanfeeley commented on #208
@Natim [It would work the same.](https://mozilla.invisionapp.com/share/6VBUYHMRB#/235284916_Desktop_Sidebar) The save status indicator becomes the sync status indicator. The sync icon moves to the left and is replaced with a ⋯ button that lets user disable syncing.

[2017-08-18 18:57] ryanfeeley commented on #208
If we have access to a time stamp,  use locale's equivalent of:
    Saved Thursday 3:45 PM

[2017-08-18 21:12] Caspy7 opened #216 "Default to dark theme if devtools.theme is "dark""
If devtools.theme (in about:config) is set to "dark" this means that the user has chosen to use a dark motif for the browser and the theme should reflect this.

[2017-08-18 22:38] cedricium commented on #216
I like the idea, it makes sense. And it should be fairly simple to implement given there's a `devtools.panels.themeName`<sup>1</sup> API for WebExtensions. If the Notes team wants to go forward with this I'd be willing to do the implementation.

<sup>1</sup>: https://developer.mozilla.org/en-US/Add-ons/WebExtensions/API/devtools.panels/themeName

[2017-08-18 23:40] vladikoff commented on #216
@cedricium it's not clear to me if this theme api is only for dev tools or browser wide

[2017-08-18 23:45] cedricium commented on #216
@vladikoff it's listed as part of the JavaScript APIs in MDN, which in my experience all seem to work browser-wide. The one I listed above is essentially just a getter that returns one of the following themes that is currently set for the user's devtools theme: 'light', 'dark', or 'firebug'. I can play around with it this weekend and see if this is feasible.

[2017-08-19 06:09] Haroldgomez777 commented on #192
ok

On Mon, Aug 14, 2017 at 8:44 PM, Vlad Filippov <notifications@github.com>
wrote:

[2017-08-20 04:50] Caspy7 commented on #216
@vladikoff
Just checked and this pref is still what sets the light/dark theme for Photon.

[2017-08-20 09:41] ajomadlabs commented on #179
Can I take up this issue

[2017-08-21 15:10] johngruen commented on #213
Closing for upstream version

[2017-08-21 15:10] #213 closed

[2017-08-21 15:10] johngruen commented on #207
@SoftVision-EmilPasca will verify and close

[2017-08-21 15:12] johngruen commented on #208
Todo: me
https://developers.google.com/analytics/devguides/collection/protocol/v1/parameters#experiments

[2017-08-21 15:13] SoftVision-EmilPasca commented on #207
The issue is no longer reproducible on the latest Firefox Notes version (1.7.0).

[2017-08-21 15:13] #207 closed

[2017-08-23 23:59] 6a68 commented on #185
@Natim Hey! Sorry, got behind on bugmail. Yes, the bug seems fixed for me 🎉

[2017-08-24 16:41] Natim commented on #185
Thanks 👍

[2017-08-24 19:26] ryanfeeley opened #217 "Notes extension icon is not pixel snapped"
I was pretty sure that this was provided at a pixel snapped size (so that right angles are not anti-aliased), but in Nightly it's been scaled/moved a little. How to fix?
<img width="136" alt="screen shot 2017-08-24 at 3 23 26 pm" src="https://user-images.githubusercontent.com/68213/29684568-749bccf8-88e0-11e7-8315-ddbe153d2c75.png">

[2017-08-24 19:27] ryanfeeley commented on #217
For comparison, check out the Synced Tabs icon:
<img width="164" alt="screen shot 2017-08-24 at 3 26 26 pm" src="https://user-images.githubusercontent.com/68213/29684631-b548bab8-88e0-11e7-9a26-80f0c6689ebd.png">

[2017-08-27 04:41] mikeconley opened #218 "Add the ability to add checkbox list items"
Especially in software like Evernote, I find myself using the checkbox list item feature to add things to a TODO list that I can, well, check off as I proceed. Having something like that that I can edit and tick off in the sidebar would be super handy.

[2017-08-27 06:34] Natim commented on #218
I @mikeconley You can add checkbox by entering `[]` in the pad.

[2017-08-30 17:19] SoftVision-EmilPasca opened #220 "Theme options are hidden when first visiting the Notes "about:addons" page"
[Notes]:
- The issue is intermittently reproducible on Italian (it),  Frisian - (fy-NL), Hungarian (hu), Malay (ms), Norwegian Nynorsk (nn-NO), Serbian (sr), Slovak (sk), Slovenian (sl), Sorbian Lower (sl).
- The issue is no longer reproducible after navigating to an other page and then back to the "about:addons" page.

[Affected versions]:
- Firefox 55.0.3
- Firefox Notes v1.7.1

[Affected Platfo

[2017-08-30 17:38] vladikoff commented on #220
So some l10n / translation issue is to blame?

[2017-08-30 17:38] vladikoff commented on #220
Does it work for en-US all the time?

[2017-08-30 18:08] cedricium commented on #220
@vladikoff I've seen this issue before with the en-US locale. I'm only ever able to reproduce when starting Notes via `npm start` then immediately navigating to the Settings page. This is similar to what @SoftVision-EmilPasca shows in the screen recording by uploading the manifest file then going directly to the Settings page.

Seems like by navigating to the Settings page as Notes is starting up

[2017-08-30 18:43] vladikoff commented on #220
Sounds like a "Firefox Bug" :o

[2017-08-31 01:44] ryanfeeley opened #221 "Notes icon missing in sidebar switcher"
Odd, the icon is intermittently appearing in the switcher up top. Was reported to me by another.
<img width="221" alt="image" src="https://user-images.githubusercontent.com/68213/29902450-52135084-8dcc-11e7-8614-db2b94210b60.png">

[2017-08-31 08:39] SoftVision-EmilPasca opened #222 "[Windows] "Notes" sidebar is not shown after restarting the browser"
[Notes]:
- The issue is not reproducible on Mac OS.
- The issue doesn't occur on the latest Firefox Release 55.0.3.
- The issue is reproducible only with a new Firefox profile.

[Affected versions]:
- Firefox 57.0a1
- Firefox Notes v1.7.1

[Affected Platforms]:
- All Windows

[Prerequisites]:
- Have a Firefox profile with the latest Firefox Notes add-on version (1.7.1) installed.

[Steps to reprod

[2017-08-31 08:46] SoftVision-EmilPasca commented on #222
Refs: https://bugzilla.mozilla.org/show_bug.cgi?id=1385630

[2017-08-31 11:00] kekkc opened #223 "Organize Notes (One line, one note)"
Hi,

why not organize the notes like other notes application (Scrapbook addon, Opera 8). Here's a screen from the standard Opera 8 dinosaur:
![notes sketch](https://user-images.githubusercontent.com/6283064/29920089-3b0ab78a-8e4c-11e7-91a5-d8681e28fb5b.png)

And one from the old Scrapbook Addon:
![notes sketch 2](https://user-images.githubusercontent.com/6283064/29920781-68499dda-8e4f-11e7-8390-25

[2017-08-31 12:56] Natim commented on #223
@kekkc we are currently starting a round of User Research interview about these new features. Thank you for the feedback.

@ryanfeeley That's very close to your current mock-up can you share yours here?

[2017-08-31 15:11] johngruen commented on #223
I'm going to close this as a dupe...we're user testing this feature already #40

[2017-08-31 15:11] #223 closed

[2017-08-31 15:12] johngruen commented on #222
This is upstream and has a bug filed

[2017-08-31 15:12] #222 closed

[2017-08-31 15:13] johngruen commented on #221
@ryanfeeley maybe we should file a bugzilla bug? @SoftVision-EmilPasca

[2017-08-31 15:15] johngruen commented on #220
@vladikoff will file a bug and close this

[2017-08-31 15:15] #220 closed

[2017-08-31 15:16] johngruen commented on #218
Let's leave this open since it might be nice to expose in the menu as an option.

[2017-08-31 15:20] johngruen commented on #217
i think you can use a 32px square SVG and set `fill="context-fill"`

[2017-08-31 21:03] ryanfeeley commented on #217
Is this better @vladikoff? Where does it go?
[notepad-tweaked.svg.zip](https://github.com/mozilla/notes/files/1268474/notepad-tweaked.svg.zip)

[2017-09-01 09:11] SoftVision-EmilPasca commented on #221
I've performed a regression and after checking the Pushlog [here](https://hg.mozilla.org/integration/autoland/pushloghtml?fromchange=86bdc742c111a1c0a08d9bf98a6c6d963eb6f63d&tochange=d159686d279ceead4277915b5530ee4c61848ccb), it appears that [bug 1385630](https://bugzilla.mozilla.org/show_bug.cgi?id=1385630) is the cause of this, which is the same bug mentioned in #222,

[2017-09-08 10:56] StefanoCecere opened #225 "Add Notes to Library toolbar button"
today's FF nightly shows quite everything but Notes

[2017-09-11 12:37] SoftVision-EmilPasca opened #227 "Notes "Sign in" window is wrongly opened even if already signed in"
[Affected versions]:
- Firefox 55.0.3
- Firefox Notes v1.8.0dev

[Affected Platforms]:
- All Windows
- All Mac OS
- All Linux

[Prerequisites]:
- Have a Firefox profile with the latest Firefox Notes add-on version (1.8.0dev) loaded as a temporary add-on.
- Have a firefox account.

[Steps to reproduce]:
1. Open the browser with the profile from prerequisites.
2. Click the "Sync Your Notes" button f

[2017-09-11 14:27] SoftVision-EmilPasca opened #228 ""Unknown account" message is displayed when trying to sign in to Firefox Notes"
[Notes]:
- The user has to create a new Firefox account (optional, using the same email and password) in the "Firefox Notes" sign-in window in order to successfully log in.

[Affected versions]:
- Firefox 55.0.3
- Firefox Unbranded 55.0.1
- Firefox Notes v1.8.0dev

[Affected Platforms]:
- All Windows
- All Mac
- All Linux

[Prerequisites]:
- Have a Firefox profile with the latest Firefox Notes add

[2017-09-11 15:03] SoftVision-EmilPasca opened #229 "[Windows] "Sync Your Notes" button is not actionable on Firefox Beta and Nightly"
[Affected versions]:
- Nightly (57.0a1-20170910220126)
- Firefox Beta  (56.0b2-20170810113054)
- Firefox Notes v1.8.0dev

[Affected Platforms]:
- All Windows

[Prerequisites]:
- Have a Firefox profile with the latest Firefox Notes add-on version (1.8.0dev).

[Steps to reproduce]:
1. Open the browser with the profile from prerequisites.
2. Click the "Sync Your Notes" button from the "Notes" sidebar

[2017-09-11 16:13] Softvision-MariusComan opened #230 "Content is heavily multiplied when shyncronizing two profiles and opening a new window"
**[Notes]:**
- If you synchronize one profile and open a new window on the other profile right after the step 3, the content is heavily multiplied and after a while the browser freezes and stops responding. But this also depends on the amount of data stored in Notes.

**[Affected versions]:**
- Firefox Notes 1.8.0dev
- Latest Firefox Unbranded (55.0.4)

**[Affected Platforms]:**
- All Windows
- Al

[2017-09-11 22:23] vladikoff commented on #229
I cannot reproduce this issue, Can you try with latest Nightly? Any ideas?

[2017-09-11 22:32] vladikoff commented on #229
@rfk tried this on Windows and Mac. This seems to be a Window issue, is there a chance you could please file this on BugZilla @SoftVision-EmilPasca ?

[2017-09-12 07:55] Natim commented on #230
Nice catch, it looks like a terrible bug 🗡

[2017-09-12 10:02] Softvision-MariusComan commented on #230
I've noticed another behaviour of this issue:
1. Follow the steps from the above STR, until step 3.
2. Change the content in the first browser instance (delete, add new strings, etc).
3. Observe the second's instance new window.

Actual result:

The content multiplied in the other window is changed in real time based on the changes from the other instance. See the next screen recording for more de

[2017-09-12 11:18] SoftVision-EmilPasca commented on #229
Refs: [Bug 1399070](https://bugzilla.mozilla.org/show_bug.cgi?id=1399070).

[2017-09-12 14:01] Softvision-MariusComan opened #231 ""Create a Firefox Account" pop-up does not have a scrollbar on small displays"
**[Notes]:**
- The issue is reproducible on larger displays if the window is resized (large to small).

**[Affected versions]:**
- Firefox Notes 1.8.0dev
- Latest Firefox Unbranded (55.0.4)

**[Affected Platforms]:**
- All Windows
- All Mac
- All Linux

**[Prerequisites]:**
- Have a Firefox profile with Firefox Notes 1.8.0dev installed.
- Use a screen with small display (<15 inch).

**[Steps to re

[2017-09-12 14:06] vladikoff commented on #231
Firefox bug sadly: https://bugzilla.mozilla.org/show_bug.cgi?id=1369257

[2017-09-12 15:04] Softvision-MariusComan opened #232 "Login loop and confirmation occurs when you try use an older testing account created"
**[Notes]:**
- Newly created accounts (created today) do not require confirmation, after it was already given at the first login. While the ones created yesterday are all displaying this behavior.

**[Affected versions]:**
- Firefox Notes 1.8.0dev
- Latest Firefox Unbranded (55.0.4)

**[Affected Platforms]:**
- All Windows
- All Mac
- All Linux

**[Prerequisites]:**
- Have a Firefox profile with F

[2017-09-12 15:35] Softvision-MariusComan commented on #231
I've added myself to the cc list and when the issue from Bugzilla will be fixed, I will close this issue too.

[2017-09-12 15:46] vladikoff commented on #231
Thanks so much !!

[2017-09-14 15:08] vladikoff commented on #232
cc @rfk, let's chat about next step for this

[2017-09-14 15:13] vladikoff commented on #228
This is because the Extension and Firefox are using 2 different servers, (accounts.firefox.com vs scoped key domain)

[2017-09-14 15:13] #228 closed

[2017-09-14 15:24] chartjes commented on #104
@pdehaan Before I went away on extended PTO in August, it was relayed to me through Karl Thiessen that the kintowe is doing well in production and there were currently no concerns about current or future load

[2017-09-14 15:26] Natim commented on #104
Let's close this bug then because the stack for test pilot will be the same will much less data and users.

[2017-09-14 15:26] #104 closed

[2017-09-18 04:58] rfk commented on #232
I'm not 100% clear on what's happening here.  In the video, why are you clicking "back" on the "confirm this sign-in" screen and signing in again?  Does the "confirm this sign-in" stay present even after you've clicked on the confirmation link in the email?

[2017-09-18 12:29] SoftVision-EmilPasca commented on #229
I have verified this issue on Mac OS 10.12, Windows 10 x64 and Ubuntu 14.04 x64 with the latest Nightly(57.0a1-20170917220255) and it is no longer reproducible.

[2017-09-18 12:29] #229 closed

[2017-09-18 12:39] Softvision-MariusComan commented on #232
It's not necessary to press the "Back" button. After you click the confirmation link from the e-mail, if you wait long enough, the "confirm this sign-in" page will disappear.
Attached a new screen recording of the issue:
![sign in](https://user-images.githubusercontent.com/31243259/30542263-5b0b12a2-9c87-11e7-8706-d6441a58258b.gif)

[2017-09-18 15:21] Natim opened #233 "Add support for autolink (typing and pasting)"
Refs https://github.com/quilljs/quill/issues/109#issuecomment-219265086

[2017-09-18 15:24] Natim commented on #230
This has been fixed in the sync-v4 branch.

[2017-09-18 15:24] #230 closed

[2017-09-18 20:41] ryanfeeley opened #234 "While saving locally Editing should say Saving Changes…"
And if syncing it should say Syncing Changes…

[2017-09-18 21:14] ryanfeeley commented on #234
And also spinning blue sync icon as per spec

[2017-09-18 21:16] ryanfeeley commented on #234
And grey… review https://mozilla.invisionapp.com/d/main/#/console/11122662/235284916/preview

[2017-09-19 01:02] rfk commented on #232
OK thanks.  So it looks like the login works and the notes sync correctly, but if you click on the "sync" option again then you're asked to login and do the email confirmation loop again?

@vladikoff what's the expected behaviour here?  Should you have to login again at all, should we avoid prompting for confirmation, or something else?

[2017-09-19 08:54] Natim commented on #232
Yes that's a work in progress, we need to add @ryanfeeley menu, with it clicking will trigger a manual sync rather than asking you to log in again.

[2017-09-19 08:58] Natim opened #235 "Sign-in on an empty account should sync the current content rather than removing it."

[2017-09-19 12:20] Softvision-MariusComan opened #236 "Synchronization wrongly starts only when one instance is edited"
**[Notes]:**
- If one instance has content and the other does not, after focusing the latter instance and editing it, content will be wrongly shown as "Previously was" content. The older content from the first instance will be wrongly displayed as the newer content.

**[Affected versions]:**
- Firefox Notes 1.8.0dev
- Firefox 55 and up

**[Affected Platforms]:**
- All Windows
- All Mac
- All Linux

[2017-09-19 13:21] Softvision-MariusComan opened #237 "Blank space is wrongly synchronized between two instances"
**[Affected versions]:**
- Firefox Notes 1.8.0dev
- Firefox 55 and up

**[Affected Platforms]:**
- All Windows
- All Mac
- All Linux

**[Prerequisites]:**
- Have two Firefox profiles with Firefox Notes 1.8.0dev installed.
- You must be logged with the same sync account on both profiles.

**[Steps to reproduce]:**
1. Open the browser with the profiles from prerequisites.
2. Write something in the f

[2017-09-19 13:51] vladikoff commented on #208
@cedricium Hey! do you have time to add the menu functionality for this?

![](http://v14d.com/i/59c1209ae82ca.jpg)

Following this design but the menu will have multiple items. One of them is "Feedback".

[2017-09-19 14:14] cedricium commented on #208
@vladikoff yea, I'll get started right away! Besides "Feedback", what would be the other menu items?

[2017-09-19 14:26] Natim commented on #208
From top to bottom:

- Feedback
- Disable Sync

[2017-09-19 14:31] vladikoff commented on #208
@Natim also do we want to make the status "Editing" / "Saved" indicator part of this?

[2017-09-19 14:34] vladikoff commented on #208
@cedricium not sure if I mentioned earlier but using a pre-built component can save time with the `menu`: https://getmdl.io/components/#menus-section

[2017-09-19 14:39] Natim commented on #208
Up to @cedricium

[2017-09-19 15:00] Softvision-MariusComan opened #238 "After sync, newer content is wrongly displayed under "Previously was" text"
**[Notes]:**
- This issue is reproducible only if both instances are opened at the same time.

**[Affected versions]:**
- Firefox Notes 1.8.0dev
- Firefox 55 and up

**[Affected Platforms]:**
- All Windows
- All Mac
- All Linux

**[Prerequisites]:**
- Have two Firefox profiles with Firefox Notes 1.8.0dev installed.
- You must be logged with the same sync account on both profiles.

**[Steps to repr

[2017-09-19 15:42] vladikoff commented on #208
@cedricium see https://github.com/mozilla/notes/issues/208#issuecomment-323364292

[2017-09-19 15:47] Softvision-MariusComan opened #239 ""Previously was" is wrongly synchronized every time a change is made"
**[Notes]:**
- This issue is reproducible only if both instances are opened at the same time.
- If the instances are edited multiple times, the content becomes illegible.

**[Affected versions]:**
- Firefox Notes 1.8.0dev
- Firefox 55 and up

**[Affected Platforms]:**
- All Windows
- All Mac
- All Linux

**[Prerequisites]:**
- Have two Firefox profiles with Firefox Notes 1.8.0dev installed.
- You

[2017-09-19 18:32] cedricium commented on #208
In terms of styling, how should the menu icon when hovered look like? Above, the hovered state has some padding of white around it. This was designed similarly to this:
![screen shot 2017-09-19 at 11 26 16 am](https://user-images.githubusercontent.com/16343560/30608549-a1ae8120-9d2d-11e7-8e82-456b21c96bf9.png)

However, the hovered state for the footer buttons take up the entire space of the eleme

[2017-09-19 19:56] ryanfeeley commented on #208
@cedricium Great question! Ideally I want it to match desktop menus as much as possible. Let me find the spec but this is the gist of it.
![hover](https://user-images.githubusercontent.com/68213/30612573-0e75c0dc-9d53-11e7-8303-b383475b2f5b.gif)

[2017-09-19 20:03] cedricium commented on #208
@ryanfeeley matching the desktop makes sense and IMO looks really clean. Thanks for looking for that spec.

@Natim @vladikoff did you want me to handle the 'Disable Sync' listener? I'm a little confused however because when I press the 'Sync Your Notes' button, I still get the 'Syncing isn't ready...' message. But it looks like QA has been working with actually syncing...?

[2017-09-19 20:48] ryanfeeley commented on #208
@cedricium Are you ready for this? Full spec! Did think I could share this publicly. https://mozilla.invisionapp.com/share/PYC5LJJXG#/229940647_Toolbars

[2017-09-19 21:34] ryanfeeley commented on #208
@cedricium Also https://mozilla.invisionapp.com/share/H3BIW4C9U#/screens/230516723_Application_Menu

[2017-09-20 08:43] Natim commented on #208
Yes you are right were are basing the sync work on top of the sync-v4 branch.

[2017-09-20 14:44] klint opened #242 "Link a note to a certain URL or to a domain"
I can't imagine a Note-taking tool on a browser without the ability to link a note to a certain page (URL or upper level up to the domain), like good old ATNotes that is no longer maintained. :)
And displaying this page would display all notes related to it.
These are the basic features, but other like search on *all* notes will also be helpful.
Thanks

[2017-09-20 14:51] Natim commented on #242
Duplicate of #233

[2017-09-20 14:51] Natim commented on #242
Actually not

[2017-09-20 16:31] prototriangle opened #243 "No option to open notes"
![image](https://user-images.githubusercontent.com/18370628/30655437-ce3f53a8-9e28-11e7-8e12-a5490974d8f8.png)
![image](https://user-images.githubusercontent.com/18370628/30655462-dc76ba74-9e28-11e7-8668-80e40924aabe.png)
![image](https://user-images.githubusercontent.com/18370628/30655502-fd4de998-9e28-11e7-9222-414bc419b8e4.png)

All of the above indicators show that Notes is installed and yet:

[2017-09-21 07:53] SoftVision-EmilPasca commented on #243
@prototriangle This is a known issue ([Testpilot issue 2848](https://github.com/mozilla/testpilot/issues/2848)), in order to use Notes, you must have at least Firefox 54.0.

[2017-09-21 07:53] #243 closed

[2017-09-21 13:32] kpuljek commented on #242
I believe this could fit under #40

[2017-09-21 15:22] johngruen commented on #242
Let's keep this open for now. We've been doing explorations in this area

[2017-09-21 15:23] johngruen commented on #239
Closing in favor of #238, but may have more detail

[2017-09-21 15:23] #239 closed

[2017-09-21 15:24] johngruen commented on #238
See #239 for more detail

[2017-09-21 15:38] kpuljek commented on #242
Would that also include a context menu option to "save selected text as a new note"? :)

[2017-09-22 08:03] SoftVision-EmilPasca commented on #222
This issue is no longer reproducible on the latest Nightly(58.0a1-20170921220243) with the latest Notes (1.8.0 dev).

[2017-09-25 03:57] cedricium commented on #233
As far as typing goes, I used the code [outlined in this answer](https://github.com/quilljs/quill/issues/109#issuecomment-278181150) and it works pretty well. Based on the regex used in that code, only text beginning with `http://` or `https://` will be recognized, whereas Google Docs matches text beginning with just `www.` as well.

Another note with the example code given in the above comment is

[2017-09-25 13:14] vladikoff commented on #233
That sounds good for starters 👍

That's also fine. I think G Docs might do this too.

If we can avoid the tooltip entirely that would be great. Due to the sidebar nature of the project we are trying to stay away from these tooltips :)

[2017-09-25 14:03] cedricium commented on #233
Created a pull request with the basic support for links. Still need to add link mouse click events to the analytics.

[2017-09-26 13:59] Natim commented on #217
@ryanfeeley What is the course of action for this issue? Shall I close #224?

[2017-09-26 14:00] #192 closed

[2017-09-26 14:03] Natim commented on #167
Refs https://github.com/quilljs/quill/issues/1553

[2017-09-26 14:14] ryanfeeley commented on #217
@Natim I think it was my SVG. Argh! Try this one? (which is also grey)
[universal-notepad-large.svg-centered.zip](https://github.com/mozilla/notes/files/1333481/universal-notepad-large.svg-centered.zip)

[2017-09-26 14:21] Natim commented on #217
![news-icon-linux](https://user-images.githubusercontent.com/229453/30865400-c27178c8-a2d6-11e7-830d-be6c1d32de8e.png)

[2017-09-26 14:21] Natim commented on #217
Seems to be awesome now :)

[2017-09-26 14:48] Natim commented on #171
We should file issues related to QuillJS in https://github.com/quilljs/quill

[2017-09-26 14:48] #208 closed

[2017-09-26 14:57] #217 closed

[2017-09-26 16:59] vladikoff opened #247 "Implement Sync button animation"
![image](https://user-images.githubusercontent.com/128755/30873259-91ec3e66-a2ba-11e7-89cb-912bb77ddab2.png)

cc @ryanfeeley @cedricium

[2017-09-26 17:03] vladikoff commented on #247
@cedricium, we had to revert the menu from the `master` branch, but the patch is here (also in your branch):

[240.patch.txt](https://github.com/mozilla/notes/files/1334047/240.patch.txt)

You can create a new branch based on the `support-menu` branch and then when https://github.com/mozilla/notes/pull/141 is ready @Natim can pull the changes and merge everything.

[2017-09-26 17:40] ryanfeeley commented on #247
If it's not clear from the static image (and why would it be) when blue, the sync icon should spin like it does in the hamburger menu.
![spin](https://user-images.githubusercontent.com/68213/30875087-51d4cc3e-a2c0-11e7-9e68-2040f1e8a546.gif)

[2017-09-27 11:17] SoftVision-CarmenFat opened #250 "Firefox Notes specific icon is not displayed on "about:addons" page"
[Affected versions]:
- Firefox 55.0.3 and up
- Firefox Notes v1.8.0rc1

[Affected Platforms]:
- All Windows
- All Mac OS
- All Linux

[Prerequisites]:
- Have a Firefox profile with the latest Firefox Notes version (1.8.0rc1).

[Steps to reproduce]:
1. Open the browser with the profile from prerequisites.
2. Go to about:addons and click on "Extensions" option.
3. Observe "Firefox Notes" experiment

[2017-09-27 11:35] Natim commented on #250
I posted a bug in Firefox: https://bugzilla.mozilla.org/show_bug.cgi?id=1403526
I also find out a workaround for that in #251

[2017-09-27 12:09] SoftVision-EmilPasca opened #252 "Pasted URLs are not automatically turned into links"
[Affected versions]:
- Firefox 55.0.3 and up
- Firefox Notes v1.8.0rc2

[Affected Platforms]:
- All Windows
- All Mac
- All Linux

[Prerequisites]:
- Have a Firefox profile with the latest Firefox Notes version (1.8.0rc2).

[Steps to reproduce]:
1. Open the browser with the profile from prerequisites.
2. Copy any URL in the clipboard.
3. Paste the URL in the "Notes" sidebar.
4. Observe the pasted

[2017-09-27 13:13] SoftVision-CarmenFat opened #253 "Hyperlinks format options are canceled when choosing the numbered (or bulleted) list options"
[Affected versions]:
- Firefox 55.0.3 and up
- Firefox Notes v1.8.0rc2

[Affected Platforms]:
- All Windows
- All Mac
- All Linux

[Prerequisites]:
- Have a Firefox profile with the latest Firefox Notes version (1.8.0rc2).

[Steps to reproduce]:
1. Open the browser with the profile from prerequisites.
2. Write a valid hyperlink address into the "Notes" sidebar (eg. http://wikipedia.org)
3. Select

[2017-09-27 15:00] SoftVision-CarmenFat opened #254 "Switching back to Notes breaks the sidebar if hyperlinks were previously written in the editable area"
[Affected versions]:
- Firefox 55.0.3 and up
- Firefox Notes v1.8.0rc2

[Affected Platforms]:
- All Windows
- All Mac
- All Linux

[Prerequisites]:
- Have a Firefox profile with the latest Firefox Notes version (1.8.0rc2).

[Steps to reproduce]:
1. Open the browser with the profile from prerequisites.
2. Write a valid hyperlink address into the "Notes" sidebar (eg. http://wikipedia.org)
3. Click t

[2017-09-27 15:00] vladikoff commented on #254
oh wow!

[2017-09-27 15:01] vladikoff commented on #254
@SoftVision-CarmenFat thanks for thorough testing!! 🔍

[2017-09-27 15:07] Softvision-CristinaBadescu opened #255 "After pasting a link in a cleared "Notes" sidebar, you cannot continue typing, unless you click in the sidebar"
[Affected versions]:
- Firefox 55.0.3 and up
- Firefox Notes v1.8.0rc2

[Affected Platforms]:
- All Windows
- All Mac
- All Linux

[Prerequisites]:
- Have a Firefox profile with the latest Firefox Notes version (1.8.0rc2).

[Steps to reproduce]:
1. Open the browser with the profile from prerequisites.
2. Clear all the text from "Notes" sidebar.
3. Paste a link (through keyboards or context menu).

[2017-09-27 15:11] vladikoff commented on #255
I'm sad about this bug :(, but I'm happy for Kit and Rose!

[2017-09-27 16:01] cedricium commented on #255
Reproducible before @Natim's commits, will need to investigate.

[2017-09-27 16:03] cedricium commented on #254
Reproducible before @Natim's commits, will need to investigate.

[2017-09-28 12:31] Softvision-MariusComan opened #256 "Previously cleared content is wrongly redisplayed when you reopen "Firefox Notes""
**[Affected versions]:**
- Firefox Notes 1.8.0 rc2
- Firefox 55 and up

**[Affected Platforms]:**
- All Windows
- All Mac
- All Linux

**[Prerequisites]:**
- Have a Firefox profile with the latest "Firefox Notes" add-on version (1.8.0 rc2) installed.

**[Steps to reproduce]:**
1. Open the browser with the profiles from prerequisites.
2. Write a string in the "Notes" sidebar.
3. Select all content

[2017-09-28 14:01] Softvision-MariusComan opened #257 ""Cut" and "Paste" context menu options are active when no strings are selected"
**[Affected versions]:**
- Firefox Notes 1.8.0 rc2
- Firefox 55 and up

**[Affected Platforms]:**
- All Windows
- All Mac
- All Linux

**[Prerequisites]:**
- Have a Firefox profile with the latest "Firefox Notes" add-on version (1.8.0 rc2) installed.

**[Steps to reproduce]:**
1. Open the browser with the profiles from prerequisites.
2. Right click on the "Notes" sidebar.
3. Observe the context me

[2017-09-28 14:47] SoftVision-CarmenFat opened #258 "[Enhancement] Hyperlinks that were visited should change color"
[Affected versions]:
- Firefox 55.0.3 and up
- Firefox Notes v1.8.0rc2

[Affected Platforms]:
- All Windows
- All Mac
- All Linux

[Prerequisites]:
- Have a Firefox profile with the latest Firefox Notes version (1.8.0rc2).

[Steps to reproduce]:
1. Open the browser with the profile from prerequisites.
2. Write a valid hyperlink address into the "Notes" sidebar (eg. http://wikipedia.org)
3. Click t

[2017-09-28 15:09] Softvision-MariusComan opened #259 "The context menu is displayed in a wrong position after moving the "Notes" sidebar to right / left"
https://bugzilla.mozilla.org/show_bug.cgi?id=1403965

**[Affected versions]:**
- Firefox Notes 1.8.0 rc2
- Firefox 56 and up

**[Affected Platforms]:**
- All Windows

**[Prerequisites]:**
- Have a Firefox profile with the latest "Firefox Notes" add-on version (1.8.0 rc2) installed.

**[Steps to reproduce]:**
1. Open the browser with the profiles from prerequisites.
2. Right click in the "Notes" si

[2017-09-28 15:19] johngruen commented on #259
Moving this to the current sprint pending investigation and escalating to higher priority in Photon

[2017-09-28 15:20] johngruen commented on #258
"uhh nah" - @ryanfeeley

[2017-09-28 15:20] #258 closed

[2017-09-28 15:21] johngruen commented on #257
We believe this is an upstream bug. Leaving open until that gets filed

[2017-09-28 15:24] johngruen commented on #250
@vladikoff needs to merge a fix to close this

[2017-09-28 15:24] #250 closed

[2017-09-28 15:29] SoftVision-CarmenFat opened #260 ""Undo" option doesn't work properly on previously formatted text"
[Affected versions]:
- Firefox 55.0.3 and up
- Firefox Notes v1.8.0rc2

[Affected Platforms]:
- All Windows
- All Mac
- All Linux

[Prerequisites]:
- Have a Firefox profile with the latest Firefox Notes version (1.8.0rc2).

[Steps to reproduce]:
1. Open the browser with the profile from prerequisites.
2. Write something on the "Notes" editable area.
3. Select the written text and click on one of t

[2017-09-28 15:31] SoftVision-CarmenFat opened #261 "Some of the formatting options are reset if a tab is moved to a new window"
[Affected versions]:
- Firefox 55.0.3 and up
- Firefox Notes v1.8.0rc2

[Affected Platforms]:
- All Windows
- All Mac
- All Linux

[Prerequisites]:
- Have a Firefox profile with the latest Firefox Notes version (1.8.0rc2).

[Steps to reproduce]:
1. Open the browser with the profile from prerequisites.
2. Write something on the "Notes" editable area.
3. Select the written text and click on one of t

[2017-09-28 15:34] SoftVision-CarmenFat commented on #254
I investigated this issue more and I have the following information to add:
- If the text (or hyperlink) is formatted with one of the lists formatting options, then sending a tab to a new window, the Notes sidebar from the new window has the same behavior as I described in the first comment; the difference, in this case, is that the Notes Sidebar from the main window seems that is not affected. Fo

[2017-09-28 15:44] Softvision-MariusComan commented on #257
I have managed to reproduce the issue on Firefox 54 and up. I've also tested the issue with Firefox Notes 1.2, 1.3 and 1.6 and it is reproducible an all tested builds.
It is also very strange that the "Delete" option is active when content is selected and greyed out when no content is selected.

@johngruen can you please post a link to the upstream bug that you guys think is causing this?

[2017-09-28 15:48] Natim commented on #257
I think this might be the bug: https://bugzilla.mozilla.org/show_bug.cgi?id=635674

[2017-09-29 09:28] Softvision-MariusComan opened #262 "The "Blank space" before and after a string is ignored when pasting"
**[Affected versions]:**
- Firefox Notes 1.8.0dev
- Firefox 55 and up

**[Affected Platforms]:**
- All Windows
- All Mac
- All Linux

**[Prerequisites]:**
- Have a Firefox profile with the latest "Firefox Notes" add-on version (1.8.0dev) installed.

**[Steps to reproduce]:**
1. Open the browser with the profiles from prerequisites.
2. Write a string in the sidebar an press the space key (e.g. "Tes

[2017-09-29 10:00] Softvision-MariusComan opened #263 "There is no visible difference between 12px and 14px characters"
**[Affected versions]:**
- Firefox Notes 1.8.0dev
- Firefox 55 and up

**[Affected Platforms]:**
- All Windows
- All Mac
- All Linux

**[Prerequisites]:**
- Have a Firefox profile with the latest "Firefox Notes" add-on version (1.8.0dev) installed.

**[Steps to reproduce]:**
1. Open the browser with the profiles from prerequisites.
2. Write a string using 12px characters and another one using 14px

[2017-09-29 12:10] MiltonAkash commented on #242
https://github.com/mozilla/notes/pull/264

[2017-09-29 12:18] kpuljek commented on #242
@MiltonAkash great feature, but this one is different - it's not for adding links to notes but attaching some notes to specific websites. Like if I go to ubuntu.com and make a note there, it would be visible when I visit that site, or if I browse through my notes it would state that it's linked to ubuntu.com.

[2017-09-29 12:19] MiltonAkash commented on #242
okk

[2017-09-29 13:16] SoftVision-CarmenFat opened #265 "Pressing "Tab" key continuously doesn't push the text on the next row if the text was previously numbered (or bulleted) listed"
[Affected versions]:
- Firefox Notes 1.8.0dev
- Firefox 55.0.3 and up

[Affected Platforms]:
- All Windows
- All Mac
- All Linux

[Prerequisites]:
- Have a Firefox profile with the latest "Firefox Notes" version (1.8.0dev) installed.

[Steps to reproduce]:
1. Open the browser with the profiles from prerequisites.
2. Write something in the editable area of Notes Sidebar.
3. Click on Numbered List (

[2017-09-29 13:21] Softvision-MariusComan opened #266 "The mouse caret is wrongly moved when you left / right click under a word"
**[Affected versions]:**
- Firefox Notes 1.8.0dev
- Firefox 55 and up

**[Affected Platforms]:**
- All Windows

**[Prerequisites]:**
- Have a Firefox profile with the latest "Firefox Notes" add-on version (1.8.0dev) installed.

**[Steps to reproduce]:**
1. Open the browser with the profiles from prerequisites.
2. Write a string in the "Notes" sidebar.
3. Left / right click anywhere under a word an

[2017-09-29 15:11] Softvision-MariusComan opened #267 "The "View Selection Source" does not work"
**[Affected versions]:**
- Firefox Notes 1.8.0dev
- Firefox 55 and up

**[Affected Platforms]:**
- All Windows
- All Mac
- All Linux

**[Prerequisites]:**
- Have a Firefox profile with the latest "Firefox Notes" add-on version (1.8.0dev) installed.

**[Steps to reproduce]:**
1. Open the browser with the profiles from prerequisites.
2. Write a string in the "Notes" sidebar.
3. Select all content an

[2017-09-29 15:12] Natim commented on #267
Please file a Firefox bug in bugzilla for this one.

[2017-09-29 15:14] Natim commented on #266
Please file an upstream (Bugzilla/Firefox) bug for this one.

[2017-09-29 15:16] Natim commented on #265
I am not sure I understand the expected behaviour here. Since you have the horizontal scrollbar and you can resize the scrollbar it doesn't looks to be a bug to me.

[2017-09-29 15:17] Natim commented on #263
They doesn't look to be the same size in the screencast.

[2017-09-29 15:26] Softvision-MariusComan commented on #267
@Natim, [here it is](https://bugzilla.mozilla.org/show_bug.cgi?id=1404367).

[2017-09-29 15:41] Softvision-MariusComan commented on #263
Maybe I was not very clear in the STR, however the differences between the strings can be seen only at specific zoom levels:

100% - No difference seen
110% - There is a difference
120% - There is a difference
130% - No difference seen
140% - There is a difference
150% - There is a difference
160% - There is a difference
170% - There is a difference
180% - There is a difference
190% - No differenc

[2017-09-29 15:41] Natim commented on #252
Fixed in 75c751452146e488b39e7b8c86fb38df4bdc3ecb

[2017-09-29 15:41] #252 closed

[2017-09-29 15:42] Natim commented on #254
Fixed in 75c751452146e488b39e7b8c86fb38df4bdc3ecb

[2017-09-29 15:42] #254 closed

[2017-09-29 15:42] Natim commented on #255
Fixed in 75c751452146e488b39e7b8c86fb38df4bdc3ecb

[2017-09-29 15:42] #255 closed

[2017-09-29 15:43] Natim commented on #253
Fixed in 75c751452146e488b39e7b8c86fb38df4bdc3ecb

[2017-09-29 15:43] Natim commented on #233
Fixed with 75c751452146e488b39e7b8c86fb38df4bdc3ecb

[2017-09-29 15:43] #233 closed

[2017-09-29 15:44] Natim commented on #256
Can't reproduce it anymore with 75c751452146e488b39e7b8c86fb38df4bdc3ecb

[2017-09-29 15:44] #256 closed

[2017-09-29 15:46] Natim commented on #263
Yes maybe they are not 12px and 14px but 13px and 14px, I will have to check that.

[2017-10-02 07:46] Softvision-MariusComan commented on #256
The issue is no longer reproducible on the latest "Firefox Notes" version (1.8.0 rc3), retested on Windows 10 x64 and Mac OS 10.12 on Firefox Release (56.0) and latest Nightly (58.0a1-20171001220301).

[2017-10-02 08:00] SoftVision-EmilPasca commented on #252
The issue is no longer reproducible on the latest "Firefox Notes" version (1.8.0 rc3), retested on Windows 10 x64 and Mac OS 10.12 on Firefox Release (56.0) and latest Nightly (58.0a1-20171001220301).

[2017-10-02 08:42] Softvision-CristinaBadescu commented on #255
I have retested this issue and I can confirm that is no longer reproducible using the latest "Firefox Notes" version (1.8.0 rc3), on Windows 10 x64, Mac OS 10.12 and Ubuntu 14.04 x64, on Firefox Release (56.0) and latest Nightly build (58.0a1-20171001220301).

[2017-10-02 09:12] SoftVision-CarmenFat commented on #254
The issue is no longer reproducible on the latest "Firefox Notes" version (1.8.0 rc3).

[2017-10-02 10:59] Softvision-MariusComan opened #268 "Numbered / bulleted lists are acting differently when all content is selected and replaced vs deleted"
**[Affected versions]:**
- Firefox Notes 1.8.0 rc3
- Firefox 56 and up

**[Affected Platforms]:**
- All Windows
- All Mac
- All Linux

**[Prerequisites]:**
- Have a Firefox profile with the latest "Firefox Notes" add-on version (1.8.0dev) installed.
- There is no content in the "Notes" sidebar.

**[Steps to reproduce]:**
1. Open the browser with the profiles from prerequisites.
2. Click the "Numbe

[2017-10-02 11:02] SoftVision-CarmenFat commented on #253
The issue is still reproducible on the latest Firefox Notes version (1.8.0rc3).

[2017-10-02 11:10] SoftVision-CarmenFat commented on #250
The issue is no longer reproducible on the latest "Firefox Notes" version (1.8.0 rc3).

[2017-10-02 11:29] Softvision-CristinaBadescu opened #269 "Text formatting set in "Notes" sidebar is not kept for pasted text or links"
[Affected versions]:
- Firefox 56 and up
- Firefox Notes v1.8.0rc3

[Affected Platforms]:
- All Windows
- All Mac
- All Linux

[Prerequisites]:
- Have a Firefox profile with the latest Firefox Notes version (1.8.0rc3).

[Steps to reproduce]:
1. Open the browser with the profile from prerequisites.
2. Select the bold icon from the "Notes" sidebar.
3. Paste a text or a link.
4. Observe the behavior.

[2017-10-02 11:38] Natim commented on #253
@cedricium I think this is due to the fact that we recreate the node. Do you know how we can update it instead?

[2017-10-02 11:39] Natim commented on #253
Similar reason for https://github.com/mozilla/notes/issues/269

[2017-10-02 11:57] Natim commented on #268
Can we file this bug upstream to https://github.com/quilljs/quill ?

[2017-10-02 12:01] Softvision-CristinaBadescu opened #270 "In a "Numbered" or "Bulleted" list text, the "Paste" option doesn't work properly"
[Affected versions]:
- Firefox 56 and up
- Firefox Notes v1.8.0rc3

[Affected Platforms]:
- All Windows
- All Mac
- All Linux

[Prerequisites]:
- Have a Firefox profile with the latest Firefox Notes version (1.8.0rc3).

[Steps to reproduce]:
1. Open the browser with the profile from prerequisites.
2. Have some text organized in a "Numbered" or "Bulleted" list.
3. Paste some text in the organized l

[2017-10-02 12:29] Softvision-CristinaBadescu opened #271 "In a formatted text, an inserted or written link doesn't keep active the preexistent formatting"
[Affected versions]:
- Firefox 56 and up
- Firefox Notes v1.8.0rc3

[Affected Platforms]:
- All Windows
- All Mac
- All Linux

[Prerequisites]:
- Have a Firefox profile with the latest Firefox Notes version (1.8.0rc3).

[Steps to reproduce]:
1. Open the browser with the profile from prerequisites.
2. Have some styled text (Font size, Bold/Italic/Strikethrough style etc.).
3. Type or insert a link

[2017-10-02 12:43] SoftVision-CarmenFat opened #272 "The newly entered letter/number key is wrongly linked if the previous hyperlink was selected"
[Affected versions]:
- Firefox 56 and up
- Firefox Notes v1.8.0rc3

[Affected Platforms]:
- All Windows
- All Mac
- All Linux

[Prerequisites]:
- Have a Firefox profile with the latest Firefox Notes version (1.8.0rc3).

[Steps to reproduce]:
1. Open the browser with the profile from prerequisites.
2. Write a valid hyperlink (e.g. http://wikipedia.org).
3. Manually select the hyperlink.
4. Press an

[2017-10-02 12:52] SoftVision-CarmenFat opened #273 ""Space" key wrongly creates linked underline if pressed just before the hyperlink"
[Affected versions]:
- Firefox 56 and up
- Firefox Notes v1.8.0rc3

[Affected Platforms]:
- All Windows
- All Mac
- All Linux

[Prerequisites]:
- Have a Firefox profile with the latest Firefox Notes version (1.8.0rc3).

[Steps to reproduce]:
1. Open the browser with the profile from prerequisites.
2. Write a valid hyperlink (e.g. http://wikipedia.org).
3. Click on the space right before the hyperl

[2017-10-02 15:12] vladikoff commented on #273
cc @cedricium @Natim

[2017-10-02 15:17] Natim opened #274 "When you enlarge the sidebar too much the header border stops."
![sidebar](https://user-images.githubusercontent.com/229453/31084709-74dd63b0-a795-11e7-898e-7f8297c7aaf1.png)

Reproducible on Linux with Nightly 58.0a1

[2017-10-02 15:19] wresuolc commented on #272
Let's add Quill's URL modifying tool, but figure out how to adapt the style to our sidebar (eg. fit it in the top of our window, below the formatting toolbar).

[2017-10-02 15:20] vladikoff commented on #272
cc @cedricium , can we bring back the Quill UI (the one that is hidden by CSS) and see if we can try fitting their Link modifying UI?

[2017-10-02 15:28] wresuolc commented on #269
This is expected behavior (similar to many existing editors)

[2017-10-02 15:28] #269 closed

[2017-10-02 15:29] wresuolc commented on #274
I can't reproduce this on Nightly + Ubuntu.  Can you take a larger screenshot of the whole window?

[2017-10-02 15:29] Natim commented on #274
![weird](https://user-images.githubusercontent.com/229453/31085397-48c94ff8-a797-11e7-842c-6940717679a9.png)

[2017-10-02 15:39] pdehaan opened #275 "Unexpected duplicate "display" in src/sidebar/styles.css"
Note lines 94 and 99:

https://github.com/mozilla/notes/blob/388e3221392b497f2ed46ffc11c7a942b69d145c/src/sidebar/styles.css#L93-L103

Not sure which value is _best_, I'm guessing `block` "wins" since it is set last, but... yeah.

We could also add [**stylelint**](http://npm.im/stylelint):

[code]

[code]

[code]

[2017-10-02 15:41] cedricium commented on #272
@vladikoff @wresuolc will do 👍

[2017-10-02 16:06] cedricium commented on #253
@Natim I'll need to investigate this, but I suspect you're right about the node being recreated.

[2017-10-03 06:57] Softvision-MariusComan commented on #266
Sure, [here it is](https://bugzilla.mozilla.org/show_bug.cgi?id=1405213).

[2017-10-03 07:57] Softvision-CristinaBadescu commented on #269
Yes, there are several text editors that have this behavior expected, but act in a different way. For example, in LibreOffice document text, the pasted text doesn't keep active the preexistent formatting, but if you type afterwards something, it respects the text style. In "Notes" this doesn't happen.

Moreover, there are well known text editors, for example in Google Docs, where the preexistent f

[2017-10-03 15:08] SoftVision-CarmenFat opened #276 "Plain text becomes linked if a hyperlink that is written just before the text is listed"
[Affected versions]:
- Firefox 56 and up
- Firefox Notes v1.8.0dev

[Affected Platforms]:
- All Windows
- All Mac
- All Linux

[Prerequisites]:
- Have a Firefox profile with the latest Firefox Notes version (1.8.0dev built on 10/3/2017).

[Steps to reproduce]:
1. Open the browser with the profile from prerequisites.
2. Write a string on Notes editing area.
3. Write a valid hyperlink just before th

[2017-10-03 15:13] Natim commented on #276
it is the same if you add a space at the end of tests, that's how the feature is implemented, everything part of the URL becomes an URL.

[2017-10-03 16:47] RMCoder198 opened #277 "Add option to underline the text at the top panel"
Add option to underline the text at the top panel .
![mo](https://user-images.githubusercontent.com/26675957/31137317-83a1309a-a888-11e7-9d3b-9f6446f124f0.png)

I would like to work on this.

[2017-10-04 11:50] dhra opened #279 "Why notes should use google analytic?"
Why notes should use google analytic?
    Notes will collect information about your use of the feature, such as how often you create notes and how long you spend editing them, the number of characters you save in your notes, and whether you use any editing features (e.g., bold or stylized text).
    Notes will also collect information about your interaction with the add-on, such as how you access

[2017-10-04 11:57] Natim commented on #279
Yes you can activate the do not track feature and we won't send anything to Google Analytics.

[2017-10-04 12:04] #279 closed

[2017-10-06 11:46] Softvision-MariusComan commented on #263
The issue is no longer reproducible on the latest "Firefox Notes" version (1.8.0 rc3), retested on Windows 10 x64, Ubuntu 16.04 and Mac OS 10.12 on Firefox Release (56.0) and latest Nightly (58.0a1-20171005220204).

[2017-10-06 11:46] #263 closed

[2017-10-06 12:10] SoftVision-CarmenFat opened #282 "Notes opens in New Window with its default size if previously closing the resized Sidebar"
[Affected versions]:
- Firefox 56.0 and up
- Firefox Notes v1.8.0rc4

[Affected Platforms]:
- All Windows
- All Mac
- All Linux

[Prerequisites]:
- Have a Firefox profile with the latest Firefox Notes version (1.8.0rc4).

[Steps to reproduce]:
1. Open the browser with the profile from prerequisites.
2. Click and drag the Sidebar's border to the maximum right.
3. Click on "X" button in order to clo

[2017-10-06 12:15] Natim commented on #282
Thank you for that, could you file an upstream BugZilla issue for it?

[2017-10-06 12:58] SoftVision-CarmenFat commented on #282
Filed issue [1406367](https://bugzilla.mozilla.org/show_bug.cgi?id=1406367)

[2017-10-06 13:17] SoftVision-EmilPasca opened #283 ""All changes saved" button is wrongly clickable"
[Affected versions]:
- Firefox 56.0 and up
- Firefox Notes 1.8.0RC4

[Affected Platforms]:
- All Windows
- All Mac
- All Linux

[Prerequisites]:
- Have a Firefox profile with the latest Firefox Notes add-on version (1.8.0RC4).

[Steps to reproduce]:
1. Open the browser with the profile from prerequisites.
2. Click the "All changes saved" button from the "Notes" sidebar.
3. Observe the browser beha

[2017-10-06 13:34] #283 closed

[2017-10-06 13:35] #253 closed

[2017-10-06 14:03] SoftVision-EmilPasca commented on #283
The issue is no longer reproducible on the latest "Firefox Notes" version (1.8.0 rc5), retested on Windows 10 x64 and Mac OS 10.12 on Firefox Release (56.0) and latest Nightly (58.0a1-20171006100327).

[2017-10-06 14:25] SoftVision-CarmenFat commented on #273
- Tested this issue again and I can confirm it is not reproducible following the original steps to reproduce.
- However, a similar behavior is still reproducible when pressing "**Tab**" key twice, instead of "Space" key.

Tested with Firefox Notes RC5.

![again underline](https://user-images.githubusercontent.com/26000308/31282450-438bd200-aabb-11e7-8e86-e33d5685ba17.gif)

[2017-10-06 14:58] Softvision-MariusComan opened #285 "When a string of multiple "Space" characters is pasted, only one will be displayed"
**[Affected versions]:**
- Firefox Notes 1.8.0 rc5
- Firefox 56 and up

**[Affected Platforms]:**
- All Windows
- All Mac
- All Linux

**[Prerequisites]:**
- Have a Firefox profile with the latest "Firefox Notes" add-on version (1.8.0 rc4) installed.

**[Steps to reproduce]:**
1. Open the browser with the profiles from prerequisites.
2. Write two characters with multiple "space" characters between

[2017-10-06 15:38] Softvision-MariusComan opened #286 "The first letter from a link is not hyperlinked when it is pasted in a Numbered/Bulleted list"
**[Affected versions]:**
- Firefox Notes 1.8.0 rc5
- Firefox 56 and up

**[Affected Platforms]:**
- All Windows
- All Mac
- All Linux

**[Prerequisites]:**
- Have a Firefox profile with the latest "Firefox Notes" add-on version (1.8.0 rc5) installed.
- Have a website link copied to clipboard.

**[Steps to reproduce]:**
1. Open the browser with the profiles from prerequisites.
2. Click the "Numbere

[2017-10-06 15:58] vladikoff commented on #286
🙀 💻

[2017-10-07 17:28] kekkc commented on #40
In https://github.com/mozilla/notes/issues/223 johngruen mentioned that multiple note support is already being user tested. Anyone who has seen this live and can make a screen or knows how I can test it?

[2017-10-09 08:40] Softvision-MariusComan opened #287 "The "Save Link as" and "Save Link to Pocket" context menu options do not work"
https://bugzilla.mozilla.org/show_bug.cgi?id=1429364

**[Notes]:**
- The issue is also reproducible on TxP version of "Notes", but only if the link is selected, because TxP version of "Notes" do not support hyperlinks. However in "Notes" 1.8.0 rc5 the issue becomes more obvious.

**[Affected versions]:**
- Firefox Notes 1.8.0 rc5
- Firefox 56 and up

**[Affected Platforms]:**
- All Windows
- All M

[2017-10-09 08:45] Natim commented on #40
User testing was done on mockups rather than an actual working prototype.

[2017-10-09 09:38] Softvision-CristinaBadescu opened #288 "Space between paragraphs is wrongly reset to 14 no matter of the text font size"
[Affected versions]:
- Firefox 56 and up
- Firefox Notes v1.8.0rc6

[Affected Platforms]:
- All Windows
- All Mac
- All Linux

[Prerequisites]:
- Have a Firefox profile with the latest Firefox Notes version (1.8.0rc6).

[Steps to reproduce]:
1. Open the browser with the profile from prerequisites.
2. Clear all the text from the "Notes" sidebar.
3. Change the font size and write something.
4. Copy,

[2017-10-09 09:39] Natim commented on #288
What happen if you type text? Is it back to 18?

[2017-10-09 09:39] Natim commented on #288
Could you file the issue on https://github.com/quilljs/quill too?

[2017-10-09 09:51] Softvision-CristinaBadescu commented on #288
@Natim even if you type text, the space between paragraph is still resetting to 14. Here is a screen recording with the behavior:
![notes - writing test](https://user-images.githubusercontent.com/31244235/31332820-85a2d706-acf0-11e7-9696-f9cb7654638c.gif)

[2017-10-09 09:57] Natim commented on #288
If mean the space is not styled but if you type text in it it will be correctly styled.

[2017-10-09 11:15] Softvision-CristinaBadescu commented on #288
Yes, the text is correctly styled.

[2017-10-09 12:38] Softvision-CristinaBadescu opened #289 "The arrow next to the "Notes" text is slightly moved when the sidebar is resized"
[Affected versions]:
- Firefox 56 and up
- Firefox Notes v1.8.0rc6

[Affected Platforms]:
- All Windows
- All Mac

[Prerequisites]:
- Have a Firefox profile with the latest Firefox Notes version (1.8.0rc6).
- Have the "Notes" sidebar open.

[Steps to reproduce]:
1. Open the browser with the profile from prerequisites.
2. Resize the sidebar and observe the position of the arrow next to the "Notes"

[2017-10-09 13:07] Natim commented on #289
Can I let you file the bug upstream in Bugzilla?

[2017-10-09 14:05] SoftVision-CarmenFat opened #290 "The second typed listed number isn't listed automatically if previously was deleted"
[Affected versions]:
- Firefox Notes 1.8.0 rc6
- Firefox 56 and up

[Affected Platforms]:
- All Windows
- All Mac
- All Linux

[Prerequisites]:
- Have a Firefox profile with the latest "Firefox Notes" add-on version (1.8.0 rc6) installed.

[Steps to reproduce]:
1. Open the browser with the profiles from prerequisites.
2. Click the "Numbered List" button and write a string.
3. Press "Enter" key and

[2017-10-09 14:26] Natim commented on #290
Could you file this bug upstream at Quill?

[2017-10-09 14:41] Softvision-CristinaBadescu commented on #289
Of course :) I've filed it [here.](https://bugzilla.mozilla.org/show_bug.cgi?id=1406930)

[2017-10-09 17:01] skipper647 opened #291 "notes on sidebar is gone"
I updated firefox and i can no longer find note i the sidebar????? Were is the NOTE option? It is enabled????

[2017-10-09 17:23] Natim commented on #291
Make sure your reinstalled the add-on from Test Pilot: https://testpilot.firefox.com/experiments/notes

[2017-10-09 17:23] #291 closed

[2017-10-10 08:10] SoftVision-CarmenFat commented on #290
Sure, filed issue [#1749](https://github.com/quilljs/quill/issues/1749).

[2017-10-10 11:12] Natim opened #292 "Add a preference menu to access the Addon option page."
https://developer.mozilla.org/en-US/Add-ons/WebExtensions/API/runtime/openOptionsPage

[2017-10-10 12:10] Natim commented on #234
Fixed in 2.0.0a1 #241

[2017-10-10 12:10] #234 closed

[2017-10-10 12:11] Natim commented on #238
Fixed in #241 and 2.0.0a1

[2017-10-10 12:11] #238 closed

[2017-10-10 12:12] Natim commented on #236
Fixed in #241

[2017-10-10 12:12] #236 closed

[2017-10-10 12:12] #235 closed

[2017-10-10 12:13] Natim commented on #227
Fixed in #241

[2017-10-10 12:13] #227 closed

[2017-10-10 12:13] Natim commented on #180
Refs #241

[2017-10-10 12:13] Natim commented on #112
Fixed in #241

[2017-10-10 12:13] #112 closed

[2017-10-10 12:14] Natim commented on #73
Fixed in #241

[2017-10-10 12:14] #73 closed

[2017-10-10 12:15] Natim opened #293 "Add sync-disabled metrics"

[2017-10-10 12:15] Natim commented on #64
Refs #293

[2017-10-10 12:15] #64 closed

[2017-10-10 12:16] Natim commented on #33
Fixed in #241

[2017-10-10 12:16] #33 closed

[2017-10-10 12:16] #29 closed

[2017-10-10 12:17] #23 closed

[2017-10-10 12:17] #16 closed

[2017-10-10 12:17] Natim commented on #12
Duplicate of #111

[2017-10-10 12:17] #12 closed

[2017-10-10 12:21] Natim commented on #260
I can't reproduce in the QuillJS playground, it has been fixed in QuillJS 1.3.3

[2017-10-10 12:25] Natim commented on #260
Fixed in #241 2.0.0a2

[2017-10-10 12:26] Natim commented on #286
@cedricium could you have a look at it please?

[2017-10-10 12:28] Natim commented on #285
Reproducible with QuillJS 1.3.3

Could you file an upstream QuillJS bug for it?

[2017-10-10 12:35] #275 closed

[2017-10-10 12:37] #274 closed

[2017-10-10 12:44] Natim commented on #262
This is reproducible in the [Quill Playground](https://quilljs.com/playground/).
Could you file [an issue upstream](https://github.com/quilljs/quill/issues)?

[2017-10-10 12:46] Natim commented on #261
Can you still reproduce with 2.0.0a2 and quilljs 1.3.3?

[2017-10-10 12:50] Natim commented on #191
@anngz Could you try again with 1.8.0?

[2017-10-10 12:50] #191 closed

[2017-10-10 12:51] Natim commented on #186
Can you file this bug upstream?

[2017-10-10 12:54] Natim commented on #232
Marking as a Firefox bug since it is a Firefox Account policy.

[2017-10-10 12:55] Natim commented on #216
@cedricium I am adding it in the next sprint, don't hesitate to give it a try 👍

[2017-10-10 12:56] Natim commented on #196
@SoftVision-EmilPasca can you still reproduce this with latests version of notes/nightly?

[2017-10-10 12:57] Natim commented on #170
Could you file this bug upstream in QuillJS issue tracker?

[2017-10-10 13:01] Natim commented on #116
Can you see if this is till the case with 2.0.0a2?

[2017-10-10 13:03] Natim commented on #158
Fixed in #241

[2017-10-10 13:03] #158 closed

[2017-10-10 13:04] Natim commented on #94
I believe this was fixed.

[2017-10-10 13:24] Natim opened #295 "When authenticated the sync tooltip should be the user email address."

[2017-10-10 13:27] SoftVision-EmilPasca commented on #170
Refs: https://github.com/quilljs/quill/issues/1750

[2017-10-10 13:38] SoftVision-EmilPasca commented on #186
Sure, but I have also tested this on [QuilJS playground](https://quilljs.com/playground/) and is not reproducible there. Are we sure this is a QuillJS issue?
See the attached a screen recording:
![notes_quill](https://user-images.githubusercontent.com/20083658/31389197-fb5e343e-add8-11e7-8925-510f479fabe8.gif)

[2017-10-10 13:57] SoftVision-CarmenFat opened #296 ""Sync Your Notes" and "Feedback" buttons don't have any separator between them"
[Affected versions]:
- Firefox 56.0 and up
- Firefox Notes v2.0.0a2

[Affected Platforms]:
- All Windows
- All Mac
- All Linux

[Prerequisites]:
- Have a Firefox profile with the latest Firefox Notes version (v2.0.0a2).

[Steps to reproduce]:
1. Open the browser with the profile from prerequisites.
2. Observe the "Sync your Notes" and "Feedback" buttons.

[Expected result]:
- Both buttons correctl

[2017-10-10 14:21] johngruen commented on #277
@RMCoder198 we're going to sit tight on this right now b/c we're doing some refactoring of the toolbar UI this week. i'll keep you looped in to changes as warranted.

[2017-10-10 14:21] SoftVision-EmilPasca commented on #196
I have retested this on Windows 8 x64 with the latest Firefox Release(56.0) and the latest Nightly(58.0a1-20171009220104) and the issue is still reproducible.

`Content Security Policy: Ignoring ‘x-frame-options’ because of ‘frame-ancestors’ directive.  (unknown)
Content Security Policy: Directive ‘frame-src’ has been deprecated. Please use directive ‘child-src’ instead. (unknown)
Content Security

[2017-10-10 14:24] johngruen commented on #276
Let's make `test` part of the URL as soon as the http:// is typed next to it

[2017-10-10 14:24] Natim commented on #276
@cedricium could you have a look at it?

[2017-10-10 14:25] johngruen commented on #265
Can we set a max-depth on lists? otherwise this is a wontfix for me.

[2017-10-10 14:25] ryanfeeley opened #297 "URLs in existing notes should become links upon upgrade"
STEPS TO REPRODUCE
1. In a version of Notes that does not support hyperlinks, have some URLs
2. Upgrade Notes to a version that supports hyperlinking URLS

EXPECTED RESULTS
* URLs are now links

ACTUAL RESULTS
* URLs are not transformed into links until they are edited

[2017-10-10 14:26] Natim commented on #196
I think we should file a bugzilla issue for that.

[2017-10-10 14:31] Natim commented on #265
I opened an upstream bug: https://github.com/quilljs/quill/issues/1753

[2017-10-10 14:32] Natim commented on #265
I opened a stackoverflow question to see if there is a nice way to set a max-depth option: https://stackoverflow.com/questions/46669374/is-there-a-way-to-define-a-max-list-depth

[2017-10-10 15:06] SoftVision-CarmenFat commented on #261
Tested with Notes 2.0.0a2 and the issue is no longer reproducible.

[2017-10-10 15:06] #261 closed

[2017-10-10 15:10] SoftVision-CarmenFat commented on #94
Hi @natim,

The behavior mentioned in comment 3 is still reproducible on Notes v.2.0.0a2.

[2017-10-10 15:11] ryanfeeley opened #298 "Remove extra line at the top of Notes"
Let's make Notes look more like the native sidebars by removing the extra darker line at the top.

CURRENT:
![current](https://user-images.githubusercontent.com/68213/31394185-b87c1dd4-adab-11e7-8d01-ae7f31b8af3a.png)

PROPOSED:
![proposed](https://user-images.githubusercontent.com/68213/31394184-b85deb02-adab-11e7-96bd-204bab7d002d.png)

[2017-10-10 15:14] SoftVision-EmilPasca commented on #196
Refs : [bugzilla 1407268](https://bugzilla.mozilla.org/show_bug.cgi?id=1407268).

[2017-10-10 15:25] SoftVision-CarmenFat opened #299 ""Opening Login..." message remains displayed after closing the "Sign in Account" window"
[Affected versions]:
- Firefox 56.0 and up
- Firefox Notes v2.0.0a2

[Affected Platforms]:
- All Windows
- All Mac
- All Linux

[Prerequisites]:
- Have a Firefox profile with the latest Firefox Notes version (2.0.0a2).

[Steps to reproduce]:
1. Open the browser with the profile from prerequisites.
2. Click on "Sync Your Notes" button.
3. Close the newly opened window and observe the "Saved at (hou

[2017-10-10 15:39] SoftVision-CarmenFat opened #300 ""Editing" string is displayed for 2 seconds when opening Notes Sidebar"
[Affected versions]:
- Firefox 56.0 and up
- Firefox Notes v2.0.0a2

[Affected Platforms]:
- All Windows
- All Mac
- All Linux

[Prerequisites]:
- Have a Firefox profile with the latest Firefox Notes version (v2.0.0a2).

[Steps to reproduce]:
1. Open the browser with the profile from prerequisites.
2. Click on "Show sidebars" buttons.
3. Observe the "Saved at (hour)" area.

[Expected result]:
- "S

[2017-10-10 15:44] vladikoff commented on #300
Good find!

[2017-10-10 15:50] Natim commented on #299
Yes only for a minute though

[2017-10-10 16:32] Natim commented on #299
@vladikoff do we have a callback that we could listen to to know that the login windows has been closed?

[2017-10-10 16:56] cedricium commented on #286
@Natim already have a fix in the works 👍

[2017-10-10 17:05] cedricium commented on #237
@Natim is this actually a `Links` issue?

[2017-10-10 17:15] vladikoff commented on #237
@cedricium sorry, Sync :)

[2017-10-10 17:30] #298 closed

[2017-10-10 17:34] Natim commented on #237
Yes thanks :)

[2017-10-11 08:57] Softvision-MariusComan opened #303 ""Disable Sync" option from the "Notes" menu is only displayed on fresh install"
**[Notes]:**
- The option does not appear if you restart the browser.
- The option does not appear if you switch between the sidebars.
- The option does not appear if you open a new window.

**[Affected versions]:**
- Firefox Notes 2.0.0dev
- Firefox 56 and up

**[Affected Platforms]:**
- All Windows
- All Mac
- All Linux

**[Prerequisites]:**
- Have a new Firefox profile with the latest "Firefox

[2017-10-11 11:48] SoftVision-CarmenFat opened #304 "The text size becomes slightly larger when listing it"
[Affected versions]:
- Firefox 56.0 and up
- Firefox Notes v2.0.0a2

[Affected Platforms]:
- All Windows
- All Mac
- All Linux

[Prerequisites]:
- Have a Firefox profile with the latest Firefox Notes version (v2.0.0a2).

[Steps to reproduce]:
1. Open the browser with the profile from prerequisites.
2. Type something in the editable area.
3. Press "Enter" key.
4. Repeat steps 2&3.
5. Select the tex

[2017-10-11 12:39] SoftVision-CarmenFat opened #305 "Notes hangs if continuously pasting a long string in the editing area"
[Affected versions]:
- Firefox 56.0 and up
- Firefox Notes v2.0.0a2

[Affected Platforms]:
- All Windows
- All Mac
- All Linux

[Prerequisites]:
- Have a Firefox profile with the latest Firefox Notes version (v2.0.0a2).

[Steps to reproduce]:
1. Open the browser with the profile from prerequisites.
2. Type something on as many rows as possible.
3. Press "Ctrl"+"A" keys.
4. Press "Ctrl"+"C" keys.
5

[2017-10-11 12:40] Softvision-MariusComan opened #306 "If you manually write "https://" in front of a link then the new string is not hyperlinked"
**[Notes]:**
- If you choose to edit the new string then it will be hyperlinked up to the character where the edit was performed..

**[Affected versions]:**
- Firefox Notes 2.0.0dev
- Firefox 56 and up

**[Affected Platforms]:**
- All Windows
- All Mac
- All Linux

**[Prerequisites]:**
- Have a Firefox profile with the latest "Firefox Notes" add-on version (2.0.0dev) installed.

**[Steps to reprod

[2017-10-11 14:11] SoftVision-CarmenFat opened #307 "High values (3 or more digits) of the numbered list overlap the written strings"
[Affected versions]:
- Firefox 56.0 and up
- Firefox Notes v2.0.0a2

[Affected Platforms]:
- All Windows
- All Mac
- All Linux

[Prerequisites]:
- Have a Firefox profile with the latest Firefox Notes version (v2.0.0a2).

[Steps to reproduce]:
1. Open the browser with the profile from prerequisites.
2. Click on "Numbered List" button.
3. Type something then Press "Enter" key.
4. Repeat step 3 for 9

[2017-10-11 14:13] Softvision-MariusComan opened #308 "Disable right click mouse events in "Firefox Notes" toolbars"
**[Notes]:**
- If you click the "Save page as" option and after that you open the "htm" file, "Firefox Notes" will be displayed as a page.
- If you click the "View Page Info" option, the sidebar's "Page Info" dialog box is opened.
- The "View Background Image", "Select All" and "View page source" options from the context menu do not work at all.
- Considering the fact that the majority of the opti

[2017-10-11 14:28] Natim commented on #308
I actyally agree: https://stackoverflow.com/a/737043/186202

[2017-10-11 15:30] Softvision-CristinaBadescu opened #309 "The "Numbered List" is wrongly rearranged when removing an item from it"
[Affected versions]:
- Firefox 56 and up
- Firefox Notes v2.0.0a2

[Affected Platforms]:
- All Windows
- All Mac
- All Linux

[Prerequisites]:
- Have the latest Notes build version (2.0.0a2) installed on a new clean profile.

[Steps to reproduce]:
1. Open the browser with the profile from prerequisites and navigate to a website.
2. Create a "Numbered list" that contains several items.
3. Click on

[2017-10-11 15:37] SoftVision-CarmenFat commented on #272
- Tested this with the latest Notes v.2.0.0a2 and is still reproducible.

- Also, I have another scenario that results in a much alike behavior as reported in the first comment:

STR:
1. Write a valid hyperlink (e.g. http://wikipedia.org).
2. Select all characters from the link, except the last one (e.g. case "g")
3. Press "Delete" key.
4. Observe and click on the remaining character.

- _Expected

[2017-10-11 15:52] Softvision-MariusComan opened #310 "The mouse caret is not moved when you click on a hyperlink"
**[Notes]:**
- This issue blocks you from editing a certain part of the hyperlink.
- On Google Docs the mouse caret is moved where you click the link and a doorhanger appears.
- On Notepad++ when you click the link, the mouse caret is moved and only when you double click the link the related website is opened.
- On LibreOffice Writer at first click, the mouse caret is moved and at "Ctrl + Click" t

[2017-10-11 16:30] cedricium commented on #272
I think this was closed by accident, so just having this issue open should be okay.

@vladikoff @ryanfeeley is there a mockup in the works as far as how the link editing UI tooltip should look/fit in with Notes?

[2017-10-12 08:44] SoftVision-CarmenFat commented on #116
- Tested this with latest Notes v. 2.0.0a2 using latest Nightly 58.0a1 (2017-10-11), Beta 57.b7 and the "Notes" icon is displayed on both sidebar switcher button and its door hanger.
- However, on Firefox Release 56.0 the icon is not displayed at all, as you can see in the following screenshot:
![rel](https://user-images.githubusercontent.com/26000308/31487176-8c0a4170-af42-11e7-977b-679d6511d0a4.

[2017-10-12 09:05] SoftVision-CarmenFat commented on #260
Tested this with both latest Notes v.2.0.0a2 and QuillJS Playground and still was able to reproduce the issue (but this time, only by using the "Undo" option from the context menu):

![playground](https://user-images.githubusercontent.com/26000308/31488088-56509e50-af45-11e7-877c-cbf1b9ffd778.gif)

[2017-10-12 09:19] Softvision-MariusComan opened #311 "Disable the "Sync Your Notes" button while "Editing" status is displayed"
**[Notes]:**
- If you press the "Sync Your Notes" button while "Editing" status is displayed then the old content is redisplayed.

**[Affected versions]:**
- Firefox Notes 2.0.0dev
- Firefox 56 and up

**[Affected Platforms]:**
- All Windows
- All Mac
- All Linux

**[Prerequisites]:**
- Have a Firefox profile with the latest "Firefox Notes" add-on version (2.0.0dev) installed.

**[Steps to reprodu

[2017-10-12 15:56] glasserc opened #312 "Handle old encryption keys correctly"
https://github.com/mozilla/notes/blob/deda4782a5d667b466df0a4543228fffc9047131/src/sync.js#L211-L220

We wipe the server, but we don't update our local status to indicate that we need to resync everything. As a result, other devices won't receive things when they sync.

[2017-10-12 16:20] Natim commented on #309
How would you like it to work? Making Item2 part of Item1 ? I actually think this might be a working behaviour.

[2017-10-12 16:20] Natim commented on #307
This can be fixed with a great style padding.

[2017-10-12 16:22] Natim commented on #304
This can be fixed with a CSS rule.

[2017-10-12 16:24] Natim commented on #312
This is related to #111

[2017-10-12 21:45] wresuolc commented on #266
@Natim please comment in the Firefox bug with details about what makes this a webextensions bug.  Thanks!

[2017-10-13 07:11] Natim commented on #266
I don't think it is a webextension bug, but probably a Firefox bug on windows with contenteditable.

@Softvision-MariusComan can you try to load the page in a tab as Andy described to see if it is only happening in the Sidebar?

[2017-10-13 07:53] SoftVision-EmilPasca opened #315 ""Unable to connect" message is displayed when clicking the "Sync your Notes" button"
**[Affected versions]:**
- Firefox Notes 2.0.0a3
- Firefox 56 and up

**[Affected Platforms]:**
- All Windows
- All Mac
- All Linux

**[Prerequisites]:**
- Have a Firefox profile with the latest "Firefox Notes" add-on version (2.0.0a3) installed.

**[Steps to reproduce]:**
1. Open the browser with the profiles from prerequisites.
2. Click the "Sync your Notes" button in the "Notes" sidebar.
3. Obs

[2017-10-13 07:53] Softvision-CristinaBadescu commented on #309
Hello @Natim,
I was thinking that after removing an item from the "Numbered list", the numbering will go on, without creating a new one from the start. You can see below the described behavior:
![ordering](https://user-images.githubusercontent.com/31244235/31535707-b5c84706-b004-11e7-8488-ee2e05cd6dce.gif)

[2017-10-13 07:58] Natim commented on #315
@rfk could you fix the oct10 stack or should we rollback to the previous stack?

[2017-10-13 13:05] Natim commented on #196
@ulfr tldr:

1. The notes@mozilla.com add-on is signed with the TestPilot experiment key
2. For some reasons the signature is invalid when using Windows 8 64bits with Firefox 32 bits installed in it
3. We checked and it is the case only with that TestPilot add-on
4. Even when we realised the last version of it lately it is still reproducible

Any ideas why this particular add-on with that particul

[2017-10-13 13:33] Natim commented on #308
Note that if we do that we remove spellchecker features.

[2017-10-13 14:23] #311 closed

[2017-10-13 14:29] #299 closed

[2017-10-13 14:37] Natim commented on #315
Ok actually it has nothing to do with the deployment of the oct10 stack, apparently the lib FxARelier fallsback to that URL by default. I will be investigating.

[2017-10-13 14:44] Natim commented on #315
Should be fixed in https://github.com/mozilla/notes/files/1382936/addon-2.0.0a4.zip

[2017-10-13 14:44] #315 closed

[2017-10-13 14:56] #312 closed

[2017-10-13 14:57] #303 closed

[2017-10-13 14:58] Natim commented on #295
Refs https://github.com/mozilla/fxa-profile-server/blob/master/docs/API.md#get-v1email

[2017-10-13 15:11] SoftVision-EmilPasca commented on #315
The issue is no longer reproducible with Firefox Notes 2.0.0a4, tested on Windows 10 x64, Mac 10.12 and Ubuntu 14.04 x64 with the latest Firefox Release(56,0) and Nightly(58.0a1-20171011220113).

[2017-10-13 15:17] Softvision-MariusComan commented on #308
@Natim The bug was asking to remove right click mouse events only from the toolbars.
Now, it seems that the right click mouse events are removed from the "Firefox Notes" body as well. This is not very good, because now we cannot access the "Undo", "Cut", "Copy" and "Paste" options that were in that context menu.

[2017-10-13 15:50] Natim commented on #308
Oh I didn't noticed it was only for the toolbar :) I can revert that then.

[2017-10-13 15:54] Softvision-MariusComan opened #320 "Users can wrongly end up with two links in the same string after editing the first part of a link"
**[Affected versions]:**
- Firefox Notes 2.0.0dev
- Firefox 56 and up

**[Affected Platforms]:**
- All Windows
- All Mac
- All Linux

**[Prerequisites]:**
- Have a Firefox profile with the latest "Firefox Notes" add-on version (2.0.0dev) installed.
- Copy the following string: https://google.com .

**[Steps to reproduce]:**
1. Open the browser with the profiles from prerequisites.
2. Paste the str

[2017-10-13 17:04] cedricium commented on #320
This relates to #272, but we can keep this open for tracking purposes.

[2017-10-15 18:08] cedricium commented on #272
Just brainstorming, but bringing back the link modifying tooltip may not be necessary. A `selection` matcher (https://quilljs.com/docs/api/#selection) could be added to capture when a link is highlighted and deleted, then we'd just have to set the `link` format to false for that given range.

[2017-10-15 20:36] cedricium opened #322 "Clarification Needed: what is the expected behavior when pasting text?"
I'm working on a solution for #271, which will give any pasted links the current formatting set. The solution works great if just a URL is being pasted, however, if there's some random text as well as a URL, then just the URL will get the active formatting. For example, say I copy the following:
[code]
and when I paste, say the `bold` and `italic` formats are active. The result will be:
![screen s

[2017-10-16 08:31] Softvision-MariusComan commented on #303
The issue is no longer reproducible on the latest "Firefox Notes" version (2.0.0a4), retested on Windows 10 x64, Ubuntu 16.04 and Mac OS 10.12 on Firefox Release (56.0) and latest Nightly (58.0a1-20171015220106).

[2017-10-16 09:49] Natim commented on #265
The creator of Quill.JS gave us a solution:

https://github.com/quilljs/quill/issues/1753#issuecomment-336791018

[2017-10-16 09:53] #308 closed

[2017-10-16 09:57] Natim commented on #322
Yes I think so, @ryanfeeley @SoftVision-CarmenFat do you have an opinion on that?

[2017-10-16 14:17] SoftVision-CarmenFat opened #323 ""Synced at Invalid Date" is wrongly displayed when logging in the Sync Account"
[Affected versions]:
- Firefox Notes 2.0.0a4
- Firefox 56.0 and up

[Affected Platforms]:
- All Windows
- All Mac
- All Linux

[Prerequisites]:
- Have a Firefox profile with the latest "Firefox Notes" add-on version (2.0.0a4) installed.
- Have a valid Sync Account.

[Steps to reproduce]:
1. Open the browser with the profiles from prerequisites.
2. Click the "Sync your Notes" button from the bottom

[2017-10-16 15:09] Softvision-MariusComan opened #324 "The sidebar is not reopened at browser restart if the "Firefox Notes" log in window is opened"
**[Notes]:**
- The issue is reproducible only at first install on a clean new profile.

**[Affected versions]:**
- Firefox Notes 2.0.0a4
- Firefox 57 and up

**[Affected Platforms]:**
- All Windows
- All Linux

**[Prerequisites]:**
- Create a new Firefox profile.
- Have the "xpinstall.signatures.required" pref set to "false" in "about:config".
- Have the "extensions.legacy.enabled" pref set to "tr

[2017-10-17 08:00] Softvision-MariusComan opened #325 "The sidebar is wrongly opened in the "Firefox Notes" sign in window if the browser is restarted"
**[Affected versions]:**
- Firefox Notes 2.0.0a4
- Firefox 57 and up

**[Affected Platforms]:**
- All Windows
- All Mac
- All Linux

**[Prerequisites]:**
- Have a Firefox profile with the latest "Firefox Notes" add-on version (2.0.0a4) installed.

**[Steps to reproduce]:**
1. Open the browser with the profiles from prerequisites.
2. Click the "Sync Your Notes" button from the bottom-right part of

[2017-10-17 09:04] Softvision-MariusComan opened #326 "The sidebar is no longer displayed in a new window if it is opened from the "Firefox Notes" sign-in window"
**[Affected versions]:**
- Firefox Notes 2.0.0a4
- Firefox 56 and up

**[Affected Platforms]:**
- All Windows
- All Mac
- All Linux

**[Prerequisites]:**
- Have a Firefox profile with the latest "Firefox Notes" add-on version (2.0.0a4) installed.

**[Steps to reproduce]:**
1. Open the browser with the profiles from prerequisites.
2. Click the "Sync Your Notes" button from the bottom-right part of

[2017-10-17 09:46] Softvision-MariusComan opened #327 "The "Disable Sync" option is still displayed in other windows after you log off"
**[Affected versions]:**
- Firefox Notes 2.0.0a4
- Firefox 56 and up

**[Affected Platforms]:**
- All Windows
- All Mac
- All Linux

**[Prerequisites]:**
- Have a Firefox profile with the latest "Firefox Notes" add-on version (2.0.0a4) installed.
- Have multiple windows opened.
- You must be logged into "Firefox Notes".

**[Steps to reproduce]:**
1. Open the browser with the profiles from prerequi

[2017-10-17 12:47] Softvision-MariusComan opened #328 "Sync no longer works"
**[Notes]:**
- The sync option also no longer works on older "Firefox Notes" builds.

**[Affected versions]:**
- Firefox Notes 2.0.0a4
- Firefox 56 and up

**[Affected Platforms]:**
- All Windows
- All Mac
- All Linux

**[Prerequisites]:**
- Have two Firefox profiles with the latest "Firefox Notes" add-on version (2.0.0a4) installed.
- Have valid "Firefox Notes" credentials.

**[Steps to reproduce

[2017-10-17 12:51] Natim commented on #328
I guess this is because we use kinto.dev which is flush everynight and the current kinto.js code doesn't handle server flushed.

[2017-10-17 13:45] Softvision-MariusComan opened #329 "The text formatting options wrongly reset to default after the formatted content is erased"
**[Notes]:**
- On Google Docs, Libre Office and Mozilla Thunderbird after the formatted text is erased the options persist.

**[Affected versions]:**
- Firefox Notes 2.0.0a4
- Firefox 56 and up

**[Affected Platforms]:**
- All Windows
- All Mac
- All Linux

**[Prerequisites]:**
- Have a Firefox profile with the latest "Firefox Notes" add-on version (2.0.0a4) installed.

**[Steps to reproduce]:**
1

[2017-10-18 08:12] Softvision-MariusComan opened #330 "The content area from "Firefox Notes" sidebar does not gain focus when it is opened or switched"
**[Notes]:**
- When the Bookmarks or History sidebars are opened, their search bar is automatically focused.

**[Affected versions]:**
- Firefox Notes 2.0.0a4
- Firefox 56 and up

**[Affected Platforms]:**
- All Windows
- All Mac
- All Linux

**[Prerequisites]:**
- Have a Firefox profile with the latest "Firefox Notes" add-on version (2.0.0a4) installed.
- The sidebar is closed.

**[Steps to repro

[2017-10-18 09:55] Softvision-MariusComan opened #331 "An artefact is wrongly displayed in the top left corner of the toolbar, after pasting specific content from Wikipedia"
**[Affected versions]:**
- Firefox Notes 2.0.0a4
- Firefox 56 and up

**[Affected Platforms]:**
- All Windows
- All Mac
- All Linux

**[Prerequisites]:**
- Have a Firefox profile with the latest "Firefox Notes" add-on version (2.0.0a4) installed.
- [Reduced test case](https://github.com/mozilla/notes/files/1394160/Wikipedia.zip).

**[Steps to reproduce]:**
1. Open the webpage from the attachment w

[2017-10-18 10:20] Natim commented on #331
Does it disappear if you reopen the sidebar?

[2017-10-18 10:24] SoftVision-CarmenFat opened #332 "Firefox Notes experiment doesn't display its author on "about:addons" page"
[Affected versions]:
- Firefox 56.0 and up
- Firefox Notes v2.0.0a4
- Firefox Notes 1.8.0dev
- Firefox Notes Test Pilot version.

[Affected Platforms]:
- All Windows
- All Mac
- All Linux

[Prerequisites]:
- Have a Firefox profile with the latest Firefox Notes version (v2.0.0a4 or 1.8.0dev).

[Steps to reproduce]:
1. Open the browser and navigate to "about:addons" page.
2. Click on the "Extensions

[2017-10-18 11:14] Softvision-MariusComan commented on #331
Yes, if I reopen the sidebar then the artefact disappears.

[2017-10-18 14:52] SoftVision-CarmenFat commented on #322
I agree with Natim, all the pasted text (+ links) should get the active formats.

[2017-10-18 15:29] Softvision-MariusComan opened #333 "The "Firefox Notes" menu button is not white on Dark Theme"
**[Notes]:**
- The issue is reproducible only on the "sync" branch of "Firefox Notes" 2.0.0a4 build.

**[Affected versions]:**
- Firefox 56 and up

**[Affected Platforms]:**
- All Windows
- All Mac
- All Linux

**[Prerequisites]:**
- Have a Firefox profile with the latest "Firefox Notes" add-on version (2.0.0a4) installed.
- Set the "Firefox Notes" theme to Dark in about:addons.

**[Steps to repro

[2017-10-19 03:21] cedricium commented on #333
This is a simple fix, just need to create the dark-styled `three-dots.svg` (as found here: https://github.com/mozilla/notes/blob/sync-v4/src/sidebar/styles.css#L189) and apply it to the `styles-dark.css`. I'll go ahead and fix this.

[2017-10-19 14:46] cedricium commented on #322
Got it, will make sure all text gets the active formats 👍

[2017-10-19 14:46] #322 closed

[2017-10-19 16:45] Natim commented on #307
I tried to fix that and it doesn't look trivial at all, I was also able to reproduce it in the quill.js playground.

[2017-10-19 16:54] #304 closed

[2017-10-19 21:30] Natim opened #338 "Investigate using another editor than Quill.JS"
We have a bunch of Quill.JS bugs.

@johngruen suggested to try https://ckeditor.com/ckeditor-5-builds/ and see if we have less bug with it that we have with Quill.JS

[2017-10-20 09:11] Natim commented on #179
@ajomadlabs you can give it a try unless @cedricium is already working on it.

[2017-10-20 09:31] Natim commented on #333
Fixed with #334

[2017-10-20 09:31] #333 closed

[2017-10-20 09:34] Natim commented on #307
Refs https://github.com/quilljs/quill/issues/1777

[2017-10-20 13:45] Softvision-CristinaBadescu commented on #271
I was able to reproduce this issue in two different scenarios, using Firefox Notes 1.8.0dev version, on latest Nightly 58.0a1 build (2017-10-19), on Windows 10x64, Mac 10.12 and Ubuntu 14.04.

**First scenario:**

[Steps to reproduce]
1. Write something in "Notes" sidebar, without formatting.
2. Change the font size and select any formatting options.
3. Type a link and observe its behavior.

[Actu

[2017-10-20 14:46] Natim commented on #271
Did you try it with latest master?

[2017-10-20 14:46] Natim commented on #271
We don't have a build with that feature landed yet

[2017-10-20 14:53] Softvision-CristinaBadescu commented on #271
The build I've used was created in the morning (about 8 hours ago) by cloning the master branch from Notes repository.

[2017-10-20 14:54] Natim commented on #271
Ok then thanks :)

[2017-10-20 14:56] Softvision-CristinaBadescu opened #339 "The links are not actionable after approximately 10 minutes of inactivity"
[Affected versions]:
- Firefox 56 and up
- Firefox Notes 1.8.0dev

[Affected Platforms]:
- All Windows
- All Mac
- All Linux

[Prerequisites]:
- Have a Firefox profile with the latest Firefox Notes version (1.8.0dev version) installed on a clean profile.

[Steps to reproduce]:
1. Open the browser with the profile from prerequisites.
2. Paste or write some links in the "Notes" sidebar.
3. For at le

[2017-10-20 15:00] SoftVision-CarmenFat commented on #304
The issue is no longer reproducible on the latest "Firefox Notes"v.1.8.0 (built on 10/20/2017).

[2017-10-20 15:15] cedricium commented on #339
Interesting 😕, will definitely look into this. Good find!

[2017-10-20 15:17] cedricium commented on #179
@Natim this should be closed, fixed via #302 (0804612)

[2017-10-20 15:19] cedricium commented on #273
@SoftVision-CarmenFat can you verify this when you get a chance, should be in the latest `master` branch.

[2017-10-20 15:19] cedricium commented on #286
@Softvision-MariusComan can you verify this when you get a chance, should be in the latest `master` branch.

[2017-10-20 15:21] #179 closed

[2017-10-20 15:22] Natim commented on #286
If I understood correctly we should close it and they will validate if it is still reproducible or not :)

[2017-10-20 15:22] #286 closed

[2017-10-20 15:36] Softvision-MariusComan commented on #286
The issue is no longer reproducible on the latest "Firefox Notes" add-on version (1.8.0dev custom build from 10.20.2017), retested on Windows 10 x64, Ubuntu 14.04 and Mac OS 10.12 on Firefox Release (56.0) and latest Nightly (58.0a1-20171020100426).

[2017-10-20 15:53] cedricium commented on #271
I see the issue now - it deals with the way Quill creates the elements when applying formatting.

If you have active formatting, for example `bold` and `italics` and some text that says 'hello world', then the HTML of the Notes editor would like this:
[code]
Then if a URL is typed following the 'hello world' (where the cursor is in the above code), the moment our link-detection function applies th

[2017-10-20 15:55] cedricium commented on #273
@Natim this can be closed as well.

[2017-10-20 15:55] SoftVision-CarmenFat commented on #299
- The issue is no longer reproducible on the latest Firefox Notes v.1.8.0dev, built today 10/20/2017.
- "Opening Login..." string is shown for 6 seconds, followed by "Verify your account..." also shown for 6 seconds. After that, the "Saved at (hour)" string is displayed.

[2017-10-20 15:56] Softvision-CristinaBadescu opened #343 "Hyperlinks format options are canceled when choosing the numbered (or bulleted) list options if plain text was previously typed"
[Affected versions]:
- Firefox 56 and up
- Firefox Notes v1.8.0dev version

[Affected Platforms]:
- All Windows
- All Mac
- All Linux

[Prerequisites]:
- Have a Firefox profile with the latest Firefox Notes version (v1.8.0dev).

[Steps to reproduce]
1. Have the "Notes" sidebar open with some text in it.
2. Change the font size, select any formatting options and click on "Numbered listed" icon.
3.

[2017-10-20 16:06] #307 closed

[2017-10-20 16:06] cedricium commented on #343
Same principal issue as described here: https://github.com/mozilla/notes/issues/271#issuecomment-338247010

It involves the way the HTML elements are created or deleted when applying formats.

[2017-10-20 16:07] #273 closed

[2017-10-20 16:08] Natim commented on #265
@cedricium do you have any idea how I can detect the indent level Jason Chen is talking about in the comment below?

[2017-10-20 16:20] cedricium commented on #265
I'm not sure. First thought would be that `context` is an Object that would have the `indent` format specified (as well as the indent level).

Or by "check indent level" he might mean manually getting the format using `quill.getFormat()` (https://quilljs.com/docs/api/#getformat) which would give you the indent level if the `indent` format is active for the given `range`.

[2017-10-20 18:20] cedricium commented on #339
@Softvision-CristinaBadescu was this tested using `master` branch? I was not able to reproduce.

[2017-10-23 08:29] Softvision-CristinaBadescu commented on #339
Hello @cedricium ,

When I filed the issue, the build I've used was created in the Friday morning by cloning the master branch from Notes repository.

I can confirm that I was able to reproduce again this issue, on latest Nightly build 58.0a1(2017-10-22), on Windows 10 x64, Mac 10.12 and Ubuntu 14.04 x64, using Firefox Notes 1.8.0dev version (this build was also created by cloning the master branc

[2017-10-23 11:36] Softvision-CristinaBadescu commented on #332
I was able to reproduce intermittently this issue on clean new profiles using Firefox Notes 1.8.0dev (built today 2017-10-23) version, using latest Nightly build 58.0a1 (2017-10-22), on Mac 10.12. and Windows 10 x64.
Here is a screenshot of the issue, with the Web console open:
![notes](https://user-images.githubusercontent.com/31244235/31887011-673d19c4-b7ff-11e7-9dcd-7953f06f78fa.png)

@Natim, c

[2017-10-23 14:09] SoftVision-CarmenFat commented on #307
The issue is no longer reproducible with the latest Firefox Notes v.1.8.0dev (built today 10/23/2017).

![verif](https://user-images.githubusercontent.com/26000308/31893701-df87289c-b814-11e7-9560-a5b1d4ab71c2.png)

[2017-10-23 14:11] SoftVision-CarmenFat commented on #273
The issue is no longer reproducible with the latest Firefox Notes v.1.8.0dev (built today 10/23/2017), using both "Space" and "Tab" keys.

[2017-10-23 17:05] cedricium commented on #339
Interesting! I noticed it looks like the entire sidebar refreshes, then when it comes back up the link formatting gets dropped.

cc: @Natim @vladikoff know why the sidebar might refresh like that? In the above video, the refresh occurs around 3:09.

[2017-10-24 01:19] jeremyredhead commented on #168
@wresuolc Out of curiosity, what are dangers of letting things be dragged in?

[2017-10-24 12:05] Softvision-MariusComan opened #345 "Extra rows are wrongly pasted when certain content is copied"
**[Notes]:**
- The issue is reproducible on the following websites:
		- https://www.youtube.com/
		- https://www.amazon.com/
		- https://9gag.com/

**[Affected versions]:**
- Firefox 56 and up

**[Affected Platforms]:**
- All Windows
- All Mac
- All Linux

**[Prerequisites]:**
- Have a Firefox profile with the latest "Firefox Notes" add-on version (1.8.0dev custom build from 10.23.2017) installed.

[2017-10-24 14:20] SoftVision-CarmenFat opened #346 "Last notation is kept after deleting a multilevel list"
[Affected versions]:
- Firefox 56.0 and up
- Firefox Notes v.1.8.0dev

[Affected Platforms]:
- All Windows
- All Mac
- All Linux

[Prerequisites]:
- Have a Firefox profile with the latest "Firefox Notes" add-on version (1.8.0dev custom build from 10.24.2017) installed.

[Steps to reproduce]:
1. Open the browser with the profile from prerequisites.
2. Click on "Numbered List" button
3. Type somethi

[2017-10-24 14:23] SoftVision-CarmenFat commented on #253
The issue is no longer reproducible with the latest Firefox Notes v.1.8.0dev (built today 10/24/2017).

[2017-10-24 14:23] Softvision-MariusComan opened #347 "The bullet is wrongly placed if the selected text is on 2 rows"
**[Affected versions]:**
- Firefox 56 and up

**[Affected Platforms]:**
- All Windows
- All Mac
- All Linux

**[Prerequisites]:**
- Have a Firefox profile with the latest "Firefox Notes" add-on version (1.8.0dev custom build from 10.24.2017) installed.
- Have a sentence of minimum two rows in the "Firefox Notes" sidebar.

**[Steps to reproduce]:**
1. Open the browser with the profile from prerequi

[2017-10-25 08:58] Softvision-CristinaBadescu opened #348 "When pasting a paragraph inutile spaces appear"
[Affected versions]:
- Firefox 56 and up
- Firefox Notes v.1.8.0dev

[Affected Platforms]:
- All Windows
- All Mac
- All Linux

[Prerequisites]:
- Have a Firefox profile with the latest Firefox Notes v.1.8.0dev .

[Steps to reproduce]:
1. Open the browser with the profile from prerequisites.
2. Paste a paragraph in the "Notes" sidebar and observe its appearance.

[Expected result]:
- The pasted pa

[2017-10-25 09:30] Softvision-MariusComan opened #349 "The "blank space" character wrongly does not pass to the next row"
**[Affected versions]:**
- Firefox 56 and up

**[Affected Platforms]:**
- All Windows
- All Mac
- All Linux

**[Prerequisites]:**
- Have a Firefox profile with the latest "Firefox Notes" add-on version (1.8.0dev custom build from 10.25.2017) installed.
- Have no content in the "Firefox Notes" sidebar.

**[Steps to reproduce]:**
1. Open the browser with the profile from prerequisites and focus the

[2017-10-25 10:30] Natim commented on #332
Why are you still testing with Notes 1.8.0?
Here is the last version of master:
[addon-1.9.0dev.zip](https://github.com/mozilla/notes/files/1414223/addon-1.9.0dev.zip)

[2017-10-25 10:33] Natim commented on #332
![screenshot](https://user-images.githubusercontent.com/229453/31994376-bca5c78a-b980-11e7-81e9-935898b5362f.png)

[2017-10-25 10:36] Natim commented on #339
It might be due to the `npm run start` process refreshing and failing because it looks like to when from the master version to the last released one.

[2017-10-25 11:30] Softvision-MariusComan opened #350 "Pressing Enter at the beginning of a row does not move content to a new row"
**[Affected versions]:**
- Firefox 56 and up

**[Affected Platforms]:**
- All Windows
- All Mac
- All Linux

**[Prerequisites]:**
- Have a Firefox profile with the latest "Firefox Notes" add-on version (1.8.0dev custom build from 10.25.2017) installed.
- Write a sentence of minimum two rows in the "Firefox Notes" sidebar.

**[Steps to reproduce]:**
1. Open the browser with the profile from prerequ

[2017-10-25 11:31] Softvision-CristinaBadescu commented on #332
I've tested with Firefox Notes 1.8.0dev version and I assume that the reason why I managed to encounter this is because Notes updated itself to the Test Pilot version.
Considering this, I will close this issue.

[2017-10-25 11:31] #332 closed

[2017-10-25 12:23] Natim commented on #339
According to #351 it might even be because TestPilot updates from 1.8.0dev to 1.8.0

[2017-10-25 12:23] #339 closed

[2017-10-25 12:32] Softvision-MariusComan opened #352 "The text caret is wrongly moved at the end of the previous row when the "Space" key is pressed"
**[Affected versions]:**
- Firefox 56 and up

**[Affected Platforms]:**
- All Windows
- All Mac
- All Linux

**[Prerequisites]:**
- Have a Firefox profile with the latest "Firefox Notes" add-on version (1.8.0dev custom build from 10.25.2017) installed.
- Have a sentence of minimum two rows in the "Firefox Notes" sidebar.

**[Steps to reproduce]:**
1. Open the browser with the profile from prerequi