[2017-10-25 13:50] Softvision-CristinaBadescu commented on #348
I assume this issue may also affect the active text formatting options when pasting a paragraph. I have changed the size font and select some text formatting options (Bold, Italic, Strikethrough) and observed the pasted paragraph.

You can see the behavior below:
![formatting with inutile spaces](https://user-images.githubusercontent.com/31244235/32002167-76363e96-b9a4-11e7-8bbd-3c2e20728edf.gif)

[2017-10-25 14:57] Softvision-CristinaBadescu commented on #339
I can confirm this issue is no longer reproducible using Firefox Notes 1.9.0dev version, on latest Nightly build 58.0a1 (2017-10-25), on Windows 10 x64, Mac 10.12 and Ubuntu 14.04 x64.

[2017-10-25 15:26] SoftVision-CarmenFat opened #353 "Last notation from a list is not selected if it doesn't have any text"
[Notes]:
- I noticed that this issue is also reproducible when having one or more notations without text before the last one.

[Affected versions]:
- Firefox 56.0 and up
- Firefox Notes 1.9.0dev
- Firefox Notes 2.0.0a5

[Affected Platforms]:
- All Windows
- All Mac
- All Linux

[Prerequisites]:
- Have a Firefox profile with the latest "Firefox Notes" add-on version (1.9.0dev custom build from 10.2

[2017-10-25 15:30] SoftVision-CarmenFat opened #354 "Changing the way of listing more than 200 items takes too much time"
[Affected versions]:
- Firefox 56.0 and up
- Firefox Notes 1.9.0dev
- Firefox Notes 2.0.0a5

[Affected Platforms]:
- All Windows
- All Mac
- All Linux

[Prerequisites]:
- Have a Firefox profile with the latest "Firefox Notes" add-on version (1.9.0dev custom build from 10.25.2017) installed.

[Steps to reproduce]:
1. Open the browser with the profile from prerequisites.
2. Click on "Numbered List"

[2017-10-25 16:11] SoftVision-EmilPasca commented on #323
Refs: [1411646](https://bugzilla.mozilla.org/show_bug.cgi?id=1411646)

[2017-10-26 09:25] Natim commented on #354
This is related to heavy edits and I am wondering if the text-change event is trigger for all of them. In that case we should debounce saving locally.

[2017-10-26 09:52] Natim opened #355 "Clicking on the toolbar once connected should trigger a manual sync"

[2017-10-26 10:01] Natim commented on #323
[code]

[2017-10-26 10:17] Natim opened #356 "Conflict handling fails"
TypeError: conflict.remote is null

Collection had record Object { data: Object, permissions: Object }
Handling conflict Object { type: "outgoing", local: Object, remote: null }

[2017-10-26 10:20] Natim commented on #356
@glasserc Do you have any idea why remote could be null? I checked manually and the remote does contain something:

[code]

[2017-10-26 10:21] Natim commented on #271
@cedricium Yes I guess it worth filing a bug for it.

[2017-10-26 10:28] Natim opened #357 "When opening the sidebar, the sync is triggered with the wrong design"
![out ogv](https://user-images.githubusercontent.com/229453/32048255-395c3a34-ba49-11e7-81e5-a8c57e29a6c1.gif)

[2017-10-26 10:32] Natim commented on #323
Fixed with f2fc45342248c2a6856b7dd842d8bf0a8c902118

[2017-10-26 10:32] Natim commented on #356
It eventually worked but we should still handle this case.

[2017-10-26 10:34] Natim commented on #356
It should not handle conflict with the startup content.

[2017-10-26 11:26] Natim commented on #327
Fixed with 28bfc11

[2017-10-26 11:26] #327 closed

[2017-10-26 11:36] Natim commented on #237
I guess this is related to Quill JS itself that trim the notepad a little bit.
Does the space stays locally if you close and reopen the sidebar?

[2017-10-26 11:39] Natim commented on #237
Actually I wasn't able to reproduce, the space were correctly synced that time.

[2017-10-26 11:39] #237 closed

[2017-10-26 12:22] SoftVision-CarmenFat opened #358 "The URL is not linked when typing it with Capital Letters"
[Affected versions]:
- Firefox 56.0 and up
- Firefox Notes 1.9.0dev

[Affected Platforms]:
- All Windows
- All Mac
- All Linux

[Prerequisites]:
- Have a Firefox profile with the latest "Firefox Notes" add-on version (1.9.0dev custom build from 10.26.2017) installed.

[Steps to reproduce]:
1. Open the browser with the profile from prerequisites.
2. Press the "Caps Lock" key.
2. Type a valid URL (e

[2017-10-26 12:45] #300 closed

[2017-10-26 12:49] Natim commented on #356
I am closing this with #359 let see if we need to reopen it later.

[2017-10-26 12:50] #356 closed

[2017-10-26 12:54] Natim commented on #354
Could you file a QuillJS bug for that?

[2017-10-26 12:55] Natim commented on #353
Can you file a QuillJS bug for this one?

[2017-10-26 12:56] Natim commented on #352
I don't think this is a bug, it is the way HTML works. If you had multiple spaces then they will eventually switch to the next line.

[2017-10-26 12:58] Natim commented on #350
I don't think this is a bug that's the way HTML works. If you press enter twice you will have a new row plus an empty line.

This is because we are still on the same line even if it looks like two rows.

[2017-10-26 13:02] Natim commented on #348
I wonder why, I wasn't able to reproduce it in the QuillJS playground.

[2017-10-26 13:03] Natim commented on #348
It seems to be somehow related to the sidebar CSS max-size 😱 .

[2017-10-26 13:04] Natim commented on #347
i wonder why, I wasn't able to reproduce with the Quill.js playground

[2017-10-26 13:21] #328 closed

[2017-10-26 13:23] Natim commented on #329
I was able to reproduce this bug with the Quill Playground. Can we file it upstream?

[2017-10-26 13:36] Natim commented on #345
@cedricium do you know if this can be related to the text-change events that we handle for links?

[2017-10-26 13:38] Natim commented on #296
I believe this was fixed with #342

[2017-10-26 13:38] #296 closed

[2017-10-26 13:39] Natim commented on #247
Closed with #342

[2017-10-26 13:39] #247 closed

[2017-10-26 13:57] Softvision-CristinaBadescu commented on #348
During testing I've observed that this issue is not reproducible when pasting a paragraph from Chrome.

[2017-10-26 14:01] SoftVision-CarmenFat commented on #354
Sure, files issue [#1792](https://github.com/quilljs/quill/issues/1792)

[2017-10-26 14:02] Natim commented on #348
Thank you for this information, maybe it is actually a Firefox bug then.

[2017-10-26 14:07] Natim commented on #216
I tried in #360 but I have devtools is not defined and browser.devtools is not defined.

[2017-10-26 14:07] Natim commented on #216
Ok let me try this.

[2017-10-26 14:11] Natim commented on #216
No luck either.

[2017-10-26 14:17] Softvision-CristinaBadescu commented on #348
It could be, but wouldn't the fact that the issue is not reproducible on QuillJS playground disprove this theory?

[2017-10-26 14:26] Softvision-CristinaBadescu opened #361 "The "Centered" or "Right" alignment is wrongly kept when pasting a text in "Notes" sidebar"
[Affected versions]:
- Firefox 56 and up
- Firefox Notes v1.9.0dev

[Affected Platforms]:
- All Windows
- All Linux

[Prerequisites]:
- Have a Firefox profile with the latest Firefox Notes v1.9.0dev.

[Steps to reproduce]:
1. Open the browser with the profile from prerequisites.
2. Have some text with a "Centered" or "Right" alignment and paste it in the "Notes" sidebar.
3. Observe the behavior.

[2017-10-26 14:38] Natim commented on #216
After speaking with @rpl on IRC it seems impossible to access this webextension API from outside the scope of the devtools extension.

[2017-10-26 14:38] #216 closed

[2017-10-26 15:13] Natim commented on #180
Open discussion about deploying a new stack.

[2017-10-26 15:16] #352 closed

[2017-10-26 15:18] #350 closed

[2017-10-26 15:21] johngruen commented on #94
Based on Quill's own editor demos this seems resolvable. Worth a bit more investigation

[2017-10-26 15:24] johngruen commented on #348
putting this in sprint, but mostly as a reminder to investigate a bit further.

[2017-10-26 15:27] johngruen commented on #347
We think this is related to the links feature.

[2017-10-26 15:36] Natim commented on #331
It seems to be button to handle adding rows or lines to a table.

[2017-10-26 15:39] Natim commented on #216
It actually works only if the devtool panel is open...

[2017-10-26 15:43] SoftVision-CarmenFat opened #362 "The text is bolded when copy and pasting it from gdoc to notes if using different browsers"
[Affected versions]:
- Firefox 56.0 and up
- Firefox Notes 1.9.0dev

[Affected Platforms]:
- All Windows
- All Mac
- All Linux

[Prerequisites]:
- Have a Firefox profile with the latest "Firefox Notes" add-on version (1.9.0dev custom build from 10.26.2017) installed.
- Have several Gdocs opened in different browsers (Chrome, Opera, Edge, Chromium, Safari).

[Steps to reproduce]:
1. Open a Gdoc tha

[2017-10-26 16:13] cedricium commented on #345
@Natim looks like because the entire YT logo is being highlighted (not just the country code text), the contents of the clipboard has included the anchor tag from the logo itself. Yes this is related to the text-change events, most certainly the `quill.clipboard.addMatcher(Node.TEXT_NODE, function(node, delta)` function.

This is somewhat reproducible on quilljs.com (just not as many lines):

![sc

[2017-10-26 18:42] rpl commented on #216
Currently the only way to have the DevTools theme name in the sidebar is to forward it from a devtools_page (e.g. by using the browser.runtime.sendMessage API call from the devtools_page and browser.runtime.onMessage API event on the sidebar page side).

It is also worth to mention that the devtools page is an invisible page, like the background page, but unlike the background page:

- it doesn't

[2017-10-27 04:33] sebastienbarbier commented on #357
@Natim Can't find a dedicated event on load between authenticate and text-synced ... might need your help on this one.

[2017-10-27 09:04] #355 closed

[2017-10-27 09:06] Natim commented on #357
I guess you need to detect if the user has got credentials before running kinto-load event?

[2017-10-27 09:09] Natim commented on #357
It would probably be good enought to run getLastSyncedStatus at startup.

[2017-10-27 09:35] Natim opened #364 "When disabling sync we cannot connect anymore"
1. Login
2. Disable sync
3. Try to login again

Expected:

- The login windows opens

Actual result

- Nothing happens.

[2017-10-27 09:36] Natim commented on #323
It is still the case if Kinto is empty

[2017-10-27 09:48] #323 closed

[2017-10-27 10:09] Natim commented on #364
439fbf0

Paired with @sebastienbarbier

[2017-10-27 10:09] #364 closed

[2017-10-27 10:22] #357 closed

[2017-10-27 11:44] Natim commented on #361
@cedricium do you know if we could use removeFormat on pasted content? I tried to add some code about that to your clipboard handler but I don't know how to convert the delta in index and length.

[2017-10-27 15:16] cedricium commented on #361
@Natim I've been trying to find a solution but the only way I can get it to work is to set all of the formatting options to `false`. It's by no means elegant and I'm sure there's a better way, I just can't figure it out this morning :/

See this example codepen: https://codepen.io/anon/pen/JOPqrR?editors=0010

[2017-10-27 18:54] ryanfeeley opened #367 "Improve footer usability"
I appreciate your patience here gang, this is a tough one to get right.

I have already updated Firefox Notes with changes proposed in this mockup.

![hover111](https://user-images.githubusercontent.com/68213/32184387-778454f0-bd72-11e7-990d-45f028da8de1.gif)

Ideally most users are in this state most of the time.

Proposed improvements:
* Cursor should switch to pointer over clickable area
* Enti

[2017-10-29 18:09] kekkc commented on #40
Cool, many thanks. Would be awesome if sth. would be ready before FF 57 arrives.

[2017-10-30 12:41] wellington1993 opened #368 "Suggestion: Add support to Markdown"
Please add support to markdown like Github

[2017-10-30 12:43] wellington1993 opened #369 "Suggestion: Syntax Highlight"
Add syntax highlight  like CodeRay

[2017-10-30 12:43] wellington1993 opened #370 "Suggestion: Add export to Gist"
Please add export way to gist (Github)

[2017-10-30 12:44] wellington1993 opened #371 "Suggestion: Add revision control and edit history"
Please Add revision control and edit history like Google Docs

[2017-10-30 14:27] Softvision-MariusComan opened #372 "A bullet will be wrongly displayed in the front of a link, if you write the " - " string right after it"
**[Notes]:**
- The issue is not reproducible if you use text instead of a link.

**[Affected versions]:**
- Firefox 56 and up

**[Affected Platforms]:**
- All Windows
- All Mac
- All Linux

**[Prerequisites]:**
- Have a Firefox profile with the latest "Firefox Notes" add-on version (1.9.0dev custom build from 10.30.2017) installed.
- Copy a link to the clipboard.

**[Steps to reproduce]:**
1. Open

[2017-10-30 15:01] Natim opened #373 "Notes 2.0 should alter the user that the sync feature is ready"
![sync-ready](https://user-images.githubusercontent.com/229453/32178982-72c0568c-bd8e-11e7-8eb1-160613c77cd4.png)

[2017-10-30 16:05] Softvision-MariusComan opened #374 "A part of the previous content is wrongly hyperlinked when you press undo after pasting a link"
**[Affected versions]:**
- Firefox 56 and up

**[Affected Platforms]:**
- All Windows
- All Mac
- All Linux

**[Prerequisites]:**
- Have a Firefox profile with the latest "Firefox Notes" add-on version (1.8.0dev custom build from 10.30.2017) installed.
- Have a link copied to clipboard.

**[Steps to reproduce]:**
1. Open the browser with the profile from prerequisites.
2. Write a word (e.g. test),

[2017-10-31 12:03] Caspy7 commented on #216
This bug just landed in 58 to let extensions obtain information about the current theme.
https://bugzilla.mozilla.org/show_bug.cgi?id=1349944
Would that allow this?

[2017-10-31 12:45] SoftVision-CarmenFat commented on #296
The issue is no longer reproducible with the latest Firefox Notes v.1.9.0dev (built today 10/31/2017).

[2017-10-31 12:55] Softvision-MariusComan opened #375 "If you quickly paste a string multiple times, undoing the last action will remove previous strings"
**[Notes]:**
- The issue is not reproducible if you wait ~1 second between the pasting actions.

**[Affected versions]:**
- Firefox 56 and up

**[Affected Platforms]:**
- All Windows
- All Mac
- All Linux

**[Prerequisites]:**
- Have a Firefox profile with the latest "Firefox Notes" add-on version (1.9.0dev custom build from 10.31.2017) installed.
- Have a string copied to the clipboard.

**[Steps

[2017-10-31 13:46] SoftVision-CarmenFat commented on #300
Hi @Natim,

Tested this with the latest Firefox Notes version 1.9.0dev (built today 10/31/2017) and this is what I noticed:
- "Saving changes..." is displayed instead of "Editing" string. Since I'm not doing any changes in the Sidebar, is this intended behavior?
- Must mention that the "Saving changes..." string doesn't appear if there is no text at all in the Notes Sidebar.

[2017-10-31 14:23] Softvision-MariusComan opened #376 "Text caret is wrongly moved at the beginning of a link after it is pasted"
**[Notes]:**
- The issue is reproducible only if you copy the link from the "Firefox Notes" sidebar.

**[Affected versions]:**
- Firefox 56 and up

**[Affected Platforms]:**
- All Windows
- All Mac
- All Linux

**[Prerequisites]:**
- Have a Firefox profile with the latest "Firefox Notes" add-on version (1.8.0dev custom build from 10.31.2017) installed.
- Have a link in the "Firefox Notes" sidebar.

[2017-10-31 15:47] Softvision-MariusComan opened #377 "The first letter of a link is not pasted together with the link"
**[Notes]:**
- The issue is reproducible only if there is a "blank space" character after the link.
- The issue is not reproducible if you copy an anchor link.
- The issue is not reproducible if you copy the link from the "Firefox Notes" sidebar (see bug https://github.com/mozilla/notes/issues/376).

**[Affected versions]:**
- Firefox 56 and up

**[Affected Platforms]:**
- All Windows
- All Mac
-

[2017-10-31 15:51] SoftVision-CiprianMuresan opened #378 "An extra tab is wrongly opened if you Ctrl+Click or Shift+Click a link"
[Affected versions]:
- Firefox 57 and up
- Notes 1.9.0dev

[Affected Platforms]:
- All Windows
- All Mac
- All Linux

[Prerequisites]:
- Latest Notes add-on (1.9.0dev) was previously installed on a clean profile.
- Have a link in the Notes sidebar.

[Steps to reproduce]:
1. Open the browser with the profile from prerequisites.
2. Ctrl/Cmd + Click the link and observe the behavior.

[Expected resul

[2017-10-31 21:41] vladikoff commented on #338
@cedricium if you have time see if you can prototype the swap of Quill with ckeditor 5. Let me know, feel free to pull request a prototype branch! One different thing we noticed was that ckeditor only has "headings" and not font-sizes. Might need to investigate that

[2017-11-02 09:20] stripTM opened #379 "Find inside note"
For long notes it would be desirable to have a text search.

[2017-11-02 10:45] Synj24 commented on #368
#183

[2017-11-02 14:45] johngruen opened #380 "Implement Links to match UX Spec"
[Per this spec](https://mozilla.invisionapp.com/share/6VBUYHMRB#/screens/235284916) which is has other stuff going on also. This bug is EXCLUSIVELY for tracking the link part of the spec.

- [ ] it should add a link button to the URL bar
- [ ] if **text is highlighted** link button should turn blue on hover
- [ ] clicking active link button should result in the display of an input for entering URL

[2017-11-02 15:12] johngruen commented on #331
🤷‍♂️🤷‍♂️

[2017-11-02 17:21] SoftVision-CarmenFat opened #381 "The shortcut for Strikethrough option doesn't work if there is no selected text"
[Affected versions]:
- Firefox 56.0.2 and up
- Notes 1.9.0dev

[Affected Platforms]:
- All Windows
- All Mac
- All Linux

[Prerequisites]:
- Latest Notes experiment (1.9.0dev built on 11/02/2017) was previously installed on a clean profile.

[Steps to reproduce]:
1. Open the browser with the profile from prerequisites.
2. Focus the editing area of Notes Sidebar.
3. Press "Ctrl"+"Shift"+"X" keys an

[2017-11-02 19:11] cedricium commented on #338
Have a branch setup for this:  [`cedricium/notes:ckeditor-concept`](https://github.com/cedricium/notes/tree/ckeditor-concept)

Currently working on getting all of the saving and syncing of editor contents setup locally as well as analytics working properly. Will open a PR for this prototype once that's finished.

[2017-11-02 19:16] vladikoff commented on #338
Opened https://github.com/mozilla/notes/pull/382 just so we can see the changes, awesome work, trying it now..

[2017-11-03 15:32] Softvision-CristinaBadescu opened #383 "The active text formatting is wrongly kept only for the last pasted link"
[Affected versions]:
- Firefox 56 and up
- Firefox Notes v1.9.0dev

[Affected Platforms]:
- All Windows
- All Mac
- All Linux

[Prerequisites]:
- Have a Firefox profile with the latest Firefox Notes v1.9.0dev .
- Have a link copied to your clipboard.

[Steps to reproduce]:
1. Open the browser with the profile from prerequisites.
2. Write something in "Notes" sidebar, without formatting.
3. Paste t

[2017-11-03 15:35] Softvision-CristinaBadescu opened #384 "After pasting or cutting a text, the "Undo" option from the context menu doesn't work"
[Affected versions]:
- Firefox 56 and up
- Firefox Notes v1.9.0dev

[Affected Platforms]:
- All Windows
- All Mac
- All Linux

[Prerequisites]:
- Have a Firefox profile with the latest Firefox Notes v1.9.0dev.

[Steps to reproduce]:
1. Open the browser with the profile from prerequisites.
2. Write something in the "Notes" sidebar.
3. Copy and paste the text.
4. Right click on the editable area and

[2017-11-06 13:02] Softvision-MariusComan opened #385 "The font size and the text styles are not changed for blank rows that are between paragraphs"
**[Notes]:**
- The issue is also reproducible if you change the formatting style instead of changing the font size.

**[Affected versions]:**
- Firefox 56 and up

**[Affected Platforms]:**
- All Windows
- All Mac
- All Linux

**[Prerequisites]:**
- Have a Firefox profile with the latest "Firefox Notes" add-on version (1.9.0dev custom build from 11.06.2017) installed.
- Have minimum two paragraphs

[2017-11-06 14:53] Softvision-MariusComan opened #386 "Text size is not changed to 14, if the sidebar contains paragraphs of different sizes including 14"
**[Notes]:**
- The issue is reproducible only if you select the 14 font size value.
- The issue is not reproducible if the content does not contain a string of 14 font size value.

**[Affected versions]:**
- Firefox 56 and up

**[Affected Platforms]:**
- All Windows
- All Mac
- All Linux

**[Prerequisites]:**
- Have a Firefox profile with the latest "Firefox Notes" add-on version (1.9.0dev custom

[2017-11-07 09:47] Softvision-MariusComan opened #387 "[Enhancement] The "Font Size" button should be blank when selecting text with multiple sizes"
**[Notes]:**
- If in the content there is a string of 14 size, then the 14 value will be displayed in the "Font Size" button.
- If the content does not contains a string of 14 size, then the "Font Size" button will display the value of the focused row.

**[Affected versions]:**
- Firefox 56 and up

**[Affected Platforms]:**
- All Windows
- All Mac
- All Linux

**[Prerequisites]:**
- Have a Firefox

[2017-11-07 12:29] Softvision-CristinaBadescu opened #388 "A gray border wrongly appears when resizing the sidebar from maximum, on pages with white background"
[Notes]
- This issue is partially reproducible on Mac OS: only the "X" button has a dark border.
- This issue is not reproducible for the "Bookmarks" and "History" sidebar.
- This issue is only reproducible when the "Notes" sidebar is located in the left side.

[Affected versions]:
- Firefox 56.0.2 and up
- Firefox Notes v1.9.0dev

[Affected Platforms]:
- All Windows
- All Mac

[Prerequisites]:
-

[2017-11-07 12:34] Softvision-CristinaBadescu opened #389 ""Bold" characters from Google search results are wrongly displayed in "Italic" when pasted in "Notes" sidebar"
[Affected versions]:
- Firefox 56.0.2 and up
- Firefox Notes v1.9.0dev

[Affected Platforms]:
- All Windows
- All Mac
- All Linux

[Prerequisites]:
- Have a Firefox profile with the latest Firefox Notes v1.9.0dev installed.

[Steps to reproduce]:
1. Open the browser with the profile from prerequisites and navigate to https://www.google.com
2. Perform a search and copy text that contains "Bold" cha

[2017-11-09 15:03] Softvision-MariusComan opened #390 "The "Firefox Multi-Account Containers" option is wrongly displayed in the sidebar's context menu"
**[Affected versions]:**
- Firefox 56 and up

**[Affected Platforms]:**
- All Windows
- All Mac
- All Linux

**[Prerequisites]:**
- Have a Firefox profile with the latest "Firefox Notes" (1.9.0dev custom build from 11.06.2017) and with the latest "Multi-Account Containers" add-ons installed.

**[Steps to reproduce]:**
1. Open the browser with the profile from prerequisites.
2. Click the "Multi-Acc

[2017-11-09 19:45] vladikoff commented on #295
Fixed in https://github.com/mozilla/notes/pull/313/commits/9e483f93144cba0a22c38420a3cb73dc0c070f7c

[2017-11-09 19:45] #295 closed

[2017-11-09 23:12] vladikoff commented on #111
Added Refresh Token flow in https://github.com/mozilla/notes/pull/313/commits/98c2a7302f87d0f1d77502a721508423127958da

[2017-11-09 23:12] #111 closed

[2017-11-11 12:46] evaryont commented on #389
That's because Google uses the `<em>` element to highlight the search results, which by default has italic styling but Google overrides with emboldening in CSS. The HTML from the dev tools:

[code]

[2017-11-13 16:16] johngruen commented on #390
This is upstream and should probably be filed in webExtensions on bugzilla

@andymckay what say you?

[2017-11-13 16:26] vladikoff opened #391 "[Sync] Implement proper sign out"
Implement proper sign out when there are errors or the user signs out

cc @Natim

[2017-11-13 17:51] johngruen opened #392 "Notify user when they are upgraded to Notes with new editor"
Since we may break some formatting, we should give users a little notice about the new Notes editor. The notice should have the following features:

1. I should display over part of the notes input.
2. It should be dismissable and should not return once dismissed.
3. It should include the following copy:

**A message from the Test Pilot team:**
We replaced the text editor in Notes for greater spee

[2017-11-13 17:52] johngruen opened #393 "Notify user when we upgrade their editor"
Since we may break some formatting, we should give users a little notice about the new Notes editor. The notice should have the following features:

1. I should display over part of the notes input.
2. It should be dismissable and should not return once dismissed.
3. It should include the following copy:

**A message from the Test Pilot team:**
We have significantly upgraded the text editor in Not

[2017-11-13 17:52] #393 closed

[2017-11-13 18:02] ryanfeeley commented on #392
<img width="434" alt="image" src="https://user-images.githubusercontent.com/68213/32741024-d6c36194-c872-11e7-86c3-06edea2144aa.png">

[2017-11-13 18:10] andymckay commented on #390
Sure. I think its that there is no ability to say "don't appear in a sidebar" because the sidebar is just a "page". Notes could just override context menus in the sidebar completely, there are other parts of the context menu that don't work in sidebars like "View page source".

[2017-11-13 18:14] andymckay commented on #390
Filed: https://bugzilla.mozilla.org/show_bug.cgi?id=1416839

[2017-11-13 18:23] ryanfeeley commented on #392
Icon: Close 16 http://design.firefox.com/icons/viewer/#close

[2017-11-16 18:35] vladikoff opened #395 "Fix translation functions"
Something changed or regressed in FF57. Our `npm run start-rtl` script doesn't work anymore and then L10n function reports `en-US` instead of set locale (`ar`).

![](http://v14d.com/i/5a0d998b8dd8e.jpg)

@mathjazz any ideas?

[2017-11-16 18:35] vladikoff commented on #395
Need to double check what other extensions were/are using to detect the locale

[2017-11-16 19:19] vladikoff opened #396 "Add links support with adjusted CSS"
* [ ] Fix CSS issue with links:

## Default CKEditor Link

<img src=https://user-images.githubusercontent.com/128755/32871127-4d5b2f7c-ca4d-11e7-87af-6ad5ba0105b6.png width=280 /> We need to get rid of the `^` and make it fit 100%

## Proposed

![image](https://user-images.githubusercontent.com/128755/32911092-1d413f84-cad9-11e7-8b14-56a9bf6ebe98.png)

[2017-11-16 19:38] mathjazz commented on #395
I wouldn't know. @Pike?

[2017-11-16 20:08] Pike commented on #395
general.useragent.locale [is unsupported now](https://bugzilla.mozilla.org/show_bug.cgi?id=1410736).

We should file a bug on webext to support setting the locale via the right APIs.

(This is 58, not 57, but still)

[2017-11-17 18:12] vladikoff commented on #395
@Pike https://developer.mozilla.org/en-US/Add-ons/WebExtensions/Internationalization#Testing_out_your_extension would this still work?

[2017-11-17 18:32] Pike commented on #395
No, we'll need to figure out something to replace that, probably based on Services.locale.setRequestedLocales. CC @zbraniecki

[2017-11-17 18:50] vladikoff opened #398 "AR locale saving indicator text needs to align right"
Current:

![](http://v14d.com/i/5a0f2f73e245f.jpg)

[2017-11-20 13:19] Softvision-MariusComan commented on #330
The issue is still reproducible on Windows 10 x64, Ubuntu 14.04 x64 and Mac 10.12, with latest Firefox release (57.0) and latest Nightly build (59.0a1) installed, using the latest master build.
It is also reproducible on 1.9.0b1 build with CKeditor

[2017-11-20 13:56] Natim commented on #330
See https://stackoverflow.com/a/8699731/186202

[2017-11-20 14:05] Softvision-MariusComan opened #401 "The "Firefox Notes" sidebar has a noticeable delay when it's reopened or switched"
**[Affected versions]:**
- Firefox 57 and up

**[Affected Platforms]:**
- All Windows
- All Mac
- All Linux

**[Prerequisites]:**
- Have a Firefox profile with the latest "Firefox Notes" add-on version (1.9.0b1 build with CKeditor) installed.
- Have the "Firefox Notes" sidebar closed.

**[Steps to reproduce]:**
1. Open the browser with the profile from prerequisites.
2. Click the "Show sidebars" b

[2017-11-20 14:13] SoftVision-EmilPasca opened #402 "The Keyboard shortcuts are not displayed for the "Strikethrough", "Number list" and "Bullet list" tooltips"
**[Affected versions]:**
- Firefox 57 and up

**[Affected Platforms]:**
- All Windows
- All Mac
- All Linux

**[Prerequisites]:**
- Have a Firefox profile with the latest "Firefox Notes" add-on version (1.9.0b1 build with CKeditor) installed.

**[Steps to reproduce]:**
1. Open the browser with the profile from prerequisites.
2. Hover the "Formatting" buttons from the Notes Sidebar and observe.

**

[2017-11-20 14:18] Natim commented on #402
It is because we dont't have shortcut for them anymore.

[2017-11-20 14:50] Softvision-MariusComan opened #403 ""Heading" tooltip is wrongly displayed while hovering the "Text size" button"
**[Affected versions]:**
- Firefox 57 and up

**[Affected Platforms]:**
- All Windows
- All Mac
- All Linux

**[Prerequisites]:**
- Have a Firefox profile with the latest "Firefox Notes" add-on version (1.9.0b1 build with CKeditor) installed.

**[Steps to reproduce]:**
1. Open the browser with the profile from prerequisites.
2. Hover the "Text size" button from the sidebar's toolbar and observe th

[2017-11-20 15:03] SoftVision-EmilPasca opened #404 "The font size (heading) style wrongly affects the entire paragraph when applied to a selection"
**[Affected versions]:**
- Firefox 57 and up

**[Affected Platforms]:**
- All Windows
- All Mac
- All Linux

**[Prerequisites]:**
- Have a Firefox profile with the latest "Firefox Notes" add-on version (1.9.0b1 build with CKeditor) installed.

**[Steps to reproduce]:**
1. Open the browser with the profile from prerequisites.
2. Select a few characters in the Notes sidebar editor.
3. Apply a differ

[2017-11-20 15:19] SoftVision-EmilPasca opened #405 ""Take a note..." placeholder text is not displayed when erasing all text from the Notes content area"
**[Affected versions]:**
- Firefox 57 and up

**[Affected Platforms]:**
- All Windows
- All Mac
- All Linux

**[Prerequisites]:**
- Have a Firefox profile with the latest "Firefox Notes" add-on version (1.9.0b1 build with CKeditor) installed.

**[Steps to reproduce]:**
1. Open the browser with the profile from prerequisites.
2. Select all the text from the content area and delete it.
3. Observe th

[2017-11-20 15:45] Softvision-CristinaBadescu opened #406 "The previous ordered list is wrongly kept after you change to a different list"
**[Affected versions]:**
- Firefox 57 and up

**[Affected Platforms]:**
- All Windows

**[Prerequisites]:**
- Have a Firefox profile with the latest "Firefox Notes" add-on version (1.9.0b1 build with CKeditor) installed.

**[Steps to reproduce]:**
1. Open the browser with the profile from prerequisites.
2. Create a list with several items using "Bulleted list" option.
3. Press the "Enter" key twic

[2017-11-20 15:52] vladikoff commented on #406
Cannot reproduce this, will try again...

[2017-11-20 16:00] Softvision-MariusComan opened #407 "The empty rows between the paragraphs are no longer displayed after reopening the sidebar"
**[Affected versions]:**
- Firefox 57 and up

**[Affected Platforms]:**
- All Windows
- All Mac
- All Linux

**[Prerequisites]:**
- Have a Firefox profile with the latest "Firefox Notes" add-on version (1.9.0b1 build with CKeditor) installed.
- Have at least two paragraphs with minimum an empty row between them.

**[Steps to reproduce]:**
1. Open the browser with the profile from prerequisites.
2.

[2017-11-20 16:21] Softvision-MariusComan opened #408 "There is too much space between two rows"
**[Affected versions]:**
- Firefox 57 and up

**[Affected Platforms]:**
- All Windows
- All Mac
- All Linux

**[Prerequisites]:**
- Have a Firefox profile with the latest "Firefox Notes" add-on version (1.9.0b1 build with CKeditor) installed.

**[Steps to reproduce]:**
1. Open the browser with the profile from prerequisites.
2. Write a string in the "Firefox Notes" sidebar and press the "Enter" ke

[2017-11-20 16:24] SoftVision-CarmenFat opened #409 "Former "Strikethrough" shortcut reverses Note's footer items"
Affected versions]:
- Firefox 57 and up

[Affected Platforms]:
- All Windows
- All Mac
- All Linux

[Prerequisites]:
- Have a Firefox profile with the latest "Firefox Notes" add-on version (1.9.0b1 build with CKeditor) installed.

[Steps to reproduce]:
1. Open the browser with the profile from prerequisites.
2. Focus Notes sidebar.
3. Press "Ctrl" (Cmd)+"Shift"+"X" keys and observe Note's footer.

[2017-11-20 16:24] Softvision-CristinaBadescu opened #410 "Bulleted/Numbered list tooltips are wrongly truncated at different sidebar widths"
**[Affected versions]:**
- Firefox 57 and up

**[Affected Platforms]:**
- All Windows
- All Mac
- All Linux

**[Prerequisites]:**
- Have a new Firefox profile with the latest "Firefox Notes" add-on version (1.9.0b1 build with CKeditor) installed.

**[Steps to reproduce]:**
1. Open the browser with the profile from prerequisites.
2. Hover over the "Numbered List" button and observe its tooltip.

**

[2017-11-20 16:26] SoftVision-CarmenFat opened #411 "Text cursor is not displayed when hovering Notes content"
[Affected versions]:
- Firefox 57 and up

[Affected Platforms]:
- All Windows
- All Mac
- All Linux

[Prerequisites]:
- Have a Firefox profile with the latest "Firefox Notes" add-on version (1.9.0b1 build with CKeditor) installed.

[Steps to reproduce]:
1. Open the browser with the profile from prerequisites.
2. Move the cursor over the Sidebar's content.
3. Observe the mouse cursor.

[Expected re

[2017-11-20 16:46] Natim commented on #409
Here you have your RTL support for free :D

[2017-11-20 16:48] Natim commented on #405
https://docs.ckeditor.com/ckeditor5/latest/api/module_engine_viewithplaceholder.html

[2017-11-20 16:48] Natim commented on #404
This is the new behavior since we switch to Markdown.

[2017-11-20 16:48] #404 closed

[2017-11-20 16:49] Natim commented on #403
It is not a font-size anymore since #400

[2017-11-20 16:49] #403 closed

[2017-11-20 16:57] Softvision-CristinaBadescu opened #412 "Pressing "Ctrl+A" keys combination wrongly greys out the "Bold", "Italic" and "Strike" buttons"
**[Affected versions]:**
- Firefox 57 and up

**[Affected Platforms]:**
- All Windows
- All Mac
- All Linux

**[Prerequisites]:**
- Have a Firefox profile with the latest "Firefox Notes" add-on version (1.9.0b1 build with CKeditor) installed.
- Have nothing written in the add-on sidebar.

**[Steps to reproduce]:**
1. Open the browser with the profile from prerequisites.
2. Press "Ctrl+A" keys comb

[2017-11-20 17:32] SoftVision-EmilPasca opened #413 "Character notation is no longer available for multilevel numbered lists"
**[Affected versions]:**
- Firefox 57 and up

**[Affected Platforms]:**
- All Windows
- All Mac
- All Linux

**[Prerequisites]:**
- Have a Firefox profile with the latest "Firefox Notes" add-on version (1.9.0b1 build with CKeditor) installed.

**[Steps to reproduce]:**
1. Open the browser with the profile from prerequisites.
2. Click the "Numbered list" button, type something and press the "Enter"

[2017-11-20 18:02] vladikoff commented on #409
wait what

[2017-11-20 18:02] vladikoff commented on #411
good find!

[2017-11-20 18:27] vladikoff commented on #413
Files in https://github.com/ckeditor/ckeditor5-list/issues/85

Good find 👍

[2017-11-20 18:36] vladikoff commented on #405
Ref: https://github.com/ckeditor/ckeditor5/issues/479

[2017-11-20 18:41] vladikoff commented on #411
Fixed in https://github.com/mozilla/notes/pull/394/commits/b798eb51de80be7d0c9ad3ef12354b9b6ca07683 Thank you!

[2017-11-20 18:41] #411 closed

[2017-11-20 18:47] vladikoff opened #414 "Bring back RTL support with ckeditor"

[2017-11-20 18:52] vladikoff commented on #330
@Natim I guess this never worked, not even in Quill. Firefox probably cannot focus on that sidebar?

[2017-11-20 19:06] vladikoff commented on #410
Fixed in https://github.com/mozilla/notes/pull/394/commits/84455292e3ecd8ed3a56abb03ab357fbce44a5e1

Good find 👍

[2017-11-20 19:06] #410 closed

[2017-11-20 19:30] vladikoff commented on #392
Fixed in https://github.com/mozilla/notes/pull/394/commits/099c2b90cfdf75e6b17747086f485ee56b94f2be

[2017-11-20 19:30] #392 closed

[2017-11-20 19:41] vladikoff commented on #396
@cedricium this would be an interesting project if you have time. If you branch off the ckeditor-concept branch, try to make ckeditor5-link work as @ryanfeeley designed.

* Fork https://github.com/ckeditor/ckeditor5-link and see if you can replace the Balloon logic: https://github.com/ckeditor/ckeditor5-link/blob/master/src/link.js#L15 with a toolbar that shows up below the original ckeditor toolb

[2017-11-21 01:18] vladikoff commented on #413
Fixed in https://github.com/mozilla/notes/pull/394/commits/fdacfce2754ed848ddbfe6623c7ec0fbbe67e2bf

[2017-11-21 01:18] #413 closed

[2017-11-21 01:38] vladikoff commented on #409
[code]

From https://www.w3.org/International/questions/qa-html-dir

[2017-11-21 02:40] vladikoff commented on #408
Fixed in https://github.com/mozilla/notes/pull/394/commits/911fb87325982a42177214402b2c586efb0c9473

Good find 👍

[2017-11-21 02:40] #408 closed

[2017-11-21 02:54] vladikoff commented on #386
This is fixed with CKEditor 👍  via https://github.com/mozilla/notes/pull/394

[2017-11-21 02:54] #386 closed

[2017-11-21 09:57] Natim commented on #412
It is only the case when the pad is empty.

[2017-11-21 10:43] Softvision-MariusComan opened #416 "You cannot add "blank space" characters at the end of a paragraph after enabling/disabling a text style option"
**[Affected versions]:**
- Firefox 57 and up

**[Affected Platforms]:**
- All Windows
- All Mac
- All Linux

**[Prerequisites]:**
- Have a Firefox profile with the latest "Firefox Notes" add-on version (1.9.0b2 build with CKeditor) installed.
- Have a paragraph in the "Firefox Notes" sidebar.

**[Steps to reproduce]:**
1. Open the browser with the profile from prerequisites.
2. Move the text caret

[2017-11-21 12:54] SoftVision-EmilPasca opened #417 "[Windows] Notes UI and content are not rendered correctly in High Contrast mode"
**[Affected versions]:**
- Firefox 57 and up

**[Affected Platforms]:**
- All Windows

**[Prerequisites]:**
- Have a Firefox profile with the latest "Firefox Notes" add-on version (1.9.0b2 build with CKeditor) installed.
- Change the Windows theme option to "High Contrast # 1" or "High Contrast # 2".

**[Steps to reproduce]:**
1. Open the browser with the profile from prerequisites.
2. Observe the

[2017-11-21 13:04] Softvision-CristinaBadescu commented on #384
I've also managed to reproduce this with the "Cut" option using "Firefox Notes" v1.9.0b2, on Windows 10 x64, Mac 10.12 and Arch Linux 4.12:

[Notes]
- This issue is not reproducible if you use "Ctrl+Z" keys combination.

[Affected versions]
- Firefox 57 and up

[Affected Platforms]
- All Windows
- All Mac
- All Linux

[Prerequisites]
- Have a new Firefox profile with the latest "Firefox Notes" add

[2017-11-21 13:07] Softvision-MariusComan opened #418 "The text caret is wrongly moved at the beginning of the sidebar's content if certain actions are made"
**[Affected versions]:**
- Firefox 57 and up

**[Affected Platforms]:**
- All Windows
- All Mac
- All Linux

**[Prerequisites]:**
- Have a Firefox profile with the latest "Firefox Notes" add-on version (1.9.0b2 build with CKeditor) installed.
- Have a paragraph in the "Firefox Notes" sidebar.

**[Steps to reproduce]:**
1. Open the browser with the profile from prerequisites.
2. Move the text caret

[2017-11-21 13:16] SoftVision-CarmenFat opened #419 "Notations that contain 2 or more digits from the numbered list are truncated"
[Affected versions]:
- Firefox 57 and up

[Affected Platforms]:
- All Windows
- All Mac
- All Linux

[Prerequisites]:
- Have a Firefox profile with the latest "Firefox Notes" add-on version (1.9.0b2 build with CKeditor) installed.

[Steps to reproduce]:
1. Open the browser with the profile from prerequisites.
2. Click on "Numbered List" button.
3. Type something then Press "Enter" key.
4. Repeat s

[2017-11-21 13:19] SoftVision-CarmenFat opened #420 "The text cursor is wrongly moved at the beginning of the row if typing fast in a new window"
[Affected versions]:
- Firefox 57 and up

[Affected Platforms]:
- All Windows
- All Mac
- All Linux

[Prerequisites]:
- Have a Firefox profile with the latest "Firefox Notes" add-on version (1.9.0b2 build with CKeditor) installed.

[Steps to reproduce]:
1. Open the browser with the profile from prerequisites.
2. Press "Ctrl" (Cmd)+"N" keys.
3. In the new window, start typing something very fast.
4

[2017-11-21 13:22] SoftVision-CarmenFat opened #421 "The bullet changes into number and continues the numbered list series if there is no text between lists in a new window"
[Affected versions]:
- Firefox 57 and up

[Affected Platforms]:
- All Windows
- All Mac
- All Linux

[Prerequisites]:
- Have a Firefox profile with the latest "Firefox Notes" add-on version (1.9.0b2 build with CKeditor) installed.

[Steps to reproduce]:
1. Open the browser with the profile from prerequisites.
2. Press "Ctrl" (Cmd)+"N" keys.
3. In the new window, click the "Numbered List" button.
4

[2017-11-21 13:24] Softvision-MariusComan opened #422 "The whole Numbered/Bulleted list is wrongly deleted after selecting it and deleting all its content"
**[Affected versions]:**
- Firefox 57 and up

**[Affected Platforms]:**
- All Windows
- All Mac
- All Linux

**[Prerequisites]:**
- Have a Firefox profile with the latest "Firefox Notes" add-on version (1.9.0b2 build with CKeditor) installed.
- Have a Numbered list.

**[Steps to reproduce]:**
1. Open the browser with the profile from prerequisites.
2. Select the "Numbered list".
3. Press the "Dele

[2017-11-21 13:35] Softvision-CristinaBadescu opened #423 ""Delete" action from context menu doesn't work for multiple paragraphs"
[Notes]:
- This issue is neither reproducible if you use the "Delete", nor the "Backspace" keys.
- This issue is not reproducible when deleting a single paragraph.
- This issue is not reproducible if you select multiple words from multiple paragraphs using "Ctrl"/"Cmd" and click.

[Affected versions]:
- Firefox 57 and up

[Affected Platforms]:
- All Windows
- All Mac
- All Linux

[Prerequisites]:

[2017-11-21 14:03] vladikoff commented on #412
Yea a strange one but does not block

[2017-11-21 14:05] vladikoff commented on #384
I think we can fix this by adding the Undo/Redo modules. Good find!

[2017-11-21 14:11] vladikoff commented on #423
@Natim I wonder where this context menu is coming from, ckeditor?

[2017-11-21 14:12] vladikoff commented on #417
wow!

[2017-11-21 14:16] Natim commented on #417
What if you use the dark theme?

[2017-11-21 14:16] Natim commented on #423
Firefox

[2017-11-21 15:17] Softvision-CristinaBadescu opened #424 "The formatting options are greyed out if all content is deleted in a different window"
[Affected versions]:
- Firefox 57 and up

[Affected Platforms]:
- All Windows
- All Mac
- All Linux

[Prerequisites]:
- Have a new Firefox profile with the latest "Firefox Notes" add-on version (1.9.0b2 build with CKeditor) installed.
- Have something written in the "Notes" sidebar.

[Steps to reproduce]:
1. Open the browser with the profile from prerequisites.
2. Open a new window and delete all

[2017-11-21 15:56] Softvision-MariusComan opened #426 "Put the text caret at the end of the note when it is opened"
**[Affected versions]:**
- Firefox 57 and up

**[Affected Platforms]:**
- All Windows
- All Mac
- All Linux

**[Prerequisites]:**
- Have a Firefox profile with the latest "Firefox Notes" add-on version (1.9.0b2 build with CKeditor) installed.
- Have content in the "Firefox Notes" sidebar.

**[Steps to reproduce]:**
1. Open the browser with the profile from prerequisites.
2. Close the "Firefox Note

[2017-11-21 16:33] vladikoff commented on #409
We removed that keyboard shortcut for now. Once we bring it back it will be tested not to do that 👍

[2017-11-21 16:33] #409 closed

[2017-11-21 16:37] vladikoff commented on #421
@Natim this one is pretty weird:

![numa](https://user-images.githubusercontent.com/128755/33084573-5287f4d2-ceb0-11e7-9f4a-0e35424a5b87.gif)

I will check if Markdown engine is to blame or not

[2017-11-21 16:39] Natim commented on #421
It might be because the text-change even is not triggered in case we switch list type?

[2017-11-21 16:40] vladikoff commented on #421
@Natim oooooo

[2017-11-21 18:26] vladikoff commented on #421
@Natim Ah I see, so in the markdown parser, it stripes new lines, so the linebreak does not save the state across the different windows. This is also related to this issue: https://github.com/mozilla/notes/issues/407

[2017-11-21 21:25] vladikoff commented on #423
CKEditor bug it seems: https://github.com/ckeditor/ckeditor5/issues/684

[2017-11-21 21:29] vladikoff commented on #338
Done! Thanks again @cedricium for the first prototype of this :)

[2017-11-21 21:29] #338 closed

[2017-11-22 13:38] Softvision-CristinaBadescu opened #428 "Bulleted/Numbered list tooltips are inversed"
[Affected versions]:
- Firefox 57 and up

[Affected Platforms]:
- All Windows
- All Mac
- All Linux

[Prerequisites]:
- Have a new Firefox profile with the latest "Firefox Notes" add-on version 1.9.0dev installed.

[Steps to reproduce]:
1. Open the browser with the profile from prerequisites.
2. Hover over the "Bulleted List" button and observe its tooltip.

[Expected result]:
- "Bulleted List" is

[2017-11-22 14:00] vladikoff commented on #428
Good find!

[2017-11-22 14:57] Softvision-MariusComan commented on #386
The issue is no longer reproducible on the latest version of Firefox Notes (1.9.0dev custom built on 11.22.2017) on the latest Firefox release and Nightly.

[2017-11-22 14:57] Softvision-MariusComan commented on #403
The issue is no longer reproducible on the latest version of Firefox Notes (1.9.0dev custom built on 11.22.2017) on the latest Firefox release and Nightly.

[2017-11-22 14:58] Softvision-MariusComan commented on #408
The issue is no longer reproducible on the latest version of Firefox Notes (1.9.0dev custom built on 11.22.2017) on the latest Firefox release and Nightly.

[2017-11-22 15:04] #406 closed

[2017-11-22 15:04] #407 closed

[2017-11-22 15:04] #420 closed

[2017-11-22 15:04] #421 closed

[2017-11-22 15:04] #424 closed

[2017-11-22 15:04] #428 closed

[2017-11-22 15:23] SoftVision-CiprianMuresan opened #429 "Numbers written in a paragraph are wrongly changed to a Numbered list after a blank space is added"
[Affected versions]:
- Firefox 57 and up

[Affected Platforms]:
- All Windows
- All Mac
- All Linux

[Prerequisites]:
- Have the latest version of Notes (1.9.0-dev) installed on a clean new profile.

[Steps to reproduce]:
1. Open the browser with the profile from prerequisites.
2. Write at least two numbers in a new paragraph and press space.
3. Observe the behavior.

[Expected results]:
- A blank

[2017-11-22 15:30] vladikoff commented on #429
Bug in the Markdown editor. only `1.` should make this formatting change

[2017-11-22 15:52] vladikoff commented on #429
Filed: https://github.com/ckeditor/ckeditor5-markdown-gfm/issues/17

[2017-11-22 16:51] Softvision-MariusComan opened #430 "The content's font size is wrongly reseted after bullets / numbers are applied"
**[Notes]:**
- A similar behavior is encountered when you have a Bulleted / Numbered list and you change the content's font size. After that the bullets / numbers are erased.

**[Affected versions]:**
- Firefox 57 and up

**[Affected Platforms]:**
- All Windows
- All Mac
- All Linux

**[Prerequisites]:**
- Have a Firefox profile with the latest "Firefox Notes" add-on version (1.9.0dev custom built

[2017-11-22 16:53] vladikoff commented on #430
@ryanfeeley thoughts on this? By design?

[2017-11-22 17:53] cedricium commented on #396
Commenting so I can come back to this. 👍

On Nov 20, 2017 11:41 AM, "Vlad Filippov" <notifications@github.com> wrote:

[2017-11-22 18:46] #429 closed

[2017-11-22 19:49] vladikoff commented on #116
This should be fixed in FF57 now  👍

[2017-11-22 19:49] #116 closed

[2017-11-22 19:50] vladikoff commented on #94
Should be fixed in `master`. please let us know!

[2017-11-22 19:50] #94 closed

[2017-11-22 20:18] vladikoff commented on #362
This should be fixed in the master branch with ckeditor

[2017-11-22 20:18] #362 closed

[2017-11-22 20:22] vladikoff commented on #361
This should be fixed in `master` with CKEditor

[2017-11-22 20:22] #361 closed

[2017-11-22 21:18] ryanfeeley commented on #430
As designed.

[2017-11-23 09:06] SoftVision-PaulOiegas commented on #430
@vladikoff @ryanfeeley I can agree with this resolution if you guys can show me a known web application that behaves the same. Honestly, I have never seen one that behaves like this, that's why I encouraged Marius to log this issue found.

I'm looking right now at Thunderbird new email text box, GitHub comment boxes and Google Docs and they all support the behavior we were expecting for Notes too.

[2017-11-23 09:08] Softvision-MariusComan commented on #407
The issue is no longer reproducible on the latest version of Firefox Notes (1.9.0dev custom built on 11.23.2017) on the latest Firefox release and Nightly.

[2017-11-23 09:39] Softvision-CristinaBadescu commented on #428
This issue is no longer reproducible using latest version of Notes 1.9.0dev (custom build 2017-11-23), on latest Nightly build 59.0a1 (2017-11-22) and latest Firefox Release 57.0, on Windows 10 x64, Mac 10.12 and Ubuntu 14.04 x64.

[2017-11-23 09:44] Softvision-CristinaBadescu commented on #410
This issue is no longer reproducible using latest version of Notes 1.9.0dev (custom build 2017-11-23), on latest Nightly build 59.0a1 (2017-11-22) and latest Firefox Release 57.0, on Windows 10 x64, Mac 10.12 and Ubuntu 14.04 x64.

[2017-11-23 09:45] Softvision-CristinaBadescu commented on #406
This issue is no longer reproducible using latest version of Notes 1.9.0dev (custom build 2017-11-23), on latest Nightly build 59.0a1 (2017-11-22) and latest Firefox Release 57.0, on Windows 10 x64, Mac 10.12 and Ubuntu 14.04 x64.

[2017-11-23 10:23] Softvision-CristinaBadescu commented on #424
This issue is no longer reproducible using latest version of Notes 1.9.0dev (custom build 2017-11-23), on latest Nightly build 59.0a1 (2017-11-22) and latest Firefox Release 57.0, on Windows 10 x64, Mac 10.12 and Ubuntu 14.04 x64.

[2017-11-23 13:04] Softvision-CristinaBadescu opened #434 "The formatting options are greyed out if the "Notes" scrollbar is clicked in a new window"
[Affected versions]:
- Firefox 57 and up

[Affected Platforms]:
- All Windows
- All Mac
- All Linux

[Prerequisites]:
- Have a new Firefox profile with the latest "Firefox Notes" add-on v1.9.0dev installed.
- Have enough text written in the "Notes" sidebar, so the scrollbar appears.

[Steps to reproduce]:
1. Open the browser with the profile from prerequisites.
2. Open a new window and click the "

[2017-11-23 13:17] Softvision-MariusComan opened #435 "The content is not scrolled down by one page when the "Page Down" key is pressed"
**[Affected versions]:**
- Firefox 57 and up

**[Affected Platforms]:**
- All Windows
- All Linux

**[Prerequisites]:**
- Have a Firefox profile with the latest "Firefox Notes" add-on version (1.9.0dev custom built on 11.23.2017) installed.
- Have enough content so that the vertical scrollbar is displayed in the sidebar.

**[Steps to reproduce]:**
1. Open the browser with the profile from prerequi

[2017-11-23 13:48] Softvision-CristinaBadescu opened #436 "Text can be wrongly inserted in the "Notes" sidebar with drag and drop"
[Affected versions]:
- Firefox 57 and up

[Affected Platforms]:
- All Windows
- All Mac
- All Linux

[Prerequisites]:
- Have a new Firefox profile with the latest "Firefox Notes" add-on v1.9.0dev installed.

[Steps to reproduce]:
1. Open the browser with the profile from prerequisites and navigate to a page that has text.
2. Select text then drag and drop it inside the "Notes" sidebar.
3. Observe

[2017-11-23 14:39] SoftVision-EmilPasca commented on #417
None of the following scenarios improve this issue in any way:
- Windows High Contrast theme with Firefox Dark theme and Notes dark/default theme
- Windows High Contrast theme with Firefox Default/Light theme and Notes dark/default theme
- Windows High Contrast theme with a custom Firefox (accessibility) Dark theme along with  Notes dark/default theme

[2017-11-23 15:34] Softvision-MariusComan opened #437 "The default "Firefox Notes" text is not correctly formatted"
**[Affected versions]:**
- Firefox 57 and up

**[Affected Platforms]:**
- All Windows
- All Mac
- All Linux

**[Prerequisites]:**
- "xpinstall.signatures.required" pref is set to false in "about:config".

**[Steps to reproduce]:**
1. Open the browser with the profile from prerequisites.
2. Navigate to the "about:addons" page and install the latest "Firefox Notes" add-on version (1.9.0dev).
2. Obse

[2017-11-23 15:37] vladikoff commented on #437
@Softvision-MariusComan

[code]

Is this some cached profile? Does it have cached data locally?
Try the same with a fresh profile, do you get a proper heading?

[2017-11-23 15:38] Softvision-CristinaBadescu opened #438 "A blue border wrongly appears when you long click on "Font size" options"
[Affected versions]:
- Firefox 57 and up

[Affected Platforms]:
- All Windows
- All Mac
- All Linux

[Prerequisites]:
- Have a new Firefox profile with the latest "Firefox Notes" add-on v1.9.0dev installed.

[Steps to reproduce]:
1. Open the browser with the profile from prerequisites.
2. Click the "Font size" button.
3. Long click one of the options and observe the behavior.

[Expected result]:
-

[2017-11-23 15:51] SoftVision-CiprianMuresan commented on #429
The issue is no longer reproducible on the latest version of Notes built on 11/23/2017.

[2017-11-23 15:58] Softvision-MariusComan commented on #437
@vladikoff I've reproduced this issue on a new profile with no data cached locally, using the "Firefox Notes" add-on version 1.9.0dev custom built on 11.23.2017.
The issue is not reproducible with the "Firefox Notes" version 1.9.0dev custom built on 11.22.2017. [Here ](https://goo.gl/TPG2Un)you will find both builds.

[2017-11-23 16:00] Softvision-CristinaBadescu commented on #361
This issue is no longer reproducible using latest version of Notes 1.9.0dev (custom build 2017-11-23), on latest Nightly build 59.0a1 (2017-11-23) and latest Firefox Release 57.0, on Windows 10 x64, Mac 10.12 and Ubuntu 14.04 x64.

[2017-11-23 16:04] SoftVision-CarmenFat commented on #116
The issue is no longer reproducible on the latest version of Notes built on 11/23/2017.

[2017-11-23 16:04] SoftVision-CarmenFat commented on #94
The issue is no longer reproducible on the latest version of Notes built on 11/23/2017.

[2017-11-23 16:06] Softvision-MariusComan opened #439 "The Numbered and the Bulleted lists are not aligned with each other"
**[Affected versions]:**
- Firefox 57 and up

**[Affected Platforms]:**
- All Windows
- All Mac
- All Linux

**[Prerequisites]:**
- Have a Firefox profile with the latest "Firefox Notes" add-on version (1.9.0dev custom built on 11.23.2017) installed.

**[Steps to reproduce]:**
1. Open the browser with the profile from prerequisites.
2. Click the "Bulleted list" button from the sidebar's toolbar an

[2017-11-23 16:07] SoftVision-CarmenFat commented on #421
The issue is no longer reproducible on the latest version of Notes built on 11/23/2017.

[2017-11-23 16:11] vladikoff commented on #422
Check with Quill, but i think this is okay for now

[2017-11-23 16:11] vladikoff commented on #419
This should be fixed 👍

[2017-11-23 16:17] vladikoff commented on #416
CKeditor expects a character not space after selected bold. We should try to make this work like Word or other text editors...

![image](https://user-images.githubusercontent.com/128755/33181877-c70687d4-d03f-11e7-8962-c44eebafd090.png)

[2017-11-23 16:18] vladikoff commented on #412
Plus: it probably should not lose focus...

[2017-11-23 16:23] vladikoff opened #440 "Underline shortcut doesn't work"

[2017-11-23 16:28] vladikoff commented on #440
nvm

[2017-11-23 16:28] #440 closed

[2017-11-23 16:32] #437 closed

[2017-11-23 16:33] Natim commented on #436
Apparently it works as well as the copy/paste, we had to deactivate it for Quill because it allowed unallowed content in the sidebar but it doesn't seems to be the case wit CKEditor.

[2017-11-23 16:33] #436 closed

[2017-11-23 16:38] #439 closed

[2017-11-23 17:01] SoftVision-CarmenFat opened #444 "An empty row is displayed above the formatted spaceless text after switching between sidebars"
[Affected versions]:
- Firefox 57 and up

[Affected Platforms]:
- All Windows
- All Mac
- All Linux

[Prerequisites]:
- Have a Firefox profile with the latest "Firefox Notes" add-on version (1.9.0dev custom built on 11.23.2017) installed.

[Steps to reproduce]:
1. Open the browser with the profile from prerequisites.
2. Type something on at least 2 rows, without spaces.
3. Click on the "Bold" form

[2017-11-23 17:02] vladikoff commented on #444
Yeah, I've seen this. Good find 👍

[2017-11-23 17:04] vladikoff commented on #444
I think this is a CKEditor issue, we shall follow up with them

[2017-11-23 22:56] vladikoff commented on #373
Fixed in https://github.com/mozilla/notes/pull/425/commits/1bf4ce97eafbe205502a431c3329e58ffbe9da6b

[2017-11-23 22:56] #373 closed

[2017-11-23 22:56] vladikoff commented on #67
This is done, going live on Nov 27  👍

[2017-11-23 22:56] #67 closed

[2017-11-24 07:40] Softvision-MariusComan commented on #437
The issue is no longer reproducible on the latest version of Firefox Notes (1.9.0rc1) on the latest Firefox release and Nightly.

[2017-11-24 07:41] Softvision-MariusComan commented on #439
The issue is no longer reproducible on the latest version of Firefox Notes (1.9.0rc1) on the latest Firefox release and Nightly.

[2017-11-24 13:24] SoftVision-CarmenFat commented on #419
Hi @vladikoff ,

Tested this issue with the latest Notes 1.9.0dev (custom build 2017-11-24). It seems that the issue is fixed for the notations containing 2 or 3 digits, but for the notations that contain 4 digits, the issue is still reproducible, as seen in the image below.

Should this still be considered as an issue or should we consider it as a won't fix, given the large amount of items in the

[2017-11-24 13:29] SoftVision-EmilPasca opened #447 "Multilevel list are wrongly pasted when copied from Notes to Google Docs and vice-versa"
**[Notes]:**
- This issue is also reproducible with "Bullet" lists.
- This issue is also reproducible with Mozilla Thunderbird.

**[Affected versions]:**
- Firefox 57 and up

**[Affected Platforms]:**
- All Windows
- All Mac
- All Linux

**[Prerequisites]:**
- Have a Firefox profile with the latest "Firefox Notes" add-on version (1.9.0rc1 build with CKeditor) installed.
- Have a multilevel list of

[2017-11-24 14:19] Natim commented on #419
I asked @vladikoff about that yesterday telling him we should probably give a bit more space to the list items and he told me due to the limited space of the sidebar we should not worry about it.

[2017-11-24 14:21] vladikoff commented on #419
yea this is a wontfix for now, but we might revisit it

[2017-11-24 15:03] SoftVision-CarmenFat opened #448 "The text is not formatted if you write the markdown language from right to left"
[Affected versions]:
- Firefox 57 and up

[Affected Platforms]:
- All Windows
- All Mac
- All Linux

[Prerequisites]:
- Have a Firefox profile with the latest "Firefox Notes" add-on version (1.9.0rc1 build with CKeditor) installed.

[Steps to reproduce]:
1. Open the browser with the profile from prerequisites.
2. Type something in the Notes' editable area.
3.  Press "Shift" + "*" keys twice.
4. Fo

[2017-11-24 15:13] vladikoff commented on #448
good find, ckeditor autoformat issue + https://github.com/mozilla/notes/issues/414

[2017-11-24 15:14] Softvision-MariusComan opened #449 "The previously set "Show scroll bars" OS option wrongly persists in the "Firefox Notes" sidebar"
https://bugzilla.mozilla.org/show_bug.cgi?id=1420452

**[Notes]:**
- If the "Always" is already checked and at step 3 you changed to the "When scrolling" option, then the scroll bar will always be displayed.

**[Affected versions]:**
- Firefox 57 and up

**[Affected Platforms]:**
- All Mac

**[Prerequisites]:**
- Have a Firefox profile with the latest "Firefox Notes" add-on version (1.9.0rc1) inst

[2017-11-24 16:00] Softvision-CristinaBadescu opened #450 "Text wrongly appears when dragging and dropping thumbnails or images into "Notes" sidebar"
[Notes]:
- Since we want to support drag and drop (#436), we should still restrict some elements from being dragged and dropped in the sidebar, as they can result in seemingly random text being pasted.

[Affected versions]:
- Firefox 57 and up

[Affected Platforms]:
- All Windows
- All Mac
- All Linux

[Prerequisites]:
- Have a new Firefox profile with the latest "Firefox Notes" add-on v1.9.0dev i

[2017-11-24 16:11] SoftVision-CiprianMuresan opened #451 "[Enhancement] Limit the number of multileveled lists that can be created"
[Notes]:
- When you reach the 19th- 20th level of a list, you can no longer use them properly and any text will be written vertically. In my opinion we should limit the number of levels that can be created in a list.
- On the version from Test Pilot only 9 levels of a list can be created.

[Affected versions]:
- Firefox 57 and up

[Affected Platforms]:
- All Windows
- All Mac
- All Linux

[Prerequ

[2017-11-24 16:25] SoftVision-CiprianMuresan opened #452 "[Enhancement] The "Font Size" drop-down should be ordered by actual text size"
[Affected versions]:
- Firefox 57 and up

[Affected Platforms]:
- All Windows
- All Mac
- All Linux

[Prerequisites]:
- Have the latest version of Notes (1.9.0-dev) installed on a clean new profile.

[Steps to reproduce]:
1. Open the browser with the profile from prerequisites.
2. Click the "Font size" button and observe the list.

[Expected results]:
- P, H3, H2, H1 is displayed.

[Actual results

[2017-11-25 21:34] vladikoff commented on #416
@reinmar @szymonkups Any idea of what could be going on here? I cannot reproduce the same issue here: https://ckeditor5.github.io/

[2017-11-27 09:24] Mgsy commented on #416
@vladikoff, I was able to reproduce your bug (even in https://ckeditor5.github.io/) , so I've created new issue in our CKEditor 5 repository - https://github.com/ckeditor/ckeditor5/issues/692.

[2017-11-27 09:45] StefanoCecere commented on #183
i guess you already discussed about having the original note test saved as CommonMark (the standard Markdown) format, right? it would be a really nice choice for Mozilla and a killer feature for Firefox itself to have an integrated markdown note editor!

[2017-11-27 16:07] vladikoff commented on #293
from mtg: new metrics that we want to add : users logged in and they logged out.

[2017-11-27 16:13] vladikoff opened #453 "Add last Sync check when we did a sync checkpoint"
from mtg:

- when we sync, show latest sync (content pull) not when the record was saved
- leave time blank until the check?

[2017-11-27 17:04] Softvision-CristinaBadescu opened #454 "Text is bold when pasted from Google Docs, depending on how the selection was made on different browsers"
[Affected versions]:
- Firefox 57 and up

[Affected Platforms]:
- All Windows
- All Mac
- All Linux

[Prerequisites]:
- Have a Firefox profile with the latest "Firefox Notes" v1.9.0dev installed.
- Have a Google doc with text written in it (eg. https://goo.gl/RmkaAZ).

[Steps to reproduce]:
1. Open the Gdoc link in a different browser, other than Firefox.
2. Select a word and press "Ctrl + C" key

[2017-11-27 17:26] vladikoff commented on #416
@Mgsy thanks so much!!! 👍

[2017-11-27 18:08] ryanfeeley opened #455 "Add Notes keyboard shortcut to sidebar menu"
We have it here:
<img width="372" alt="system menubar" src="https://user-images.githubusercontent.com/68213/33281673-fe123cf0-d373-11e7-976e-fd63291335ac.png">

Can we have it here too?
<img width="212" alt="sidebar menu" src="https://user-images.githubusercontent.com/68213/33281674-fe20e372-d373-11e7-93bd-e28aa87c10a8.png">

[2017-11-27 18:10] vladikoff commented on #455
@ryanfeeley need to file a firefox bug for this I think

[2017-11-28 03:22] Nightfirecat opened #456 ""Notes enabled!" modal slide nav's inactive circles cannot be seen"
!["Notes enabled!" modal window, with introduction instructions](https://i.imgur.com/beCB1kc.png)

In this screenshot, `.modal .dot` are colored white, which cannot be seen against the white background of each of the slides. Perhaps they should be colored grey? (with a white border to maximize visibility regardless of background?)

[2017-11-28 03:26] vladikoff commented on #456
Moved to https://github.com/mozilla/testpilot/issues/3100

thanks for the report!

[2017-11-28 03:26] #456 closed

[2017-11-28 09:43] StefanoCecere commented on #183
maybe this plugin for CKeditor could be a solution? https://ckeditor.com/cke4/addon/markdown

[2017-11-28 11:25] abyu commented on #452
Pull request at https://github.com/mozilla/notes/pull/457

[2017-11-28 13:49] Softvision-CristinaBadescu opened #458 "Text caret is misplaced after you paste a paragraph from Google Doc that has a single space at the end of it"
[Affected versions]:
- Firefox 57 and up

[Affected Platforms]:
- All Windows
- All Mac
- All Linux

[Prerequisites]:
- Have a Firefox profile with the latest "Firefox Notes" v1.10.0dev installed.
- Have a Gdoc containing a text paragraph (eg.  https://goo.gl/RmkaAZ)

[Steps to reproduce]:
1. Open the browser with the profile from prerequisites.
2. Access the Gdoc from prerequisites and press the

[2017-11-28 13:51] Natim commented on #183
It is already available in the last version see https://medium.com/firefox-test-pilot/testpilot-notes-v1-9-0-b166c6cd7353

[2017-11-28 13:51] #183 closed

[2017-11-28 14:00] SoftVision-EmilPasca opened #459 "Notes sidebar doesn't sync with the content from a different profile if the default text has been replaced"
**[Notes]:**
- The issue is not reproducible if you follow the steps but leave the default text in the Firefox Notes sidebar.

**[Affected versions]:**
- Firefox 57 and up

**[Affected Platforms]:**
- All Windows
- All Mac
- All Linux

**[Prerequisites]:**
- Have `xpinstall.signatures.required` set to `false` in "about:config".
- Have a Firefox profile with the latest "Firefox Notes" add-on versio

[2017-11-29 10:02] SoftVision-EmilPasca commented on #459
Sync doesn't work anymore, retested this issue today with the same Notes build(2.0.0b2) as yesterday and the content is no longer synced even if the default text isn't replaced.
I've also observed the following error messages in the browser console:
`
account_updates error message. No Such Channel  WebChannel.jsm:148
WebChannel error: No Such Channel  acb991cb.main.en.js:20
Webconsole context has

[2017-11-29 14:55] vladikoff commented on #231
This was fixed in https://hg.mozilla.org/mozilla-central/rev/ac4865fb95b6 and should be in Firefox Nightly later this week

[2017-11-29 14:55] #231 closed

[2017-11-29 15:23] vladikoff opened #461 "When Sync is "on" multiple Firefox windows do not sync content properly"

[2017-11-29 17:18] Natim commented on #459
Please try if addon-2.0.0b5 fixes it: https://github.com/mozilla/notes/files/1514736/addon-2.0.0b5.zip

[2017-11-30 02:28] vladikoff opened #462 "[Sync] If there is only default text then Sync should not conflict"
<img src=https://user-images.githubusercontent.com/128755/33409983-1a0f0dd2-d54c-11e7-98d8-76684fba767a.png width=150 />

cc @Natim

If there is only default text and we login right away we should just paste what synced. (I think we can do this by `getData` to text and validating that is only the default text)

[2017-11-30 03:14] vladikoff opened #463 "[Sync] Sync should log out if password reset"
We see a 400 but sync shows that it is still logged in. The synced time doesn't update anymore though

![screenshot from 2017-11-29 22-13-09](https://user-images.githubusercontent.com/128755/33411258-82266932-d552-11e7-97fb-3b3d0c2eb395.png)

[2017-11-30 09:43] Natim commented on #462
As far as we tested it yesterday it is the case. If you happen to have the default text and edit it it will save it an make a conflict.

[2017-11-30 09:44] Natim commented on #463
400 means Bad Request so the request was malformed?
If the token expire we should have a 401

[2017-11-30 16:09] vladikoff opened #464 "[Sync] Remove seconds from Sync Timer"

[2017-11-30 16:11] vladikoff opened #465 "[Sync] Time is UTC when you first login"
* Time is UTC when you first login
* After you sync the time is fine

[2017-11-30 16:13] vladikoff commented on #449
Need to confirm that this a Firefox bug

[2017-11-30 16:15] vladikoff commented on #450
Not much we can do in this case. Closing as WONTFIX for now

[2017-11-30 16:15] #450 closed

[2017-11-30 16:19] vladikoff commented on #461
This is fine for now, closing...

[2017-11-30 16:19] #461 closed

[2017-11-30 16:20] vladikoff commented on #462
I Will double check

[2017-11-30 16:20] vladikoff commented on #463
To use "Reconnect to Sync" yellow bar for this...

[2017-11-30 16:22] vladikoff commented on #452
Fixed!

[2017-11-30 16:22] #452 closed

[2017-11-30 17:40] vladikoff commented on #462
Not an issue! Yay!

[2017-11-30 17:40] #462 closed

[2017-11-30 20:18] vladikoff commented on #464
Fixed in https://github.com/mozilla/notes/pull/425/commits/aaf494b986d6637864c89c64b79651991606a344

[2017-11-30 20:18] #464 closed

[2017-11-30 20:18] vladikoff commented on #463
Fixed in https://github.com/mozilla/notes/pull/425/commits/aaf494b986d6637864c89c64b79651991606a344

[2017-11-30 20:18] #463 closed

[2017-11-30 20:18] vladikoff commented on #293
Fxed in https://github.com/mozilla/notes/pull/425/commits/aaf494b986d6637864c89c64b79651991606a344

[2017-11-30 20:18] #293 closed

[2017-11-30 20:18] vladikoff commented on #391
Fixed in https://github.com/mozilla/notes/pull/425/commits/aaf494b986d6637864c89c64b79651991606a344

[2017-11-30 20:18] #391 closed

[2017-11-30 20:20] vladikoff commented on #459
Should be fixed in latest beta 👍

[2017-11-30 20:20] #459 closed

[2017-11-30 20:41] vladikoff commented on #465
Should be fixed in https://github.com/mozilla/notes/pull/425/commits/aaf494b986d6637864c89c64b79651991606a344

[2017-11-30 20:41] #465 closed

[2017-11-30 21:34] vladikoff commented on #453
Fixed in https://github.com/mozilla/notes/pull/425/commits/83d1e2d89aef9cfc039ff4ae02afd99d2cd0424b

[2017-11-30 21:34] #453 closed

[2017-11-30 21:54] vladikoff opened #466 ""Read this from Kinto fxa-params""

[2017-11-30 21:54] vladikoff commented on #466
Ref: https://github.com/mozilla/notes/pull/425/files#diff-961641dd6af66f5e3313307cf4eb8f1dR8

Need to fix this up, once we have prod kinto?

[2017-12-01 09:39] Natim commented on #466
We don't expose yet this information.

[2017-12-01 15:50] vladikoff opened #468 "Fix npm test"
CC @Natim

[2017-12-01 16:00] vladikoff opened #469 "[Sync] Insufficient storage error"
cc @Natim

[2017-12-01 16:01] vladikoff opened #470 "Provide a button to open notes in a Tab"
The hardest part here is: we might not be able to hide the sidebar on our own, so we get 2 editors

[2017-12-04 09:05] Natim commented on #469
https://bugzilla.mozilla.org/show_bug.cgi?id=1386623

[2017-12-04 12:37] Softvision-MariusComan opened #471 "You are wrongly disconnected from the FxA after changing the password and writing something in the sidebar"
**[Affected versions]:**
- Firefox 57 and up

**[Affected Platforms]:**
- All Windows
- All Mac
- All Linux

**[Prerequisites]:**
- Have a Firefox profile with the latest "Firefox Notes" add-on version (2.0.0b7) installed.
- You must be logged into "Firefox Notes".

**[Steps to reproduce]:**
1. Open the browser with the profile from prerequisites.
2. Change your FxA password (https://support.mozil

[2017-12-04 13:46] vladikoff commented on #471
That's expected. the encryption key changes so we cannot sync anymore.

The yellow warning would go away after you restart notes or press Disable Sync in the menu

[2017-12-04 13:47] vladikoff commented on #471
or you would reconnect by pressing the sync arrows icon

[2017-12-04 14:10] vladikoff commented on #471
oh woops sorry, I missed that this was change password. With change password we reset the tokens (per https://github.com/mozilla/fxa-oauth-server/issues/481 ) so you have to reconnect

cc @Natim

[2017-12-04 14:51] SoftVision-EmilPasca commented on #459
The issue is no longer reproducible on the latest "Firefox Notes" add-on version (2.0.0b7).

[2017-12-04 14:52] Softvision-MariusComan opened #472 "Undo option does not bring back content deleted in other windows"
**[Notes]:**
- The issue is also reproducible with user inputted text.

**[Affected versions]:**
- Firefox 57 and up

**[Affected Platforms]:**
- All Windows
- All Mac
- All Linux

**[Prerequisites]:**
- Have a new Firefox profile with the latest "Firefox Notes" add-on version (2.0.0b7) installed.

**[Steps to reproduce]:**
1. Open the browser with the profile from prerequisites and open a new win

[2017-12-04 14:52] vladikoff commented on #459
🥇

[2017-12-04 14:54] vladikoff commented on #472
https://github.com/ckeditor/ckeditor5-undo might help with this, but there could also be an easier solution

[2017-12-04 16:18] #471 closed

[2017-12-04 16:27] SoftVision-CarmenFat opened #473 "The tooltip text of the "Feedback" button is wrongly displayed before and after logging into the FxA"
[Affected versions]:
- Firefox 57 and up

[Affected Platforms]:
- All Windows
- All Mac
- All Linux

[Prerequisites]:
- Have a Firefox profile with "Firefox Notes" v2.0.0b7 installed.

[Steps to reproduce]:
1. Open the browser with the profile from prerequisites.
2. Move the arrow cursor over the middle area of the "Feedback" button and observe its tooltip.
3. Move the arrow cursor to the left/rig

[2017-12-04 16:27] SoftVision-CarmenFat opened #474 ""Sync Your Notes" button doesn't have a hover effect after logging into the FxA"
[Affected versions]:
- Firefox 57 and up

[Affected Platforms]:
- All Windows
- All Mac
- All Linux

[Prerequisites]:
- Have a Firefox profile with "Firefox Notes" v2.0.0b7 installed.
- Log into a valid FxA.

[Steps to reproduce]:
1. Open the browser with the profile from prerequisites.
2. Hover the "Sync Your Notes" button and observe if any changes occur.

[Expected result]:
- The button display

[2017-12-04 16:27] SoftVision-CarmenFat opened #475 ""Saved at (time)" text is displayed with a noticeable delay after disabling Sync"
[Affected versions]:
- Firefox 57 and up

[Affected Platforms]:
- All Windows
- All Mac
- All Linux

[Prerequisites]:
- Have a Firefox profile with "Firefox Notes" v2.0.0b7 installed.
- Log into a valid FxA.

[Steps to reproduce]:
1. Open the browser with the profile from prerequisites.
2. Click on the 3 dots menu button.
3. Click on the "Disable Sync" button and observe the "Saved at..." area at

[2017-12-04 18:39] johngruen opened #476 "Add count remaining to the homepage file list"

[2017-12-04 18:43] johngruen opened #477 "Verify reason transfer stopped event occurances"

[2017-12-04 18:43] #477 closed

[2017-12-04 18:43] #476 closed

[2017-12-04 19:54] vladikoff commented on #473
this is strange

[2017-12-04 20:31] vladikoff commented on #438
Filed https://github.com/ckeditor/ckeditor5-heading/issues/91 to check if by-design or not

[2017-12-04 23:20] vladikoff commented on #474
Fixed in https://github.com/mozilla/notes/pull/425/commits/54c72425da3fb7a623d333b817f02439cf15c4a7

[2017-12-04 23:20] #474 closed

[2017-12-04 23:21] vladikoff commented on #469
Fixed via https://bugzilla.mozilla.org/show_bug.cgi?id=1386623#c19

[2017-12-04 23:21] #469 closed

[2017-12-05 13:54] Softvision-MariusComan opened #479 "Disable the "Sync Your Notes" button while "Saved at (hour)" status is displayed"
**[Notes]:**
- If you press the "Sync Your Notes" button while "Saved at (hour)" status is displayed then the content will be duplicated.
- If you spam click the "Sync Your Notes" button, then the content will be multiplied exponentially with the number of clicks made which can lead to the sidebar freezing and becoming unresponsive.

**[Affected versions]:**
- Firefox 57 and up

**[Affected Platfo

[2017-12-05 13:59] Softvision-MariusComan opened #480 "The "Backspace" button wrongly goes back one page after clicking the sync button and selecting all text"
**[Affected versions]:**
- Firefox 57 and up

**[Affected Platforms]:**
- All Windows
- All Mac
- All Linux

**[Prerequisites]:**
- Have a new Firefox profile with the latest "Firefox Notes" add-on version (2.0.0b7) installed.
- Have content in the "Firefox Notes" sidebar.

**[Steps to reproduce]:**
1. Open the browser with the profile from prerequisites and navigate to a website in the same tab.

[2017-12-05 14:12] vladikoff commented on #479
Good find!!

[2017-12-05 17:25] SoftVision-EmilPasca opened #481 "Notes state doesn't go into "Reconnect to Sync" state only if the "Sync" button is clicked or the content in Notes sidebar is updated"
**[Notes]:**
- The Notes state is updated into "Reconnect to Sync" state when the user clicks the "Sync" button or updates the content in Notes sidebar.

**[Affected versions]:**
- Firefox 57 and up

**[Affected Platforms]:**
- All Windows
- All Mac
- All Linux

**[Prerequisites]:**
- Have a new Firefox profile with the latest "Firefox Notes" add-on version (2.0.0b7) installed.
- Have content in t

[2017-12-05 18:11] vladikoff commented on #481
@SoftVision-EmilPasca

Just like "Reset" and "Change" it will only go into the reconnect state after it tries to Sync. It doesn't get any other signals to trigger the "Reconnect" warning

[2017-12-06 06:22] vladikoff commented on #479
@Natim we should fix this for the RC IMHO

[2017-12-06 12:42] Softvision-MariusComan opened #482 "The "Syncing changes..." message does not disappear in other windows after reconnecting"
**[Affected versions]:**
- Firefox 57 and up

**[Affected Platforms]:**
- All Windows
- All Mac
- All Linux

**[Prerequisites]:**
- Have a new Firefox profile with the latest "Firefox Notes" add-on version (2.0.0b8) installed.
- You must be logged into "Firefox Notes".

**[Steps to reproduce]:**
1. Open the browser with the profile from prerequisites.
2. Open another window and change your FxA pas

[2017-12-06 14:00] Softvision-MariusComan opened #483 "The "Disable sync" option is wrongly displayed in the "Notes" menu even if you are not logged into "Firefox Notes""
**[Affected versions]:**
- Firefox 57 and up

**[Affected Platforms]:**
- All Windows
- All Mac
- All Linux

**[Prerequisites]:**
- Have a new Firefox profile with the latest "Firefox Notes" add-on version (2.0.0b8) installed.
- You must not be logged into "Firefox Notes".

**[Steps to reproduce]:**
1. Open the browser with the profile from prerequisites.
2. Click the "Sync Your Notes" button and

[2017-12-06 14:23] Softvision-CristinaBadescu opened #484 ""Insecure Connection" page appears if you navigate to the sign in URL in a normal tab and try to log in"
[Affected versions]:
- Firefox 57.0.1 and up

[Affected Platforms]:
- All Windows
- All Mac
- All Linux

[Prerequisites]:
- Have a Firefox profile with the latest "Firefox Notes" v2.0.0b8 installed.
- Have valid Firefox account credentials.
- You are not logged in the Notes Firefox Account.

[Steps to reproduce]:
1. Open the browser with the profile from prerequisites and click the "Sync Your Note

[2017-12-06 14:25] Natim commented on #484
Refs https://bugzilla.mozilla.org/show_bug.cgi?id=1411646&sourceid=Mozilla-search

[2017-12-06 14:27] Natim commented on #484
I guess that's expected because you are starting the login flow manually and then we are redirecting to an signaled URL that is not catched anymore. So I would fix it as a wontfix.

[2017-12-06 15:13] Softvision-MariusComan opened #485 "The "Delete" option from the context menu does not work if all the content is selected"
**[Notes]:**
- The issue is reproducible only if the content is selected by pressing "Ctrl+A" or by using the "Select All" option from the context menu.

**[Affected versions]:**
- Firefox 57 and up

**[Affected Platforms]:**
- All Windows
- All Mac
- All Linux

**[Prerequisites]:**
- Have a new Firefox profile with the latest "Firefox Notes" add-on version (2.0.0b8) installed.
- Have content in t

[2017-12-06 15:20] vladikoff commented on #479
Should be fixed in https://github.com/mozilla/notes/commit/643eb26a4fdac117e50a10cb225cebd85c2ff951 and in landed in the next version.

[2017-12-06 15:22] Softvision-CristinaBadescu opened #486 "Login animation briefly appears after you reopen the "Notes" sidebar"
[Affected versions]:
- Firefox 57.0.1 and up

[Affected Platforms]:
- All Windows
- All Mac
- All Linux

[Prerequisites]:
- Have a Firefox profile with the latest "Firefox Notes" v2.0.0b8 installed.
- You are logged in a valid Notes Firefox Account.

[Steps to reproduce]:
1. Open the browser with the profile from prerequisites and close the "Notes" sidebar.
2. Reopen the sidebar and observe what i

[2017-12-06 15:23] vladikoff opened #487 "Allow pressing "Reconnect to Sync" as a button"
Currently you have to press the Sync arrows to reconnect

[2017-12-06 15:24] vladikoff commented on #473
fixed in https://github.com/mozilla/notes/pull/425/commits/54c72425da3fb7a623d333b817f02439cf15c4a7

[2017-12-06 15:24] #473 closed

[2017-12-06 15:26] vladikoff commented on #486
Good find, unless @ryanfeeley really hates it , we shall fix it post sync release.

@ryanfeeley see the bottom left of the GIF, does it make you mad?

[2017-12-06 15:27] SoftVision-EmilPasca opened #488 "Sync does not work if "Tabmarks" add-on is enabled"
**[Affected versions]:**
- Firefox 57.0.1 and up
- Tabmarks 1.0.0beta3

**[Affected Platforms]:**
- All Windows
- All Mac
- All Linux

**[Prerequisites]:**
- Have a new Firefox profile with the latest "Firefox Notes" add-on version (2.0.0b8) and Tabmarks (1.0.0beta3 - https://addons.mozilla.org/en-US/firefox/addon/tabmarks/) installed.

**[Steps to reproduce]:**
1. Open the browser with the profil

[2017-12-06 15:28] vladikoff commented on #475
Minor ux problem, moving to enhancement

[2017-12-06 15:31] vladikoff commented on #480
Some focusing + keyboard bug either with CKEditor or Firefox.

Moving to Editor milestone

[2017-12-06 15:34] vladikoff commented on #481
This is expected, you should get "Reconnect to Sync" when you:

 Reopen the sidebar or change content (trigger sync).

[2017-12-06 15:34] #481 closed

[2017-12-06 15:38] ryanfeeley commented on #486
Seems janky. Fix after Sync release. People are dying for Sync!

[2017-12-06 15:47] SoftVision-CarmenFat opened #489 "[Windows] Sidebar's border is black instead of gray on Firefox Nightly"
[Affected versions]:
- Firefox Nightly 59.0a1

[Affected Platforms]:
- All Windows

[Prerequisites]:
- Have a Firefox profile with "Firefox Notes" v2.0.0b8 installed.

[Steps to reproduce]:
1. Open the browser with the profile from prerequisites.
2. Observe the color of the Sidebar's border.

[Expected result]:
- The color of the Sidebar's border is grey.

[Actual result]:
- The color of the Sideb

[2017-12-06 15:50] SoftVision-CarmenFat opened #490 "The text is not saved nor synced if it's dragged and dropped on the content area of the Sidebar"
[Affected versions]:
- Firefox 57.0.1 and up

[Affected Platforms]:
- All Windows
- All Mac
- All Linux

[Prerequisites]:
- Have a Firefox profile with "Firefox Notes" v2.0.0b8 installed.
- Have a website with text opened.

[Steps to reproduce]:
1. Open the browser with the profile from prerequisites.
2. Select some text from the opened website (e.g. www.wikipedia.org)
3. Drag and drop the selecte

[2017-12-06 15:54] SoftVision-CarmenFat opened #491 "The text is erased when logging into Fxa if it was previously dragged and dropped on the Sidebar"
[Affected versions]:
- Firefox 57.0.1 and up

[Affected Platforms]:
- All Windows
- All Mac
- All Linux

[Prerequisites]:
- Have a Firefox profile with "Firefox Notes" v2.0.0b8 installed.
- Have some dragged and dropped text in the Sidebar.
- Have a valid FxA.

[Steps to reproduce]:
1. Open the browser with the profile from prerequisites.
2. Click on the "Sync Your Notes" button and log into the F

[2017-12-06 15:56] SoftVision-CarmenFat opened #492 "The "Firefox Notes" sidebar has a noticeable delay when it's reopened or switched if the user is logged into the FxA"
[Affected versions]:
- Firefox 57.0.1 and up

[Affected Platforms]:
- All Windows
- All Mac
- All Linux

[Prerequisites]:
- Have a Firefox profile with "Firefox Notes" v2.0.0b8 installed.
- Have the "Firefox Notes" sidebar closed.
- Log into the FxA.

[Steps to reproduce]:
1. Open the browser with the profile from prerequisites.
2. Click the "Show sidebars" button from the browser toolbar and obse

[2017-12-06 15:58] vladikoff commented on #485
Duplicate of https://github.com/mozilla/notes/issues/423

[2017-12-06 15:58] #485 closed

[2017-12-06 16:00] vladikoff commented on #488
Firefox WebExtension bug it seems, @SoftVision-EmilPasca I will try to file a Firefox bug for this.

Pretty scary!

[2017-12-06 16:02] vladikoff commented on #489
Detailed find! Moving to Firefox Bug for now. This might be by design, they are trying to make the resize drag space easier to move

[2017-12-06 16:04] vladikoff commented on #490
CKEditor bug, we are going to try to add a manual trigger

[2017-12-06 16:04] vladikoff commented on #490
Needs changes to https://github.com/mozilla/notes/commit/a4510bdbaf38dceffd7206903871b9d69785d9f6

[2017-12-06 16:06] vladikoff commented on #492
Yeah, probably for post first Sync release, we shall try to speed it up

[2017-12-06 16:08] vladikoff commented on #484
This is a WONTFIX for now, we shall keep an eye on it though.

[2017-12-06 16:08] #484 closed

[2017-12-06 16:09] vladikoff commented on #466
closing for now

[2017-12-06 16:09] #466 closed

[2017-12-06 16:10] vladikoff opened #493 "Use Kinto prod"

[2017-12-06 16:26] Softvision-CristinaBadescu opened #494 "Military time format isn't displayed when certain languages or locales are set"
[Affected versions]:
- Firefox 57.0.1 and up

[Affected Platforms]:
- All Windows
- All Mac
- All Linux

[Prerequisites]:
- Have a Firefox profile with the latest "Firefox Notes" v2.0.0b8 installed.
- Have the Firefox profile language set to "German [de]".
- You are logged in a valid Notes Firefox Account.

[Steps to reproduce]:
1. Open the browser with the profile from prerequisites.
2. Observe t

[2017-12-06 16:31] vladikoff commented on #494
@Softvision-CristinaBadescu this is an interesting one. The only way I found to see this "working" is if you download a localized build: https://www.mozilla.org/en-US/firefox/all/

Switching the locale doesn't help trigger the change to time format :(
Some more information here: https://github.com/mozilla/notes/issues/395

[2017-12-06 16:33] vladikoff commented on #494
We just use:

[code]

so we have no control over this. We will need to file a Firefox (WebExtension?) bug I think

https://github.com/mozilla/notes/pull/425/files#diff-d4283f712f8a9b9152bc585b8ad742d8R159

Marking this as a Firefox bug

[2017-12-06 16:42] Softvision-CristinaBadescu commented on #494
Thanks for the information @vladikoff! Indeed, this issue is no longer reproducible when I use a localized build.

[2017-12-06 17:02] Softvision-MariusComan opened #495 "Feedback button from the menu is wrongly the first item to be focused when Tab is pressed"
**[Affected versions]:**
- Firefox 57 and up

**[Affected Platforms]:**
- All Windows
- All Mac
- All Linux

**[Prerequisites]:**
- Have a new Firefox profile with the latest "Firefox Notes" add-on version (2.0.0b8) installed.
- You must be logged into "Firefox Notes".

**[Steps to reproduce]:**
1. Open the browser with the profile from prerequisites.
2. Focus the sidebar and press the "Tab" key o

[2017-12-06 17:09] vladikoff commented on #490
Fixed in https://github.com/mozilla/notes/pull/425/commits/bf64e701ef0a740442f1ef8164613dce04d98ac1

[2017-12-06 17:09] #490 closed

[2017-12-06 17:09] vladikoff commented on #491
Fixed in https://github.com/mozilla/notes/pull/425/commits/bf64e701ef0a740442f1ef8164613dce04d98ac1

[2017-12-06 17:09] #491 closed

[2017-12-06 23:23] vladikoff commented on #495
Thanks! Fixed in https://github.com/mozilla/notes/pull/425/commits/487ccf2d2e650544849c101468d0f99145e8c0d3

[2017-12-06 23:23] #495 closed

[2017-12-06 23:38] vladikoff commented on #482
Should be fixed in https://github.com/mozilla/notes/pull/425/commits/cbc878d0cdb5f75d63425ee3b7fa29a17448720c

[2017-12-06 23:39] #482 closed

[2017-12-06 23:41] vladikoff commented on #483
The "Saved at" indicator in "yellow" is fixed in https://github.com/mozilla/notes/pull/425/commits/cbc878d0cdb5f75d63425ee3b7fa29a17448720c

That's by design.

 However I'm gonna keep this bug open because we might be able to improve the "Verify Account" / "Reconnect Sync" flow **on login**.

[2017-12-06 23:54] vladikoff commented on #493
Bugzilla https://bugzilla.mozilla.org/show_bug.cgi?id=1386623 ?

[2017-12-07 02:07] pdehaan commented on #494
@vladikoff Do we need to use [**moment.js**](https://github.com/moment/moment) or [**luxon**](https://github.com/moment/luxon) or something similar?

[2017-12-07 08:23] Natim commented on #493
Yes don't worry about that, we are working on it but the load on this stack should be fine for a while: https://testpilot.settings.services.mozilla.com/v1/

[2017-12-07 08:23] #493 closed

[2017-12-07 08:42] #180 closed

[2017-12-07 09:23] Softvision-MariusComan commented on #479
This behavior is still reproducible with the latest "Firefox Notes" add-on version (2.0.0rc2) installed. Considering this I will reopen the issue.

[2017-12-07 13:32] SoftVision-EmilPasca commented on #495
This issue is no longer reproducible with the latest "Firefox Notes" add-on version (2.0.0rc2) installed.

[2017-12-07 13:39] SoftVision-EmilPasca commented on #482
This issue is no longer reproducible with the latest "Firefox Notes" add-on version (2.0.0rc2) installed.

[2017-12-07 13:52] vladikoff commented on #330
Why did this close ? hmm

[2017-12-07 14:36] vladikoff commented on #493
Hero!

[2017-12-07 14:59] SoftVision-EmilPasca opened #498 "[Windows] Theme options aren't displayed for Notes in "about:addons" page"
**[Notes]:**
- The issue is intermitent.

**[Affected versions]:**
- Firefox 57.0.1 and up

**[Prerequisites]:**
- Have a new Firefox profile with the latest "Firefox Notes" add-on version (2.0.0rc2) installed.

**[Steps to reproduce]:**
1. Open the browser with the profile from prerequisites.
2. Navigate to "about:addons" page and double-click on "Firefox Notes".
3. Observe the "Firefox Notes" th

[2017-12-07 15:31] vladikoff commented on #498
Firefox bug heh

[2017-12-07 15:48] SoftVision-CarmenFat opened #499 "[Nightly] Text and icon from the sidebar switcher door hanger are wrongly aligned to the left and the icon is replaced with a "check" sign when selecting Notes"
[Affected versions]:
- Firefox Nightly 59.0a1

[Affected Platforms]:
- All Windows
- All Mac
- All Linux

[Prerequisites]:
- Have a Firefox profile with "Firefox Notes" v2.0.0rc2 installed.

[Steps to reproduce]:
1. Open the browser with the profile from prerequisites.
2. Click on the sidebars switch button and observe the way that "Notes" sidebar option is displayed.
BONUS:
3. Click on the "Notes

[2017-12-07 15:48] SoftVision-CarmenFat opened #500 "Sync arrows button doesn't become blue when syncing if Dark theme is enabled"
[Affected versions]:
- Firefox 57.0.1 and up

[Affected Platforms]:
- All Windows
- All Mac
- All Linux

[Prerequisites]:
- Have a Firefox profile with "Firefox Notes" v2.0.0rc2 installed.
- Have Dark theme enabled.

[Steps to reproduce]:
1. Open the browser with the profile from prerequisites.
2. Click on the "Sync Your Notes" button and observe what happens next.

[Expected result]:
- The Sync a

[2017-12-07 15:49] SoftVision-CarmenFat opened #501 "Text cursor doubles its width if the text is written with special characters"
[Affected versions]:
- Firefox 57.0.1 and up

[Affected Platforms]:
- All Windows
- All Mac
- All Linux

[Prerequisites]:
- Have a Firefox profile with "Firefox Notes" v2.0.0rc2 installed.
- Have Chinese, Japanese or Coreean text written in the Sidebar.

[Steps to reproduce]:
1. Open the browser with the profile from prerequisites.
2. Make some random clicks through the characters and observe the

[2017-12-07 15:50] vladikoff commented on #500
good find! 👍

[2017-12-07 15:51] SoftVision-CarmenFat opened #502 "Erasing the text after disabling FxA doesn't bring back the Sync data if re-enabling the FxA"
[Affected versions]:
- Firefox 57.0.1 and up

[Affected Platforms]:
- All Windows
- All Mac
- All Linux

[Prerequisites]:
- Have a Firefox profile with "Firefox Notes" v2.0.0rc2 installed.
- Log into the FxA.

[Steps to reproduce]:
1. Open the browser with the profile from prerequisites.
2. Type some text into the sidebar.
3. Click the 3 dot menu button and select "Disable Sync" option.
4. Press "

[2017-12-07 15:53] vladikoff commented on #502
@Natim any idea about this one?

[2017-12-07 15:56] Natim commented on #502
It is not a bug it is because nothing changed remotely so it synced the local modification

[2017-12-07 16:06] Natim commented on #500
@cedricium do you know if that's the expected behavior?

[2017-12-07 16:19] Natim commented on #498
Can I let you file a Bugzilla issue for this one?

[2017-12-07 16:24] Natim commented on #499
Can I let you create a Firefox Bugzilla issue for this one?

[2017-12-07 16:25] Natim commented on #501
If I am not wrong it is a feature of the browser so that we don't mix the cursor with characters parts.

[2017-12-07 16:29] pdehaan commented on #494
Another possibility is passing `navigator.languages` array to `.toLocaleTimeString()`:

[code]

[2017-12-07 16:30] #501 closed

[2017-12-07 16:31] SoftVision-EmilPasca commented on #498
@Natim  sure, will do.

[2017-12-07 16:46] SoftVision-CarmenFat commented on #491
The issue is no longer reproducible with Firefox Notes v.2.0.0rc2.

[2017-12-07 16:46] SoftVision-CarmenFat commented on #490
The issue is no longer reproducible with Firefox Notes v.2.0.0rc2.

[2017-12-07 16:58] vladikoff commented on #490
yaaay

[2017-12-07 17:09] SoftVision-PaulOiegas commented on #502
@vladikoff @Natim Hmmm, I can understand it from a point of view, but this could also cause loss of data in some cases. If you delete the data by mistake or someone accesses your PC and even if you are disconnected from FxA, it clears your saved notes. If you relog, you will permanently loose them. So, you are either forced to log on a different device to bring back your notes, either to reinstall

[2017-12-07 17:24] Natim commented on #502
I guess I understand your point, when disconnecting and reconnecting, you would like to see a merge conflict as if you never connected to this server, while currently we just sync as if you were never disconnected.

I guess the misunderstanding is that you don't remove the note, you edit the content of the note offline to an empty one.

How does it work if you take again your scenarios and instead

[2017-12-07 17:30] SoftVision-PaulOiegas commented on #502
I'm not sure that I really understand your question. You want to know what happens in the 2 scenarios mentioned at inconsistency if you edit instead of clear? Or you want to know what happens on Carmen's scenario if you edit the note and not clear it before reconnect?

[2017-12-07 17:36] Natim commented on #502
Yes I want to know what is the expected behavior when you think of editing the content rather than removing it. Because we don't have such concept as clear the note so far.

[2017-12-07 18:19] SoftVision-PaulOiegas commented on #502
I will have to test this tomorrow since is kind of late for us already and my team already left.

[2017-12-08 11:10] Softvision-MariusComan opened #503 "Sync remains in reconnecting loop after signing in with valid credentials"
**[Affected versions]:**
- Firefox 57.0.1 and up

**[Affected Platforms]:**
- All Windows
- All Mac
- All Linux

**[Prerequisites]:**
- Have a new Firefox profile with the latest "Firefox Notes" add-on version (2.0.0rc2) installed.
- Have valid FxA credentials.

**[Steps to reproduce]:**
1. Open the browser with the profile from prerequisites.
2. Click the "Sync Your Notes" button from the bottom-

[2017-12-08 12:39] Softvision-MariusComan commented on #502
I have not managed to test the above scenarios because this issue is blocked by https://github.com/mozilla/notes/issues/503.

[2017-12-08 14:37] Natim commented on #503
Can you give us more information especially the HTTP code that you get from kinto in the web console network panel?

[2017-12-08 14:42] Natim commented on #503
I guess it could be the Insufficient Storage error and we should probably think about handling that error.

[2017-12-08 14:44] Natim commented on #503
![boom](https://user-images.githubusercontent.com/229453/33770628-b25f2cdc-dc2e-11e7-8ca1-220584c14ace.png)

[2017-12-08 14:44] Natim commented on #503
@vladikoff @rfk ^

[2017-12-08 14:53] SoftVision-CarmenFat commented on #499
Sure, filed issue: [1424259](https://bugzilla.mozilla.org/show_bug.cgi?id=1424259).

[2017-12-08 15:40] Natim commented on #503
https://bugzilla.mozilla.org/show_bug.cgi?id=1424277

[2017-12-08 16:12] vladikoff commented on #503
@Softvision-MariusComan @SoftVision-EmilPasca @Natim We have identified a problem with the Firefox Accounts deploy, fix incoming for login in 1-2 hours. Sorry about that!

[2017-12-08 16:13] vladikoff commented on #503
Tracking deploys here: https://bugzilla.mozilla.org/show_bug.cgi?id=1421486#c18

[2017-12-08 19:09] vladikoff commented on #503
This was fixed!

[2017-12-08 19:09] #503 closed

[2017-12-08 21:32] Natim opened #505 "In some context we have a merge conflict with the initial content."
We should refuse to store the initial content inside kinto

[2017-12-08 21:56] Natim commented on #505
Fixed with bcfd42b

[2017-12-08 21:56] #505 closed

[2017-12-08 21:57] #479 closed

[2017-12-08 21:57] Natim commented on #479
Fixed with 529b896

[2017-12-11 08:50] Softvision-MariusComan commented on #479
The issue is no longer reproducible on the latest version of Firefox Notes (2.0.0rc3) on the latest Firefox release and Nightly.

[2017-12-11 08:51] Softvision-MariusComan commented on #503
The issue is no longer reproducible on the latest version of Firefox Notes (2.0.0rc3) on the latest Firefox release and Nightly.

[2017-12-11 09:04] Softvision-MariusComan commented on #502
The issue is no longer reproducible on the latest version of Firefox Notes (2.0.0rc4) on the latest Firefox release and Nightly. Thanks for the effort to fix this issue. 👍

[2017-12-11 09:04] #502 closed

[2017-12-13 15:24] Softvision-MariusComan opened #507 "Test Pilot wrongly installs the old version of Firefox Notes (1.9.0) even if the new version (2.0.0) was released"
**[Affected versions]:**
- Firefox 57.0.2 and up

**[Affected Platforms]:**
- All Windows
- All Mac
- All Linux

**[Prerequisites]:**
- Have a new Firefox profile.

**[Steps to reproduce]:**
1. Open the browser with the profile from prerequisites.
2. Navigate to the https://testpilot.firefox.com/experiments/notes page.
3. Click the "Install Test Pilot & Enable Notes" button.
4. Navigate to the "ab

[2017-12-13 15:25] vladikoff opened #508 "Investigate copy paste markdown / html depending on supported paste destination"
Investigate copy paste markdown / html depending on supported paste destination

[2017-12-13 15:30] vladikoff opened #509 "Bring back checklist support"

[2017-12-13 15:33] vladikoff opened #510 "Find a way to improve discoverability of the Notes sidebar"

[2017-12-13 15:57] Softvision-MariusComan commented on #507
This issue is no longer reproducible. Now the TxP website installs the latest "Firefox Notes" version (2.1.0).

[2017-12-13 15:57] #507 closed

[2017-12-13 20:43] kpuljek opened #512 "Notes panel completely blank"
Notes just updated to 2.1.0 and now when I open the sidepanel, I have the title "Notes" and nothing else, it's entirely empty.

Firefox 57.0.1 on Ubuntu 17.10

[2017-12-13 20:59] vladikoff commented on #512
@kpuljek could you please provide any information by opening `about:debugging` and finding "Firefox Notes" in there. Press `Debug`, please tell us if you see any errors in that console. Sorry about that :(

[2017-12-13 22:31] kpuljek commented on #512
This is what I get in the console view when I try to open Notes in the sidebar:

IndexedDB UnknownErr: ActorsParent.cpp:598  (unknown)
UnknownError  kinto.js:5546:22
Unchecked lastError value: Error: Could not establish connection. Receiving end does not exist. ExtensionCommon.jsm:407
Unchecked lastError value: Error: Could not establish connection. Receiving end does not exist. ExtensionCommon.js

[2017-12-13 22:33] Natim commented on #512
Looks like you are hitting this bug: https://stackoverflow.com/a/32548082/186202

[2017-12-13 22:39] kpuljek commented on #512
This is what I get when I disable/enable Notes:

`Unknown` property ‘user-select’.  Declaration dropped.  menu.css:130:13
Unknown property ‘visiblity’.  Declaration dropped.  styles.css:228:11
Unknown property ‘visiblity’.  Declaration dropped.  styles.css:237:11
Error in parsing value for ‘visibility’.  Declaration dropped.  styles.css:338:14
Webconsole context has changed
Use of Mutation Events

[2017-12-13 22:56] Natim commented on #512
I created https://bugzilla.mozilla.org/show_bug.cgi?id=1425146 in order to figure out how to help you.

My understanding is that your profile directory permissions doesn't allow us to create the IndexedDB database file.

Can you check that the storage/default/ directory in your profile exists and has got write permissions with your user running Firefox?

[2017-12-13 23:05] kpuljek commented on #512
Everything looks okay permission-wise, I'm the owner of everything in my .mozilla folder inside home. There is a storage/default, but there's nothing about notes there

[2017-12-13 23:21] Natim commented on #512
Do you see any QuotaManager related messages in the console?

[2017-12-14 10:08] kpuljek commented on #512
Nope, I tried to capture every single message related to Notes (enabling/disabling the panel, enabling/disabling the extension) - attached screenshot:

![screenshot from 2017-12-14 11-06-26](https://user-images.githubusercontent.com/9851336/33986810-05de4af2-e0bf-11e7-965b-bae2c1387040.png)

[2017-12-14 15:21] Natim opened #513 "Don't spin until you stop typing."

[2017-12-14 16:05] Natim commented on #512
Apparently this bug occurs when you used a profile with a new version of Firefox and then came back to an older version. You might want to drop your current profile and create a new one.

You can plan to use Sync in the meantime to migrate your data to the new profile.

[2017-12-14 17:36] cedricium opened #514 "Implement links using the ckeditor5-link plugin"
After doing some research into how to implement links that will follow @ryanfeeley's design ([mockup here](https://mozilla.invisionapp.com/share/6VBUYHMRB#/screens/235284916)), I think it will be best to use the `ckeditor5-link` plugin. There is some work needed for this to work which I outline below.

**Background:**
The `ckeditor5-link` plugin has a main class `Link` which sets up a `LinkFormVie

[2017-12-15 20:20] Natim commented on #512
Ok I was able to [reproduce a similar error locally](https://bugzilla.mozilla.org/show_bug.cgi?id=1425146)

Apparently if a file exists and shouldn't in the IDB repository it makes the loading to fail.

@kpuljek Can you check if you have a file ending with a `.` in your `.mozilla/firefox/PROFILE.default/storage/default/moz-extension+++*/idb/`

[2017-12-15 20:34] kpuljek commented on #512
Hey! I have two moz-extension+++* folders, but neither has the id of the notes extension, both contain only an .sqlite file and an additional folder. not a single file ending with "."

The only file actually connected to notes i found is in profile/browser-extension-data/notes@mozilla.com/storage.js (the js file contains everything my notes used to show when the panel was opened). I made a backup

[2017-12-15 20:37] Natim commented on #512
Ok so maybe it wasn't the same error.

Can you send me zipped the moz-extension+++ folders that contains the idb repository?
Is one of the sqlite file named `3350367306aesgyanrcoSt.sqlite`?

[2017-12-15 20:38] kpuljek commented on #512
3593252786Vyieoklneonmt.sqlite and 1671402671ueBglaorcokt0SCeahc.sqlite

I don't have a 3350367306aesgyanrcoSt anywhere in my profile

[2017-12-16 17:20] Natim commented on #512
Ok I've got a way to figure out something.

Can you download [that zip file](https://github.com/mozilla/notes/files/1543921/addon-2.0.0rc3.zip) and load it as a temporary module in about:debugging

Then can you start the debugger and go to the storage / IndexedDB tab.

It should show the following:

![demo](https://user-images.githubusercontent.com/229453/34072784-d32864a0-e28d-11e7-8b68-9f066517a

[2017-12-16 17:31] Natim commented on #512
If this doesn't work, can you checkout the code of the add-on, use npm install and then npm start to see if it shows?

[2017-12-17 19:19] kpuljek commented on #512
This is the only one containing anything, everything else is empty

![notes](https://user-images.githubusercontent.com/9851336/34082920-7c303a9e-e367-11e7-81c8-71ad157dd493.png)

[2017-12-17 21:53] kpuljek commented on #512
When I build it from source and run firefox from the terminal, it works! Can I somehow just install that one into my profile?

[2017-12-17 22:03] Natim commented on #512
Yes you can use `npm run package` to build the XPI

[2017-12-17 22:12] kpuljek commented on #512
and please let me know what's the difference between the Notes on testpilot and notes on Mozilla addons? I see that it's a different version, and it installs separately, but besides that? Because I had the one from testpilot, the one from the addon store works (it says it's packaged by you, apparently) but that one is only at version 1.3 and it appears twice in the sidebar menu (separately for the

[2017-12-17 22:13] Natim commented on #512
Yes the one in AMO is the version we had before Test Pilot.

[2017-12-17 22:26] kpuljek commented on #512
I really can't say what's wrong with this. I made a new profile, synced it, notes appeared fine (even though there's a slight delay between opening the panel and interface actually showing. Something must be wrong with my old profile. I'll migrate to the new one, I really need notes in my workflow and this has been far too silly now. Thanks for all your help, if you want to debug this further I'll

[2017-12-18 12:46] Softvision-MariusComan opened #516 "Certain content from specific websites is not displayed after it's pasted into the sidebar"
**[Notes]:**
- A part of the content is displayed only if you unfocus the sidebar or you start writing in it. But then, the content cannot be edited.

**[Affected versions]:**
- Firefox 57.0.2 and up

**[Affected Platforms]:**
- All Windows
- All Mac
- All Linux

**[Prerequisites]:**
- Have a Firefox profile with the latest "Firefox Notes" add-on version (2.2.0dev custom build from 12.18.2017) ins

[2017-12-18 13:56] Softvision-CristinaBadescu opened #517 "If a specific text from YouTube is copied using different browsers, the text has a wrong font when it's pasted in Firefox Notes sidebar"
[Notes]:
- This issue is reproducible only when you paste or drag YouTube comments or song description along with the username. However, the username is pasted with the default font and only the comment or description are wrongly pasted.
- This issue is reproducible when you copy the text from Chrome or Safari.

[Affected versions]:
- Firefox 57.0.2 and up

[Affected Platforms]:
- All Windows
- Al

[2017-12-18 15:04] Softvision-MariusComan opened #518 "The "Firefox Notes" sidebar does not focus if you drag and drop a text into it"
**[Affected versions]:**
- Firefox 57.0.2 and up

**[Affected Platforms]:**
- All Windows
- All Mac
- All Linux

**[Prerequisites]:**
- Have a Firefox profile with the latest "Firefox Notes" add-on version (2.2.0dev custom build from 12.18.2017) installed.

**[Steps to reproduce]:**
1. Open the browser with the profile from prerequisites.
2. Navigate to any website and select a text from the page.

[2017-12-19 10:04] Softvision-MariusComan opened #519 "The "Firefox Notes Feedback" page is wrongly opened if you click the area around the "Notes" menu button"
**[Affected versions]:**
- Firefox 57.0.2 and up

**[Affected Platforms]:**
- All Windows
- All Mac
- All Linux

**[Prerequisites]:**
- Have a Firefox profile with the latest "Firefox Notes" add-on version (2.2.0dev custom build from 12.19.2017) installed.
- You are already logged into "Firefox Notes".

**[Steps to reproduce]:**
1. Open the browser with the profile from prerequisites.
2. Click any

[2017-12-19 10:57] Natim commented on #512
@kpuljek could you send me a zip with the two storage moz extension repository?

[2017-12-19 11:15] Natim commented on #512
Apparently the file we are looking for should be called: `4213852584dseeftaounlFt2%.sqlite`

[2017-12-19 12:13] Softvision-CristinaBadescu opened #520 "The text formatting buttons are grayed out if a formatted text from Edge browser is dragged in a new paragraph of the sidebar"
[Notes]:
- This issue is also reproducible in this case : #434.
- This issue is also reproducible for a non-formatted text, but you need to drag and drop it at least two times in the sidebar to encounter the issue.

[Affected versions]:
- Firefox 57.0.2 and up

[Affected Platforms]:
- All Windows

[Prerequisites]:
- Have a Firefox profile with the latest "Firefox Notes" add-on version (2.2.0dev cu

[2017-12-19 12:35] Softvision-MariusComan opened #521 "A word is wrongly marked as misspelled, if the caret is placed inside of it and a formatting style is applied"
**[Notes]:**
- It seems that the word is divided by the text caret in two separate words after the formatting style option is applied and the "SpellChecker" verify both words if they are grammatically correct.

**[Affected versions]:**
- Firefox 57.0.2 and up

**[Affected Platforms]:**
- All Windows
- All Mac
- All Linux

**[Prerequisites]:**
- Have a Firefox profile with the latest "Firefox Notes

[2017-12-19 13:36] Softvision-CristinaBadescu opened #522 "The heading text is slightly moving when you click the "Bold" button"
[Affected versions]:
- Firefox 57.0.2 and up

[Affected Platforms]:
- All Windows
- All Linux

[Prerequisites]:
- Have a Firefox profile with the latest "Firefox Notes" add-on version (2.2.0dev custom build from 12.19.2017) installed.
- Have something written in the "Notes" sidebar.

[Steps to reproduce]:
1. Open Firefox browser with the profile from prerequisites.
2. Click inside the text from th

[2017-12-19 13:39] Softvision-CristinaBadescu opened #523 "The bulleted/numbered list is partially visible if it's created at the end of the "Notes" sidebar"
[Notes]:
- The list notation becomes fully visible when you start typing.

[Affected versions]:
- Firefox 57.0.2 and up

[Affected Platforms]:
- All Windows
- All Mac
- All Linux

[Prerequisites]:
- Have a Firefox profile with the latest "Firefox Notes" add-on version (2.2.0dev custom build from 12.19.2017) installed.

[Steps to reproduce]:
1. Open Firefox browser with the profile from prerequisit

[2017-12-19 14:07] Softvision-MariusComan opened #524 "[Multiple windows] New text entered after Notes was cleared is removed if pasted after "Saving changes...." state of sync occurs"
**[Notes]:**
- The issue is reproducible only if you paste/write the text right after the first "Saving changes...." message disappears, while the "Saved at (hour)" message is displayed.

**[Affected versions]:**
- Firefox 57.0.2 and up

**[Affected Platforms]:**
- All Windows
- All Mac
- All Linux

**[Prerequisites]:**
- Have a Firefox profile with the latest "Firefox Notes" add-on version (2.2.0

[2017-12-19 15:13] Softvision-MariusComan opened #525 "The content is duplicated if a new window is opened while the "Saving changes...." message is still displayed"
**[Notes]:**
- The issue is reproducible only if the new window is opened while the "Saving changes...." message is still displayed.
- Also, the "**** On this computer: ****" message is wrongly displayed between the strings.

**[Affected versions]:**
- Firefox 57.0.2 and up

**[Affected Platforms]:**
- All Windows
- All Mac
- All Linux

**[Prerequisites]:**
- Have a Firefox profile with the latest

[2017-12-19 15:51] Softvision-CristinaBadescu opened #526 "The "Sync Your Notes" button is slightly moving when it's being clicked"
[Affected versions]:
- Firefox 57.0.2 and up

[Affected Platforms]:
- All Windows
- All Linux

[Prerequisites]:
- Have a Firefox profile with the latest "Firefox Notes" add-on version (2.2.0dev custom build from 12.19.2017) installed.
- You are already logged into "Firefox Notes" account.

[Steps to reproduce]:
1. Open Firefox browser with the profile from prerequisites.
2. Click "Sync Your Notes"

[2017-12-19 16:35] ryanfeeley opened #527 "Menu icon is not vertically centered"
It's off by 3 (HiDPI pixels)…
<img width="150" alt="screen shot 2017-12-18 at 4 49 02 pm" src="https://user-images.githubusercontent.com/68213/34167586-277c8e40-e4b0-11e7-9e2b-a5dd938d670e.png">

[2017-12-19 18:12] ryanfeeley opened #528 "Add long form names in formatting dropdown menu"
The __abreevs__ are cool in the label, but once expanded, we should show the full name. Take care localizing as I'm imaging the width will vary greatly. Also rename a few things, and more logically ordered the items too.

Note that `Aa` should appear when paragraphs are selected or when nothing is selected. This may be a change in behaviour, albeit just a label change.

![notes-formatting-menu](ht

[2017-12-19 18:55] ryanfeeley opened #529 "Remove left and right borders on Notes sidebar panels"
The left and right borders are not needed <img width="420" alt="screen shot 2017-12-13 at 2 52 27 pm" src="https://user-images.githubusercontent.com/68213/34173686-4dd42d3c-e4c4-11e7-9942-b308fcbba387.png">

[2017-12-20 12:52] Softvision-CristinaBadescu opened #530 "If you use Markdown formatting for "Bold" and "Italic", the "Notes" sidebar wrongly loses focus after saving or syncing changes"
[Regression]:
- This issue seems to be a regression. I've managed to find a regression-window. Here are the results:
Last good revision: 7fb001f811d183095e9cfdd958c9215484377396
First bad revision: d5e1ed773fefe2eb9d52402dd74b5fea19b8b4a4
Pushlog: https://goo.gl/kosEDa

Is there anything we can do to resolve this on the Notes side or should I file an issue in Bugzilla?

[Affected versions]:
- Fire

[2017-12-20 12:53] Natim commented on #530
Can you create a bugzilla issue for this one? Especially since you found the regression logs?

[2017-12-20 13:09] Softvision-CristinaBadescu commented on #530
Of course :) I've filed it here: bug [1426348](https://bugzilla.mozilla.org/show_bug.cgi?id=1426348).

[2017-12-20 13:36] Natim commented on #530
Thanks :)

[2017-12-20 16:17] vladikoff commented on #530
@Softvision-CristinaBadescu  awesome 👍

[2017-12-20 16:43] SoftVision-CarmenFat opened #531 "The background of the menu button is inconsistent on Default and Dark Themes"
[Affected versions]:
- Firefox 57.0.2 and up

[Affected Platforms]:
- All Windows
- All Mac
- All Linux

[Prerequisites]:
- Have a Firefox profile with "Firefox Notes" (2.2.0dev custom build from 12.20.2017) installed.
- Have a valid FxA for Sync.
- Default Theme is enabled.

[Steps to reproduce]:
1. Open the browser with the profile from prerequisites.
2. Click on the "Sync Your Notes" button and

[2017-12-21 12:20] Softvision-CristinaBadescu opened #532 "Text isn't dropped in the text caret indicated position"
[Notes]:
- Also, you cannot drop text from "Notes" sidebar into another position in "Notes" sidebar.

[Affected versions]:
- Firefox 57.0.2 and up

[Affected Platforms]:
- All Windows
- All Mac
- All Linux

[Prerequisites]:
- Have a Firefox profile with the latest "Firefox Notes" add-on version (2.2.0dev custom build from 12.21.2017) installed.
- Have something written in the "Notes" sidebar.

[St

[2017-12-22 05:01] phantom-tim commented on #512
I experienced this today as well.  I've been using Notes regularly, but today the sidebar won't load anything.  I can see the contents of my notes in Profiles\PROFILE.default\browser-extension-data\notes@mozilla.com\storage.js

[2017-12-26 23:04] stripTM commented on #512
The same behavior, I tried to uninstall Notes and Test pilot and then reinstall them. But it still doesn't work.

[2017-12-27 18:05] Natim commented on #512
If you can try these steps it would help us: https://bugzilla.mozilla.org/show_bug.cgi?id=1425146#c35

[2017-12-27 21:38] phantom-tim commented on #512
@Natim, I'm afraid I don't have a Linux environment to test with.

[2017-12-28 00:09] stripTM commented on #512
@Natim done, but it is very difficult to use, only some Firefox elements are shown randomly.

I think this is the section of the log useful.

[Parent 12625, Main Thread] WARNING: Failed to open external DTD: publicId "-//W3C//DTD SVG 1.1//EN" systemId "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd" base "jar:file:///home/fer/.mozilla/firefox/n476vrxq.sept2014/extensions/notes@mozilla.com.xpi!/s

[2017-12-28 23:01] pdehaan opened #533 "Remove references to Quill?"
Per #394 ("Switch to CKEditor"), it seems like we switched to CKEditor instead of Quill.

I happened to spot a reference to Quill in the CSS, but I'm not sure how much of the old Quill references are needed for migration or whatever.

## Steps to reproduce:

<kbd>$ git grep -i "quill"</kbd>

## Actual results:

[code]

[2017-12-28 23:49] diogocnunes opened #534 "Issue with Line Break on Mac OS"
I haven't tested this on Windows. Therefore, I will assume that the error only occurs in MacOS.

I use Firefox Notes on Mozilla Firefox 57.0.3 on MacOS 10.13.2 High Sierra. When copying a text from Text Editor or Sublime Text to Firefox Notes, line breaks are removed and the text is all on the same line ...

If I correct the text in Firefox Notes and copy it to the Text Editor or Sublime Text, in

[2017-12-28 23:52] diogocnunes commented on #534
Examples:

**How shows in Sublime:**

![captura de tela 2017-12-28 as 23 50 44](https://user-images.githubusercontent.com/13525900/34426009-0320ea56-ec2a-11e7-9f90-330824711fb4.png)

**How shows in Firefox Notes:**

![captura de tela 2017-12-28 as 23 50 59](https://user-images.githubusercontent.com/13525900/34426013-0b27f83e-ec2a-11e7-9ee6-49c40eb7b934.png)

[2017-12-29 13:55] SoftVision-CarmenFat commented on #489
This issue is no longer reproducible on latest Nightly 59.0a1 (2017-12-29).

[2017-12-29 13:55] #489 closed

[2017-12-31 07:30] Natim commented on #512
@phantom-tim no worries, if you can try to download a debug build for your OS from Treeherder it would help. What is your OS?

@stripTM thanks it is really useful, I have added the following logs to the Bugzilla issue: https://bugzilla.mozilla.org/show_bug.cgi?id=1425146#c44

[2017-12-31 07:33] Natim commented on #534
Thank you for posting this issue, it is indeed very inconvenient.

@vladikoff I guess this is because linebreaks should be converted to <br/> on Text Plain paste?

[2017-12-31 21:00] phantom-tim commented on #512
@Natim, I'm running Windows 10 x64.

[2018-01-03 09:14] sebastienbarbier opened #535 "Add toolbar button to open note sidebar"
Ref [Bug 1341126](https://bugzilla.mozilla.org/show_bug.cgi?id=1341126):
Documentation:
- https://developer.mozilla.org/en-US/Add-ons/WebExtensions/API/sidebarAction/open
- https://developer.mozilla.org/en-US/Add-ons/WebExtensions/API/sidebarAction/close

[2018-01-03 09:24] sebastienbarbier opened #536 "Add selection context menu to send selection to note"
![contextmenusendtonotes](https://user-images.githubusercontent.com/229453/34514986-47d75dfc-f070-11e7-987c-1015fbd54a7b.png)

[2018-01-03 09:28] sebastienbarbier commented on #189
Add an export menu to be able to save the content of notes in HTML and/or Markdown. ref #368

[2018-01-03 09:41] Natim opened #537 "Switch to React.js to guarantee the plugin UI integrity"
Today states are handled using multiple global variables, it is really brittle in order to keep having a sustainable development we want to switch to React/Redux.

**Vendored libraries**

- jose-jwe-jws → jose.js
- fxa-crypto-relier → fxa-crypto-relier.js
- kinto-http → kinto-http.js
- kinto → kinto.js
- testpilot-ga → testpilot-ga.js
- material-design-lite → material.js
- quill → quill.js

**File

[2018-01-03 09:55] Natim opened #538 "Start time should not be about 3 seconds"
When sync is enabled, start time is about 3 seconds:

    Start time:  2851

We should aim at making it a couple hundreds milliseconds.

[2018-01-03 10:56] shikhar-scs commented on #538
@Natim May I work on this issue ?
(If Yes)I know where to make the required changes, I'll try and do it ASAP.

[2018-01-03 12:55] Natim commented on #538
Hi @shikhar-scs feel free to start a Pull-Request with what you have in mind it will definitely help.

[2018-01-03 12:57] shikhar-scs commented on #538
@Natim Ok I'll start rightaway.

[2018-01-03 13:08] shikhar-scs commented on #538
@Natim is there some precise time you would like me to set it to or may I put say 300ms for it ?

[2018-01-03 13:44] Natim commented on #537
We might want to use this in our webpack conf in order to build both the background script and the panel scripts with one webpack config: https://github.com/webpack/webpack/issues/1189#issuecomment-156576084

[2018-01-03 14:01] Natim commented on #538
We want to reduce it as much as possible.

[2018-01-03 15:37] sebastienbarbier commented on #537
Also using webpack for build ad web-ext for rendering might create some conflict on browser refresh. Issue is discussed on web-ext repo: https://github.com/mozilla/web-ext/issues/1102

[2018-01-03 16:09] Softvision-CristinaBadescu opened #539 "[Enhancement] Keep "Dark" theme on a synced account after reinstalling the add-on"
[Affected versions]:
- Firefox 57.0.3 and up

[Affected Platforms]:
- All Windows
- All Mac
- All Linux

[Prerequisites]:
- Have a Firefox profile with the latest "Firefox Notes" add-on version installed from Test Pilot experiment page (https://testpilot.firefox.com/experiments/notes).
- Be logged in a valid Firefox "Notes" account.

[Steps to reproduce]:
1. Open Firefox browser with the profile f

[2018-01-03 20:44] vladikoff opened #540 "[User Feedback] Slack pasting adds extra line breaks"

[2018-01-03 20:44] vladikoff opened #541 "[User Feedback] 9000 lines break CKEditor"

[2018-01-03 20:45] vladikoff opened #542 "[User Feedback] Too many conflicts"

[2018-01-04 00:04] himanish-star commented on #527
@ryanfeeley , I can fix this , May I ?

[2018-01-04 00:11] vladikoff commented on #527
sure!

[2018-01-04 01:31] himanish-star commented on #518
@Softvision-MariusComan , I would like to give this a try . May I ?

[2018-01-04 01:59] shikhar-scs commented on #529
@ryanfeeley If this issue is still up, I would love to solve this

[2018-01-04 01:59] vladikoff commented on #518
Sure !

[2018-01-04 02:11] vladikoff commented on #529
Yeap those are the borders, you might have to modify some code to make that message show up

[2018-01-04 02:15] shikhar-scs commented on #529
Ok thanx @vladikoff I'll work on it and file a PR soon

[2018-01-04 08:46] SoftVision-EmilPasca commented on #498
Refs: https://bugzilla.mozilla.org/show_bug.cgi?id=1427983

[2018-01-04 09:11] Softvision-CristinaBadescu opened #545 "At first attempt cannot remove the add-on from the "about:addons" details page"
[Notes]:
- Sometimes, at first add-on install, the theme options ("Default" and "Dark") might not appear and you need to refresh the "about:addons" page to see them.
- This issue is not reproducible when you select "Remove" button from "about:addons" main page.
- This issue is also reproducible after you use "Undo" option.

[Affected versions]:
- Firefox 57.0.3 and up

[Affected Platforms]:
- All

[2018-01-04 09:15] #529 closed

[2018-01-04 09:18] Natim commented on #545
Hello Cristina, thanks for this bug and the steps to reproduce it.
Can I ask you to also create a Bugzilla issue for this one since it is part of the Add-ons Management console ?

[2018-01-04 09:20] #527 closed

[2018-01-04 09:38] Natim commented on #518
@himanish-star I would be interested to know if you think it is a Firefox Bug or rather a CKeditor one.

[2018-01-04 09:41] Softvision-CristinaBadescu commented on #545
Hey Natim :) Sure thing, I've filled it here: bug [1427991](https://bugzilla.mozilla.org/show_bug.cgi?id=1427991).

[2018-01-04 12:30] himanish-star commented on #518
@Natim , I have no idea whether it's a Firefox Bug or a CKeditor Bug. Rather I heard CKeditor for the first time now. I believe I'll start debugging from editor.js file.

[2018-01-04 15:49] Natim opened #546 "Add a limit to the number of char in the editor to avoid it breaking after 9000 lines"
Maybe we should port: https://ckeditor.com/old/forums/CKEditor-3.x/Character-Count-Plugin

[2018-01-04 15:49] Natim commented on #546
Refs #541

[2018-01-04 16:57] vladikoff commented on #541
@Mgsy Have you seen this happen in your CKEditor testing?

[2018-01-04 17:49] shikhar-scs commented on #546
@Natim I went over the documentation here [ https://ckeditor.com/old/forums/CKEditor-3.x/Character-Count-Plugin]( https://ckeditor.com/old/forums/CKEditor-3.x/Character-Count-Plugin).
I believe I'll be able to achieve this with a little bit of help.
I would like to take up this issue please.

[2018-01-04 18:38] vladikoff commented on #546
@shikhar-scs if this helps, here's an example of a plugin for CKEditor 5: https://github.com/alexeckermann/ckeditor5-emptyness

[2018-01-04 19:30] ddurst opened #547 "Notes loops on Save until closed and reopened"
I'm not sure how to trigger this, but it seems to be related to quickly typing something then selecting it and attempting to bold it? Maybe combined with the save?

The result is a loop: every approx three seconds, it alternates state from A to B and loops indefinitely, where A is prior to some keystroke and the status line reads "Saved at {time}" (worth noting that {time{ does get updated) and B

[2018-01-05 00:00] vladikoff commented on #533
We still get some users migrating from quill, let's wait a bit

[2018-01-05 00:05] vladikoff commented on #535
@Natim Leaving this Enhancement for Shield

[2018-01-05 00:06] shikhar-scs commented on #546
Thanx @vladikoff for this

[2018-01-05 00:07] vladikoff commented on #547
Thanks for the issue @ddurst !

@Natim I filed this for Shield perf fixes.

[2018-01-05 00:07] vladikoff commented on #542
If if we are shipping Sync in Shield we should try to fix this one

[2018-01-05 00:09] vladikoff commented on #494
@pdehaan Firefox should do that automatically, we need to figure out what happened to `useragent.locale`, see https://github.com/mozilla/notes/issues/395#issuecomment-345047300

[2018-01-05 00:12] vladikoff commented on #395
@chrisdavidmills We are trying to figure out this issue and fix up the i18n MDN article here: https://developer.mozilla.org/en-US/Add-ons/WebExtensions/Internationalization#Testing_out_your_extension , the `general.useragent.locale` is now wrong and unsupported. Any ideas?

[2018-01-05 00:22] vladikoff commented on #156
We have a FF bug for this, but please do not install via Registry editor, super edge case :)

[2018-01-05 00:22] #156 closed

[2018-01-05 00:47] zbraniecki commented on #395
The new pref introduced in 59 is `intl.locale.requested`.

The various values are explained here: https://searchfox.org/mozilla-central/source/intl/locale/LocaleService.cpp#75

(it would be nice to update the docs)

[2018-01-05 01:36] shikhar-scs commented on #546
@Natim @vladikoff I've tried to incorporate changes taking inputs from [https://ckeditor.com/old/forums/CKEditor-3.x/Character-Count-Plugin](https://ckeditor.com/old/forums/CKEditor-3.x/Character-Count-Plugin) and [https://github.com/alexeckermann/ckeditor5-emptyness](https://github.com/alexeckermann/ckeditor5-emptyness) and also files already present in the main directory.
As of now I've made a f

[2018-01-05 01:54] himanish-star commented on #518
@Natim , I can't understand why `console.log()` doesn't work in `editor.js` file. Could you help ? The logging doesn't appear in the web console

[2018-01-05 04:00] himanish-star commented on #519
I would like to try this

[2018-01-05 04:55] vladikoff commented on #519
@himanish-star please!

[2018-01-05 05:52] shikhar-scs commented on #546
@vladikoff mind helping here a bit 😅

[2018-01-05 09:13] Natim commented on #547
We will look into it, thanks for the bug report.

[2018-01-05 09:16] Natim commented on #545
The bug has been identified by Firefox developers and a fix is coming up in the Bug, thanks :)

[2018-01-05 09:19] Natim commented on #546
@shikhar-scs Make sure to run `npm run postinstall` if you change the ckeditor code so that it is rebuilt.
To open the console for the add-on, you need to go to `about:debugging` and then open the debugger for Firefox Notes

[2018-01-05 09:20] Natim commented on #518
I guess you need to open the debugger. Go to about:debugging and then click on the Debugger button for the Firefox Notes addon.

[2018-01-05 10:32] shikhar-scs commented on #546
Ok @Natim I'll try this

[2018-01-05 10:44] himanish-star commented on #526
I would surely like to look into this.

[2018-01-05 11:40] Mgsy commented on #541
Hey, @vladikoff. Basically, behaviour of the editor depends on what do you mean by saying `9000 lines`. Is it 9000 lines divided to paragraphs? Or 9000 lines contained in one paragraph?

In the first case, the editor doesn't freeze, unless you perform some operation on whole content (but it's still not 1-2 minutes). I was able to edit my text in the editor with 10 000 lines without any problems.

[2018-01-05 13:28] chrisdavidmills commented on #395
@vladikoff hey Vlad! I have updated the article based on @zbraniecki 's information (thanks!) Does it read OK now, or does this need more work?

[2018-01-05 14:20] #535 closed

[2018-01-05 16:04] shikhar-scs commented on #546
@Natim of late this error is popping up since the last 2 hrs. The notes sidebar is blank throughout. Here's what I mean.
![screenshot from 2018-01-05 21-31-33](https://user-images.githubusercontent.com/25258877/34616984-ed47a35a-f25f-11e7-87b1-aa20f1ca522c.png)

This is really confusing and could you please help me on how to restore the original stuff. Because of this I am not being able to contin

[2018-01-05 16:20] Natim commented on #546
It could be #512 can you look at the debugger to see what is up?

[2018-01-06 05:26] utkarsh858 commented on #487
I would like to work on it

[2018-01-06 11:22] himanish-star opened #552 "Dragging and dropping Text into editor doesn't happen according to the cursor position"
**Expected**: When we drag and drop text into the editor then it should drop the text exactly at the position where the cursor is .

**Actual**: When we drag and drop text into the editor then it drops the text according to the previous position of the cursor inside the editor

The GIF below explains this

![ezgif com-video-to-gif 5](https://user-images.githubusercontent.com/30361728/34639215-4e19

[2018-01-06 11:24] shikhar-scs commented on #546
I went through #512 and my error there was solved.

I have made some new changes in pushed them in my local repo. Please have a look, though they don't completely solve the problem and also they have a bit of errors showing up in the console as follows

[code]
and
[code]

I tried looking out for them clueless and thought the mentors could be of more help.

My pushed code is here -> [https://github

[2018-01-06 11:54] shikhar-scs commented on #522
This should not be an error. That's maybe because the font size gets increased a bit and so to accommodate the same font the text shakes a bit. Any other thoughts ?

[2018-01-06 12:16] shikhar-scs commented on #546
@Natim May I use something like [this](http://cssdeck.com/labs/charactercount/). It looks much simpler, easy to use,understand and incorporate. Please have a look there

[2018-01-06 15:02] shikhar-scs commented on #531
@SoftVision-CarmenFat If this issue is still up,  I would like to work on this. May I?

[2018-01-06 16:08] vladikoff commented on #487
Ok!

[2018-01-08 08:37] Softvision-CristinaBadescu commented on #552
Thanks for reporting this issue. However, this is a dupe of #532.

[2018-01-08 08:37] #552 closed

[2018-01-08 09:15] himanish-star commented on #532
@Softvision-CristinaBadescu , I would like to take up this issue. May I  ?

[2018-01-08 09:16] himanish-star commented on #552
@Softvision-CristinaBadescu , sorry for the inconvenience caused.

[2018-01-08 09:25] Softvision-CristinaBadescu commented on #532
This isn't up to me, but @Natim or @vladikoff  are entitled to say if you can start working on this. Thanks for understanding :)

[2018-01-08 09:41] Natim commented on #531
I think you can now assign yourself directly to issue, please just take one at the time though.

[2018-01-08 09:43] Natim commented on #531
No the goal is to handle the hover background in both themes.

[2018-01-08 12:52] Natim commented on #522
Still the artefact is a bit weird.

[2018-01-08 14:22] shikhar-scs commented on #531
Ok I think I get the issue now, I'll enable hover now only when the cursor is actually hovering on the small rectangular div around three dots. I'll see for myself what the colors should be and meanwhile any of the mentors can also suggest the same.

I'll keep that in mind for sure now.

[2018-01-08 14:45] Softvision-MariusComan opened #553 ""Firefox Notes" toolbar button does not work at all after the sidebar is closed in another window"
**[Affected versions]:**
- Firefox 57.0.4 and up

**[Affected Platforms]:**
- All Windows
- All Mac
- All Linux

**[Prerequisites]:**
- Have a Firefox profile with the latest version of the "Firefox Notes" add-on (2.2.0dev custom build from 01.08.2018) installed.
- Have the "Firefox Notes" sidebar opened.

**[Steps to reproduce]:**
1. Open the browser with the profile from prerequisites and press

[2018-01-08 14:46] Softvision-MariusComan opened #554 "The "Firefox Notes" button's icon is wrongly changed after the sidebar is closed"
**[Affected versions]:**
- Firefox 57.0.4
- Firefox Beta 58.0b14

**[Affected Platforms]:**
- All Windows
- All Mac
- All Linux

**[Prerequisites]:**
- Have a Firefox profile with the latest version of the "Firefox Notes" add-on (2.2.0dev custom build from 01.08.2018) installed.
- Have the "Firefox Notes" sidebar opened.

**[Steps to reproduce]:**
1. Open the browser with the profile from prerequi

[2018-01-08 14:47] Softvision-MariusComan opened #555 "The "Firefox Notes" button is no longer highlighted after the sidebar is closed in another window"
**[Affected versions]:**
- Nightly 59.0a1

**[Affected Platforms]:**
- All Windows
- All Mac
- All Linux

**[Prerequisites]:**
- Have a Firefox profile with the latest version of the "Firefox Notes" add-on (2.2.0dev custom build from 01.08.2018) installed.
- Have the "Firefox Notes" sidebar opened.

**[Steps to reproduce]:**
1. Open the browser with the profile from prerequisites and press "Ctrl+N

[2018-01-08 16:08] johngruen opened #556 "Memory Error!"
@ryanfeeley to add details. This seems important.

[2018-01-08 16:12] Natim commented on #555
@johngruen : Let's remove the hightlight.

[2018-01-08 16:12] johngruen commented on #555
I would recommend backing out the highlight

[2018-01-08 16:13] johngruen commented on #553
This is blocked until 59

[2018-01-08 16:14] Natim commented on #553
We should probably use the toogle feature here.

[2018-01-08 16:26] vladikoff commented on #521
cc @mgsy this is an interesting one. We can repro this on https://ckeditor5.github.io/ as well

[2018-01-08 16:27] vladikoff commented on #534
cc @mgsy

[2018-01-08 16:29] johngruen commented on #516
Maybe we should be pasting only plain text?

[2018-01-08 18:36] Natim commented on #556
I investigated this and there are multiple things that could mitigate this:

- [ ] We should accept only a merge conflict and no sync in kinto while there is the merge conflict string.
- [ ] We shouldn't allow for notes with more than 5000 signs (Refs #546)

[2018-01-08 18:49] shikhar-scs commented on #531
This can be closed now

[2018-01-08 19:04] #531 closed

[2018-01-09 08:15] Mgsy commented on #521
AFAIR this is a known issue, but right now I can't find a proper ticket. @Reinmar, could you say something more about this one?

[2018-01-09 09:54] Softvision-MariusComan commented on #518
This behavior is still reproducible with the latest version of the "Firefox Notes" add-on (2.2.0dev custom build from 01.09.2018) installed. Considering this, I am reopening the issue.

[2018-01-09 09:59] himanish-star commented on #518
@Softvision-MariusComan , Ok I'm checking on this.

[2018-01-09 10:07] Softvision-MariusComan commented on #518
Now the sidebar is focused when the text is dragged, but after that the text caret is not displayed in the sidebar and you cannot write or edit the content if you do not click on it.

[2018-01-09 10:09] Mgsy commented on #534
Thanks for the information. This problem occurs not only on OS X, but also on Windows. It's caused by way how editor converts plaint text to HTML. Current conversion algorithm looks like this:
[code]
As we don't handle soft-line breaks, you receive the output from this issue. I've opened a discussion ticket in our CKEditor 5 repository - https://github.com/ckeditor/ckeditor5/issues/766. You can mo

[2018-01-09 10:12] himanish-star commented on #518
@Softvision-MariusComan , the feature you are talking about didn't exist previously too(I recently checked), but if you want that feature too then I will try my level best to add that.

[2018-01-09 10:25] Softvision-MariusComan commented on #518
@himanish-star, my mistake, I will open an enhancement for this feature. Thanks!

[2018-01-09 10:25] #518 closed

[2018-01-09 10:27] #487 closed

[2018-01-09 10:30] himanish-star commented on #518
@Softvision-MariusComan , my pleasure and do notify me when you open the issue. I am eager to fix it

[2018-01-09 10:43] utkarsh858 commented on #487
Thanks

On Jan 9, 2018 3:57 PM, "Rémy HUBSCHER" <notifications@github.com> wrote:

[2018-01-09 13:30] mlutfy commented on #470
Is there already a way to enter a specific URL in the tab bar to access Notes?

I would be curious to test this. It could be useful when using [Tree Style Tabs](https://addons.mozilla.org/fr/firefox/addon/tree-style-tab/) (I would pin the tab to the top of my tab list, since I keep forgetting the keyboard shortcut to open Notes).

[2018-01-09 13:40] Natim commented on #470
It is something like: moz-extension://21f8860f-fcc5-4b8f-b433-e93e05363388/sidebar/panel.html

[2018-01-09 13:51] #51 closed

[2018-01-09 13:51] #167 closed

[2018-01-09 13:51] #169 closed

[2018-01-09 13:51] #170 closed

[2018-01-09 13:51] #171 closed

[2018-01-09 13:51] #186 closed

[2018-01-09 13:51] #262 closed

[2018-01-09 13:51] #265 closed

[2018-01-09 13:51] #268 closed

[2018-01-09 13:51] #270 closed

[2018-01-09 13:51] #285 closed

[2018-01-09 13:51] #288 closed

[2018-01-09 13:51] #290 closed

[2018-01-09 13:51] #309 closed

[2018-01-09 13:51] #310 closed

[2018-01-09 13:51] #353 closed

[2018-01-09 13:52] Natim commented on #553
In the meantime, we should probably broadcast the signal to all sidebars to close when one receive the signal.

[2018-01-09 13:55] Natim commented on #553
I opened https://bugzilla.mozilla.org/show_bug.cgi?id=1429054

[2018-01-09 14:09] Softvision-MariusComan opened #560 "The sidebar's content area should remain focused after dragging text into it"
**[Affected versions]:**
- Firefox 57.0.4 and up

**[Affected Platforms]:**
- All Windows
- All Mac
- All Linux

**[Prerequisites]:**
- Have a Firefox profile with the latest version of the "Firefox Notes" add-on (2.2.0dev custom build from 01.09.2018) installed.

**[Steps to reproduce]:**
1. Open the browser with the profile from prerequisites and navigate to any website.
2. Select any text from

[2018-01-09 14:14] mlutfy commented on #470
Thank you! I have not tested the code yet, but it works well in a tab using the moz-extension URL.

[2018-01-09 14:14] peterbe opened #561 "No clear how to "Reconnect to Sync""
See screenshot. I appreciate that I have to do something to sign in again. But how?!
I tried clicking the text "Reconnect to Sync" but nothing happens. I tried clicking the three dots on the the right but neither options that displays are useful.
<img width="1279" alt="screen shot 2018-01-09 at 9 09 09 am" src="https://user-images.githubusercontent.com/26739/34724883-5738ce1e-f51d-11e7-89e2-846e94

[2018-01-09 14:18] Natim commented on #561
We just landed the patch to click on Reconnect but in the meantime you need to click the arrow. #558

[2018-01-09 14:18] #561 closed

[2018-01-09 14:28] Natim commented on #545
I will close this bug since it is handled on the bugzilla side. Close to be landed.

[2018-01-09 14:28] #545 closed

[2018-01-09 14:29] Natim commented on #530
After thinking about it again today, it is really possible for this to be a CKEditor bug.

[2018-01-09 14:32] Natim commented on #530
@Softvision-CristinaBadescu I couldn't reproduce the focus loose but I had to type space multiple times.

@Mgsy I was able to reproduce in the https://ckeditor5.github.io/ are you aware of this bug already?

[2018-01-09 14:32] SoftVision-EmilPasca commented on #170
This issue is no longer reproducible with the latest "Firefox Notes" add-on version (2.2.0dev) installed.

[2018-01-09 14:36] Natim commented on #499
I will close this since it is a design choice that has been made by Firefox UX and the bug is open there.

[2018-01-09 14:36] #499 closed

[2018-01-09 14:37] SoftVision-EmilPasca commented on #171
This issue is no longer reproducible with the latest "Firefox Notes" add-on version (2.2.0dev) installed

[2018-01-09 14:38] Softvision-MariusComan commented on #329
This behavior is still reproducible with the latest version of the "Firefox Notes" add-on (2.2.0dev custom build from 01.09.2018) installed. Considering this, I am reopening the issue.

[2018-01-09 14:38] SoftVision-EmilPasca commented on #167
This issue is no longer reproducible with the latest "Firefox Notes" add-on version (2.2.0dev) installed

[2018-01-09 14:41] Natim commented on #329
Yes I guess it make sense with the way editors are developped. I would gladly close this as wontfix.
@johngruen any thoughts?

[2018-01-09 14:41] Softvision-MariusComan commented on #186
This issue is no longer reproducible with the latest version of the "Firefox Notes" add-on (2.2.0dev custom build from 01.09.2018) installed.

[2018-01-09 14:43] Mgsy commented on #530
@Natim, I can't reproduce it in our editor. Can I ask you to provide exact steps to reproduce?

[2018-01-09 14:43] shikhar-scs commented on #560
@Softvision-MariusComan I would like to take up this issue. May I?

[2018-01-09 14:44] Natim commented on #488
This seems to be pretty impacting for sure.

[2018-01-09 14:46] Natim commented on #530
Yes,

Type a sentence in the editor using ** syntax to put a word in bold in the middle.

[2018-01-09 14:47] Natim commented on #560
Don't hesitate to assign yourself to issues you want to work on. Just try to be assign to only one at the time.

[2018-01-09 14:49] Softvision-MariusComan opened #562 "The sidebar background is not highlighted when dragging text over it, if Dark theme is enabled"
**[Affected versions]:**
- Firefox 57.0.4 and up

**[Affected Platforms]:**
- All Windows
- All Mac
- All Linux

**[Prerequisites]:**
- Have a Firefox profile with the latest version of the "Firefox Notes" add-on (2.2.0dev custom build from 01.09.2018) installed.
- Have the "Dark" theme selected for the "Firefox Notes" add-on from about:addons->Extensions tab->Notes.

**[Steps to reproduce]:**
1.

[2018-01-09 14:52] SoftVision-EmilPasca commented on #285
This issue is no longer reproducible with the latest version of the "Firefox Notes" add-on (2.2.0dev custom build from 01.09.2018) installed.

[2018-01-09 14:53] Natim commented on #562
@himanish-star can I let you look into that bug?

[2018-01-09 14:55] SoftVision-EmilPasca commented on #288
This issue is no longer reproducible with the latest version of the "Firefox Notes" add-on (2.2.0dev custom build from 01.09.2018) installed.

[2018-01-09 14:56] himanish-star commented on #562
@Natim , no doubt about it. It's my pleasure.

[2018-01-09 14:59] SoftVision-EmilPasca commented on #260
This issue is still reproducible with the latest version of the "Firefox Notes" add-on (2.2.0dev custom build from 01.09.2018) installed.

[2018-01-09 14:59] Natim commented on #455
@ryanfeeley With linux it doesn't even show on the menu.

![shortcut](https://user-images.githubusercontent.com/229453/34727063-1749f8ee-f556-11e7-83ad-a66c523b3de8.png)

@ryanfeeley Can I let you create the bug in bugzilla?

[2018-01-09 15:00] Softvision-MariusComan commented on #270
This issue is no longer reproducible with the latest version of the "Firefox Notes" add-on (2.2.0dev custom build from 01.09.2018) installed.

[2018-01-09 15:01] Softvision-MariusComan commented on #262
This issue is no longer reproducible with the latest version of the "Firefox Notes" add-on (2.2.0dev custom build from 01.09.2018) installed.

[2018-01-09 15:02] Mgsy commented on #530
Thanks, I was testing it in `Firefox 57.0.4` and this bug is not reproducible with this browser version. After checking it in `Firefox 59`, I was able to reproduce it, so I guess it's not CKEditor issue.

[2018-01-09 15:02] Natim commented on #449
I am going to close this bug in favor of the Bugzilla one.

[2018-01-09 15:02] #449 closed

[2018-01-09 15:02] SoftVision-EmilPasca commented on #290
This issue is no longer reproducible with the latest version of the "Firefox Notes" add-on (2.2.0dev custom build from 01.09.2018) installed.

[2018-01-09 15:03] Natim commented on #423
This is handled in Firefox with the two following bugs:

Bugzilla issue: https://bugzilla.mozilla.org/show_bug.cgi?id=1379584
implement beforeInput bug: https://bugzilla.mozilla.org/show_bug.cgi?id=970802

[2018-01-09 15:03] #423 closed

[2018-01-09 15:03] Natim commented on #530
Thank you for your investigation.

[2018-01-09 15:07] Softvision-MariusComan commented on #268
This issue is no longer reproducible with the latest version of the "Firefox Notes" add-on (2.2.0dev custom build from 01.09.2018) installed.

[2018-01-09 15:19] SoftVision-EmilPasca commented on #265
This issue is no longer reproducible with the latest version of the "Firefox Notes" add-on (2.2.0dev custom build from 01.09.2018) installed.

[2018-01-09 16:15] SoftVision-EmilPasca commented on #354
This issue is still reproducible with the latest version of the "Firefox Notes" add-on (2.2.0dev custom build from 01.09.2018) installed.

[2018-01-09 18:28] ryanfeeley opened #563 "Remove redundant GFM autoformat codes"
The CKEditor GFM has redundant autoformat codes that clutter the experience and our documentation. I spoke with our copywriter Meridel and we propose removing these features from the auto-format code:
1. Remove: \_\_bold__
1. Remove: \*italic*
1. Remove: \* unordered list item
1. Remove: 1) ordered list item

[2018-01-09 18:42] ryanfeeley opened #564 "Update boilerplate copy to me more helpful"
Below is a replacement to our boilerplate copy in Markdown written with Meridel. Please add the additional blank lines as shown in [this Google Doc](https://docs.google.com/document/d/1CWCb8N324mNrO6tBnp0ZzuLIwNo-i2HbZ_lc8VgeEho/edit?usp=sharing). If there is a problem doing so that a non-breaking space can't fix, let me know.

## Welcome to Firefox Notes!
A simple tool for taking notes while you

[2018-01-09 21:27] vladikoff commented on #563
I use * and 1) all the time, instead we can just not mention them.  oh?

[2018-01-09 21:44] ryanfeeley commented on #563
Damnit, why does GitHub support two?
<img width="250" alt="image" src="https://user-images.githubusercontent.com/68213/34744773-51db4926-f55c-11e7-94d6-90d877a036f4.png">

[2018-01-09 22:01] vladikoff commented on #563
@ryanfeeley i think because that Apple Fireball dude invented it that way

[2018-01-10 06:21] shikhar-scs commented on #546
@Natim I was trying to setup word count taking references from https://ckeditor.com/cke4/addon/wordcount . However,
[code]
Had a few doubts,
Plugins folder doesn't exist as of now, so should I create a new one ? And will `./ckeditor-build` be the equivalent of `root/ckeditor/.` folder being talked about above ?

[2018-01-10 09:48] Softvision-MariusComan commented on #531
This issue is no longer reproducible with the latest version of the "Firefox Notes" add-on (2.2.0dev custom build from 01.10.2018) installed.

[2018-01-10 10:28] Softvision-MariusComan commented on #232
This issue is no longer reproducible with the latest version of the "Firefox Notes" add-on (2.2.0dev custom build from 01.10.2018) installed.

[2018-01-10 10:28] #232 closed

[2018-01-10 10:39] Softvision-MariusComan commented on #347
This issue is no longer reproducible with the latest version of the "Firefox Notes" add-on (2.2.0dev custom build from 01.10.2018) installed.

[2018-01-10 10:39] #347 closed

[2018-01-10 10:41] Softvision-MariusComan commented on #349
This issue is no longer reproducible with the latest version of the "Firefox Notes" add-on (2.2.0dev custom build from 01.10.2018) installed.

[2018-01-10 10:41] #349 closed

[2018-01-10 10:43] Softvision-MariusComan commented on #375
This issue is no longer reproducible with the latest version of the "Firefox Notes" add-on (2.2.0dev custom build from 01.10.2018) installed.

[2018-01-10 10:43] #375 closed

[2018-01-10 10:45] Softvision-MariusComan commented on #385
This issue is no longer reproducible with the latest version of the "Firefox Notes" add-on (2.2.0dev custom build from 01.10.2018) installed.

[2018-01-10 10:45] #385 closed

[2018-01-10 10:47] Natim commented on #390
I am going to close this in favor of the bugzilla ticket.

[2018-01-10 10:47] #390 closed

[2018-01-10 10:48] Natim commented on #388
I am going to close this bug, there is no much we can do about it. Feel free to create a bugzilla issue if you want.

[2018-01-10 10:48] #388 closed

[2018-01-10 10:49] Natim commented on #326
I am going to close this bug. It seems to me that since the sidebar was closed in the windows you opened the new windows it is the expected behaviour. Feel free to file a bugzilla issue if you want.

[2018-01-10 10:49] #326 closed

[2018-01-10 10:51] Natim commented on #325
I am going to close this, feel free to create a Bugzilla issue if you want.

[2018-01-10 10:51] #325 closed

[2018-01-10 10:53] Natim commented on #324
I guess this is related to #325 too and the way Firefox reacts when one windows has the sidebar open and the other one have it closed. I am going to close it, feel free to file a bugzilla issue if you want.

If I understand correctly you would like the login windows to not be considered as a windows.

[2018-01-10 10:53] #324 closed

[2018-01-10 10:55] Natim commented on #289
Thank you for filling this bug. I am going to close this bug as there is no much we can do about it here. Let's follow-up in the bugzilla issue.

[2018-01-10 10:55] #289 closed

[2018-01-10 10:56] Natim commented on #287
Can you still reproduce this error?

[2018-01-10 10:59] Natim commented on #287
I was able to reproduce this, it might be because the context menu detects it as a link while there is no link on it. We should definitely file a bug about that.

[2018-01-10 11:01] Natim commented on #282
This bug is getting handled in the Bugzilla issue. I am closing it here.

[2018-01-10 11:01] #282 closed

[2018-01-10 11:05] Natim commented on #267
The issue is handled on the bugzilla side. I am closing it here.

[2018-01-10 11:05] #267 closed

[2018-01-10 11:06] Natim commented on #266
This bug is not reproducible with CKEditor anymore.

[2018-01-10 11:06] #266 closed

[2018-01-10 11:08] Natim commented on #259
This bug is not reproducible with CKEditor and Nightly. Closing.

[2018-01-10 11:09] Natim commented on #257
I am going to close this in favor of the bugzilla issue.

[2018-01-10 11:09] #257 closed

[2018-01-10 11:09] Natim commented on #196
@SoftVision-EmilPasca is this still reproducible?

[2018-01-10 11:10] Natim commented on #196
Closing in favor of the bugzilla issue.

[2018-01-10 11:10] #196 closed

[2018-01-10 11:10] Natim commented on #163
I cannot reproduce it anymore so closing.

[2018-01-10 11:10] #163 closed

[2018-01-10 11:15] Natim commented on #31
@vladikoff How do you want to play this? Should we plan on using a tab based flow instead?

[2018-01-10 11:16] Natim commented on #132
Closing since drag and drop is now available.

[2018-01-10 11:16] #132 closed

[2018-01-10 11:17] Natim commented on #119
Closing since we now have the debounce implemented.

[2018-01-10 11:17] #119 closed

[2018-01-10 11:18] Natim commented on #114
This would be handled with the beforeinput event implementation: https://bugzilla.mozilla.org/show_bug.cgi?id=970802

[2018-01-10 11:18] #114 closed

[2018-01-10 11:20] Natim commented on #78
@ryanfeeley do you know what bug number it is? I am closing in favour of the implementation in Firefox.

[2018-01-10 11:20] #78 closed

[2018-01-10 11:22] Natim commented on #563
I wouldn't bother customizing this since it is the standard Markdown behaviour. I agree that we don't need to document both. I am closing this bug.

[2018-01-10 11:22] #563 closed

[2018-01-10 11:26] #519 closed

[2018-01-10 12:17] SoftVision-EmilPasca commented on #488
Refs [bug 1429358](https://bugzilla.mozilla.org/show_bug.cgi?id=1429358).

[2018-01-10 13:03] vladikoff commented on #31
@natim I think we should file a firefox bug for this

[2018-01-10 13:56] Natim commented on #287
https://bugzilla.mozilla.org/show_bug.cgi?id=1429364

[2018-01-10 13:56] #287 closed

[2018-01-10 14:01] SoftVision-EmilPasca opened #566 "When using "Ctrl-Backspace" shortcut, only one character is erased"
**[Notes]:**
- The issue is also reproducible when using the "Ctrl-Delete" shortcut keys.

**[Affected versions]:**
- Firefox 57.0.4 and up

**[Affected Platforms]:**
- All Windows
- All Mac
- All Linux

**[Prerequisites]:**
- Have a Firefox profile with the latest version of the "Firefox Notes" add-on (2.2.0dev custom build from 01.10.2018) installed.

**[Steps to reproduce]:**
1. Open the browse

[2018-01-10 14:51] Softvision-MariusComan opened #567 "Pressing the "Tab" key wrongly focuses the "Give Feedback" option instead of aligning text"
**[Affected versions]:**
- Firefox 57.0.4 and up

**[Affected Platforms]:**
- All Windows
- All Mac
- All Linux

**[Prerequisites]:**
- Have a Firefox profile with the latest version of the "Firefox Notes" add-on (2.2.0dev custom build from 01.10.2018) installed.
- Have text in the "Firefox Notes" sidebar.

**[Steps to reproduce]:**
1. Open the browser with the profile from prerequisites and navig

[2018-01-10 14:53] Softvision-MariusComan opened #568 "The "Disable Sync" option background does not respect the Dark theme colors"
**[Affected versions]:**
- Firefox 57.0.4 and up

**[Affected Platforms]:**
- All Windows
- All Mac
- All Linux

**[Prerequisites]:**
- Have a Firefox profile with the latest version of the "Firefox Notes" add-on (2.2.0dev custom build from 01.10.2018) installed.
- Have the "Dark" theme selected for the "Firefox Notes" add-on from about:addons->Extensions tab->Notes.
- You must be logged into "Fir

[2018-01-10 15:58] ryanfeeley commented on #564
@Natim @vladikoff Let's wait for @MeridelW to decide if this text should be updated.

[2018-01-10 16:06] #562 closed

[2018-01-10 16:26] Softvision-CristinaBadescu commented on #526
This issue is no longer reproducible using "Firefox Notes" add-on v2.2.0dev custom build from 01.10.2018, on latest Nightly build 59.0a1 (2018-01-10), on Windows 10x64 and Ubuntu 14.04 x64.

[2018-01-10 16:53] MeridelW commented on #563
If redundant auto-format commands are the norm then I think we should include them. I updated the text in green in the [Google doc](https://docs.google.com/document/d/1CWCb8N324mNrO6tBnp0ZzuLIwNo-i2HbZ_lc8VgeEho/edit?usp=sharing).

I also changed the order we list the commands to align with the order in which they appear in the formatting toolbar.

[2018-01-10 19:32] ryanfeeley commented on #564
@Natim @vladikoff This was given a resounding 🎉 by @MeridelW. Update when ready!

[2018-01-10 21:43] ryanfeeley opened #569 "Increase line height of list items"
<img width="362" alt="image" src="https://user-images.githubusercontent.com/68213/34797096-5aa8039a-f625-11e7-9088-0e4f6b9c6a5e.png">

[2018-01-10 22:03] Natim commented on #512
I will copy the message from the Bugzilla issue here:

documented at:

thing:

[2018-01-11 03:00] phantom-tim commented on #512
Hi @Natim.  I'd like to try nuking folders myself, so I don't lose any add-ons/data from doing a refresh.

I can verify that there are no folders beneath PROFILE/storage/{permanent,temporary} that start with "chrome++++".

There are no folders named "cache" under PROFILE/storage/{permanent,temporary}/*.  The only folders are named "idb" (under PROFILE/storage/permanent/*) or "asmjs" (under PROFILE

[2018-01-11 06:58] Natim commented on #512
Thank you for looking at it. I guess you might have another issue. I would really like to find a debug version in windows so that we can find out what it is.

[2018-01-11 08:06] Natim commented on #512
@phantom-tim Ok I managed to find a way for you to grab a debug enabled build.

Then can you open the cmd tool and drag and drop `firefox.exe` to run it and see the log in the console.

[2018-01-11 08:37] Natim commented on #567
I also encountered that bug and I can reproduce it on https://ckeditor5.github.io/

[2018-01-11 08:37] Natim commented on #567
@Mgsy Are you aware of that bug already?

[2018-01-11 08:56] Softvision-CristinaBadescu commented on #530
@Natim , I've still managed to reproduce this issue on Windows 10 x64,  on latest Nightly build 59.0a1 (2018-01-10), using the latest version of the "Firefox Notes" add-on (2.2.0dev custom build from 01.10.2018) or "Firefox Notes" add-on version installed from Test Pilot experiment page: https://testpilot.firefox.com/experiments/notes.

Here is a screen recording with the issue: https://goo.gl/Ktm

[2018-01-11 09:59] Softvision-CristinaBadescu commented on #309
In my opinion, I think this issue could be reopened as an enhancement since the described behavior from my previous comment is available in popular text editors such as Google Docs or LibreOffice document text. What do you say, @Natim?

[2018-01-11 10:00] Softvision-MariusComan opened #570 "The "Disable Sync" option wrongly remains selected, after you drag it somewhere else"
**[Affected versions]:**
- Firefox 57.0.4 and up

**[Affected Platforms]:**
- All Windows
- All Mac
- All Linux

**[Prerequisites]:**
- Have a Firefox profile with the latest version of the "Firefox Notes" add-on (2.2.0dev custom build from 01.09.2018) installed.
- You must be logged into "Firefox Notes".

**[Steps to reproduce]:**
1. Open the browser with the profile from prerequisites.
2. Click

[2018-01-11 10:03] Natim commented on #309
I honestly have no opinion about that, I guess that's a product decision but I don't see note as a word processing tool but rather as a note taking tool so I don't see why you would use numbered list in that case?

[2018-01-11 10:04] Natim commented on #570
Might be related to #568  I guess that's something we will fix with React

[2018-01-11 10:04] Softvision-MariusComan commented on #259
This behavior is still reproducible on the latest Firefox Release (57.0.4) and on the latest Nightly (59.0a1) build, with the latest version of the "Firefox Notes" add-on (2.2.0dev custom build from 01.11.2018) installed.
However to reproduce the issue, the context menu must be opened at least once before moving the sidebar. Considering this, I am reopening the issue.
Attached a screen recording o

[2018-01-11 10:05] Natim commented on #259
Then we should definitely create a bugzilla issue about that. Thanks for reproducing.

[2018-01-11 10:10] Softvision-MariusComan commented on #259
@Natim we have one created: https://bugzilla.mozilla.org/show_bug.cgi?id=1403965

[2018-01-11 10:15] Natim commented on #259
Ok so I guess we can close this and follow its resolution in bugzilla?

[2018-01-11 10:37] Softvision-MariusComan commented on #259
Yes, I think we could do that. Closing this issue in favor of the Bugzilla one.

[2018-01-11 10:37] #259 closed

[2018-01-11 11:55] Mgsy commented on #567
@Natim, the result from this issue is not a bug. At the moment we don't have a feature which will handle `text-indent`, so moving focus to other element is an expected behaviour.

[2018-01-11 12:07] Quantizen opened #571 "Feature request: to be compatible with the addons such as `atomic-chrome`"
Addons such as [atomic-chrome](https://chrome.google.com/webstore/detail/atomic-chrome/lhaoghhllmiaaagaffababmkdllgfcmc) make it possible to edit textareas and content editable elements directly in Atom or Sublime Text. It will be very convenient to make use of the functions of these editors.

It seems that  the addon `notes` is not compatible with the `atomic-chrome` when `notes` is opened in the

[2018-01-11 12:35] Softvision-CristinaBadescu commented on #309
I understand your point of view. I was suggesting to change it as an enhancement considering the familiarity of the users to this behavior for the mentioned text editors. I know "Notes" isn't necessarily designed as a text editor, but some users might perceived it this way.

Maybe we'll reconsider, in case users report this.
Thanks.

[2018-01-11 12:42] Natim commented on #571
it is also because ckeditor5 doesn't use a content-editable div.

[2018-01-11 12:58] Softvision-CristinaBadescu commented on #388
Sure thing :) I've filed it here, bug [1429753](https://bugzilla.mozilla.org/show_bug.cgi?id=1429753), and I'll follow it on Bugzilla.

[2018-01-11 16:04] Softvision-MariusComan opened #572 "The "Alt+Shift+W" shortcut does not work if the address bar is focused"
**[Affected versions]:**
- Firefox 57.0.4 and up

**[Affected Platforms]:**
- All Windows
- All Mac
- All Linux

**[Prerequisites]:**
- Have a Firefox profile with the latest version of the "Firefox Notes" add-on (2.2.0dev custom build from 01.11.2018) installed.
- Have the "Firefox Notes" sidebar opened.

**[Steps to reproduce]:**
1. Open the browser with the profile from prerequisites.
2. Click

[2018-01-11 16:11] Natim commented on #572
Can I let you create a Bugzilla issue for that one?

[2018-01-11 16:30] Softvision-MariusComan opened #573 "The "Alt+Shift+W" shortcut does not close the sidebar in "about: *" pages"
https://bugzilla.mozilla.org/show_bug.cgi?id=1430072

**[Affected versions]:**
- Nightly 59.0a1

**[Affected Platforms]:**
- All Windows

**[Prerequisites]:**
- Have a Firefox profile with the latest version of the "Firefox Notes" add-on (2.2.0dev custom build from 01.11.2018) installed.
- Have the "Firefox Notes" sidebar opened.

**[Steps to reproduce]:**
1. Open the browser with the profile from

[2018-01-11 16:31] Natim commented on #573
We should also file a Bugzilla issue for this one.

[2018-01-11 18:59] ryanfeeley commented on #563
Related: https://github.com/mozilla/notes/issues/564

[2018-01-11 19:33] ryanfeeley opened #574 "Last synced timestamp should be clickable and black"
Unlike the last saved timestamp, which is merely informational, the last synced timestamp is both informational and interactive.

Please make sure that it is clickable and black, as designed in the spec.
https://mozilla.invisionapp.com/share/6VBUYHMRB#/235284916_Desktop_Sidebar

[2018-01-11 22:03] vladikoff commented on #564
Yesssss

[2018-01-11 23:16] vladikoff commented on #554
Saw this too, so strange :(

[2018-01-12 03:57] phantom-tim commented on #512
The attached log has lines referring to QuotaManager and ActorsParent.  I hope it's helpful.
[firefox-log.txt](https://github.com/mozilla/notes/files/1624939/firefox-log.txt)

[2018-01-12 09:18] Natim commented on #574
It is clickable since #558

[2018-01-12 09:30] Natim commented on #512
Did you try to open the sidebar? I don't see anything about kinto :/

[2018-01-12 12:42] Softvision-MariusComan commented on #572
Sure, here it is: https://bugzilla.mozilla.org/show_bug.cgi?id=1430070

[2018-01-12 12:52] Softvision-MariusComan commented on #573
Here it is: https://bugzilla.mozilla.org/show_bug.cgi?id=1430072

[2018-01-12 13:38] Softvision-MariusComan commented on #519
The issue is no longer reproducible with the latest version of the "Firefox Notes" add-on (2.2.0dev custom build from 01.12.2018) installed, on the latest Firefox release and Nightly.

[2018-01-12 15:08] Natim commented on #554
Refs https://bugzilla.mozilla.org/show_bug.cgi?id=1419940

[2018-01-12 15:46] ryanfeeley commented on #574
@Natim And black?

[2018-01-12 16:04] vladikoff commented on #513
@Natim says it's fine

[2018-01-12 16:04] #513 closed

[2018-01-12 16:06] vladikoff commented on #555
Removed this

[2018-01-12 16:06] #555 closed

[2018-01-12 16:09] Softvision-MariusComan opened #577 "The "Firefox Notes" menu button wrongly overlaps the "Synced at hour" message when the sidebar is narrow"
**[Affected versions]:**
- Firefox 57.0.4 and up

**[Affected Platforms]:**
- All Windows
- All Mac

**[Prerequisites]:**
- Have a Firefox profile with the latest version of the "Firefox Notes" add-on (2.2.0dev custom build from 01.12.2018) installed.
- You are logged into "Firefox Notes".

**[Steps to reproduce]:**
1. Open the browser with the profile from prerequisites.
2. Resize the sidebar to

[2018-01-12 23:01] vladikoff opened #578 "Sync locks up "browser's main thread""
Reported in https://discourse.mozilla.org/t/notes-sync/17572/8

@ryanfeeley seen this too i think

[2018-01-14 06:58] himanish-star commented on #538
@shikhar-scs , If you don't mind could I take over this. If I make no way here then I will surely return you back this issue

[2018-01-14 07:28] shikhar-scs commented on #538
Yeah Sure, go on its yours

[2018-01-14 07:40] himanish-star commented on #538
Thanks @shikhar-scs

[2018-01-14 15:46] adrm commented on #242
Yes, I expected the product would behave in this way. I would like it to. It's not really useful for me as a single note.

[2018-01-15 09:58] #569 closed

[2018-01-15 09:58] #553 closed

[2018-01-15 09:58] #554 closed

[2018-01-15 10:07] Softvision-MariusComan commented on #573
The issue is no longer reproducible with the latest version of the "Firefox Notes" add-on (2.2.0dev custom build from 01.15.2018) installed, on the latest Firefox release and Nightly.

[2018-01-15 10:07] #573 closed

[2018-01-15 10:13] shikhar-scs commented on #546
@Natim mind helping a bit please.

[2018-01-15 10:15] Natim commented on #546
Actually the wordcount plugin your are talking about is for ckeditor 4 rather than ckeditor 5.
I guess you would need to write a plugin for ckeditor5 that would take place in the `ckeditor-build/src` folder and be loaded somehow in `ckeditor-build/src/ckeditor.js`

[2018-01-15 13:20] Softvision-MariusComan opened #580 "The sidebar min-width should prevent the editor toolbar to be split in two lines."
**[Affected versions]:**
- Firefox 57.0.4 and up

**[Affected Platforms]:**
- All Windows
- All Mac
- All Linux

**[Prerequisites]:**
- Have a Firefox profile with the latest version of the "Firefox Notes" add-on (2.2.0dev custom build from 01.15.2018) installed.

**[Steps to reproduce]:**
1. Open the browser with the profile from prerequisites.
2. Resize the sidebar to its minimum.
3. Observe the

[2018-01-15 13:22] Natim commented on #580
I don't think they should even get the opportunity to go to the lower line.

[2018-01-16 09:45] Softvision-MariusComan opened #581 "The "Firefox Notes" toolbar button wrongly opens the sidebar only the second time it is clicked"
**[Affected versions]:**
- Firefox 57.0.4 and up

**[Affected Platforms]:**
- All Windows
- All Mac
- All Linux

**[Prerequisites]:**
- Have a Firefox profile with the latest version of the "Firefox Notes" add-on (2.2.0dev custom build from 01.16.2018) installed.
- Have the sidebar opened.

**[Steps to reproduce]:**
1. Open the browser with the profile from prerequisites.
2. Click the "Close sideb

[2018-01-16 09:50] Natim commented on #581
This is a current known limitaiton we are waiting for the isOpen API to improve it.

Refs https://bugzilla.mozilla.org/show_bug.cgi?id=1427431

[2018-01-16 10:01] #419 closed

[2018-01-16 13:28] Softvision-MariusComan opened #582 "Single characters are not saved/synced when they are typed in a different window if the sidebar was previously empty"
**[Affected versions]:**
- Firefox 57.0.4 and up

**[Affected Platforms]:**
- All Windows
- All Mac
- All Linux

**[Prerequisites]:**
- Have a Firefox profile with the latest version of the "Firefox Notes" add-on (2.2.0dev custom build from 01.16.2018) installed.
- Do not have content in the "Firefox Notes" sidebar.

**[Steps to reproduce]:**
1. Open the browser with the profile from prerequisites

[2018-01-16 14:42] Softvision-MariusComan commented on #553
The issue is no longer reproducible with the latest version of the "Firefox Notes" add-on (2.2.0dev custom build from 01.16.2018) installed, on the latest Firefox release and Nightly.

[2018-01-16 14:42] Softvision-MariusComan commented on #555
The issue is no longer reproducible with the latest version of the "Firefox Notes" add-on (2.2.0dev custom build from 01.16.2018) installed, on the latest Firefox release and Nightly.

[2018-01-16 14:45] Softvision-MariusComan commented on #554
The issue is no longer reproducible with the latest version of the "Firefox Notes" add-on (2.2.0dev custom build from 01.16.2018) installed, on the latest Firefox release (57.0.4) and Firefox Beta (58.0b16).

[2018-01-16 15:03] Softvision-MariusComan opened #583 "The "Firefox Notes" toolbar button is not visible when the browser's dark theme is activated"
**[Affected versions]:**
- Firefox 57.0.4 and up

**[Affected Platforms]:**
- All Windows
- All Mac
- All Linux

**[Prerequisites]:**
- Have a Firefox profile with the latest version of the "Firefox Notes" add-on (2.2.0dev custom build from 01.16.2018) installed.
- Have the "Dark" theme enabled from about:addons->Themes.

**[Steps to reproduce]:**
1. Open the browser with the profile from prerequi

[2018-01-16 15:42] Softvision-CristinaBadescu opened #584 "Markdown formatting for "Bold" and "Italic" works inconsistently in a numbered or bulleted list"
[Affected versions]:
- Firefox 57.0.4 and up

[Affected Platforms]:
- All Windows
- All Mac
- All Linux

[Prerequisites]:
- Have a Firefox profile with the latest "Firefox Notes" add-on version (2.2.0dev custom build from 2018/01/16) installed.

[Steps to reproduce]:
1. Open Firefox browser with the profile from prerequisites.
2. Navigate to a website, drag and drop some text into the Notes sideba

[2018-01-16 16:20] ryanfeeley commented on #455
@Natim Oh that's weird. The Notes icon should never be in that menu.

[2018-01-16 18:28] cedricium opened #585 "The "Give Feedback" context menu item is wrongly colored by default in the Dark theme"
The "Give Feedback" context menu item is colored as if it was being hovered by default in the Dark theme. It should be darker just like the "Disable Sync" item when not being hovered or clicked.

![screen shot 2018-01-16 at 10 18 13 am](https://user-images.githubusercontent.com/16343560/35004991-d787181c-faa6-11e7-9a7c-e7e5fded191a.png)

[2018-01-17 08:37] #585 closed

[2018-01-17 09:25] Natim commented on #583
When we merged it it was looking like that:

https://user-images.githubusercontent.com/3018618/34559218-57dc0ae6-f141-11e7-9482-5a0e107cf3c4.gif

[2018-01-17 11:19] Natim commented on #577
I can't reproduce a so narrow sidebar :/

[2018-01-17 11:20] Natim commented on #577
Can you tell me if https://github.com/mozilla/notes/pull/587 fixed it? (current master has got the fix)

[2018-01-17 13:41] Natim commented on #580
https://bugzilla.mozilla.org/show_bug.cgi?id=1431076

[2018-01-17 13:42] Natim commented on #577
Refs https://bugzilla.mozilla.org/show_bug.cgi?id=1431076

[2018-01-17 16:00] Softvision-MariusComan opened #588 "[Keyboard navigation] Pressing "Enter" while the "Give Feedback" button is selected does not open the Feedback tab"
**[Affected versions]:**
- Firefox 57.0.4 and up

**[Affected Platforms]:**
- All Windows
- All Mac
- All Linux

**[Prerequisites]:**
- Have a Firefox profile with the latest version of the "Firefox Notes" add-on (2.2.0dev custom build from 01.17.2018) installed.
- You must be logged into "Firefox Notes".

**[Steps to reproduce]:**
1. Open the browser with the profile from prerequisites and focus

[2018-01-18 09:42] Natim commented on #584
@Mgsy Are you aware of that bug already?

[2018-01-18 10:12] Natim commented on #583
I can reproduce on Linux but we can't on Mac (we tried with release/beta and nightly versions) I am suspecting a Firefox bug.

[2018-01-18 10:18] Natim commented on #583
We can reproduce on Windows.

[2018-01-18 10:39] Natim commented on #583
It seems to work only on retina displays...

[2018-01-18 10:50] sebastienbarbier commented on #583
Could solve this issue by adding in manifest "theme_icons" size 16 in the list. Will push a fix soon.

[2018-01-18 10:55] Mgsy commented on #584
This is interesting, but unfortunately I'm not able to reproduce this issue. Checked in Firefox 57.0.4 on Windows 10 and OS X.

![bug_cke5](https://user-images.githubusercontent.com/20988892/35094676-42c949ba-fc46-11e7-8e7e-efd32a411413.gif)

[2018-01-18 11:09] #583 closed

[2018-01-18 11:16] Natim commented on #583
Released in https://github.com/mozilla/notes/files/1642619/notes-2.1.1rc2.zip

[2018-01-18 13:39] Softvision-MariusComan opened #591 "The "Notes" menu can wrongly be triggered even if you are not logged into a Sync account"
**[Notes]:**
- On Mac, it is enough to press the "Tab" key once.

**[Affected versions]:**
- Firefox 57.0.4 and up

**[Affected Platforms]:**
- All Windows
- All Mac
- All Linux

**[Prerequisites]:**
- Have a Firefox profile with the latest version of the "Firefox Notes" add-on (2.2.0dev custom build from 01.17.2018) installed.
- You are not logged into "Firefox Notes"

**[Steps to reproduce]:**
1

[2018-01-18 13:40] Natim commented on #591
Nice catch, I guess a fix would be to remove the onClick listener when the menu is hidden 👍

[2018-01-18 14:22] Softvision-CristinaBadescu commented on #584
Indeed this issue is tricky because as I've mentioned in the notes, during testing I've encountered cases where only some words lost their formatting options and some didn't.

@Mgsy, can you please try to format all the items from the numbered list? In this way, maybe you'll encounter this issue.

I've retested this using Firefox Notes from Test Pilot experiments [page](https://testpilot.firefox.c

[2018-01-18 14:52] SoftVision-CarmenFat opened #592 "Right to left shortcut doesn't reverse Note's items correctly"
[Notes]:
- See also #[409](https://github.com/mozilla/notes/issues/409).

[Affected versions]:
- Firefox 57.0.4 and up

[Affected Platforms]:
- All Windows
- All Mac
- All Linux

[Prerequisites]:
- Have a Firefox profile with the latest version of the "Firefox Notes" add-on (2.1.1RC) installed.

[Steps to reproduce]:
1. Open the browser with the profile from prerequisites.
2. Focus Notes sidebar.

[2018-01-18 15:29] Softvision-MariusComan opened #593 "The "Give Feedback" button/option can be wrongly dragged in the sidebar"
**[Notes]:**
- Given that the "Give Feedback" button and option are the only ones that can be dragged, we should restrict this behavior in order to have them all behave consistently.

**[Affected versions]:**
- Firefox 57.0.4 and up

**[Affected Platforms]:**
- All Windows
- All Mac
- All Linux

**[Prerequisites]:**
- Have a Firefox profile with the latest version of the "Firefox Notes" add-on (2.

[2018-01-18 16:12] Softvision-CristinaBadescu opened #594 ""Saving changes" and "Saved..." states wrongly appear twice after editing if more than one window is opened"
[Notes]:
- In order to easily observe this issue, resize the windows so you can fully see the "Notes" sidebars.
- No matter how many windows you'll open, the saving changing state appear twice.

[Affected versions]:
- Firefox 57.0.4 and up

[Affected Platforms]:
- All Windows
- All Mac
- All Linux

[Prerequisites]:
- Have a Firefox profile with the latest "Firefox Notes" add-on version (2.2.0dev c

[2018-01-18 16:14] ryanfeeley opened #595 "Markdown autoformat italics bug"
from a user:

STEPS TO REPRODUCE
1. Type: word_1 and word_2

EXPECTED RESULTS
* word_1 and word_2

ACTUAL RESULTS
* word*1 and word*2

[2018-01-18 16:14] Natim opened #596 "Count the number of people having a blank notes"
Refs  #512

[2018-01-18 16:15] Natim commented on #596
@johngruen Can you help adding a new dimension to the metrics to handle this?

[2018-01-18 16:28] johngruen commented on #571
This seems cool, let's add it to the backlog

[2018-01-18 16:29] Natim opened #597 "Use syncing instead of saving while logged in"

[2018-01-18 16:32] ryanfeeley opened #598 "Correct save and sync language"
STEPS TO REPRODUCE
1. Enable Syncing of Notes
2. Edit a note

EXPECTED RESULTS
* After a note has been edited, footer should say "Syncing…"
* Before a note has been edited it shoudl say "Last Synced HH:MM"

ACTUAL RESULTS
* It does this but also has Save and Saving…

[2018-01-18 16:33] Natim commented on #598
Duplicate of #597

[2018-01-18 16:34] Natim commented on #597
## STEPS TO REPRODUCE

    Enable Syncing of Notes
    Edit a note

## EXPECTED RESULTS

    After a note has been edited, footer should say "Syncing…"
    Before a note has been edited it shoudl say "Last Synced HH:MM"

## ACTUAL RESULTS

    It does this but also has Save and Saving…

[2018-01-18 16:34] #598 closed

[2018-01-19 08:24] Mgsy commented on #584
@Softvision-CristinaBadescu, thanks for the detailed explanation. I'm trying to reproduce this issue, but unfortunately without success.

![bug_cke5](https://user-images.githubusercontent.com/20988892/35141035-c8c15e1e-fcf9-11e7-9292-9454aad484aa.gif)

I've tested it on Windows 10 x64 in Firefox 57.0.4, latest CKEditor 5 master. I've checked it also on https://ckeditor5.github.io.

This is really

[2018-01-19 08:51] Softvision-CristinaBadescu commented on #584
Hey @Mgsy , thanks for looking again into this.
As I've watched carefully your screen recording I've noticed one difference: you have no blank space at the end of your sentence, before you start typing the word using the markdown formatting.

I'm not sure, but this might be the reason why I've managed to reproduce it, because if I leave no blank space before using markdown formatting, I cannot rep

[2018-01-19 09:02] Softvision-CristinaBadescu opened #599 "The previously used Sync email is wrongly displayed as a tooltip after logging out"
[Affected versions]:
- Firefox 57.0.4 and up

[Affected Platforms]:
- All Windows
- All Mac
- All Linux

[Prerequisites]:
- Have a Firefox profile with the latest "Firefox Notes" add-on version (2.2.0dev custom build from 2018-01-19) installed.
- Be logged in a Firefox Notes account.

[Steps to reproduce]:
1. Open Firefox browser with the profile from prerequisites.
2. Click the three dots button

[2018-01-19 09:08] Mgsy commented on #584
Yep, I noticed that your text has blank space and checked this scenario either. Unfortunately without success, so I guess it's not the reason.

[2018-01-19 09:52] Natim commented on #599
Good catch thanks !

[2018-01-19 12:32] Softvision-CristinaBadescu opened #600 "The bottom part wrongly bounces while resizing the window"
[Affected versions]:
- Firefox 57.0.4 and up

[Affected Platforms]:
- All Windows
- All Linux

[Prerequisites]:
- Have a Firefox profile with the latest "Firefox Notes" add-on version (2.2.0dev custom build from 2018-01-19) installed.

[Steps to reproduce]:
1. Open Firefox browser with the profile from prerequisites.
2. Vertically resize the browser.
3. Observe the bottom part of the "Notes" sideb

[2018-01-19 12:39] Softvision-CristinaBadescu commented on #584
No, I had no addons installed, and didn't changed the default settings, not even turning on the Caret Browsing. Only when I tested on Firefox Release, Test Pilot v2.0.6dev was installed along with Notes, from the experiments page.

[2018-01-20 18:06] himanish-star commented on #597
@Natim , I would like to fix this issue. May I ?

[2018-01-21 14:11] P-Shivkumar opened #602 "Although notes has been enabled into the firefox its not showing up in the preferences"
I have enabled the notes pilot but its not available to drag and drop in the preferences

[2018-01-22 07:48] Natim commented on #597
Yeah sure go ahead.

[2018-01-22 07:52] Natim commented on #602
Can you provide a screenshot of what you mean ? You can use the sidebar button that should have shown up or the Alt+Shift+W shortcut to show it up.

[2018-01-22 14:56] P-Shivkumar commented on #602
![screenshot from 2018-01-22 19-33-46](https://user-images.githubusercontent.com/22441163/35226687-186c6b38-ffb2-11e7-9987-e6c4bee5f9c9.png)

In this(above image) I can't see notes option for drag and drop

![screenshot from 2018-01-22 19-33-18](https://user-images.githubusercontent.com/22441163/35226744-4ae2fc12-ffb2-11e7-96e1-0f514ffdbae3.png)

In this (above image) its clear that i have notes e

[2018-01-22 15:00] Natim commented on #602
Ok so you are talking about the toolbar button. In the current version of notes, it is the sidebar button (the one hovered in your second screenshot). We are shipping a version this week with the #515

[2018-01-22 15:00] #602 closed

[2018-01-22 16:08] johngruen commented on #600
@Natim possible fix for this would be to change the body height to `100vh` otherwise, we can close this.

[2018-01-22 16:11] Natim commented on #602
The release is out, if you check for updates you should have the toolbar button no :) Thank you for reporting it!

[2018-01-23 05:43] cedricium commented on #396
I'm having trouble actually implementing this, would love any help and/or for someone else with more experience to pick this up.

For anyone wondering, the route I was going is outlined in #514.
cc. @Natim @vladikoff

[2018-01-23 09:45] Mgsy commented on #584
@Softvision-CristinaBadescu, I was trying to reproduce this issue and finally I made it. I've created new ticket in our CKEditor 5 repository, you can track it here - https://github.com/ckeditor/ckeditor5/issues/779. Thanks for your help!

[2018-01-23 12:41] #597 closed

[2018-01-23 12:42] Natim commented on #599
@himanish-star Do you want to tacle this one as well?

[2018-01-23 12:44] Natim commented on #596
@johngruen I would use the following:

- cd9 - In case there is an IndexedDB error. `true` for error, `false` for loaded correctly.

[2018-01-23 12:48] himanish-star commented on #599
@Natim , Yeah sure !!

[2018-01-23 14:53] Natim commented on #564
@flodolo any idea of how we should do that in terms of translation?

[2018-01-23 14:55] Natim commented on #541
Duplicate of #546

[2018-01-23 14:55] #541 closed

[2018-01-23 14:59] #582 closed

[2018-01-23 15:00] #596 closed

[2018-01-23 15:01] flodolo commented on #564
Sadly, the only way is to split up the text in fragments (sentences).

[2018-01-23 15:04] Natim commented on #564
Ok I will start doing that.

[2018-01-23 15:35] Natim commented on #528
I did an attempt on this one, I have the following:

![strange](https://user-images.githubusercontent.com/229453/35284431-17625492-005b-11e8-8d28-d980bf267874.png)

![full](https://user-images.githubusercontent.com/229453/35284555-6c142e20-005b-11e8-8157-13d5508289d9.png)

I wanted to do something like this, but it doesn't seems to work just yet.
[code]

[2018-01-23 15:37] Natim commented on #528
@Reinmar have you got anyidea of how I can monitor the heading dropdown .ck-button__label value to change it like that?

[2018-01-23 15:50] Reinmar commented on #528
I assume that you can't use [`config.heading.options`](https://docs.ckeditor.com/ckeditor5/latest/api/module_heading_heading-HeadingConfig.html#options) (the `title` properties there) because you want different titles in the dropdown's panel and in the button?

IMO, you should define your own dropdown. Instead of hacking the current one just define a new one which will work the way you want it.

T

[2018-01-23 15:52] Natim commented on #528
@Reinmar Are you interested that I file a pull-request to ckeditor5-heading?

[2018-01-23 15:56] Natim commented on #528
Completely missed that we were already using https://github.com/ckeditor/ckeditor5-heading/compare/master...vladikoff:short-heading?expand=1 somehow.

[2018-01-23 15:59] Reinmar commented on #528
The behaviour of our dropdown is different than what you want to achieve and we'd rather stay with the current solution. We even discussed recently whether this dropdown should be proposed in such a shape but we found simplifying it tricky and usually introducing UX issues. We could discuss it in a ticket in https://github.com/ckeditor/ckeditor5-heading if you have some ideas how this dropdown cou

[2018-01-23 16:02] Natim commented on #528
Makes sense, thank you for your feedback.

[2018-01-23 20:51] NikolayBG opened #607 "Numbered List / Bulleted List issue when you change Font"
The problem is that when you create Numbered List and start taking notes land then decide to change the font it automatically stops counting and removes the number in front.

Those are the steps:

1. Start a Numbered List
2. Write 1. test1, next row
3. test 2 and now mark the test 2 and switch the font to H3
4. Automatically stops the counter and removes the number in front

Comment: In MS Word it

[2018-01-24 09:37] jodator commented on #528
@Reinmar yeah the customization is there but I saw that [Short Heading](https://github.com/ckeditor/ckeditor5-heading/compare/master...vladikoff:short-heading?expand=1) already does some customization of the dropdownModel's `label` as it should to change label of dropdown.

[2018-01-24 09:41] Natim commented on #607
You are right, you can use bold but you cannot use a title inside a list.

[2018-01-24 10:47] #528 closed

[2018-01-24 13:42] Natim commented on #547
@ddurst I couldn't really reproduce, can you still reproduce with the current release of Notes?

[2018-01-24 13:56] #538 closed

[2018-01-24 13:58] Natim commented on #540
Hpw can we handle Ctrl+Shift+V for plain text paste?

[2018-01-24 14:07] Reinmar commented on #540
Works fine for me e.g. on https://ckeditor5.github.io. Can you check there?

[2018-01-24 14:09] Natim commented on #540
Yes actually it works fine for me too. I am going to close this one as wontfix.

[2018-01-24 14:09] #540 closed

[2018-01-24 14:13] anweshknayak commented on #580
Can I work on this ?

[2018-01-24 14:15] Natim commented on #580
To be honest I am pretty convinced that there is no much we can do here. I opened a bugzilla issue and I am following there. You should probably try to pick another issue.

[2018-01-24 15:09] Natim commented on #546
@ryanfeeley Is this content acceptable ?

![is this correct](https://user-images.githubusercontent.com/229453/35339473-0560bce0-0121-11e8-94f6-980bbc3a14f3.png)

[2018-01-24 15:23] shikhar-scs commented on #546
This does look good actually :+1:

[2018-01-24 15:24] ddurst commented on #547
I can. Infact, I've had to stop using it because it got so severe. I'm not sure exactly how to trigger it, however.

My basic STR are:
- using Nightly (currently 59.0a1)
- open sidebar
- switch to Notes
- (I have about 5 screen heights worth of notes fwiw)
- add text quickly to the bottom of the Notes panel
- use standard keyboard shortcuts to navigate around in the text, then to the top of Notes

[2018-01-24 15:56] Natim commented on #547
Thank you for your feedback, I am so sorry to hear that you are having so much trouble with it.

[2018-01-24 16:18] Natim commented on #578
I still have this if I try to paste multiple times the thing I have. I don't know if we can refrain that behaviour?

[2018-01-24 17:55] anweshknayak commented on #593
Hey can I take this up ?

[2018-01-24 20:10] ryanfeeley commented on #546
@Natim Pretty good! Does this behave like a text input ``maxlength`` where you can’t enter more text? That, combined with showing this footer message is be perfect behaviour. Perhaps we should put the error first.

In terms of style, this is an error that so we should follow our [design system](https://design.firefox.com/photon/components/message-bars.html#error) colors. White type on a red backgr

[2018-01-24 21:30] ryanfeeley commented on #528
@Natim I fear my mockup was not clear. The long form name is only for the expanded part of the dropdown menu. So, for example, it would say **H1** above, and **Heading 1** below. Make sense?

[2018-01-25 08:35] Natim commented on #528
Yes that's what I have implemented.

[2018-01-25 08:37] Natim commented on #528
You can try this build to validate: [notes-2.2.0dev1.zip](https://github.com/mozilla/notes/files/1663169/notes-2.2.0dev1.zip)

[2018-01-25 08:40] Natim commented on #546
I reused the box we already had for the migration but I could probably add a new one with this style.

No it's not, eventually I used characters instead of lines and I start to display the message after 5000 characters and then forbid new characters after 6000.

For merge conflicts I allow for 12000 characters so that you can display both.

[2018-01-25 08:44] Softvision-MariusComan commented on #583
The issue is no longer reproducible with the latest version of the "Firefox Notes" add-on (2.2.0dev custom build from 01.25.2018) installed, on the latest Firefox release and Nightly.

[2018-01-25 08:45] Softvision-MariusComan commented on #582
The issue is no longer reproducible with the latest version of the "Firefox Notes" add-on (2.2.0dev custom build from 01.25.2018) installed, on the latest Firefox release and Nightly.

[2018-01-25 08:46] Softvision-CristinaBadescu commented on #607
Thanks for reporting this. However, this is a dupe of #430.

[2018-01-25 08:46] #607 closed

[2018-01-25 08:47] Natim commented on #430
@SoftVision-PaulOiegas try to do it with a Github comment for instance. All Markdown based application behave like that for the sake of simplicity

[2018-01-25 10:22] Softvision-CristinaBadescu commented on #530
I've retested this issue and is no longer reproducible on latest Nightly build 60.0a1 (2018-01-24), using Firefox Notes from Test Pilot experiments page and Firefox Notes v2.2.0dev (custom built 2018-01-25), on Windows 10 x64, Mac 10.12.6 and Ubuntu 14.04 x64.

[2018-01-25 10:22] #530 closed

[2018-01-25 10:52] Softvision-MariusComan opened #613 "The "Notes" menu button wrongly shakes while resizing the sidebar"
**[Affected versions]:**
- Firefox 58.0 and up

**[Affected Platforms]:**
- All Windows

**[Prerequisites]:**
- Have a Firefox profile with the latest version of the "Firefox Notes" add-on (2.2.0dev custom build from 01.25.2018) installed.
- The sidebar was moved to the right.
- You are logged into "Firefox Notes".

**[Steps to reproduce]:**
1. Open the browser with the profile from prerequisites.

[2018-01-25 13:34] #599 closed

[2018-01-25 13:35] UTexas80 opened #614 "Notes Stopped Syncing"
Hello...My Notes have stopped syncing and no longer appear in my Sidebar. Is there anyway to restore my work?
Thank you.

[2018-01-25 13:37] Natim commented on #614
Try to disconnect and reconnect?

[2018-01-25 13:47] UTexas80 commented on #614
Hi Natim - I appreciate your prompt response. Can you please help me understand, are you suggesting that I uninstall Test Pilot and re-install it or something else. I have several Firefox user accounts and Notes is displaying a blank screen for all of them so it doesn't appear to be account related.
Thank you.
Glen

[2018-01-25 13:55] Natim commented on #614
So maybe you are reaching this error #512 ?

[2018-01-25 13:58] #593 closed

[2018-01-25 13:59] Natim commented on #430
- ## test

[2018-01-25 14:00] Natim commented on #430
It actually works with Github

[2018-01-25 14:01] Natim commented on #430
@Reinmar are you already tracking this bug in CKEditor5?

[2018-01-25 14:02] Natim commented on #614
Could you provide me with a screenshot?

[2018-01-25 14:03] UTexas80 commented on #614
Yes, exactly - that's what's happening. I really love the Notes feature and rely on it heavily. I feel lost without it.

[2018-01-25 14:04] Natim commented on #614
Which operating system are you using?

[2018-01-25 14:05] Natim commented on #614
Can you help us get more information about why it stopped working on your end?

[2018-01-25 14:26] Reinmar commented on #430
This is not a bug. This is how it's supposed to work with the current set of features. These formats are exclusive – something's either a list item or a paragraph or a heading. You can't have a heading list item in the current implementation of the list feature. The reason why it works this way is the content semantics. It's not a visual editor like MS Word where things like this might make sense.

[2018-01-25 14:27] UTexas80 commented on #614
Surely. What information can I provide to you?

[2018-01-25 15:13] Natim commented on #614
If you could run a debug enabled version of FIrefox and try to load notes in it and grab all the logs that you can about QuotaManager and things around it, it would help us to figure out why IndexedDB stopped working on your profile.

If you are using Windows, you can use this steps:

Then can you open the `cmd` tool and drag and drop `firefox.exe` to run it and see the log in the console. We need

[2018-01-25 15:29] ryanfeeley commented on #430
Agreed, this is why I gave up on font size, because it actually worked more like headings. A shame that GitHub doesn't open source their editor. It's pretty good, although I think the WYSIWYG of CKEditor works best for most users in the context of Notes in the sidebar.

[2018-01-25 15:30] Natim commented on #430
I am going to close this bug then and we will follow up in ckeditor/ckeditor5-list#47.

[2018-01-25 15:32] #430 closed

[2018-01-25 15:58] Softvision-MariusComan opened #616 "Extra lines are pasted in "Firefox Notes" when a cell with text is copied from Google Sheets"
**[Affected versions]:**
- Firefox 58.0 and up

**[Affected Platforms]:**
- All Windows

**[Prerequisites]:**
- Have a Firefox profile with the latest version of the "Firefox Notes" add-on (2.2.0dev custom build from 01.25.2018) installed.
- Have a "Google Sheets" cell with text copied to clipboard.

**[Steps to reproduce]:**
1. Open the browser with the profile from prerequisites.
2. Focus the si

[2018-01-25 16:06] anweshknayak commented on #616
Hey, I can give this a try

[2018-01-25 18:19] anweshknayak commented on #591
which type it would be ?
and something like this should work ?
`if(giveFeedbackMenuItem.style.display == "none"){

  giveFeedbackButton.addEventListener(type, (e) => { });
}`

[2018-01-25 19:36] ryanfeeley commented on #528
@Natim  Trying now! I am expecting to see the latest design from Invision.

Quickly mocked up using the toolbox.

# Focus on normal text
<img width="247" alt="image" src="https://user-images.githubusercontent.com/68213/35408218-4fe2c810-01dc-11e8-80c2-8233f5c299be.png">

# Focus on headings
<img width="244" alt="image" src="https://user-images.githubusercontent.com/68213/35408181-34eac440-01dc-11e

[2018-01-26 09:39] Natim commented on #528
Ok so you Aa for Body text, goatch

[2018-01-26 09:43] Natim commented on #591
I would rather remove the listener

[2018-01-26 13:18] Natim opened #618 "Upgrade message boxes to Photon colors"
Today we have a wild range of colors.

![migration](https://user-images.githubusercontent.com/229453/35339473-0560bce0-0121-11e8-94f6-980bbc3a14f3.png)

![SyncPopup](https://user-images.githubusercontent.com/26000308/27691699-87dcf0b8-5ced-11e7-8d1b-e092213953f5.png)

We should use the Photon guideline: https://design.firefox.com/photon/components/message-bars.html#error

[2018-01-26 13:20] #546 closed

[2018-01-26 13:23] Natim commented on #614
@UTexas80 I am closing this bug as a duplicate of #512 please add you log there if you manage to get them 👍 thanks

[2018-01-26 13:23] #614 closed

[2018-01-26 13:25] Natim commented on #595
Refs https://discourse.mozilla.org/t/use-markdown-as-text-file-format/22541/8

[2018-01-26 13:34] UTexas80 commented on #614
Hi Natim - I got up to the "Then can you open the cmd tool" step but am unsure by which cmd tool? Do you mean the windows command prompt? BTW, I am able to read my notes using my home PC running Windows 7.

[2018-01-26 13:36] UTexas80 commented on #512
Hi Natim - I got up to the "Then can you open the cmd tool" step but am unsure by which cmd tool? Do you mean the windows command prompt? BTW, I am able to read my notes using my home PC running Windows 7.

[2018-01-26 13:37] Natim commented on #614
Yes

Good news !!!

[2018-01-26 13:47] #564 closed

[2018-01-26 13:48] Natim commented on #578
I believe fixing #546 should have fixed this

[2018-01-26 13:49] #578 closed

[2018-01-26 13:49] Natim commented on #542
I believe fixing #546 should have fixed this

[2018-01-26 13:49] Natim commented on #556
I believe fixing #546 should have fixed this

[2018-01-26 13:49] #556 closed

[2018-01-26 14:00] UTexas80 commented on #614
Got Firefox to start but was blocked by my work firewall to initiate it.

On Fri, Jan 26, 2018 at 8:37 AM, Rémy HUBSCHER <notifications@github.com>
wrote:

[2018-01-26 14:03] Natim commented on #614
Ok :/

[2018-01-26 14:14] Natim commented on #618
@anweshknayak would you like to tackle this issue?

[2018-01-26 15:23] anweshknayak commented on #618
@Natim sure :) On it

[2018-01-26 15:27] tradewatcher opened #620 "Checkboxes / ToDo list"
Add a second menu row with a drop down menü to select note, a + to add note and a - to remove note.

An extra standard "ToDo" (checklist note) should always be selectable in this drop down menu there and undeleteable.

And i miss Checkboxes.

A finish date/time under each entry could be an idea if you add a small remember popup in firefox and play a PIEP at finish date/time.

[2018-01-26 17:47] ryanfeeley opened #621 "Syncing user footer fixes"
Not sure which of these are already fixed, but doesn't hurt to file twice.

1. `Synced at` should just be `Synced`
1. Text should be black
1. Hover text is missing on `Synced` text
1. Hover text should be: `Sync to user@example.com`

![synced](https://user-images.githubusercontent.com/68213/35453027-ac4c8afe-0296-11e8-9310-f8d5a9a02af0.gif)