[2018-01-26 17:59] Natim commented on #621
Can you please check with https://github.com/mozilla/notes/files/1668378/notes-2.2.0rc2.zip ?

[2018-01-26 20:32] ryanfeeley commented on #621
@Natim Done! But all issues remain. Although I did see `user@example.com` on `Synced at` hover.

![rc3](https://user-images.githubusercontent.com/68213/35459409-0ae5bc18-02ae-11e8-9dbd-be0c443302bc.gif)

[2018-01-28 07:55] anweshknayak opened #622 "Can't type anything in notes"
![screenshot from 2018-01-28 13 15 30](https://user-images.githubusercontent.com/8139783/35480167-aa8f5a7c-042e-11e8-8f54-8babb6fd4e95.png)

Tried

also have fetched the latest commit

[2018-01-29 08:54] Natim commented on #622
Should be fixed with a2cf637 sorry about that.

[2018-01-29 08:58] #622 closed

[2018-01-29 09:19] Softvision-MariusComan opened #623 "The INITIAL_CONTENT text does not disappear after logging into "Firefox Notes""
**[Affected versions]:**
- Firefox 58.0 and up

**[Affected Platforms]:**
- All Windows
- All Mac
- All Linux

**[Prerequisites]:**
- Have a Firefox profile with the latest version of the "Firefox Notes" add-on (2.2.0rc2) installed.

**[Steps to reproduce]:**
1. Open the browser with the profile from prerequisites.
2. Click the "Sync Your Notes" button.
3. Insert you credentials and click the "Sig

[2018-01-29 10:19] Softvision-MariusComan opened #625 "The "Aa" string is wrongly displayed in the "Font Size" menu button, when the "Body" font size is selected"
**[Affected versions]:**
- Firefox 58.0 and up

**[Affected Platforms]:**
- All Windows
- All Mac
- All Linux

**[Prerequisites]:**
- Have a Firefox profile with the latest version of the "Firefox Notes" add-on (2.2.0rc1) installed.
- The sidebar is opened

**[Steps to reproduce]:**
1. Open the browser with the profile from prerequisites.
2. Click the "Font size" button from the top-left part of t

[2018-01-29 10:21] Natim commented on #625
That's actually the new spec.

[2018-01-29 10:22] Natim commented on #625
https://github.com/mozilla/notes/issues/528#issuecomment-360575886

[2018-01-29 10:23] Natim commented on #625
https://github.com/Natim/ckeditor5-heading/commit/2061d7e140db37f2aeaf077e660d1306d9d22c72

[2018-01-29 10:39] #618 closed

[2018-01-29 10:43] Natim commented on #621
@anweshknayak would you like to tackle this issue?

[2018-01-29 10:46] anweshknayak commented on #621
@Natim sure :100:

[2018-01-29 11:14] anweshknayak opened #626 "Connection not secure on log in"
![screenshot from 2018-01-29 16 33 08](https://user-images.githubusercontent.com/8139783/35507663-8f2e5892-0513-11e8-9881-48a1995913cf.png)

Can't log in to sync.

and cannot scroll the page to *Add Exception*

[2018-01-29 13:50] Softvision-MariusComan opened #627 "Recently added content is wrongly deleted if it is added after the max size warning is displayed"
**[Notes]:**
- After following the scenario below, if you continue to add new lines with/without text, try to synchronize and close the message several times, then all the previously synchronized and the new content will be deleted and only the placeholder text will be displayed (see the second attached video).

**[Affected versions]:**
- Firefox 58.0 and up

**[Affected Platforms]:**
- All Window

[2018-01-29 16:08] johngruen commented on #626
@anweshknayak could you provide more details about how you hit this screen?

[2018-01-29 16:08] vladikoff commented on #626
@anweshknayak

- Did you trigger login twice?
- Do you have other extensions installed?

[2018-01-29 16:10] johngruen commented on #620
Thank you for the ideas. We are actively working on multi-note support, and the underlying editor is working on checkbox support.

[2018-01-29 16:14] johngruen commented on #616
We can use a CK editor transformation to better handle copy/paste?

[2018-01-29 16:52] anweshknayak commented on #626
Certainly No. Have tried multiple times with the login.

Yes

[2018-01-29 18:25] UTexas80 commented on #614
It looks like this issue for me is profile related. I used a different profile and notes worked. I went back to my original profile and notes was still hosed.

[2018-01-30 09:38] Natim commented on #614
Yes I know, that's why if you can open a Firefox debug version with this profile we will be able to figure out why.

[2018-01-30 10:16] Softvision-MariusComan opened #628 "Content copied from "Notepad++" or "Skype" does not keep its format after it's pasted in "Firefox Notes""
**[Affected versions]:**
- Firefox 58.0 and up

**[Affected Platforms]:**
- All Windows
- All Mac
- All Linux

**[Prerequisites]:**
- Have a Firefox profile with the latest version of the "Firefox Notes" add-on (2.2.0rc2) installed.
- Have content on multiple rows, copied to clipboard from "Notepad++" or "Skype".

**[Steps to reproduce]:**
1. Open the browser with the profile from prerequisites.
2

[2018-01-30 10:55] Softvision-CristinaBadescu opened #629 "When hovering the "Synced at.." text, the Sync email is no longer displayed after switching sidebars"
[Affected versions]:
- Firefox 58.0 and up

[Affected Platforms]:
- All Windows
- All Mac
- All Linux

[Prerequisites]:
- Have a Firefox profile with the latest "Firefox Notes" add-on version (2.2.0dev custom build from 2018-01-30) installed.
- Be logged in a Firefox Notes account.

[Steps to reproduce]:
1. Open Firefox browser with the profile from prerequisites.
2. Switch the "Notes" sidebar to

[2018-01-30 10:56] Softvision-CristinaBadescu commented on #599
This issue is no longer reproducible using Firefox Notes v2.2.0dev (custom built 2018-01-30), on latest Nightly build 60.0a1 (2018-01-29), on Windows 10 x64, Mac 10.12.6 and Arch Linux 4.12.

[2018-01-30 14:30] Softvision-MariusComan opened #630 "Content loses the "Bold" formatting option when it is pasted in "Firefox Notes" from Google Docs"
**[Affected versions]:**
- Firefox 58.0 and up

**[Affected Platforms]:**
- All Windows
- All Mac
- All Linux

**[Prerequisites]:**
- Have a Firefox profile with the latest version of the "Firefox Notes" add-on (2.2.0rc2) installed.
- Have content with the "Bold" formatting option applied, copied to clipboard from "Google Docs".

**[Steps to reproduce]:**
1. Open the browser with the profile from

[2018-01-30 15:43] Softvision-MariusComan opened #631 "The "Firefox Notes Feedback" page is not opened in a new tab"
**[Affected versions]:**
- Firefox 58.0 and up

**[Affected Platforms]:**
- All Mac
- All Linux

**[Prerequisites]:**
- Have a Firefox profile with the latest version of the "Firefox Notes" add-on (2.2.0rc2) installed.

**[Steps to reproduce]:**
1. Open the browser with the profile from prerequisites.
2. Click the "Give Feedback" button from the bottom right part of the sidebar.
3. Observe the beh

[2018-01-30 16:02] vladikoff commented on #396
@cedricium sorry i was away for 2 weeks, looking at this now!

[2018-01-30 16:19] apoorvaagupta commented on #631
Hello, May I take up this issue if no one else is working on it?

[2018-01-30 16:21] Natim commented on #631
Yes please go ahead @apoorvaagupta

[2018-01-30 18:25] bhavyaagg opened #632 "The project won't run if you have some other version of Firefox installed instead"
The project runs by default on Firefox. I have checked this in MacOS. This is because web-ext by defaults run the default firefox. We should have an option to run this project on different versions of firefox.

[2018-01-30 18:27] vladikoff commented on #632
@bhavyaagg there is start-nightly: https://github.com/mozilla/notes/blob/master/package.json#L77

You can tweak that or add a new script option

[2018-01-30 18:27] #632 closed

[2018-01-30 18:28] bhavyaagg commented on #632
@vladikoff Should i add a script for running this on Developer Edition?

[2018-01-30 18:31] vladikoff commented on #632
@bhavyaagg

under `web-ext run --help`

[code]

It's up to you, I think a PR for `npm run start-deved` or something would be okay. We only just needed Nightly and Stable for most of our purposes

[2018-01-30 18:34] bhavyaagg commented on #632
@vladikoff Sure. Will do that. Thank you for your quick response. :)

[2018-01-30 19:41] apoorvaagupta opened #636 "Add a scribble board"
Addons like a scribble board would be a nice way to save drawings/notes in one's own handwriting.
It would be a great tool especially for users using the browser on touch screen laptops or tablets.
Different colours and stroke widths can be added to enhance the feature.

I would like to work on this issue, if approved by the mentors.

[2018-01-30 19:52] vladikoff commented on #636
@apoorvaagupta we would have to triage this feature request.

Right now we are focused on multi note support and features outlined in this design:

https://mozilla.invisionapp.com/share/WSDA1YM7H#/screens/250693253_Default

Also see v3.0 column and the enhancements col under https://waffle.io/mozilla/notes

[2018-01-30 20:01] apoorvaagupta commented on #636
Thankyou @vladikoff for reviewing!
If in future, you plan to implement it, please let me know as I would love to work on it!
Meanwhile, I would contribute on other issues.

[2018-01-30 22:06] willbmartin commented on #574
As my first issue, I would like to contribute to this ticket, and make the text black! Still needed?

[2018-01-30 22:16] ryanfeeley commented on #574
@willbmartin Great! I'm doing design on this project and would love the extra help! I thought it was, but then a recent release candidate showed that it was not. I filed this issue more recently, kind of a duplicate I suppose. https://github.com/mozilla/notes/issues/621

[2018-01-31 01:48] himanish-star commented on #629
@Natim, shall I try to fix this ?

[2018-01-31 02:04] vladikoff commented on #629
@himanish-star sure, I think you need to cache the email somewhere after the user authenticates

[2018-01-31 03:01] himanish-star commented on #629
Sure, I'll start looking into this

[2018-01-31 04:29] himanish-star commented on #532
@Natim, @vladikoff. I would like to take this issue. Also I want to know that how do we get the current cursor position in the CKeditor. I tried using [`getRanges`](https://docs.ckeditor.com/ckeditor5/latest/api/module_engine_view_selection-Selection.html#getRanges) but it didn't work. Could anyone of you both guide me here

[2018-01-31 04:51] vladikoff commented on #532
@himanish-star first check if the same bug is present on https://ckeditor5.github.io/

[2018-01-31 04:52] vladikoff commented on #532
@himanish-star we need to confirm if it is a CKEditor bug or something else

[2018-01-31 09:22] Natim commented on #574
@willbmartin Yes please go ahead 👍

[2018-01-31 09:43] Softvision-MariusComan opened #638 "After logging off from "Firefox Notes", the "Give Feedback" button is not displayed in the other opened windows"
**[Notes]:**
- The "Give Feedback" button is displayed only on the window where the log off action was taken.

**[Affected versions]:**
- Firefox 58.0 and up

**[Affected Platforms]:**
- All Windows
- All Mac
- All Linux

**[Prerequisites]:**
- Have a Firefox profile with the latest version of the "Firefox Notes" add-on (2.2.0rc2) installed.
- Have the "Firefox Notes" sidebar opened.
- You must be

[2018-01-31 09:45] anweshknayak commented on #626
It wasn't working with Firefox Developer version. But it is now working with Firefox 58(Quantum)

[2018-01-31 12:37] Softvision-MariusComan opened #640 "A text with a heading format applied, is wrongly reset to "Body" format when it's pasted on a new row"
**[Affected versions]:**
- Firefox 58.0 and up

**[Affected Platforms]:**
- All Windows
- All Mac
- All Linux

**[Prerequisites]:**
- Have a Firefox profile with the latest version of the "Firefox Notes" add-on (2.2.0rc2) installed.
- Have the "Firefox Notes" sidebar opened.
- Have content with any heading format applied.

**[Steps to reproduce]:**
1. Open the browser with the profile from prerequ

[2018-01-31 13:53] Softvision-MariusComan opened #641 "If a numbered/bulleted list is pasted on a new row under a similar one, the lists will wrongly merge"
**[Affected versions]:**
- Firefox 58.0 and up

**[Affected Platforms]:**
- All Windows
- All Mac
- All Linux

**[Prerequisites]:**
- Have a Firefox profile with the latest version of the "Firefox Notes" add-on (2.2.0rc2) installed.
- Have a numbered list displayed in the sidebar.
- Have another numbered list copied to the clipboard.

**[Steps to reproduce]:**
1. Open the browser with the profile

[2018-01-31 14:33] flodolo commented on #621
Can someone explain the rationale for "Sync to foo@example.com"? It sounds confusing to me, as if it's sending something to that email, not the account.

Wouldn't something like "Current account: foo@example.com" be less open to interpretations?

[2018-01-31 15:32] vladikoff commented on #629
Should be fixed via https://github.com/mozilla/notes/pull/637

[2018-01-31 15:32] #629 closed

[2018-01-31 15:34] Softvision-MariusComan opened #642 "The "Firefox Notes" toolbar button does not work correctly on older supported browser versions"
**[Affected versions]:**
- Firefox 54
- Firefox 55
- Firefox 56

**[Affected Platforms]:**
- All Windows
- All Mac
- All Linux

**[Prerequisites]:**
- Have a Firefox profile with the latest version of the "Firefox Notes" add-on (2.2.0rc2) installed.

**[Steps to reproduce]:**
1. Open one of the affected browsers with the profile from prerequisites.
2. Observe and click the "Firefox Notes" toolbar

[2018-01-31 15:46] Natim commented on #642
That's true, the API didn't exist at the time.

[2018-01-31 15:57] Natim commented on #642
Maybe we should just upgrade the minimum acceptable version for notes then.

[2018-01-31 15:59] vladikoff commented on #642
👍

[2018-01-31 16:01] Natim commented on #642
According to https://developer.mozilla.org/en-US/Add-ons/WebExtensions/API/sidebarAction it is 57

[2018-01-31 18:18] ryanfeeley commented on #621
I can! We currently don't show the account email anywhere in the UI. This seemed like a harmless place for it. Tapping anywhere on the row will invoke a manual Sync, and "Sync to foo@example.com" is I suppose a shorter way to say "Sync with account foo@example.com"

That doesn't let the user know that tapping it will invoke a sync.

Make sense or other ideas?

[2018-01-31 18:20] flodolo commented on #621
Thanks, that helps. Since this is a tooltip, and there are really no space constraints, why not using "Sync with account foo@example.com" then? That seems clearer.

[2018-01-31 18:28] vladikoff commented on #642
Ref: https://github.com/mozilla/notes/pull/643

[2018-01-31 21:44] ryanfeeley commented on #621
@flodolo If you're not worried about it being too long, then I approve! Thanks for making it better.

[2018-01-31 23:30] willbmartin commented on #574
Submitted a pull request 👍

[2018-02-01 06:48] flodolo commented on #621
Yes, tooltips is one of the few ares where lenght is not much of a concern.

[2018-02-01 08:20] #621 closed

[2018-02-01 09:28] Softvision-CristinaBadescu commented on #629
This issue is no longer reproducible using latest Firefox Notes version 2.2.0 dev (custom built 2018-02-01), on latest Nightly build 60.0a1 (2018-01-31), on Windows 10 x64, Mac 10.12.6 and Arch Linux 4.12.

However, I've noticed that the text from the tooltip is different: before it displayed only the Sync email address, and now it displays "Sync with [e-mail address]", as you can see in the below

[2018-02-01 09:34] Natim commented on #629
It is not a bug it is actually a feature made in #639

[2018-02-01 09:43] Softvision-CristinaBadescu opened #645 ""Synced ..." text is no longer so visible on Dark Theme"
[Notes]:
- "Syncing changes..." text is also displayed with black characters.

[Affected versions]:
- Firefox 58.0 and up

[Affected Platforms]:
- All Windows
- All Mac
- All Linux

[Prerequisites]:
- Have a Firefox profile with the latest "Firefox Notes" add-on version (2.2.0dev custom build from 2018-02-01) installed.
- Be logged in a Firefox Notes account.
- Have Dark theme enabled.

[Steps to

[2018-02-01 10:01] anweshknayak opened #646 "Give feedback menu item draggable"
![peek 2018-02-01 15-27](https://user-images.githubusercontent.com/8139783/35672511-d7e2769c-0764-11e8-93d7-fe1e285e83cb.gif)

[2018-02-01 10:02] Natim commented on #645
@ryanfeeley Can you signoff for this? I think you asked *Synced* instead of *Synced at*, are you sure that's what you want? I know that @vladikoff and @flodolo changed that once already.

[2018-02-01 10:03] #646 closed

[2018-02-01 12:18] Softvision-CristinaBadescu opened #648 "The corresponding font is not highlighted for lists when clicking the "Font size" button"
[Notes]:
- Since the lists have the "Aa" button displayed, I assume that the corresponding font size should be highlighted, or another option, such as "Choose heading" should be displayed.

[Affected versions]:
- Firefox 58.0.1 and up

[Affected Platforms]:
- All Windows
- All Mac
- All Linux

[Prerequisites]:
- Have a Firefox profile with the latest "Firefox Notes" add-on version (2.2.0dev custom

[2018-02-01 12:24] himanish-star commented on #638
I think I may be able to fix this. Shall I ?

[2018-02-01 16:45] #631 closed

[2018-02-02 10:21] Natim commented on #568
Fixes with #649

[2018-02-02 10:21] #568 closed

[2018-02-02 10:57] #574 closed

[2018-02-02 11:10] Natim commented on #638
Yes @himanish-star please give it a try

[2018-02-02 11:13] anweshknayak commented on #627
hey @Natim can I try?

[2018-02-02 11:17] Natim commented on #405
Shall we plug https://github.com/alexeckermann/ckeditor5-emptyness ?

[2018-02-02 11:19] Natim commented on #627
Actually that 's a feature I've added while fixing #546
I am waiting for @ryanfeeley to tell me if he is ok with that behaviour or if we need to do a better job.

[2018-02-02 11:21] Natim commented on #405
@anweshknayak Do you want to tackle this one?

[2018-02-02 11:27] anweshknayak commented on #405
Hey @Natim sure 💯 . Thanks 😄

[2018-02-02 11:27] Natim commented on #626
I am closing this bug, it is a known Firefox Bug that was fixed in 58.

Refs https://bugzilla.mozilla.org/show_bug.cgi?id=1416872

[2018-02-02 11:27] #626 closed

[2018-02-02 11:31] Natim commented on #594
This was fixed with #623

[2018-02-02 11:31] #594 closed

[2018-02-02 11:33] Natim commented on #591
@anweshknayak Are you working on this or should I investigate?

[2018-02-02 11:35] Natim commented on #588
Fixed in #619 (2.2.0rc3)

[2018-02-02 11:35] #588 closed

[2018-02-02 11:40] anweshknayak commented on #591
@Natim please go ahead. I tried but couldn't solve it.

[2018-02-02 11:44] himanish-star commented on #638
@Natim, I have fixed this. :smiley:

[2018-02-02 12:37] #638 closed

[2018-02-02 12:52] Natim commented on #591
Ok thanks

[2018-02-02 13:10] #591 closed

[2018-02-02 13:13] Natim commented on #580
According to the bug it is impossible for us to set a minimum size.

[2018-02-02 13:50] Natim commented on #533
@vladikoff Do you know if people are still migrating?

[2018-02-02 13:52] Natim commented on #510
I guess this was fixed with the toolbar button.

[2018-02-02 13:52] #510 closed

[2018-02-02 13:53] Natim commented on #500
I would say that it is part of the design not to use blue here. @ryanfeeley feel free to disagree.

[2018-02-02 13:53] #500 closed

[2018-02-02 13:54] Natim commented on #483
I believe this has been fixed.

[2018-02-02 13:54] #483 closed

[2018-02-02 13:57] #567 closed

[2018-02-02 14:01] Natim commented on #525
I can reproduce anymore.

[2018-02-02 14:02] Natim commented on #523
I believe this is fixed.

[2018-02-02 14:03] Natim commented on #488
I am going to close this bug and handle it in the Bugzilla issue.

[2018-02-02 14:03] #488 closed

[2018-02-02 14:05] Natim commented on #480
I believe this is fixed.

[2018-02-02 14:24] Natim commented on #438
I believe this is fixed today.

[2018-02-02 14:25] Natim commented on #435
I believe this is fixed with Notes 2.2.0

[2018-02-02 14:25] #435 closed

[2018-02-02 14:28] Natim commented on #384
Refs #472  #260 #114

[2018-02-02 14:29] Natim commented on #384
Also related to the beforeinput event implementation: https://bugzilla.mozilla.org/show_bug.cgi?id=970802

[2018-02-02 14:29] Natim commented on #472
This would be handled with the beforeinput event implementation: https://bugzilla.mozilla.org/show_bug.cgi?id=970802

[2018-02-02 14:29] Natim commented on #260
This would be handled with the beforeinput event implementation: https://bugzilla.mozilla.org/show_bug.cgi?id=970802

[2018-02-02 14:30] Natim commented on #381
I believe this is a duplicate of #402

[2018-02-02 14:30] #381 closed

[2018-02-02 14:31] Natim commented on #383
Closing since we don't have links support currently.

[2018-02-02 14:31] #383 closed

[2018-02-02 14:32] Natim commented on #377
Currently we don't have links support yet/anymore

[2018-02-02 14:32] #377 closed

[2018-02-02 14:33] Natim commented on #376
This doesn't seems to be the case with the current version of Notes.

[2018-02-02 14:33] #376 closed

[2018-02-02 14:33] Natim commented on #368
I believe today we have a support for Markdown.

[2018-02-02 14:33] #368 closed

[2018-02-02 14:34] Natim commented on #367
I believe this is now implemented 🙌

[2018-02-02 14:34] #367 closed

[2018-02-02 14:35] Natim commented on #348
I believe this is fixed.

[2018-02-02 14:35] #348 closed

[2018-02-02 14:50] vladikoff commented on #533
@Natim It's at around ~50 users per day sending this event:

https://github.com/mozilla/notes/blob/f6873682040c7798cc9f4b93280669fe554c6217/src/sidebar/migration.js#L52

They are either stuck or still migrating 😄

[2018-02-02 15:18] vladikoff commented on #627
@ryanfeeley to close up this bug we want to know:

Are you okay with Notes warning users at 15000 characters and then blocking input on 25000 characters? Please unblock 🐶

<img src=https://identicons.appspot.com/i/shield/v1/rfeeley.svg width=100 />

[2018-02-02 15:18] Natim commented on #627
![https://identicons.appspot.com/i/shield/v1/M3LW4M.svg](https://identicons.appspot.com/i/shield/v1/M3LW4M.svg)

[2018-02-02 15:25] vladikoff commented on #514
Changes to `-link` plugin: https://github.com/ckeditor/ckeditor5/issues/645#issuecomment-362608165

[2018-02-02 15:27] vladikoff commented on #536
@cedricium if you have time, do you wanna check this one out? See if this works with Sidebar webextensions?

[2018-02-02 15:55] vladikoff commented on #547
@ddurst couple of questions to narrow this down:

- What OS are you using?
- Can you see if Firefox Stable has the same problem for you?
- Did you have multiple sidebars going or was it a single Firefox window?

[2018-02-02 16:33] cedricium commented on #536
@vladikoff sure thing! 👍

[2018-02-02 18:59] ddurst commented on #547
@vladikoff:
* OSX 10.11.6
* without definitive STR, it's hard to tell. I do experience a lot of lag when I enter a lot of text. I'll keep trying.
* In nightly I was running 6-7 windows, with sidebars enabled in at least one, probably two, but not all.

[2018-02-02 22:11] vladikoff opened #656 "Always open the notepad when the notes button is pressed"
When we press
![image](https://user-images.githubusercontent.com/128755/35757176-fa3280c0-083b-11e8-8f42-038655558646.png)

let's always open the pad.

If users want to hide it let them just press the `X`.
The current behaviour with the open / closed detection is too messy.

[2018-02-02 22:20] vladikoff commented on #656
@anweshknayak this might be a quick PR if you have time.

Basically tweaking this function to always `open` and never call close. https://github.com/mozilla/notes/blob/master/src/background.js#L195

[2018-02-04 16:53] UTexas80 commented on #614
Hello. Here's my log from my Windows 7 x64 PC. Hope it helps

Microsoft Windows [Version 6.1.7601]
Copyright (c) 2009 Microsoft Corporation.  All rights reserved.

C:\Users\gfalk>C:\Users\gfalk\Downloads\target\firefox\firefox.exe
[7688, Main Thread] WARNING: dependent window created without a parent: file z:/
build/build/src/toolkit/components/startup/nsAppStartup.cpp, line 674
++DOCSHELL 0000000

[2018-02-04 19:09] anweshknayak commented on #405
I don't get this one. **Take a note** placeholder. Where it is?

[2018-02-04 20:50] anweshknayak opened #658 "Links in editor are not clickable"
![link](https://user-images.githubusercontent.com/8139783/35782235-17c94e30-0a1b-11e8-97c9-b28588d8cc4e.gif)

[2018-02-04 20:53] anweshknayak opened #659 "Issue template for this project"
https://help.github.com/articles/creating-an-issue-template-for-your-repository/

[2018-02-04 21:24] #659 closed

[2018-02-04 21:25] vladikoff commented on #658
dup of https://github.com/mozilla/notes/issues/396

[2018-02-04 21:25] #658 closed

[2018-02-05 08:17] #656 closed

[2018-02-05 08:33] Natim commented on #405
When the pad is empty (in the previous version notes) we had a placeholder telling people to take a note.

Since we moved to CKeditor we don't have it anymore.

I guess we need to plug this plugin: https://github.com/alexeckermann/ckeditor5-emptyness in order to add it back.

[2018-02-05 08:37] Natim commented on #614
I guess you error is `Error: Can't find profile directory.` Can you run `firefox -P` to select a profile and make sure the profile directory still exists?

[2018-02-05 14:13] Softvision-CristinaBadescu commented on #645
This issue is no longer reproducible using Firefox Notes [v2.2.0rc5](https://github.com/mozilla/notes/pull/619#issuecomment-362590630), or Firefox Notes v2.2.0dev (custom build 2018-02-05), on latest Nightly build 60.0a1 (2018-02-04), on Windows 10 x64, Mac 10.12.6 and Arch Linux 4.12.

However, this issue has not been fixed entirely because the text color consistency is not respected: the "Synced

[2018-02-05 14:21] Softvision-CristinaBadescu commented on #594
This issue is no longer reproducible using Firefox Notes [v2.2.0rc5](https://github.com/mozilla/notes/pull/619#issuecomment-362590630), or Firefox Notes v2.2.0dev (custom build 2018-02-05), on latest Nightly build 60.0a1 (2018-02-04), on Windows 10 x64, Mac 10.12.6 and Arch Linux 4.12.

However, you can briefly observe the transition from "Saved" -> "Synced..", but only for such a short moment, th

[2018-02-05 14:23] Softvision-CristinaBadescu commented on #523
This issue is still reproducible using Firefox Notes [v2.2.0rc5](https://github.com/mozilla/notes/pull/619#issuecomment-362590630), or Firefox Notes v2.2.0dev (custom build 2018-02-05), on latest Nightly build 60.0a1 (2018-02-04), on Windows 10 x64, Mac 10.12.6 and Arch Linux 4.12.

Considering this, I'm going to reopen this issue until it's fixed.

[2018-02-05 14:25] Softvision-CristinaBadescu commented on #348
Indeed, this issue is no longer reproducible using Firefox Notes [v2.2.0rc5](https://github.com/mozilla/notes/pull/619#issuecomment-362590630), or Firefox Notes v2.2.0dev (custom build 2018-02-05, on latest Nightly build 60.0a1 (2018-02-04), on Windows 10 x64, Mac 10.12.6 and Arch Linux 4.12.

[2018-02-05 14:31] SoftVision-EmilPasca opened #661 ""Sync with..." tooltip is wrongly displayed when hovering the "Give Feedback" button"
[Affected versions]:
- Firefox 58.0.1 and up

[Affected Platforms]:
- All Windows
- All Mac
- All Linux

[Prerequisites]:
- Have a Firefox profile with the latest "Firefox Notes" add-on version (2.2.0rc5 from https://github.com/mozilla/notes/files/1689535/notes-2.2.0rc5.zip) installed.
- Be logged in a Firefox Notes account.

[Steps to reproduce]:
1. Open Firefox browser with the profile from prer

[2018-02-05 15:03] vladikoff commented on #661
@himanish-star see above , I think this needs to be tweaked a bit

[2018-02-05 15:17] Softvision-MariusComan commented on #568
This issue is no longer reproducible with the latest version of the "Firefox Notes" add-on (2.2.0rc5 build) installed, on the latest Firefox release and Nightly.

[2018-02-05 15:49] vladikoff commented on #645
@ryanfeeley is this fine?

Should action be `white` (clickable) and progress in grey?

[2018-02-05 15:54] ryanfeeley commented on #645
@vladikoff Yes, exactly! It's the opposite of light theme.

[2018-02-05 15:55] #645 closed

[2018-02-05 16:07] vladikoff opened #662 "Add metrics event when limit warning is hit"
from mtg: `limit reached` warning

[2018-02-05 16:09] johngruen commented on #662
something like:
[code]

[2018-02-05 16:11] himanish-star commented on #661
I'll surely look into this. :+1:

[2018-02-05 16:26] johngruen commented on #662
ec would be `notes`

[2018-02-05 23:19] marniepw commented on #512
Feedback from January survey:

- I have no Idea how to create a note - all I see is blank space in the sidebar
- HELP! It's been a few months now that notes hasn't worked for me. When I open notes, all I see is white where there should be the notes interface. Please help me understand what the problem is and how I can fix it. Thanks!
- Can't write anything in notes. Notes tab in sidebar displays a

[2018-02-05 23:31] marniepw opened #663 "Scroll bar cannot be grabbed and dragged"
[Description]: The scroll bar was refusing to scroll by dragging, so I had to use my mouse's scroll wheel to scroll down.

[Affected versions]: Unknown; feedback is from January survey.

[Prerequisites]:

[Steps to reproduce]:

[Expected result]: Scrolling up and down with a mouse shall move the visible field of the note.

[Actual result]: Nothing happened.

[Additional Notes]:

[2018-02-05 23:35] marniepw opened #664 "Add simplified Chinese to list of supported languages"
[Description]: I found that the Firefox notes could not be entered in simplified Chinese. I recommend adding the function to make the text change.

[Affected versions]: Unknown; feedback from January survey.

[Prerequisites]:

[Steps to reproduce]:

[Expected result]:

[Actual result]:

[Additional Notes]:

[2018-02-05 23:38] marniepw opened #665 "Support Private Browsing mode"
[Description]: "Notes" is a good idea, but not working in private browsing mode. Therefore not usable for me.

[Affected versions]: Unknown; from January survey feedback.

[Prerequisites]:

[Steps to reproduce]:

[Expected result]:

[Actual result]:

[Additional Notes]:

[2018-02-05 23:42] marniepw opened #666 "Markdown feedback"
[Description]:

1. I was writing some notes and tried writing wrote word1_word2_word3 and while writing it, it did word1word2word3 and word 2 was in italics.  I am assuming that's because of the underlines but I am not sure this is intentional behavior. Thanks!
2. There should be a way to disable Markdown. It's annoying to paste in text with single line breaks and have them all disappear.

[Affect

[2018-02-05 23:45] marniepw opened #667 "Flash issue"
[Description]: When I play flash games and open the Firefox Notes the screen of the game becomes black until I close Notes.

[Affected versions]: Unknown; from January survey feedback.

[Prerequisites]:

[Steps to reproduce]:

[Expected result]:

[Actual result]:

[Additional Notes]: Can't repro w/ duke dashing (ryanfeeley)

[2018-02-05 23:50] marniepw opened #668 "Keyboard shortcut issues/not working"
[Description]:

1. Cannot Ctrl/Cmd + Z... Cannot undo accidental deletion.
2. Ctrl+C, Ctrl+X, and Ctrl+V are completely broken today.

[Affected versions]: Unknown; from January survey feedback.

[Prerequisites]:

[Steps to reproduce]:

[Expected result]:

[Actual result]:

[Additional Notes]:

[2018-02-05 23:53] marniepw opened #669 "Sync issues/duplication/conflicts"
[Description]:

1. Very useful tool, I'm used to open an external notepad often. Maybe the ability to save notes as *.txt could make it even better.  I've trying Notes for a few days and randomly appears repeated text before " **** En este ordenador: **** "
2. When enabling sync, I very often see a lot " **** On this computer: **** " followed by the text. I can delete these of course, but they see

[2018-02-05 23:56] marniepw opened #670 "General editor lag"
[Description]:

1. It was wonderful while it lasted. Then you messed with the settings and now it's useless. The delay when I try to enter anything, even when I press the enter key to make a paragraph space, is so long that I begin to think the whole page has hung. Oh Mozilla, what did you do to my favourite Firefox feature?  :-(((((
2. Congrats on the Syncing! Here it is a bit overzealous, and ge

[2018-02-06 13:41] Softvision-CristinaBadescu opened #671 ""All changes saved" action text is wrongly displayed in gray, when Dark Theme is enabled"
[Notes]:
- Considering the discussion from #645 , it seems that the action text should be displayed in white, for Dark theme.

[Affected versions]:
- Firefox 58.0.1 and up

[Affected Platforms]:
- All Windows
- All Mac
- All Linux

[Prerequisites]:
- Have a Firefox profile with the latest "Firefox Notes" add-on version (2.2.0dev custom build from 2018-02-06) installed.
- Have Dark theme enabled.

[2018-02-06 13:47] Softvision-MariusComan commented on #638
This issue is no longer reproducible with the latest version of the "Firefox Notes" add-on (2.2.0rc5 build) installed, on the latest Firefox release and Nightly.

[2018-02-06 13:57] Softvision-MariusComan commented on #627
This behavior is still reproducible with the latest version of the "Firefox Notes" add-on (2.2.0rc5) installed. Considering this, I am reopening the issue.
Attached a screen recording of the issue:
![rec of the issue](https://user-images.githubusercontent.com/31243259/35863089-3d2652f4-0b56-11e8-890d-e1f7970bcaea.gif)

[2018-02-06 13:59] Natim commented on #627
This was merged in rc6 not rc5

[2018-02-06 14:04] Softvision-MariusComan commented on #627
@Natim My mistake, this issue is no longer reproducible with the latest version of the "Firefox Notes" add-on (2.2.0rc6 build) installed, on the latest Firefox release and Nightly.

[2018-02-06 14:04] #627 closed

[2018-02-06 14:41] Softvision-MariusComan commented on #588
This issue is no longer reproducible with the latest version of the "Firefox Notes" add-on (2.2.0rc6 build) installed, on the latest Firefox release and Nightly.

[2018-02-06 14:42] Softvision-MariusComan commented on #591
This issue is no longer reproducible with the latest version of the "Firefox Notes" add-on (2.2.0rc6 build) installed, on the latest Firefox release and Nightly.

[2018-02-06 14:49] Softvision-MariusComan commented on #525
This issue is no longer reproducible with the latest version of the "Firefox Notes" add-on (2.2.0rc6 build) installed, on the latest Firefox release and Nightly.

[2018-02-06 14:58] Softvision-MariusComan commented on #480
This behavior is still reproducible with the latest version of the "Firefox Notes" add-on (2.2.0rc6) installed. Considering this, I am reopening the issue.
Attached a screen recording of the issue:
![rec of the issue](https://user-images.githubusercontent.com/31243259/35865983-a15db8a4-0b5e-11e8-87de-a0b78bab4a30.gif)

[2018-02-06 15:02] Softvision-MariusComan commented on #435
This issue is no longer reproducible with the latest version of the "Firefox Notes" add-on (2.2.0rc6 build) installed, on the latest Firefox release and Nightly.

[2018-02-06 15:45] Softvision-MariusComan commented on #623
This behavior is still reproducible with the latest version of the "Firefox Notes" add-on (2.2.0rc6) installed. Considering this, I am reopening the issue.
Attached a screen recording of the issue:
![rec of the issue](https://user-images.githubusercontent.com/31243259/35868530-6b34183e-0b65-11e8-85ec-b535b02b9a83.gif)

[2018-02-07 12:58] Natim commented on #671
I know what you mean, in the current form of Notes you can click there to activate the sync but it shouldn't be the case, the action is only on `Synced {time}` we will fix when we move to react. In the meantime it is fine to have it grey since iti si not supposed to be clickable.

[2018-02-07 13:00] Natim commented on #670
A bunch of changes have been made in 2.2.0 to fix that. It is something we should keep monitoring but I believe that those are fixed:
- The delay when I try to enter anything, even when I press the enter key to make a paragraph space, is so long that I begin to think the whole page has hung
- Cursor jumps to the beginning of File, and lagging occurs.
- every keyboard input is saved and it takes so

[2018-02-07 13:00] #670 closed

[2018-02-07 13:04] Natim commented on #669
Some of this are fixed:

- Please make a delay for the sync

The multiple *** On this computer *** message is handled by #542

[2018-02-07 13:04] #669 closed

[2018-02-07 13:06] Natim commented on #668
I can't reproduce this:
- Ctrl+C, Ctrl+X, and Ctrl+V are completely broken today.

This is a duplicate of #472 bug because of a missing Firefox event handling.

- Cannot Ctrl/Cmd + Z... Cannot undo accidental deletion.

[2018-02-07 13:06] #668 closed

[2018-02-07 13:07] Natim commented on #667
We couldn't reproduce this, I am going to close it.

[2018-02-07 13:07] #667 closed

[2018-02-07 13:08] Natim commented on #666
1. It is a duplicate of #595
2. To be honest I don't think this is related to Markdown but more a CKEditor bug related to #628

[2018-02-07 13:08] #666 closed

[2018-02-07 13:09] Natim commented on #665
We cannot reproduce this, since it seems to be working here. (Toolbar button and shortcut.)

[2018-02-07 13:09] #665 closed

[2018-02-07 13:21] Natim commented on #664
I tried to type in chinese and I couldn't reproduce the issue:

![can't reproduce](https://user-images.githubusercontent.com/229453/35918439-248d8516-0c12-11e8-8b7b-fb5d7dc7b892.png)

[2018-02-07 13:21] #664 closed

[2018-02-07 13:23] Natim commented on #663
I couldn't reproduce this on Linux @SoftVision-EmilPasca can you try it on MacOS and Windows for the last version of notes?

[2018-02-07 13:42] Natim commented on #642
After talking with @Softvision-MariusComan on IRC we want to bring this question to the next meeting and determine if we should ship a 2.1.1 without the button before shipping a 2.2.0 so that people with notes and a lower version of Firefox don't stay stuck with a non working button.

[2018-02-07 13:47] Natim commented on #623
Ok I can't reproduce with locale fr, let me try with locale en.

[2018-02-07 14:12] Natim commented on #648
This is because when in list mode we are not in text mode, we can't mix lists and title either.

[2018-02-07 15:11] vladikoff commented on #663
I saw scrollbar issues in Nightly, maybe that's why.

[2018-02-07 15:11] vladikoff commented on #663
I wonder if we should just hide the survey button in Nightly    /o\

[2018-02-07 15:17] vladikoff commented on #664
@Natim yeah same, i tried to this on OS X as well and it was fine :\

[2018-02-07 15:28] SoftVision-EmilPasca commented on #663
I haven't managed to reproduce this with the latest Notes (2.2.0rc6), on Windows 10 x64 and Mac 10.12 using the latest Firefox Release (58.0.1), Dev Editions(59.0b4 -20180125163041) and latest Nightly (60.0a1-20180207100355).

[2018-02-07 16:18] Natim commented on #512
Thanks to @sebastienbarbier we were able to investigate that a little bit.

1. In your [profile folder](https://support.mozilla.org/en-US/kb/profiles-where-firefox-stores-user-data#w_how-do-i-find-my-profile)
2. In the storage folder
3. Look for files called `caches.sqlite`

In our case we had a `http+++localhost+3000` folder that was containing a `caches.sqlite` file.

Removing that folder altoge

[2018-02-07 16:59] Softvision-MariusComan commented on #665
I think that the users are encountering the following issue here: https://bugzilla.mozilla.org/show_bug.cgi?id=1430070. Because on a private window the sidebar is closed by default and the address bar is focused.

[2018-02-07 17:00] Natim commented on #665
I just tried on Linux and Nightly and I can use the shortcut even while the address bar is focused.

[2018-02-07 23:21] phantom-tim commented on #512
@Natim, your suggestion to @sebastienbarbier solved my problem as well.  I closed Firefox, removed the offending caches.sqlite folder, restarted my browser, and the notes are working fine again.

[2018-02-08 09:29] Natim commented on #512
Apparently there is even a safer way of doing so

[2018-02-08 09:30] Natim commented on #512
I guess the path forward with this issue is to detect when IndexedDB is broken and display a message telling how to fix it.

[2018-02-08 13:27] Softvision-MariusComan commented on #665
I have retested this issue and it seems that is no longer reproducible on the latest Nightly build (20180207220120 - Build ID). However I've still managed to reproduce it on Release and Beta channels.
Considering this, using the Mozregression tool, I have managed to find the fix:

First good revision: 48bca44fe6a6e88f941a1a5ab2a41a041346fa21
Last bad revision: df6d2c3ee671e81f1a8b4f6d13197eee52db9

[2018-02-08 15:17] vladikoff commented on #665
Awesome @Softvision-MariusComan !!

[2018-02-08 15:27] Natim commented on #665
Thanks a lot Marius this is really helpful!

[2018-02-08 16:22] ryanfeeley commented on #595
User feedback:

[2018-02-09 10:19] sebastienbarbier commented on #671
I quickly gave a try and fixed it in pull request #550 with light color. This is current result:
![dark-theme-text-color](https://user-images.githubusercontent.com/3018618/36021908-d613ec8c-0db9-11e8-8985-f32f564aef99.gif)
Should be merged next week so by then we will be able to do more tests and provide feedbacks.

[2018-02-09 10:45] sebastienbarbier commented on #671
After feedback from natim, non clickable is back to gray, and clickable is white 😊.

![dark-theme-text-color](https://user-images.githubusercontent.com/3018618/36023996-eac8c786-0dc0-11e8-9643-12e143e07a5b.gif)

[2018-02-09 10:50] Natim commented on #671
@ryanfeeley Does this looks like what you wanted? ^

[2018-02-09 16:01] #662 closed

[2018-02-09 16:06] #623 closed

[2018-02-12 08:27] Natim opened #675 "Leverage the new isOpen sidebarAction API to be able to open/close with the toolbar button"
For Firefox >= 59 we know have a isOpen info that tells if the sidebar is open or not.
We could use it to be able to use the toolbar button to close the addon.

https://developer.mozilla.org/en-US/Add-ons/WebExtensions/API/sidebarAction/isOpen

[2018-02-12 12:59] SoftVision-EmilPasca opened #676 ""Notes" sidebar is not closed when clicking the "Firefox Notes" toolbar button"
[Affected versions]:
- Firefox 58.0.2 and up

[Affected Platforms]:
- All Windows
- All Mac
- All Linux

[Prerequisites]:
- Have a Firefox profile with the latest "Firefox Notes" add-on version (2.2.0 installed from TestPilot)

[Steps to reproduce]:
1. Open Firefox browser with the profile from prerequisites.
2. Click the "Firefox Notes" toolbar button.
3. Observe the "Firefox Notes" sidebar.

[Ex

[2018-02-12 14:05] Natim commented on #676
Dup of #675

[2018-02-12 15:27] Softvision-MariusComan opened #677 "The empty rows are not pasted into Firefox Notes regardless of where they are copied from"
**[Affected versions]:**
- Firefox 58.0.2 and up

**[Affected Platforms]:**
- All Windows
- All Mac
- All Linux

**[Prerequisites]:**
- Have a Firefox profile with the latest version of the "Firefox Notes" add-on (2.3.0dev custom build from 12.02.2018) installed.
- Have the following text copied to clipboard: https://goo.gl/wxqUf6.

**[Steps to reproduce]:**
1. Open the browser with the profile fr

[2018-02-12 16:15] vladikoff commented on #676
Waiting on Firefox 59 for the api

[2018-02-12 16:16] vladikoff commented on #676
for version below 59 it will be as in the GIF

[2018-02-12 16:23] vladikoff commented on #642
from mtg: closing as WONTFIX

[2018-02-12 16:23] #642 closed

[2018-02-12 16:24] vladikoff commented on #671
from mtg: ship it says @ryanfeeley

[2018-02-12 16:25] vladikoff commented on #663
from mtg: closing for now

[2018-02-12 16:26] vladikoff commented on #661
sounds good @himanish-star !

[2018-02-12 16:31] himanish-star commented on #661
@vladikoff, Please give me one more day. Tomorrow I'll do it for sure.

[2018-02-13 12:41] himanish-star commented on #661
I have started my work on this I will soon update you

[2018-02-13 21:23] #661 closed

[2018-02-14 12:53] Softvision-MariusComan opened #680 "The Headings are wrongly changed to previous row's size when it is deleted"
**[Affected versions]:**
- Firefox 58.0.2 and up

**[Affected Platforms]:**
- All Windows
- All Mac
- All Linux

**[Prerequisites]:**
- Have a Firefox profile with the latest version of the "Firefox Notes" add-on (2.3.0dev custom build from 14.02.2018) installed.

**[Steps to reproduce]:**
1. Open the browser with the profile from prerequisites and focus the sidebar.
2. Press the "Enter" key and c

[2018-02-14 15:43] sebastienbarbier commented on #486
Just fixed this issue on PR #550.

[2018-02-14 16:37] pdehaan opened #682 "Add stylelint for more linting greatness?"
It looks like @vladikoff skillfully spotted a typo in our CSS in https://github.com/mozilla/notes/pull/550#discussion_r167588456

I quickly ran the current code through [**stylelint**](http://npm.im/stylelint) and didn't see any more serious errors (although we did have a duplicated `display` property and `line-height` property...

[code]

[code]

**NOTE:** Or, if we want more CSS strictness, we c

[2018-02-14 16:41] vladikoff commented on #682
@pdehaan 🚢 🇮🇹

[2018-02-14 16:45] pdehaan commented on #682
Oh interesting! Also note that in #550 PR, some files are `.scss` and others are vanilla `.css`, so we'll need some intelligent globbage:

[code]

[code]

[2018-02-14 17:27] #486 closed

[2018-02-14 17:28] #671 closed

[2018-02-14 17:55] #682 closed

[2018-02-15 09:07] #537 closed

[2018-02-15 09:07] Natim commented on #537
Fixed with #550

[2018-02-15 09:11] Natim commented on #547
@ddurst Could you try this build of the addon to see if you can reproduce this?

[notes-2.3.0dev3.zip](https://github.com/mozilla/notes/files/1726961/notes-2.3.0dev3.zip)

You can load it in about:debugging for instance.

[2018-02-15 09:14] Natim commented on #542
The question here is should we sync the conflict or wait for it to be resolved first before syncing it?

We could display a note telling the user to fix the conflict until we don't detect the merge conflict string in the content?

We could also wait for multiple notes and create two notes in case there is a conflict?

[2018-02-15 09:14] Natim commented on #542
@ryanfeeley what do you think about that?

[2018-02-15 09:17] Natim commented on #395
I tried

[code]

But the initial content is still in french.

[2018-02-15 09:20] Natim commented on #395
I even tried with

[code]

[2018-02-15 09:34] Softvision-CristinaBadescu commented on #486
This issue is no longer reproducible using Firefox Notes v2.3.0dev (custom built on 2018-02-15), on latest Nightly build 60.0a1 (2018-02-14), on Windows 10 x64, Mac 10.13.3 and Arch Linux 4.12.

[2018-02-15 09:42] #468 closed

[2018-02-15 09:42] Natim commented on #468
https://github.com/mozilla/notes/pull/681

[2018-02-15 10:44] Natim commented on #676
This is trickier than I though...
Apparently because isOpen is a promise we can't decide to open or close the sidebar based on its result...

[2018-02-15 10:50] Natim commented on #641
I had got this bug today, it is indeed quite annoying when you want to have two lists without a blank line in between.

[2018-02-15 13:12] Natim commented on #613
@Softvision-MariusComan Could you try again with current master or with this version of the add-on? We made some changes that might help.

[notes-2.3.0dev3.zip](https://github.com/mozilla/notes/files/1727748/notes-2.3.0dev3.zip)

[2018-02-15 14:20] vladikoff commented on #395
@natim did you make to try Nightly?

[2018-02-15 14:27] Natim commented on #395
Yes my firefox is Nightly 👍

[2018-02-15 14:32] vladikoff commented on #395
@chrisdavidmills sorry I didn't respond fast enough. We cannot get this to work yet :/

[2018-02-15 14:33] Softvision-MariusComan commented on #613
This behavior is still reproducible with the latest version of the "Firefox Notes" add-on (2.3.0dev3) installed.

[2018-02-15 14:33] chrisdavidmills commented on #395
@vladikoff no worries...just let me know when, and what other changes might be needed ;-)

[2018-02-15 14:51] ddurst commented on #547
So far, so good. Overall it seems more responsive to typing (and less laggy in general). I'll keep using it and let you know if it recurs.

[2018-02-15 14:56] Natim commented on #395
Actually we did try what you've suggested but with no luck. Would you have time for a quick chat?

[2018-02-15 15:03] #547 closed

[2018-02-15 16:14] johngruen commented on #613
I believe this is platformy

[2018-02-15 16:15] #613 closed

[2018-02-15 16:19] Natim commented on #524
Let's fix this by trying to figure out how to share the react state/redux store across opened sidebars.

[2018-02-15 16:20] johngruen commented on #40
Here's the spec: https://mozilla.invisionapp.com/share/WSDA1YM7H#/screens/250693253_Default

[2018-02-15 16:22] johngruen opened #688 "Add metrics for multiple notes"

[2018-02-15 16:34] Natim commented on #675
https://bugzilla.mozilla.org/show_bug.cgi?id=1438465

[2018-02-15 17:42] johngruen opened #689 "Add some query params to the survey"
I'd like to add the following query params to the survey to help us better segment our users:

`ver=${notes-version}` and `release=${firefox-release}`

[2018-02-15 18:22] zbraniecki commented on #395
If you can access about:support, at the bottom you can see the list of requested/available/applocales.

requested are the list from `intl.locale.requested`, available are locales your product supports and applocales are the result of negotiation between those two.

If you request en-US, but your browser only has french resources it will negotiate down to french.

I don't remember how extensions ac

[2018-02-15 18:23] zbraniecki commented on #395
If you don't have access to `about:support`, but you have access to chrome-priv console, you can test:

`Services.locale.getRequestedLocales()`, Services.locale.getAvailableLocales()`, `Services.locale.getAppLocalesAsBCP47()`.

[2018-02-15 18:24] Natim commented on #395
[code]

[2018-02-15 18:25] Natim commented on #395
[code]

[2018-02-15 18:25] Natim commented on #395
However I wish we could select the locale for the add-on even if the firefox locale isn't available.

[2018-02-15 18:26] zbraniecki commented on #395
bingo.

Ok, now, this is most likely what the user would expect - if their browser is in "fr", then they probably would like their extension to match it, even if requested locale is en-US.

I understand it makes it harder to test things, tho...

We could try to make it possible for addons to negotiate from requested rather than from appLocales (file a bug, CC me).
Alternatively, you can install an

[2018-02-15 18:36] Natim commented on #395
Ok let me try that then, but I fear that the langpack will be installed for only one profile and that web-ext will not detect it.

[2018-02-15 18:39] Natim commented on #395
Btw do you know where I can find langpack for nightly?

[2018-02-15 18:50] zbraniecki commented on #395
yep! https://ftp.mozilla.org/pub/firefox/nightly/latest-mozilla-central-l10n/win64/xpi/ - scroll to the bottom :)

[2018-02-15 20:12] vladikoff commented on #547
@ddurst thank you for extensive testing, it is appreciated! 🏅

[2018-02-15 20:17] vladikoff commented on #676
@Natim kind of related, see https://github.com/mozilla/notes/pull/655#discussion_r167917713 cc @cedricium

[2018-02-15 20:17] vladikoff commented on #468
yay!

[2018-02-15 20:20] vladikoff opened #690 "Multinote sync update strategy"
@natim Going to ask this async.

For example, if I have 40 notes and sync them. What is the plan to have each note "updated" on a separate machine.
Does kinto take care of that? Does it pull 40 records down and check if they changed?

[2018-02-15 20:32] vladikoff commented on #641
@mgsy could you confirm this one if you have a moment?

[2018-02-16 13:08] Natim commented on #690
Kinto will handle that and update the notes that haven't changed locally with the remote one, the one that changed on both will use the conflict strategy.

Today our conflict strategy is to have both content in between

[2018-02-16 15:31] #536 closed

[2018-02-16 16:19] #689 closed

[2018-02-16 16:20] #690 closed

[2018-02-16 16:59] arpitjindal97 opened #696 "Not working on Arch Linux"
### [Description]:
I am on Arch Linux x86_64 bit. I installed Firefox Notes on it but it isn't working.
The tab opens but i can't write anything on it not even the cursor appears. It is working fine on Windows.

### [Affected versions]:

- Firefox 58.0.2-1

### [Prerequisites]:

- Arch Linux
- "Firefox Notes" add-on from [official website](https://testpilot.firefox.com/experiments)

### [Additiona

[2018-02-16 17:08] Natim commented on #696
You might see this bug #512 can you try to remove all `cache/` repository in your profile storage folders and retry?

[2018-02-16 17:09] vladikoff commented on #696
@arpitjindal97 see also https://github.com/mozilla/notes/issues/512#issuecomment-363822635

[2018-02-16 18:20] #189 closed

[2018-02-16 21:12] arpitjindal97 commented on #696
removing .mozilla worked for me. I previously had firefox-esr installed.

Thanks you guys

[2018-02-16 21:12] #696 closed

[2018-02-19 10:14] SoftVision-EmilPasca opened #698 ""Sync Your Notes" tooltip is not displayed when hovering the "Sync Your Notes" button"
[Affected versions]:
- Firefox 58.0.2 and up

[Affected Platforms]:
- All Windows
- All Mac
- All Linux

[Prerequisites]:
- Have a Firefox profile with the latest "Firefox Notes" add-on version (3.0.0 installed from https://1228-91073350-gh.circle-artifacts.com/0/tmp/circle-artifacts.MicZiHM/firefox_notes-3.0.0.zip)

[Steps to reproduce]:
1. Open Firefox browser with the profile from prerequisites

[2018-02-19 12:29] SoftVision-EmilPasca opened #699 ""Export as HTML..." tooltip is not displayed when hovering the "Export as HTML..." button"
[Notes]:
- After logging in to Firefox Notes, "Sync with ..." tooltip is wrongly displayed when hovering the "Export as HTML..." button.

[Affected versions]:
- Firefox 58.0.2 and up

[Affected Platforms]:
- All Windows
- All Mac
- All Linux

[Prerequisites]:
- Have a Firefox profile with the latest "Firefox Notes" add-on version (3.0.0 installed from https://1228-91073350-gh.circle-artifacts.com/

[2018-02-19 13:17] Natim opened #700 "Source code tree modifications"
I find it a bit hard to cope with the new architecture of the files:

To access the Editor, I need the following path: `src/sidebar/app/components/editor/Editor.js`

What about:
[code]
Basically I would remove the editor/ layer

[2018-02-19 13:40] sebastienbarbier commented on #700
I like that suggestion, looks good!
You can assign to me if you want.

[2018-02-19 13:47] #699 closed

[2018-02-19 13:52] #698 closed

[2018-02-19 14:01] #700 closed

[2018-02-19 15:28] SoftVision-EmilPasca opened #704 "Formatting is not kept when text is sent to "Notes" using the "Send to Notes" context-menu option"
[Notes]:
- After copying a formatted text and pasting it into "Notes" using the "Paste" context-menu option, the text formatting is kept.

[Affected versions]:
- Firefox 58.0.2 and up

[Affected Platforms]:
- All Windows
- All Mac
- All Linux

[Prerequisites]:
- Have a Firefox profile with the latest "Firefox Notes" add-on version (3.0.0rc2 installed from https://github.com/mozilla/notes/pull/697#

[2018-02-19 15:29] Natim commented on #704
This is a known limitation of the send context API.

[2018-02-19 15:31] Natim commented on #704
However this might help: https://github.com/mdn/webextensions-examples/blob/master/context-menu-copy-link-with-types/clipboard-helper.js

[2018-02-19 15:56] Natim commented on #704
I created the following Bugzilla ticket: https://bugzilla.mozilla.org/show_bug.cgi?id=1439384

[2018-02-20 10:18] SoftVision-EmilPasca opened #705 "Content can't be erased from "Notes" after reaching the max line limit"
[Notes]:
- After restarting the browser you can successfully erase content from "Notes".

[Affected versions]:
- Firefox 58.0.2 and up

[Affected Platforms]:
- All Windows
- All Mac
- All Linux

[Prerequisites]:
- Have a Firefox profile with the latest "Firefox Notes" add-on version (3.0.0rc2 installed from https://github.com/mozilla/notes/pull/697#issuecomment-366712158)

[Steps to reproduce]:
1.

[2018-02-20 11:14] sebastienbarbier commented on #705
Aie, bug was introduced during the react refactoring.
We removed all code related to Quill/CKEditor migration, but that included the notification panel which is also used to warn the user about reaching `maximumPadSizeExceeded`.
This need to be re-implemented, I'll do it right away !

[2018-02-20 13:18] Softvision-CristinaBadescu commented on #526
This issue is still reproducible using Firefox Notes v3.0.0dev, on latest Nightly build 60.0a1 (2018-02-20), on Windows 10 x64 and Arch Linux 4.12. Considering this, I'm going to reopen the issue.

[2018-02-20 14:37] Softvision-CristinaBadescu opened #707 "No tooltip is displayed when you hover the "Disable Sync" button"
[Affected versions]:
- Firefox 58.0.2 and up

[Affected Platforms]:
- All Windows
- All Mac
- All Linux

[Prerequisites]:
- Have a Firefox profile with the latest "Firefox Notes" add-on v3.0.0dev installed.
- Be logged in a Firefox Notes Account.

[Steps to reproduce]:
1. Open Firefox browser with the profile from prerequisites.
2. Hover the "Disable Sync" button from the "Notes" three dots menu.

[2018-02-20 14:38] Softvision-MariusComan opened #708 "Disable the "Sync Your Notes" button while "Syncing changes" status is displayed"
**[Notes]:**
- If the "Sync Your Notes" button is active and actionable while the "Syncing changes" status is displayed, then the behavior from issue #479 will be reproducible again.

**[Affected versions]:**
- Firefox 58.0.2 and up

**[Affected Platforms]:**
- All Windows
- All Mac
- All Linux

**[Prerequisites]:**
- Have a Firefox profile with the latest version of the "Firefox Notes" add-on (3.

[2018-02-20 15:14] vladikoff commented on #498
WONTFIX https://bugzilla.mozilla.org/show_bug.cgi?id=1427983#a4084030_481559, please reopen if you see this happen with normal TestPilot installation process

[2018-02-20 15:14] #498 closed

[2018-02-20 15:42] Softvision-MariusComan opened #710 "The "Send to Notes" option its wrongly displayed in the Notes context menu"
**[Affected versions]:**
- Firefox 58.0.2 and up

**[Affected Platforms]:**
- All Windows
- All Mac
- All Linux

**[Prerequisites]:**
- Have a Firefox profile with the latest version of the "Firefox Notes" add-on (3.0.0rc2) installed.
- Have content in the sidebar.

**[Steps to reproduce]:**
1. Open the browser with the profile from prerequisites and select any amount of text from the sidebar.
2.

[2018-02-20 15:48] Softvision-MariusComan opened #711 "The recently changed headings are not saved, if the sidebar is reopened"
**[Notes]:**
- The issue is only reproducible if the sidebar is reopened/switched and the heading is changed.

**[Affected versions]:**
- Firefox 58.0.2 and up

**[Affected Platforms]:**
- All Windows
- All Mac
- All Linux

**[Prerequisites]:**
- Have a Firefox profile with the latest version of the "Firefox Notes" add-on (3.0.0rc2) installed.
- You are logged into "Firefox Notes".
- Have content

[2018-02-20 15:49] vladikoff commented on #710
@cedricium is there a way to fix this?

[2018-02-20 16:14] vladikoff commented on #708
@sebastienbarbier is this easy to fix with React?

[2018-02-20 16:16] vladikoff commented on #707
@Natim our new contributor, will try to fix this

[2018-02-20 19:16] #707 closed

[2018-02-20 19:59] cedricium commented on #710
@vladikoff not that I can think of. There's nothing in the `contextMenu` or `sidebarAction` API about disabling it. The best I could do is block the event from occurring, but the `Send to Notes` item will be there still.

[2018-02-20 20:48] cedricium commented on #710
@vladikoff spoke too soon - found a simple solution with PR #714.

[2018-02-21 05:24] #710 closed

[2018-02-21 08:52] Softvision-CristinaBadescu commented on #707
This issue is no longer reproducible using Firefox Notes v3.0.0dev (custom built on 2018-02-21), on latest Nightly build 60.0a1 (2018-02-20) on Windows 10 x64, Mac 10.12.6 and Arch Linux 4.12.

[2018-02-21 10:45] anweshknayak commented on #711
@Softvision-MariusComan it is working fine on my end?

[2018-02-21 10:47] Softvision-MariusComan opened #715 "The "Disable Sync" and the "Export as HTML" options are wrongly colored in "Dark" theme"
**[Affected versions]:**
- Firefox 58.0.2 and up

**[Affected Platforms]:**
- All Windows
- All Mac
- All Linux

**[Prerequisites]:**
- Have a Firefox profile with the latest version of the "Firefox Notes" add-on (3.0.0rc2) installed.
- You are logged into "Firefox Notes".
- Have the "Dark" theme activated from about:addons>Extensions>Firefox Notes>Dark.

**[Steps to reproduce]:**
1. Open the brow

[2018-02-21 10:52] Softvision-MariusComan opened #716 "The "Export as HTML" option cannot be selected using keyboard only, if you are logged into "Firefox Notes""
**[Affected versions]:**
- Firefox 58.0.2 and up

**[Affected Platforms]:**
- All Windows
- All Mac
- All Linux

**[Prerequisites]:**
- Have a Firefox profile with the latest version of the "Firefox Notes" add-on (3.0.0rc2) installed.
- You are logged into "Firefox Notes".

**[Steps to reproduce]:**
1. Open the browser with the profile from prerequisites and focus the sidebar.
2. Press the "Tab" k

[2018-02-21 10:55] Softvision-MariusComan opened #717 "The "Disable Sync" option is wrongly selected when the "Tab" key is pressed if the "Notes" menu is opened"
**[Affected versions]:**
- Firefox 58.0.2 and up

**[Affected Platforms]:**
- All Windows
- All Mac
- All Linux

**[Prerequisites]:**
- Have a Firefox profile with the latest version of the "Firefox Notes" add-on (3.0.0rc2) installed.
- You are logged into "Firefox Notes".

**[Steps to reproduce]:**
1. Open the browser with the profile from prerequisites and focus the sidebar.
2. Press the "Tab" k

[2018-02-21 11:06] #715 closed

[2018-02-21 11:13] Natim commented on #711
I am also having a hard time reproducing this issue.

[2018-02-21 11:27] #708 closed

[2018-02-21 11:29] #705 closed

[2018-02-21 12:31] Natim commented on #711
As @Softvision-MariusComan explained to me we need to first close and reopen the sidebar before reproducing.

[2018-02-21 14:24] vladikoff commented on #711
Ah okay, yea it's a bit of an edge case but not blocking

[2018-02-22 13:13] Softvision-MariusComan opened #721 "The "Give Feedback" option is missing and the "Export as HTML" option is displayed outside the menu, if it is opened before logging in"
**[Affected versions]:**
- Firefox 58.0.2 and up

**[Affected Platforms]:**
- All Windows
- All Mac
- All Linux

**[Prerequisites]:**
- Have a Firefox profile with the latest version of the "Firefox Notes" add-on (3.1.0dev custom build from 22.02.2018) installed.

**[Steps to reproduce]:**
1. Open the browser with the profile from prerequisites.
2. Click the "Sync Your Notes" button and click the

[2018-02-22 13:17] vladikoff commented on #721
Good find!

[2018-02-22 13:37] ApsOps commented on #512
I'm hitting this as well. `Firefox Quantum 58.0.2 (64-bit) on MacOS High Sierra 10.13.3 (17D47).`

[2018-02-22 16:12] vladikoff opened #722 "Add metrics for indexedDB errors"
### [Description]:

Need to add this to measure how many people hit this issue

[2018-02-22 16:12] vladikoff opened #723 "3.0.1"
### [Description]:

- [ ] https://github.com/mozilla/notes/issues/722

### [Optional]:

- [ ]  https://github.com/mozilla/notes/issues/711

### [WONTFIX]:

- [ ] https://github.com/mozilla/notes/issues/704

[2018-02-22 16:18] UTexas80 commented on #512
Got it working! Thanks to all who helped resolve my issue.

[2018-02-22 16:26] Softvision-MariusComan opened #724 "The "Sign In" window is not brought in foreground when the "Sync Your Notes" button is clicked"
**[Affected versions]:**
- Firefox 58.0.2 and up

**[Affected Platforms]:**
- All Windows
- All Mac
- All Linux

**[Prerequisites]:**
- Have a Firefox profile with the latest version of the "Firefox Notes" add-on (3.1.0dev custom build from 22.02.2018) installed.
- You are not logged into "Firefox Notes"

**[Steps to reproduce]:**
1. Open the browser with the profile from prerequisites.
2. Click t

[2018-02-23 09:54] sebastienbarbier commented on #724
More than likely related to our latest fix regarding #712.

[2018-02-23 16:47] sebastienbarbier commented on #475
This has been resolved during the react migration 👍
![no-more-delay-on-disconnect](https://user-images.githubusercontent.com/3018618/36605641-989e6446-18c1-11e8-8088-b358fc74c251.gif)

[2018-02-23 16:47] #475 closed

[2018-02-23 23:56] abinabrahamanchery commented on #201
any update on this enhancement ? @Divya063 @johngruen

[2018-02-23 23:56] #201 closed

[2018-02-26 01:50] nareshv opened #725 "Support for multiple notes"
### [Description]:

Right now there is only one note book which gets overloaded when too many things needs to be recorded

### [Affected versions]:
All

### [Prerequisites]:

### [Steps to reproduce]:
Open sidebar notes

### [Expected result]:

### [Actual result]:

### [Additional Notes]:

[2018-02-26 02:46] vladikoff commented on #725
@nareshv thanks for the bug! we are working on that right now. Design here: https://mozilla.invisionapp.com/share/6VBUYHMRB#/screens

[2018-02-26 16:03] sebastienbarbier opened #726 "Dark theme color issue on footer"
### [Description]:
On dark theme, footer has some colour issues.

### [Affected versions]:
3.0.0

### [Prerequisites]:

### [Steps to reproduce]:
- Start note add-on with dark theme
- Click on sync button
- Close login page

### [Expected result]:

### [Actual result]:

### [Additional Notes]:
<img width="318" alt="dark-theme-wrong-colors" src="https://user-images.githubusercontent.com/3018618/366

[2018-02-26 16:19] vladikoff opened #727 "Outline used permissions in the README"
### [Description]:

"It is not clear why Firefox Notes needs to access history. Please explain it somewhere."

### [Affected versions]:

3.0.0

[2018-02-26 17:54] vladikoff commented on #726
cc @cedrecium

[2018-02-26 17:54] vladikoff commented on #726
cc @cedricium

[2018-02-27 10:29] #726 closed

[2018-02-28 01:06] vladikoff commented on #470
We have the `.close` api that can close the sidebar (@cedricium you worked on that in "Send to notes")

@cedricium do you want to explore this? What are you thoughts on this feature? @ryanfeeley doesn't want this feature in the main UI but we might be able to hide it in the addon preferences via something like:

Open Notes in [X] Sidebar .  [ ] New Tab

[2018-02-28 01:23] cedricium commented on #470
@vladikoff totally, would love to give this a try. Just to see if I'm picturing this correctly: if the setting option to "Open in New Tab" is checked / set, then any time Notes is opened, it should be in a new tab rather than opening the sidebar, correct?

So: using the keyboard shortcut, pressing the browser action button, using "Send to Notes", etc., should cause a new tab to open rather than th

[2018-02-28 01:26] vladikoff commented on #470
This sounds about right. Play around with it and see if it is usable.

There is one case: If user manually opens the Firefox sidebar and selects Notes + has the Notes tab open then they will get 2 editors, but this is sort of an "edge case"

[2018-02-28 15:12] Softvision-MariusComan opened #732 "The formatting options are greyed out and a new row is created at the beginning, if the scrollbar is clicked right after the sidebar was opened"
**[Affected versions]:**
- Firefox 58.0.2 and up

**[Affected Platforms]:**
- All Windows
- All Mac
- All Linux

**[Prerequisites]:**
- Have a Firefox profile with the latest version of the "Firefox Notes" add-on (3.1.0dev custom built from 28.02.2018) installed.
- Have enough content so that the vertical scrollbar is displayed in the sidebar.
- Have the sidebar closed.

**[Steps to reproduce]:**

[2018-02-28 15:14] vladikoff commented on #732
Ah yes, that's some CKEditor business i think

[2018-02-28 15:16] Softvision-MariusComan opened #733 "The export file is not displayed in the downloads panel if it is downloaded in a Private Window"
**[Affected versions]:**
- Firefox 58.0.2 and up

**[Affected Platforms]:**
- All Windows
- All Mac
- All Linux

**[Prerequisites]:**
- Have a Firefox profile with the latest version of the "Firefox Notes" add-on (3.1.0dev custom built from 28.02.2018) installed.
- Have the sidebar opened.

**[Steps to reproduce]:**
1. Open the browser with the profile from prerequisites and open a New Private Win

[2018-02-28 15:19] Softvision-MariusComan opened #734 "The "Sync Your Notes" button does not have any hover effect when the "Dark" theme is activated"
**[Affected versions]:**
- Firefox 58.0.2 and up

**[Affected Platforms]:**
- All Windows
- All Mac
- All Linux

**[Prerequisites]:**
- Have a Firefox profile with the latest version of the "Firefox Notes" add-on (3.1.0dev custom built from 28.02.2018) installed.
- Have the "Dark" theme activated from about:addons>Extensions>Firefox Notes>Dark.

**[Steps to reproduce]:**
1. Open the browser with t

[2018-02-28 15:22] vladikoff commented on #733
@ryanfeeley I guess Firefox Desktop hides the downloads button in the private window. What do you want to do here?

<img src=https://user-images.githubusercontent.com/128755/36795374-e20c3a42-1c70-11e8-8e8c-bdb4c9e980ca.png width=200 />

The photon animation actually happens in the non-Private window.

@Softvision-MariusComan this doesn't happen if this is set

<img src=https://user-images.githubu

[2018-02-28 15:39] vladikoff opened #735 "Add current date and time to Export as HTML"
### [Description]:

Add current date and time to Export as HTML

### [Steps to reproduce]:

Export notes as HTML via the menu

### [Expected result]:

`notes-2018-02-28-10_38am.html`

@ryanfeeley can you suggest formatting on the file for MAXIMUM UXing?

### [Actual result]:
![image](https://user-images.githubusercontent.com/128755/36796416-85133fb8-1c73-11e8-9716-4b029b3e1a37.png)

[2018-02-28 15:49] cedricium commented on #733
@vladikoff if we add `saveAs: true` to the following code:

[code]
This will cause the file chooser to appear even if the user has the "Save files to" option selected. That will help with the visibility with Private mode.

Refs: https://developer.mozilla.org/en-US/Add-ons/WebExtensions/API/downloads/download

[2018-02-28 15:52] vladikoff commented on #733
@ryanfeeley I think we should do that, otherwise it looks like "Export" doesn't do anything even in non-Private browsing

[2018-02-28 16:04] rvelazq2 opened #736 "Unable to indent or using tab key while in notes."
### [Description]:
Unable to indent or tab when taking notes using the tab key.

### [Affected versions]:
All versions.

### [Steps to reproduce]:
1. Type notes.
2. Tab using the tab key on keyboard.

### [Expected result]:
Make an indent or tab(multiple spaces) in the notepad.

### [Actual result]:
When using the tab key on the keyboard, it tabs you back into the website.

### [Additional Notes]:

[2018-02-28 16:09] vladikoff commented on #470
@ryanfeeley

Is it possible to move the notes sidebar? Right now it's on the left-hand side of my browser, but when there it interferes more with my ability to look at messages in email inboxes. So I would prefer to move it over to the right-hand side (or even the bottom of the window). If this is not yet possible to do, I strongly vote in favor of introducing such a feature.

[2018-02-28 18:06] ryanfeeley commented on #470
@vladikoff 10 responses out of 3024 = 0.3%.

If you can you show me how this doesn't complicate the design, I'm game.

[2018-02-28 18:46] ryanfeeley commented on #470
![notes](https://user-images.githubusercontent.com/68213/36806360-c54d978a-1c8d-11e8-9d25-d5611e9f8285.gif)

[2018-02-28 19:22] vladikoff commented on #470
Sorry @cedricium , I spent hours trying to sell this feature to @ryanfeeley but no luck :(

I had to close https://github.com/mozilla/notes/pull/730 for now.

[2018-02-28 19:22] #470 closed

[2018-02-28 19:27] ryanfeeley commented on #735
@vladikoff Looking at my screenshots, this 24:00 clock format seems to work well. Sorts nicely.

``Firefox Notes 2017-12-24 21.23.31.html``

[2018-02-28 19:29] vladikoff commented on #735
@cedricium this fix we will land for sure ^ if you have time

[2018-02-28 19:29] vladikoff commented on #620
Multi note bug : https://github.com/mozilla/notes/issues/725

[2018-02-28 19:31] vladikoff commented on #168
Text drag and drop was enabled 👍

[2018-02-28 19:31] #168 closed

[2018-02-28 19:33] vladikoff commented on #636
No plans to add this, but we might reopen this in the future

[2018-02-28 19:33] #636 closed

[2018-02-28 19:36] vladikoff commented on #277
No plans to add the underline button, but shortcut works

Ref: https://mozilla.invisionapp.com/share/6VBUYHMRB#/screens/281041484_Firefox_Notes

[2018-02-28 19:36] #277 closed

[2018-02-28 19:37] vladikoff commented on #509
dup of https://github.com/mozilla/notes/issues/620

[2018-02-28 19:37] #509 closed

[2018-02-28 19:41] vladikoff commented on #620
dup of https://github.com/mozilla/notes/issues/218

[2018-02-28 19:41] #620 closed

[2018-02-28 19:48] cedricium commented on #470
Haha no hard feelings 😄

[2018-02-28 19:49] cedricium commented on #735
@vladikoff I can have this in at the end of the day (Pacific time) 👍

@ryanfeeley you want the spaces included in the filename?

[2018-02-28 19:52] ryanfeeley commented on #735
@cedricium My Windows knowledge is extremely poor. I know that Dropbox includes spaces and periods on the Mac client. Not sure how big a sin this is on Windows and/or Linux.

[2018-02-28 20:40] ryanfeeley commented on #735
@cedricium OK, I spoke with the higher powers. We should follow was Firefox does when you **Save Page As…** and just use the title of the note.

e.g ``Mattress Shopping.html`` no time stamp

If the note is blank use: ``blank.html`` or better, disable the export note option in that state.

[2018-02-28 20:42] ryanfeeley commented on #470
You know I ❤️ you all, but we had to 🔪 it with 🔥.

[2018-02-28 20:48] vladikoff commented on #735
@ryanfeeley we don't have multi note with this yet though, do you want to get the first Heading or first sentence of the notepad?

[2018-03-01 13:33] Softvision-MariusComan commented on #354
The behavior of this issue has changed. Now its enough to change the way of listing for about 40 items and the Notes sidebar freezes for ~ 4 seconds.
Also if you choose to paste a list of ~ 40 items, then the sidebar freezes again.

[2018-03-01 14:32] vladikoff commented on #354
@Mgsy if you have time could you check this behaviour in ckeditor alpha 2 vs latest?

[2018-03-01 15:34] #533 closed

[2018-03-01 16:06] vladikoff commented on #733
Unrelated.

[2018-03-01 16:16] vladikoff commented on #736
Need to investigate...

[2018-03-01 16:21] vladikoff commented on #723
https://github.com/mozilla/notes/projects/7

[2018-03-01 16:21] #723 closed

[2018-03-01 16:22] vladikoff commented on #721
![image](https://user-images.githubusercontent.com/128755/36855963-d5e1af4a-1d42-11e8-8035-d086db6d679a.png)

[2018-03-01 16:26] vladikoff commented on #717
We should check if we can focus the tab instead.

From meeting:

* If we are in the text editing area we want the tab the text
* Tab should highlight the sync button
* Tabbing on the menu should not open the menu
* Once you open the menu the menu does not tab

[2018-03-01 16:33] sebastienbarbier commented on #721
Menu is handled by material library, which need to be manually refreshed if its DOM is updated using `componentHandler.upgradeAllRegistered();`. My guess is on `sync-authenticated` event we need to do it, should be easy to fix.

[2018-03-02 15:25] vladikoff opened #739 "Explore using 'optional_permissions' for the downloads permission"
Ref: https://developer.mozilla.org/en-US/Add-ons/WebExtensions/manifest.json/optional_permissions

Can request the download permission only when users press the "Export to HTML" button?

cc @cedricium

[2018-03-02 15:34] Softvision-CristinaBadescu opened #740 "The sidebar wrongly becomes blank for a second after you send text using the context menu option"
[Affected versions]:
- Nightly 60.0a1

[Affected Platforms]:
- All Windows
- All Mac
- All Linux

[Prerequisites]:
- Have a Firefox profile with the latest version of the "Firefox Notes" add-on (3.1.0dev custom built from 2018-03-02) installed.
- Be logged in a valid Firefox Notes account.

[Steps to reproduce]:
1. Open the browser with the profile from prerequisites and navigate to "https://en.wi

[2018-03-02 16:40] cedricium commented on #740
Yikes, great catch! Will investigate further

[2018-03-02 21:07] vladikoff commented on #740
@mixedpuppy any ideas?

[2018-03-05 08:52] Mgsy commented on #354
@vladikoff, I've checked both versions (alpha 2 and the latest master) and indeed, the browser freezes for a while, but it's not ~14 seconds. It takes around 4 seconds, but that's a lot of data, so it might be understandable. Here is my screencast with ~280 list items:

![bug_ckeditor5](https://user-images.githubusercontent.com/20988892/36965392-d2e45814-2059-11e8-934e-636def6798f2.gif)

[2018-03-05 13:25] Softvision-CristinaBadescu opened #741 "The "Send to Notes" context menu option is no longer working"
[Affected versions]:
- Nightly 60.0a1

[Affected Platforms]:
- All Mac
- All Linux

[Prerequisites]:
- Have a Firefox profile with the latest version of the "Firefox Notes" add-on installed.

[Steps to reproduce]:
1. Open the browser with the profile from prerequisites and navigate to "https://en.wikipedia.org/wiki/Tree" page.
2. Select a text and right click on it.
3. Click the "Send to Notes" op

[2018-03-05 14:38] vladikoff commented on #741
cc @mixedpuppy

[2018-03-05 19:42] vladikoff commented on #739
We cannot use `downloads` as an optional permission. it is not in the subset of allowed permissions to be optional:

https://developer.mozilla.org/en-US/Add-ons/WebExtensions/manifest.json/optional_permissions

![image](https://user-images.githubusercontent.com/128755/36995929-76398b0a-2083-11e8-8ec0-25231b2c6fff.png)

[2018-03-05 19:42] #739 closed

[2018-03-06 10:29] Softvision-CristinaBadescu opened #742 "The sent text is duplicated after ~1 min of inactivity if the sidebar was empty"
[Notes]:
- This issue is a regression that has the same pushlog result as #740 and #741 issues.

[Affected versions]:
- Nightly 60.0a1

[Affected Platforms]:
- All Windows

[Prerequisites]:
- Have a Firefox profile with the latest version of the "Firefox Notes" add-on (3.1.0dev custom built from 2018-03-05) installed.
- Be logged in a valid Firefox Notes account.
- Have nothing written in the side

[2018-03-06 15:29] vladikoff commented on #742
@Softvision-CristinaBadescu, hey if you have time could you file a new regression bug ? Normally we would comment in the existing bug but no access :(

[2018-03-07 02:14] vladikoff commented on #405
We improved our "Welcome" copy and probably won't be bringing the old "Take a note..." placeholder unless CKEditor makes it really easy to add it.

[2018-03-07 02:14] #405 closed

[2018-03-07 02:14] vladikoff commented on #735
Almost done in https://github.com/mozilla/notes/pull/738

[2018-03-07 02:20] vladikoff commented on #734
@ryanfeeley @cedricium what should this do?

[2018-03-07 02:22] vladikoff commented on #733
@cedricium let's add the `saveAs: true` please 🍰 !

[2018-03-07 02:29] vladikoff commented on #542
Being fixed as part of https://github.com/mozilla/notes/pull/743 and multi-note milestone

[2018-03-07 02:29] #542 closed

[2018-03-07 02:30] vladikoff commented on #725
Dup of https://github.com/mozilla/notes/issues/40

[2018-03-07 02:30] #725 closed

[2018-03-07 02:34] vladikoff commented on #31
This works in OS X and FF 58, it opens the popup even though Firefox is maximized.

[2018-03-07 02:34] #31 closed

[2018-03-07 02:46] vladikoff commented on #455
@ryanfeeley please file a firefox bug for this, this is out of our control

[2018-03-07 02:46] #455 closed

[2018-03-07 02:50] vladikoff commented on #292
WONTFIX for now

[2018-03-07 02:50] #292 closed

[2018-03-07 02:51] vladikoff commented on #641
@Mgsy could you check this still happens on latest? Basically if you wanted to create 2 lists with reset ordering, CKEditor seems to be combining the lists

[2018-03-07 02:53] vladikoff commented on #346
@SoftVision-CarmenFat are you able to reproduce this on https://ckeditor5.github.io/ ?

[2018-03-07 02:58] vladikoff commented on #412
@Mgsy this doesn't happen in Chrome, but does happen in Firefox on https://ckeditor5.github.io/

[2018-03-07 03:27] vladikoff commented on #711
Bumping this out v3.1.0, only happens when sidebar reopened.

[2018-03-07 04:19] vladikoff commented on #716
@sebastienbarbier this only happens after enabling sync.

Seems like a conflict of `componentHandler.upgradeAllRegistered();` and Footer.js render

[2018-03-07 04:50] vladikoff commented on #716
@sebastienbarbier if the material menu causes too many problems we can try rewriting it for the multi-note version and slating this bug for that version and not 3.1.0

[2018-03-07 06:00] cedricium commented on #734
@vladikoff @ryanfeeley the light theme has a hover effect, I'll go ahead and add it to the dark theme unless there are any objections?

[2018-03-07 08:28] Mgsy commented on #412
@vladikoff, thanks for the information. The problem exists on latest master and is reproducible in Firefox and Edge. I've created a ticket in our CKEditor 5 repository - https://github.com/ckeditor/ckeditor5/issues/877.

[2018-03-07 09:10] anweshknayak opened #745 "Give feedback menu item should not be dragable"
### [Description]:
Give feedback menu item should not be dragable

### [Affected versions]:
All linux

### [Steps to reproduce]:
Click on feedback menu -> drag

### [Expected result]:
Should not be draggable

### [Actual result]:
![notes](https://user-images.githubusercontent.com/8139783/37083428-8216a0e6-2215-11e8-9346-8916491a9aee.gif)

[2018-03-07 09:45] sebastienbarbier commented on #716
I saw it and already fixed in #743, but will push a quick fix for this version 👍.

[2018-03-07 09:46] anweshknayak opened #747 "Dark theme: Footer colour enhancement"
### [Description]:
Colour of navbar is too contrasted as compared to the dark theme.

### [Steps to reproduce]:

### [Expected result]:
Shouldn't be so contrasting the dark theme and the footer color

### [Actual result]:

![screenshot from 2018-03-07 15-13-19](https://user-images.githubusercontent.com/8139783/37085198-6a510a14-221a-11e8-9aec-8a2a1bc27f28.png)

[2018-03-07 09:56] anweshknayak commented on #721
In black theme everything appears normal except `Give Feedback` is missing
![screenshot from 2018-03-07 15-25-11](https://user-images.githubusercontent.com/8139783/37085734-d0951292-221b-11e8-8f7d-393810a99346.png)

[2018-03-07 10:23] Softvision-CristinaBadescu commented on #742
Sure thing, @vladikoff . Since bug #741 is major I've filed that one here , [bug 1443749](https://bugzilla.mozilla.org/show_bug.cgi?id=1443749), and mentioned the other two (#740 and #742).

[2018-03-07 11:00] sebastienbarbier commented on #716
Couldn't solve this ... even with some really dirty code so I suggest a more aggressive option.

[2018-03-07 11:09] sebastienbarbier opened #748 "Removing material menu"
After moving to react, many issues occured regarding the material (mdl) menu used in footer.
This is due to mdl not being connected with react lifecycle, forcing us to manually keep it up to date to dynamically update DOM and events.

One option is using `material-react`, but I would suggest to write our own since this is a very small and specific use case. Also would be easier to customise.

[Pre

[2018-03-07 11:15] sebastienbarbier commented on #734
@cedricium I did try to refactor theming with some CSS variable to avoid having darktheme.css overriding everything. I was hoping this would be easier to maintain but stopped after few hours when I realised this was too much work. Can you check the branch `refactor-theming`I just pushed  and let me know what you think about it 😊 ? It's not working, just proof of work, but should enough to start a

[2018-03-07 11:17] sebastienbarbier commented on #745
Today 'Give feedback' is using <a> markup, **should be using a button** instead to be compliant with react-a10y and solve this dragging issue 😁

[2018-03-07 11:25] sebastienbarbier commented on #721
Same issue in light theme ... Should be fixed in #748

[2018-03-07 11:26] #745 closed

[2018-03-07 13:00] Mgsy commented on #641
@vladikoff, this behaviour is caused by the way how we represent lists in the model. After a short talk, we decided to create a ticket, where it would be discussed - https://github.com/ckeditor/ckeditor5-list/issues/99. You'll find there more information about this case and feel free to join the discussion.

[2018-03-07 13:15] SoftVision-EmilPasca opened #750 "The sidebar wrongly becomes blank for a second when clicking the "Notes" toolbar button"
[Notes]:
- This issue is a regression that has the same pushlog result as #740, #741 and #742 issues.

[Affected versions]:
- Nightly 60.0a1

[Affected Platforms]:
- All Windows
- All Mac
- All Linux

[Prerequisites]:
- Have a Firefox profile with the latest version of the "Firefox Notes" (3.1.0) installed.

[Steps to reproduce]:
1. Open the browser with the profile from prerequisites.
2. Click on

[2018-03-07 13:56] Softvision-CristinaBadescu opened #751 "The "Send to Notes" context menu option is no longer working in other windows if the sidebar was empty"
[Notes]:
- This issue is also reproducible if you had text in the first opened window and only afterwards you send text via context menu in the new opened window.
- This issue is a regression that has the same pushlog result as #740, #741, #742 and #750 issues.

[Affected versions]:
- Nightly 60.0a1

[Affected Platforms]:
- All Windows

[Prerequisites]:
- Have a Firefox profile with the latest ver

[2018-03-07 14:26] vladikoff commented on #742
@Softvision-CristinaBadescu Thank you!!

[2018-03-07 18:09] #722 closed

[2018-03-08 06:28] sebastienbarbier commented on #734
@cedricium My issue was having to explicitly define EVERY colors for ckeditor but i really liked the idea. Also would be nice to simplify values to a set of few very clear variableas/colors. Let me know anytime if you want some help or discuss about it, would be awesome to see some improvement here 👍

[2018-03-08 06:37] sebastienbarbier commented on #747
I would guess: ckeditor toolbar is darker than content background. Also footer color looks a bit agressive next to dark content background (same yellow color for light and dark theme) ... Might be a sign we need to improve our CSS managment (ref talk in #734 😉).
@ryanfeeley any feedback about this? I'm not sure we have time to define a dark theme mockup with multi-notes going on right now.

[2018-03-08 07:18] Mgsy commented on #416
@vladikoff, fix to this issue has landed on the latest master.

[2018-03-08 09:32] Softvision-CristinaBadescu opened #753 "The scrollbar is wrongly positioned in the top position of the sidebar after "Send to Notes" context option was used"
[Notes]:
- This issue is a regression that has the same pushlog result as #740, #741, #742, #750 and #751 issues.

[Affected versions]:
- Nightly 60.0a1

[Affected Platforms]:
- All Windows

[Prerequisites]:
- Have a Firefox profile with the latest version of the "Firefox Notes" (3.1.0) installed.
- Have enough text in the Notes sidebar so the scrollbar appears.

[Steps to reproduce]:
1. Open the

[2018-03-08 10:06] Softvision-CristinaBadescu commented on #663
I've managed to reproduce intermittently this issue (8 times out of 10), only on latest Firefox Release 58.0.2 and latest Firefox Beta 59.0, using Firefox Notes v3.0.0, on Windows 10 x64, by following the below steps:

1. Open Firefox browser, navigate to "https://testpilot.firefox.com/experiments/notes/" page and install the add-on.
2. Click and drag the scrollbar.

Also, I've noticed that if you

[2018-03-08 11:41] vladikoff commented on #416
@Mgsy hurrah!!!! Thank you!

[2018-03-08 15:38] Softvision-MariusComan opened #754 "[Enhancement] The "Notes" toolbar button's icon does not change to the selected "Themer" add-on toolbar icon color"
**[Affected versions]:**
- Firefox 58.0.2 and up

**[Affected Platforms]:**
- All Windows
- All Mac
- All Linux

**[Prerequisites]:**
- Have a Firefox profile with the latest version of the "Firefox Notes" add-on (3.1.0dev custom built from 28.02.2018) installed.
- Have a Firefox profile with the latest version of the "Themer" add-on (0.0.27 custom build from 08.03.2018) installed from the "about:

[2018-03-08 15:38] #733 closed

[2018-03-08 15:38] #735 closed

[2018-03-08 16:00] vladikoff commented on #331
This was an issue with Quill it seems, should be fixed

[2018-03-08 16:00] #331 closed

[2018-03-08 16:12] vladikoff opened #755 "Check 'sync-started' and 'button-disconnect' event for 3.1"

[2018-03-08 23:27] mixedpuppy commented on #740
ISTM that notes is calling sidebarAction.open all the time.  You should first check if it is open by calling sidebarAction.isOpen.  I don't know enough about notes code to make any more detailed suggestion.

[2018-03-09 00:14] #748 closed

[2018-03-09 17:53] vladikoff commented on #526
Should be fixed via

https://github.com/mozilla/notes/pull/756
https://github.com/mozilla/notes/pull/752

Let us know! It doesn't jump for me in OS X anymore...

[2018-03-12 09:28] Softvision-CristinaBadescu commented on #526
As I've mentioned in the affected platforms, only on Windows and Linux OS'es this issue is reproducible. Indeed, on Mac OS'es this behavior does not occur.

I'm going to reopen this, since it's still reproducible using Firefox Notes v3.1.0dev (custom built on 2018-03-12), on latest Nightly build 60.0a1 (2018-03-11), on Windows 10 x64 and Linux 4.12.

[2018-03-12 18:07] #526 closed

[2018-03-12 18:07] vladikoff commented on #526
Merged a fix for it, will be part of 3.1 release so we can test 👍

[2018-03-12 23:36] mixedpuppy commented on #740
You'll want to follow Bug 1445080

[2018-03-12 23:37] mixedpuppy commented on #750
You'll want to follow Bug 1445080

[2018-03-13 12:59] Softvision-CristinaBadescu commented on #526
This issue is no longer reproducible using Firefox Notes v3.1.0dev, on latest Nightly build 60.0a1 (2018-03-13), on Windows 10 x64 and Arch Linux 4.12.
Thanks for the fix!

[2018-03-13 13:16] Softvision-CristinaBadescu commented on #741
It seems that this issue is now also reproducible on Windows 10 x64, using Firefox Notes v3.1.0dev (custom built on 2018-03-13), on latest Nightly build 60.0a1 (2018-03-13). Considering this, I'm going to update the title.

[2018-03-13 14:19] vladikoff commented on #716
Should be fixed via https://github.com/mozilla/notes/issues/748

[2018-03-13 14:19] #716 closed

[2018-03-13 14:30] vladikoff commented on #526
SuccesS!!

[2018-03-13 14:31] vladikoff commented on #526
success!

[2018-03-13 14:37] Softvision-CristinaBadescu opened #759 "The "Export as HTML" option is wrongly selected when the up arrow key is pressed if the "Notes" menu is opened"
[Affected versions]:
- Nightly 60.0a1

[Affected Platforms]:
- All Windows
- All Mac
- All Linux

[Prerequisites]:
- Have a Firefox profile with the latest version of the "Firefox Notes" add-on (3.1.0dev) installed.

[Steps to reproduce]:
1. Open the browser with the profile from prerequisites and focus the sidebar.
2. Click the three dots button.
3. Press the up arrow key and observe the behavior

[2018-03-13 17:05] Softvision-MariusComan opened #760 "[Regression] The Notes menu no longer respects the Dark theme"
**[Affected versions]:**
- Firefox 58.0.2 and up

**[Affected Platforms]:**
- All Windows
- All Mac
- All Linux

**[Prerequisites]:**
- Have a Firefox profile with the latest version of the "Firefox Notes" add-on (3.1.0dev custom built from 13.03.2018) installed.
- Have the "Dark" theme activated from "about:addons>Extensions>Notes".

**[Steps to reproduce]:**
1. Open the browser with the profile

[2018-03-13 17:08] Softvision-MariusComan opened #761 "The "Sync your Notes" button does not work while the "Saving changes..." message is displayed"
**[Affected versions]:**
- Firefox 58.0.2 and up

**[Affected Platforms]:**
- All Windows
- All Mac
- All Linux

**[Prerequisites]:**
- Have a Firefox profile with the latest version of the "Firefox Notes" add-on (3.1.0dev custom built from 13.03.2018) installed.
- You are not logged into "Firefox Notes".
- Have the Notes sidebar opened.

**[Steps to reproduce]:**
1. Open the browser with the prof

[2018-03-13 17:12] vladikoff commented on #760
that is by design, see part 2 in comment https://github.com/mozilla/notes/pull/752#issuecomment-371574646 This is to match what Firefox does

[2018-03-13 17:12] #760 closed

[2018-03-13 18:53] vladikoff commented on #761
Going to slate this for a post-3.1 release, unless this is a major, let me know

[2018-03-13 19:27] ryanleesipes commented on #40
Would also like to see this, but commenting because I don't want it to be web page specific. I think that in order for notes to be truly useful it has to be able to store more than one note, instead of being a whiteboard which I have to erase parts of (and move them to other notetaking apps) or else the note becomes too long.

[2018-03-13 20:09] vladikoff commented on #734
@sebastienbarbier @cedricium can we deploy a simple fix just for the hover button?

[2018-03-13 20:09] vladikoff commented on #734
Moving this out of 3.1

[2018-03-13 20:16] #755 closed

[2018-03-13 20:17] vladikoff commented on #759
Bumping this out of v3.1, out of time and minor issue. Set for v4 release

[2018-03-13 22:36] cedricium commented on #734
@vladikoff made the simple fix in #763, it's ready to be looked at.

[2018-03-14 06:06] sebastienbarbier commented on #761
I fixed for v3.x, was just a boolean to add.
No more saving state in v4, but I should be careful since this is not the first time we have this kind of issue. Thanks Marius 👍

[2018-03-14 14:28] #761 closed

[2018-03-14 14:28] #734 closed

[2018-03-14 16:19] Softvision-MariusComan opened #766 "The HTML file is not downloaded or is wrongly named if the first paragraph's length is over 220 characters"
**[Notes]:**
- Due to the fact that the first paragraph is auto completed as the file name in the "Save As" window, we have a few suggestions on how to this behavior could be improved:
	- The file name is not auto completed in the "Save As" window, leaving the user to name it him/herself.
	- After the multi-notes feature is implemented, the exported file could inherit the note's title.
	- The file

[2018-03-14 16:25] vladikoff commented on #766
cc @cedricium

[2018-03-14 16:48] Softvision-MariusComan opened #767 "Disable the "Export as HTML" option while the "Saving changes..." message is displayed"
**[Notes]:**
- This issue is much more easily encountered when you are logged in and the "Syncing changes..." message is displayed.

**[Affected versions]:**
- Firefox 58.0.2 and up

**[Affected Platforms]:**
- All Windows
- All Mac
- All Linux

**[Prerequisites]:**
- Have a Firefox profile with the latest version of the "Firefox Notes" add-on (3.1.0rc2) installed.

**[Steps to reproduce]:**
1. Op

[2018-03-14 16:56] vladikoff commented on #767
good find!!

[2018-03-15 01:12] #766 closed

[2018-03-15 01:14] vladikoff commented on #766
Limited chars to 200 to avoid these edge case issues

[2018-03-15 14:40] Softvision-MariusComan opened #770 "[Dark Theme] The "Notes" menu button wrongly remains highlighted after the menu is dimissed"
**[Affected versions]:**
- Firefox 58.0.2 and up

**[Affected Platforms]:**
- All Windows
- All Linux

**[Prerequisites]:**
- Have a Firefox profile with the latest version of the "Firefox Notes" add-on (3.1.0rc3) installed.
- Have the "Dark" theme activated from "about:addons>Extensions>Notes".

**[Steps to reproduce]:**
1. Open the browser with the profile from prerequisites.
2. Click the "Notes

[2018-03-15 14:48] johngruen opened #771 "Add CD 10: is user syncing"
this should be a boolean...we can use this to sort whether syncers retain better.

[2018-03-15 14:56] johngruen opened #772 "Make browserAction match theme"
Since this is a moz-signed add-on you can set

`fill="context-fill` and `fill-opacity="context-fill-opacity"` in the browserAction SVG and it will inherit theme colors, see  [this example](https://raw.githubusercontent.com/mozilla/Themer/master/src/images/icon.svg) from Themer

[2018-03-15 15:05] vladikoff commented on #770
cc @cedricium

[2018-03-15 15:08] vladikoff commented on #770
Cannot reproduce this here on OS X :(

[2018-03-15 15:08] vladikoff commented on #772
cc @cedricium

[2018-03-15 15:11] johngruen commented on #771
@ryanfeeley suggests instead of boolean we do `syncing`, `needs verification` etc. Will provide all strings

[2018-03-15 15:12] vladikoff opened #773 "Update to CKEditor Beta 1"
### [Description]:

beta.1 is out https://ckeditor5.github.io/

[2018-03-15 15:13] ryanfeeley commented on #771
All the states:
* Not Syncing
* Opening Login Window
* Not Yet Verified
* Mid-Sync
* Syncing
* Syncing >1 Devices
* Forced to Reauthenticate

[2018-03-15 15:27] vladikoff opened #774 "Disable context menu everywhere except the notepad itself"
### [Description]:

Disable context menu everywhere except the notepad itself

[2018-03-15 15:51] vladikoff commented on #774
Also disable the context menu in the menu:

![](http://v14d.com/a/5aaa968087ad8.gif)

cc @Softvision-MariusComan

[2018-03-15 16:54] vladikoff commented on #753
Should be fixed in Nightly 61.0a1 (2018-03-15) (64-bit)

[2018-03-15 16:54] vladikoff commented on #751
Should be fixed in Nightly 61.0a1 (2018-03-15) (64-bit)

[2018-03-15 16:54] #751 closed

[2018-03-15 16:55] vladikoff commented on #750
Should be fixed in Nightly 61.0a1 (2018-03-15) (64-bit)

[2018-03-15 16:55] #750 closed

[2018-03-15 16:55] vladikoff commented on #742
Should be fixed in Nightly 61.0a1 (2018-03-15) (64-bit)

[2018-03-15 16:55] #742 closed

[2018-03-15 16:55] vladikoff commented on #741
Should be fixed in Nightly 61.0a1 (2018-03-15) (64-bit)

[2018-03-15 16:55] #741 closed

[2018-03-15 16:55] vladikoff commented on #740
Should be fixed in Nightly 61.0a1 (2018-03-15) (64-bit)

[2018-03-15 16:55] #740 closed

[2018-03-15 17:06] Softvision-MariusComan commented on #770
@vladikoff  sorry for any inconveniences. The issue is reproducible only on Windows and Linux. I will update the bug description as well.

[2018-03-15 17:17] vladikoff commented on #770
👍

[2018-03-15 17:18] Softvision-MariusComan commented on #774
I have managed to reproduce this issue on different OS's with the bellow STR .
However since I'm not sure if this issue should be fixed on "Notes" side or on the "Firefox" side, I've also logged this issue on Bugzilla: [Bug 1446031](https://bugzilla.mozilla.org/show_bug.cgi?id=1446031)

**[Affected versions]:**
- Firefox Nightly 61.0a1 Build ID 20180315100042

**[Affected Platforms]:**
- All Windo

[2018-03-15 19:22] vladikoff commented on #721
This should be now fixed :)

[2018-03-15 19:22] #721 closed

[2018-03-15 22:55] cedricium commented on #772
Dup of #754.

@vladikoff mind helping with this one? I made the changes per John's comment above and the Notes icon still won't change color when using Themer. I also tried:
- adding `fill="context-fill"  fill-opacity="context-fill-opacity"` to `src/icons/notes.svg` in the `<g>` and `<path>` elements, neither worked.
- adding `-moz-context-properties: fill, fill-opacity;` in the `<style>` tag for

[2018-03-16 00:50] vladikoff commented on #772
@johngruen  ^

[2018-03-16 12:26] #767 closed

[2018-03-16 14:03] Softvision-MariusComan opened #778 "The content is wrongly duplicated after signing in into "Notes" if more then one browser window is opened"
**[Affected versions]:**
- Firefox 58.0.2 and up

**[Affected Platforms]:**
- All Windows
- All Mac
- All Linux

**[Prerequisites]:**
- Have a Firefox profile with the latest version of the "Firefox Notes" add-on (3.1.0rc3) installed.
- Have content in the "Firefox Notes" sidebar.
- Have valid FxA credentials.

**[Steps to reproduce]:**
1. Open the browser with the profile from prerequisites and o

[2018-03-16 14:05] Softvision-MariusComan opened #779 "The top part of the "Synced (hour)" button is not clickable"
**[Affected versions]:**
- Firefox 58.0.2 and up

**[Affected Platforms]:**
- All Windows
- All Mac
- All Linux

**[Prerequisites]:**
- Have a Firefox profile with the latest version of the "Firefox Notes" add-on (3.1.0rc3) installed.
- You must be logged into "Firefox Notes".

**[Steps to reproduce]:**
1. Open the browser with the profile from prerequisites.
2. Click the area above the "Synced (h

[2018-03-16 14:07] Softvision-MariusComan opened #780 "The "„" character is wrongly inserted in the sidebar instead of closing it when the "Alt+Shift+W" shortcut is pressed on Mac OS"
**[Affected versions]:**
- Firefox 58.0.2 and up

**[Affected Platforms]:**
- All Windows
- All Mac
- All Linux

**[Prerequisites]:**
- Have a Firefox profile with the latest version of the "Firefox Notes" add-on (3.1.0rc3) installed.
- The "Firefox Notes" sidebar is opened

**[Steps to reproduce]:**
1. Open the browser with the profile from prerequisites and focus the sidebar.
2. Press the "Alt+S

[2018-03-16 14:07] #747 closed

[2018-03-16 14:08] vladikoff commented on #780
@cedricium I think we can fix this , can we bind to the shortcut combo from within notes to hide the pad?

[2018-03-16 14:08] vladikoff commented on #780
Agreed!

[2018-03-16 15:44] cedricium commented on #780
@vladikoff should be doable using ckeditor's api, will go ahead and give this a shot.

Refs: https://docs.ckeditor.com/ckeditor5/latest/api/module_core_editingkeystrokehandler-EditingKeystrokeHandler.html

[2018-03-16 15:48] vladikoff commented on #780
@cedricium if you are looking at key strokes, see if you can get `<tab>` to tab https://github.com/mozilla/notes/issues/736

[2018-03-16 15:55] vladikoff commented on #780
@cedricium this might help https://github.com/ckeditor/ckeditor5/issues/868#issuecomment-369880325 not sure if the code mentioned in that thread is real or what. TAB works on empty list items to indent those might be helpful

[2018-03-16 15:59] cedricium commented on #780
@vladikoff opened a PR for this issue. Will take a look at the `tab` problem now 👍

[2018-03-16 16:11] Softvision-MariusComan commented on #717
This issue is no longer reproducible with the latest version of the "Firefox Notes" add-on (3.1.0rc3 build) installed, on the latest Firefox release and Nightly. Considering this I am closing this issue.

[2018-03-16 16:11] #717 closed

[2018-03-16 16:22] #780 closed

[2018-03-16 16:24] cedricium commented on #736
@vladikoff I think this is a relevant ckeditor issue - https://github.com/ckeditor/ckeditor5/issues/457.

[2018-03-16 17:34] vladikoff commented on #736
@cedricium yea they told me it's not on their roadmap, but we might be able to add it on our end via https://github.com/ckeditor/ckeditor5/issues/457#issuecomment-306058137

[2018-03-16 18:31] cedricium commented on #736
@vladikoff I'm trying to follow the steps outlined in [this SO post](https://stackoverflow.com/questions/47611200/how-to-programatically-insert-link-at-current-position-in-ckeditor-5) from the ckeditor team for inserting text (in this situtation, the tab character `&#09;`) but it's not working.

Was going to ask for help on gitter, just wanted to confirm that we are on `Before 1.0.0-beta` right?

[2018-03-16 18:37] vladikoff commented on #736
Yes, but let's fix it in beta 1 (see branch https://github.com/mozilla/notes/pull/775) if that's easier, this way we won't have to ask twice 😄

[2018-03-16 18:39] cedricium commented on #736
That was going to be my second question - should we just wait to do this after updating ckeditor. Sounds good then, we'll keep this on the back-burner for now 👍

[2018-03-16 18:45] vladikoff commented on #736
@cedricium you can checkout that branch and then branch off that to use latest CKEditor APIs, then I can merge your fix into that branch

[2018-03-19 02:19] sebastienbarbier commented on #779
Saw this bug too, already fixed in v4 when redesigning the new footer. Let me know if this major and needed in v3.2. (@vladikoff  should we close this ?)

[2018-03-19 02:25] sebastienbarbier commented on #778
I have the same issue in v4, might come from sync.js so I'll investigate on this should no be difficult 👍

[2018-03-19 02:27] vladikoff commented on #779
Then we can add a `Fixes ....` in the PR for multi-note and this will be auto-closed 👍

[2018-03-19 15:09] Softvision-MariusComan opened #782 "An empty row is wrongly inserted after sending text to notes when the sidebar is empty"
**[Affected versions]:**
- Firefox 59.0.1 and up

**[Affected Platforms]:**
- All Windows
- All Mac
- All Linux

**[Prerequisites]:**
- Have a Firefox profile with the latest version of the "Firefox Notes" add-on (3.2.0dev custom build from 19.03.2018) installed.
- Have the sidebar empty.

**[Steps to reproduce]:**
1. Open the browser with the profile from prerequisites and navigate to any website

[2018-03-19 15:13] vladikoff commented on #754
Ref https://github.com/mozilla/notes/issues/772

[2018-03-19 15:25] sebastienbarbier commented on #782
Same in v4. It's because how send-to-note works, it just add a new paragraph after whatever is in current note.
```note.content = note.content + `<p>${action.content}</p>`; ```
By default, ckeditor replace our empty note ```''```with `<p>&nbsp;</p>`. We need to implement an explicit behaviour for this.

[2018-03-20 15:41] vladikoff opened #783 "Investigate performance syncing long text"
### [Description]:

Might be able to use a WebWorker or some other cool web tech (tm)

Extracted from: https://github.com/mozilla/notes/pull/743

[2018-03-20 15:42] vladikoff opened #784 "Figure out placeholder for new note"
### [Description]:

Currently we went with a blank field, but might be able to add the CKEditor plugin for that.

Extracted from: https://github.com/mozilla/notes/pull/743

[2018-03-20 15:43] vladikoff opened #785 "Dark Theme for multi-note"
### [Description]:

Dark theme needs to fit the new multi-note design

Extracted from: https://github.com/mozilla/notes/pull/743

[2018-03-20 15:44] vladikoff opened #786 "Keyboard navigation updates for multi-note"
### [Description]:

Check keyboard nav (tab key) for multi-note design

Extracted from: https://github.com/mozilla/notes/pull/743

[2018-03-20 15:44] vladikoff opened #787 "Send to Note + Multi-Note + Multi-Window"
### [Description]:

- [x] Make sure "Send to Note" can work with multiple windows open (sidebars)
 If you have 3 windows it will create 3 notes

Extracted from: https://github.com/mozilla/notes/pull/743

[2018-03-20 17:43] wresuolc opened #788 "Remove user data when Firefox Account is deleted"
The FxA team is working on building some kind of notification service that an account has been deleted.  We should monitor that service and when an account is deleted remove any data we have stored for that account.

We should also document this somewhere so we can point to it easily.

[2018-03-20 18:27] andymckay commented on #788
That API already exists, @vladikoff should know about it.

[2018-03-20 18:28] andymckay commented on #788
I'm also going to /cc in @glasserc who has some ideas about how to do this for the storage.sync API, I'm hoping the solution can be re-used.

[2018-03-21 05:32] sebastienbarbier commented on #688
@johngruen @ryanfeeley Any inputs about those metrics ?

[2018-03-21 05:47] sebastienbarbier commented on #787
Right now send-to-note is performed by react which means having two windows with note sidebar open will perform the action twice. We need to move this action in background script.

[2018-03-21 05:50] sebastienbarbier commented on #778
Should be fixed in #743 with 4.0.0-beta1.

[2018-03-21 05:58] sebastienbarbier commented on #580
Should we trick ck-editor to **display a slider**? (ping @ryanfeeley )
Could also use **a meatball menu** but having header + footer + now editor would feels like too many in my opinion.

[2018-03-21 14:01] #770 closed

[2018-03-21 20:34] Pomax opened #789 "The updated permissions are a little too powerful to grant."
![image](https://user-images.githubusercontent.com/177243/37735837-6d4ca4e2-2d0c-11e8-8e44-56b7b17be07d.png)

![image](https://user-images.githubusercontent.com/177243/37735686-0a8ca334-2d0c-11e8-9a20-df26d41145f6.png)

If this extension is going to gain the power to violate the expectation of a true download history, it should come with configurable options that allows you to say "no, you do not

[2018-03-22 01:27] arai-a opened #790 "The context menu of the sidebar footer is not suppressed on Firefox 60 beta or later, if Notes content is modified before opening sidebar"
### [Description]:
Originally filed on https://bugzilla.mozilla.org/show_bug.cgi?id=1446031

The context menu of the sidebar footer is shown when secondary-clicking sidebar footer, if the Notes content is modified.

### [Affected versions]:
3.1.0rc3

### [Prerequisites]:
None

### [Steps to reproduce]:
  1. Run `mozregression --launch 20180315100042` on macOS
  2. Open about:config and turn xpinst

[2018-03-22 04:38] sebastienbarbier opened #791 "Kinto Error HTTP 507 Insufficient Storage"
On authentication using FxA, Kinto print in console an error 507

[code]

Having lots of async multi-thread stuff going on, I had a couple of infinite loop populating my storage. On sync I receive 370 skipped entries having deleted: true.

Still trying to use it, seams like it keeps increasing with time.
```Error: HTTP 507; Error: HTTP 507 Insufficient Storage: Resource access is forbidden for thi

[2018-03-22 04:39] vladikoff commented on #789
Some rough thoughts on this issue:

I guess I do agree with you that the permission description is scary. However, this project is open source, you can see the source right here: https://github.com/mozilla/notes/blob/7fca11b8282e6d00ddf3f58c3590f293e4951729/src/sidebar/app/components/Footer.js#L230 That's all we use that permission for. You can take the extension apart and verify that this is it.

[2018-03-22 04:40] vladikoff commented on #791
@glasserc any thoughts on this?

[2018-03-22 04:40] vladikoff commented on #791
cc @Natim

[2018-03-22 04:46] vladikoff commented on #791
also cc @bqbn

[2018-03-22 04:51] sebastienbarbier commented on #791
Having lots of async multi-thread stuff going on, I had a couple of **infinite loop** populating my storage. On sync I receive **370 skipped entries** having `deleted: true`.

[2018-03-22 05:05] sebastienbarbier commented on #791
My account no longer sync, but notes should have a notification to warn me about this. @ryanfeeley should we design something ?

[2018-03-22 11:38] Softvision-CristinaBadescu commented on #740
This issue is no longer reproducible using Firefox Notes v3.2.0dev (custom built on 2018-03-22), on latest Nightly build 61.0a1 (2018-03-21), on Windows 10 x64, Mac 10.13.3 and Arch Linux 4.12.

[2018-03-22 11:39] Softvision-CristinaBadescu commented on #742
This issue is no longer reproducible using Firefox Notes v3.2.0dev (custom built on 2018-03-22), on latest Nightly build 61.0a1 (2018-03-21), on Windows 10 x64, Mac 10.13.3 and Arch Linux 4.12.

[2018-03-22 11:42] Softvision-CristinaBadescu commented on #753
This issue is no longer reproducible using Firefox Notes v3.2.0dev (custom built on 2018-03-22), on latest Nightly build 61.0a1 (2018-03-21), on Windows 10 x64, Mac 10.13.3 and Arch Linux 4.12.

[2018-03-22 11:52] Softvision-CristinaBadescu commented on #751
This issue is no longer reproducible using Firefox Notes v3.2.0dev (custom built on 2018-03-22), on latest Nightly build 61.0a1 (2018-03-21), on Windows 10 x64, Mac 10.13.3 and Arch Linux 4.12.

[2018-03-22 12:03] Softvision-CristinaBadescu commented on #750
This issue is no longer reproducible using Firefox Notes v3.2.0dev (custom built on 2018-03-22), on latest Nightly build 61.0a1 (2018-03-21), on Windows 10 x64, Mac 10.13.3 and Arch Linux 4.12.

[2018-03-22 12:06] Softvision-CristinaBadescu commented on #525
I've managed to reproduce this issue using Firefox Notes v3.2.0dev (custom built on 2018-03-22) and also with Firefox Notes installed from Test Pilot experiments page, on latest Nightly build 61.0a1 and latest Firefox Release 59.0.1, on Windows 10 x64, Mac 10.13.3 and Arch Linux 4.12.

Considering this, I'm going to reopen the issue.

[2018-03-22 13:20] johngruen commented on #772
@cedricium the extension has to have a mozilla.org id for this to work...depending on how you're loading your add-on to preview FF may be generating some random cache busting hash to add to the ID, this will break the regex so context fill won't work

[2018-03-22 14:36] vladikoff commented on #791
from our end:
1. see if we can delete revisions
1. handle error
1. determine the max bytes and show user a warnings

[2018-03-22 14:39] Natim commented on #791
Remove quota :+1:

[2018-03-22 14:39] vladikoff commented on #791
@Natim We are worried that that kinto saves too many old revisions, can we delete old stuff or is that auto?

[2018-03-22 14:40] Natim commented on #791
There are no such thing as revisions, it always override with the last update.

[2018-03-22 14:43] glasserc commented on #791
I wouldn't be surprised if there's an issue with quotas on the server side. See also https://bugzilla.mozilla.org/show_bug.cgi?id=1422673. I did in fact ask Wei to run some queries and got some scary numbers back, but I had been putting off actually looking at this until I had a user who could reliably reproduce it so I could try to dig in a bit more. I'll try to write up some debugging instructio

[2018-03-22 14:56] vladikoff commented on #791
Thank you @Natim @glasserc !!

[2018-03-22 16:03] Pomax commented on #789
While true, that is not something that can reasonably be expected from people who've opted into the test pilot program. Plenty of non-tech folks who have no idea how to do this, and also plenty of tech folks who don't have the luxury of time when it comes to auditing a plugin codebase to see if it's safe to grant some permissions.

The main reason to file this is not so much "can this code be trus

[2018-03-22 16:04] vladikoff commented on #789
Yeah exactly, that sounds like a solution we can attempt

[2018-03-22 16:59] #779 closed

[2018-03-22 17:01] vladikoff commented on #785
@cedricium I merged multi-note into `master` let me know if you have time to fix the dark theme design for the list note view

It's a bit spooky right now:
![image](https://user-images.githubusercontent.com/128755/37785680-2c704a3a-2dd1-11e8-8279-8abb1d9aff2b.png)

[2018-03-22 17:02] vladikoff opened #792 "Hovering on existing notes has a "New Note" tooltip"
### [Description]:

v4 beta 1

![image](https://user-images.githubusercontent.com/128755/37785714-3bda838c-2dd1-11e8-9c51-c4e6adad9354.png)

[2018-03-22 17:45] vladikoff commented on #785
@cedricium try a fresh clone

My setup:

[code]

[2018-03-22 17:52] vladikoff commented on #40
Main part of this landed in https://github.com/mozilla/notes/commit/3bddc69e6cbd4661c2d7bdb3ff252b39ded6abd1

[2018-03-22 17:52] #40 closed

[2018-03-22 18:06] vladikoff commented on #785
@cedricium worst case, skip the build-ck script and grab the built file from the latest build, that should work

[2018-03-22 18:18] glasserc commented on #791
So, I just reread the original issue. I thought at first that the issue was that the quota numbers were wrong and that you actually hadn't exceeded the quota. But now I think the problem may be that you actually did exceed the quota and don't know how to un-exceed it?

Here are the debugging instructions I wrote in case you are trying to figure out why the quota numbers are wrong. If they aren't a

[2018-03-22 18:27] Natim commented on #791
To unexeed it you need to remove the object. But I think the issue is that notes need to store more than what is currently authorized so we should ask OPS to actually update quotas to a much higher value.

If you think that a note can be up to 4kb and that we want use to be able to store 100 notes we should make sure they can store up to 500kb

[2018-03-22 19:04] #792 closed

[2018-03-22 19:32] ryanfeeley opened #795 "Multi-note UX polish"
Bravo! This is the maybe the happiest moment I've had at Mozilla. It's so close!

Some finer points:
- [x] Shorten header to 40px
- [x] Shorten formatting bar to 36px
- [x] Vertically center ⋯ icon in formatting bar
- [x] Vertically center ⋯ icon in footer
- [x] Inset ⋯ button 8px from right
- [x] Inset Sync icon 16px from left
- [x] Reduce row heights on list view
- [x] Add **Make Plain Text* and

[2018-03-23 09:17] sebastienbarbier commented on #795
@ryanfeeley can you help me and define "Add vertical spacing to ⋯ menu items" 😊.

[2018-03-23 09:21] sebastienbarbier commented on #795
@ryanfeeley here is what I could do today, will need to wait next week to continue but please can you review this first version and let me know if I missed anything 👍
[notes_4.0.0-issue795.1.zip](https://github.com/mozilla/notes/files/1840873/notes_4.0.0-issue795.1.zip)

[2018-03-23 15:34] vladikoff commented on #791
Hit the limit while testing with @ryanfeeley , we added a 160kb note to an existing list of notes:

![](http://v14d.com/i/5ab51e5ea1c59.jpg)

[2018-03-23 15:35] vladikoff commented on #791
![image](https://user-images.githubusercontent.com/128755/37838430-381384ac-2e8e-11e8-8d0f-230e18d7ec67.png)

[2018-03-23 15:36] vladikoff commented on #791
After I hit the storage limit, and reload the sidebar I get booted out of sync

![image](https://user-images.githubusercontent.com/128755/37838507-762499f2-2e8e-11e8-8074-88ff6b245948.png)

[2018-03-23 15:42] Natim commented on #791
I guess we can raise the limit for notes by a lot, even 1MB or 10MB is fine we only have a couple hundreds thousands of users and we can alocate 10GB for sure :dancer:

[2018-03-23 15:42] vladikoff commented on #791
@sebastienbarbier @glasserc @Natim Even after deleting several large Notes in testing we were not able to get our storage back. So we might need to investigate to make sure deletion actually frees up storage.

[2018-03-23 15:43] Natim commented on #791
If you delete singleNotes you should recover it

[2018-03-23 15:54] vladikoff commented on #791
Ah I see, after we hit a 507 we "lose sync" so deleting anything won't make any network requests

[2018-03-23 16:10] sebastienbarbier commented on #791
All right looks like some deep investigation is needed!
@ryanfeeley should be have some sort of notification ?! May be limiting size or number of notes ?! 🤔

[2018-03-24 22:52] vladikoff opened #796 "Investigate creating a "title" field for the note"
### [Description]:

This might be good for multi-note, but also good for mobile performance. This way we only download the note ids and titles, thus avoiding download the whole note content.

We can slate for later releases if too complicated.

[2018-03-24 22:52] vladikoff commented on #796
@sebastienbarbier thoughts?

[2018-03-25 02:55] cedricium opened #798 "Unable to build Notes"
HALP!

@vladikoff we've been talking about this - new find: your `ckeditor-beta` branch builds successfully for me. I think maybe there's an issue with the webpack config and I notice that the `ckeditor-build/webpack.config.js` files are different between `master` and `ckeditor-beta`. Any idea on how to further debug this?

This really sucks because I'm totally blocked from working on Notes 😭

[co

[2018-03-25 03:38] vladikoff commented on #798
@cedricium seems like you are using node 9 in that. try 8 via 'nvm'. Also you can skip building ck for now, just grab the built file from one of the existing builds

[2018-03-25 03:38] vladikoff commented on #798
Im gonna see if I can debug that more

[2018-03-25 03:41] sebastienbarbier commented on #798
@vladikoff We should be able to include ck-build in our current build right ? Since sidebar now use webpack ... any reason to keep them both separated ?

[2018-03-25 03:42] vladikoff commented on #798
this might also help: https://docs.npmjs.com/troubleshooting/try-clearing-the-npm-cache

[2018-03-25 03:42] vladikoff commented on #798
@sebastienbarbier yeah i was looking into combining those after beta1 merge

[2018-03-25 04:01] sebastienbarbier commented on #796
True we could do some optimisation here, but I have difficulties to believe requesting all notes is that of an issue ... what about creating a metrics to see how long that request take (should be related to the size and number of notes I guess).

[2018-03-25 04:05] vladikoff commented on #796
@sebastienbarbier, @ryanfeeley was pasting 700kb documents into thing, that's why im freaking out a bit 😋😥

[2018-03-26 04:32] sebastienbarbier opened #799 "Plain text feature"
We should be able to switch a note from rich text from plain text.

[2018-03-26 04:54] sebastienbarbier commented on #795
New version to review : [notes_4.0.0-issue795.2.zip](https://github.com/mozilla/notes/files/1846346/notes_4.0.0-issue795.2.zip)
- Plain text feature has been moved to a dedicated issue, this is more that polishing UX (#799)
- Could not find a clear formatting button in ckeditor ... suggest we add code for now which will be selected and allow to remove code ...
- Not sure about how to fix the regis

[2018-03-26 05:35] sebastienbarbier commented on #778
Could not reproduce on master. I believe v4 fix this.

[2018-03-26 05:35] #778 closed

[2018-03-26 13:01] vladikoff commented on #799
Let's look at that after initial v4 release

[2018-03-26 13:48] ryanfeeley commented on #795
Looking 🥇

I pasted a screenshot (right) on top of the mockup (left) and it looks like each row needs an extra pixel or top and bottom padding. So about 10 pixels in total for the whole menu.

<img width="212" alt="image" src="https://user-images.githubusercontent.com/68213/37910081-a16539fc-30da-11e8-93e3-6d374a9b4a2b.png">

[2018-03-26 14:27] vladikoff opened #801 "Handle sync error states in multi-note"
### [Description]:

If there are kinto errors like `507` the bottom footer still says `Synced`, it should show an error and ask user to reconnect

[2018-03-26 15:43] Softvision-MariusComan opened #802 "You are wrongly logged out from "Firefox Notes" after reopening the sidebar if a sync action was previously performed"
**[Affected versions]:**
- Firefox 59.0.1 and above

**[Affected Platforms]:**
- All Windows
- All Mac
- All Linux

**[Prerequisites]:**
- Have a Firefox profile with the latest version of the "Firefox Notes" add-on (3.2.0dev custom built on 2018-03-26) installed.
- You are logged into "Firefox Notes".
- Have ~20 notes in the sidebar.

**[Steps to reproduce]:**
1. Open the browser with the profile

[2018-03-26 15:47] Softvision-MariusComan opened #803 "The title of a note cannot be edited"
**[Affected versions]:**
- Firefox 59.0.1 and above

**[Affected Platforms]:**
- All Windows
- All Mac
- All Linux

**[Prerequisites]:**
- Have a Firefox profile with the latest version of the "Firefox Notes" add-on (3.2.0dev custom built on 2018-03-26) installed.

**[Steps to reproduce]:**
1. Open the browser with the profile from prerequisites.
2. Click the "New Note" button.
3. Try to edit the

[2018-03-26 15:50] Softvision-MariusComan opened #804 "The "Back" toolbar button does not have a tooltip"
**[Affected versions]:**
- Firefox 59.0.1 and above

**[Affected Platforms]:**
- All Windows
- All Mac
- All Linux

**[Prerequisites]:**
- Have a Firefox profile with the latest version of the "Firefox Notes" add-on (3.2.0dev custom built on 2018-03-26) installed.

**[Steps to reproduce]:**
1. Open the browser with the profile from prerequisites.
2. Click the "New Note" button.
3. Hover the "Back"

[2018-03-26 16:23] Softvision-MariusComan opened #805 "[Enhancement] Each note from the list should have a delete button"
**[Affected versions]:**
- Firefox 59.0.1 and above

**[Affected Platforms]:**
- All Windows
- All Mac
- All Linux

**[Prerequisites]:**
- Have a Firefox profile with the latest version of the "Firefox Notes" add-on (3.2.0dev custom built on 2018-03-26) installed.
- Have minimum a note in the sidebar.

**[Steps to reproduce]:**
1. Open the browser with the profile from prerequisites.
2. Hover any

[2018-03-26 19:49] pdehaan commented on #798
I'm seeing the same errors locally w/ node@6 and node@8 (even after a <kbd>$ npm cache clean</kbd>). See https://github.com/mozilla/notes/pull/550#issuecomment-376288598 (which looks suspiciously similar to @cedricium's output above).

But I'll try git cloning to a brand new folder and see if that helps, although I was seeing this general issue back when I was looking at PR #550 too.

[2018-03-26 19:56] pdehaan commented on #798
OK, oddly a fresh clone and starting w/ Node@8 seems to have worked. Oddly, this time when I ran <kbd>$ npm cache clean</kbd>, I had to add a `--force` flag, which I assume is due to some change in npm between node@6 and node@8.

[code]

/cc @cedricium

[2018-03-26 20:52] ryanfeeley commented on #805
I propose we provide a contextual menu.

@vladikoff @sebastienbarbier Something like this?

<img width="249" alt="image" src="https://user-images.githubusercontent.com/68213/37932267-0d9c42f6-3116-11e8-9a32-1fded160cb1f.png">

[2018-03-26 21:28] ryanfeeley commented on #804
@sebastienbarbier Seeing as Firefox desktop uses sentence case we should say: "Back to all notes"

[2018-03-26 21:29] ryanfeeley commented on #803
Implemented as designed (similar to Apple Notes)

[2018-03-26 21:29] #803 closed

[2018-03-26 21:33] ryanfeeley opened #806 "Make drag border colour the same as system focus"
### Drag border colour:
![drag](https://user-images.githubusercontent.com/68213/37934268-a3d78ffa-311b-11e8-8df1-41332e3c536c.gif)

### [Steps to reproduce]:
* Drag text from web onto Notes

### [Expected result]:
* Drag border colour is the same as system highlight colour (in my case, light blue)
* Content does not shift

### [Actual result]:
* Color is green
* Content shifts

### [Additional Not

[2018-03-26 21:54] vladikoff commented on #805
@ryanfeeley probably not for initial v4 release but we can explore that

[2018-03-26 21:57] vladikoff commented on #802
Right, if there is an error with sync we don't show an error and then just lose the state, Ref: https://github.com/mozilla/notes/issues/791#issuecomment-375711775

[2018-03-26 21:58] vladikoff commented on #804
👍

[2018-03-26 22:01] vladikoff commented on #798
@cedricium let us know if that fixes that

[2018-03-26 23:00] cedricium commented on #798
Was really hopeful @pdehaan's steps would work, but they did not :(

Strangely (or maybe for an obvious reason that I can't see), building works just fine on the `ckeditor-beta` branch. So what's the difference between the two? 🤔

[2018-03-26 23:04] vladikoff commented on #798
@cedricium new dependencies, somehow it installs from newer dependencies and not from what is specified

[2018-03-26 23:07] vladikoff commented on #798
Try deleting this npm directory: https://docs.npmjs.com/cli/cache#cache

[2018-03-26 23:27] cedricium commented on #798
@vladikoff no luck :P

[2018-03-27 01:05] sebastienbarbier commented on #805
I like that, quite simple and intuitive for everyone.
What about sliding for actions ?
![touchactions](https://user-images.githubusercontent.com/3018618/37940947-943dda8e-3195-11e8-8a3d-17058f721415.gif)

[2018-03-27 01:09] sebastienbarbier commented on #804
Duplicate with #795 when this has been done.

[2018-03-27 01:09] #804 closed

[2018-03-27 01:27] sebastienbarbier commented on #802
@ryanfeeley can you **suggest a UI** for an error notification ?

We asked ourself where an alert would shows up :
![alert](https://user-images.githubusercontent.com/3018618/37941220-55dfa216-3197-11e8-82dd-e362eba9a59d.gif)
However I don't think we can change the title: **"The page at moz-extension:xxx-xxxx..."**

[2018-03-27 08:09] SoftVision-PaulOiegas commented on #803
@ryanfeeley @johngruen can you guys tell us any major concerns/limitations why this won't be implemented? To be honest, I don't think the end users would appreciate to have their Notes forcefully named by the first paragraph of their text. I expect they will complain about this as soon as this will reach the public.

Also, and please don't be upset on us about this, Apple software should not be co

[2018-03-27 12:57] vladikoff commented on #803
@SoftVision-PaulOiegas Hey! thanks for the message.

There is some complexity in note structure that would need to be tweaked. I think we probably won't do this in this release. We need to change the format and encrypt both the title and the contents. Also this makes it a bit more complex for the mobile app, where we would need to add an extra field fo the title. There's already very limited space

[2018-03-27 14:19] ryanfeeley commented on #803
None taken! I love the passion! It's true that we can be too Apple-centric.

Having the title taken from the first line has these advantages:

1. Low maintenance. Just works and is easy to understand.
1. Does not require data structure changes.

It has these disadvantages:

1. Waste of space when space is limited. Duplicates first line.
1. Difficult to edit when UI is limited (mobile, sidebars)

I

[2018-03-27 14:20] Softvision-MariusComan opened #807 "The buttons from the title bar are wrongly highlighted with a darker color than the rest of the buttons"
**[Affected versions]:**
- Firefox 59.0.1 and above

**[Affected Platforms]:**
- All Windows
- All Mac
- All Linux

**[Prerequisites]:**
- Have a Firefox profile with the latest version of the "Firefox Notes" add-on (3.2.0dev custom built on 2018-03-27) installed.

**[Steps to reproduce]:**
1. Open the browser with the profile from prerequisites.
2. Hover "Back" button from the left part of the no

[2018-03-27 14:27] vladikoff commented on #807
good catch! @ryanfeeley confirm?

[2018-03-27 14:30] Softvision-MariusComan opened #808 "[Enhancement] The active area of the buttons from the bottom toolbar should be larger"
**[Affected versions]:**
- Firefox 59.0.1 and above

**[Affected Platforms]:**
- All Windows
- All Mac
- All Linux

**[Prerequisites]:**
- Have a Firefox profile with the latest version of the "Firefox Notes" add-on (3.2.0dev custom built on 2018-03-26) installed.
- You must be logged into "Firefox Notes".

**[Steps to reproduce]:**
1. Open the browser with the profile from prerequisites.
2. Hover

[2018-03-27 15:50] pdehaan commented on #798
Sorry @cedricium, wish I could help more.
I've definitely seen your errors above, and when I dug into the specified `./node_modules/@ckeditor/ckeditor5-theme-lark/theme/helpers/_spacing.scss` file, it wasn't there. Not sure if was an npm timing issue or something else. I had gotten into a bit of a weird state where I was trying installing locally after doing a <kbd>$ rm -rf node_modules package-lo

[2018-03-27 20:29] ryanfeeley commented on #807
Design system to the rescue (of me)!
https://design.firefox.com/photon/components/buttons.html#ghost-3

<img width="709" alt="image" src="https://user-images.githubusercontent.com/68213/37993265-133c50c2-31dc-11e8-8a33-be6680a465fe.png">

[2018-03-27 23:11] cedricium commented on #798
@vladikoff I appreciate the help! Unfortunately nothing I've done has resolved the issue (`rm -rf node_modules`  + `npm cache clean --force` + fresh directory + removing `~/.npm/`). Even cloning my `cedricium/notes` which is 99 commits behind `mozilla/notes` still didn't build.

I'll keep trying every now and then and hope it works. I guess the sooner `ckeditor-beta` gets merged the better 😉

[cod

[2018-03-27 23:50] vladikoff commented on #791
@Natim is there a way to tell how much space is remaining in Kinto (for users's notes) OR do we have to calculate that ourselves?

[2018-03-27 23:51] pdehaan commented on #798
@cedricium And Node 8 is giving you the same error as your Node 9 output above?

[2018-03-27 23:52] vladikoff commented on #798
This will probably take a bit, I will make a branch for you for now and we can go from there, give me a minute @cedricium

[2018-03-28 00:03] vladikoff commented on #798
@cedricium try this branch: https://github.com/mozilla/notes/tree/ckbuilt

[2018-03-28 00:07] vladikoff commented on #798
@cedricium so:

1. switch to that branch
2. branch off to a new branch from that
3. make your changes
4. commit some stuff
5. drop the commit using rebase:

![](http://v14d.com/i/5abadc6eb2be0.jpg)

[2018-03-28 00:07] vladikoff commented on #798
@cedricium hopefully that unblocks you for now

[2018-03-28 00:30] cedricium commented on #798
@pdehaan yea, Node 8 also was not working.
@vladikoff Seems to be working just fine, will start fixing the dark theme. Thank you!!

[2018-03-28 01:18] vladikoff commented on #805
Moving out of v4

[2018-03-28 01:18] vladikoff commented on #807
@cedricium possible to fix?

[2018-03-28 01:19] vladikoff commented on #796
Moved out of v4

[2018-03-28 01:19] vladikoff commented on #808
Moving out of v4

[2018-03-28 01:20] vladikoff commented on #806
Moved out of v4

[2018-03-28 01:20] vladikoff commented on #784
Moved out of v4

[2018-03-28 01:21] vladikoff commented on #789
@cedricium something to explore if you have time, instead of using the downloads api can we just open a window that has HTML in it and let the user go from there (save as, print it , etc)

[2018-03-28 01:22] vladikoff commented on #789
We can bring the downloads api back in FF60 or w/e when it is an optional permission

[2018-03-28 01:23] vladikoff commented on #773
Moved out of v3.2 and v4

[2018-03-28 01:32] #580 closed

[2018-03-28 01:34] vladikoff commented on #759
Should be now fixed in v4

[2018-03-28 01:34] #759 closed

[2018-03-28 01:38] vladikoff commented on #402
Probably won't be adding shortcuts at this time. Let me know if you anyone has more input on this

[2018-03-28 01:38] #402 closed

[2018-03-28 02:04] #774 closed

[2018-03-28 02:04] #790 closed

[2018-03-28 02:11] vladikoff commented on #786
I did some tests on this and items are navigable,  we will open new issues if there is more to do

[2018-03-28 02:11] #786 closed

[2018-03-28 02:15] vladikoff commented on #795
@sebastienbarbier could you send a PR for this?

We can open follow up issues for the remaining items, except maybe `Add vertical spacing to ⋯ menu items`, can we fix that one ?

[2018-03-28 02:17] vladikoff commented on #417
Gonna try to fix this for v4

[2018-03-28 02:58] #787 closed

[2018-03-28 03:00] #772 closed

[2018-03-28 03:07] vladikoff commented on #754
Should be fixed in latest v4 build

[2018-03-28 03:07] #754 closed

[2018-03-28 03:07] vladikoff commented on #771
Moved to v4

[2018-03-28 03:08] vladikoff commented on #782
@sebastienbarbier can we do this in v4 or too much work?

[2018-03-28 03:09] sebastienbarbier commented on #782
I'll do it today, should not take long !

[2018-03-28 03:22] sebastienbarbier opened #813 "Animation from our Photon menu system"
Switching from note list to note editor should trigger an animation like in Firefox Photon menu system.
@ryanfeeley can you provide a description regarding the animation to implement ? (like a slow motion video may be 😁)

[2018-03-28 03:25] vladikoff commented on #808
@ryanfeeley thoughts on the issue though?

[2018-03-28 03:35] sebastienbarbier opened #814 "Clear formatting button in ckeditor"
Add the clear formatting button to the formatting toolbar (so users can remove code)

[2018-03-28 03:37] sebastienbarbier opened #815 "'Sign in to Sync' should not opens registration"
Make sure that when users click Sign in to Sync that it opens signin and not registration.

[2018-03-28 03:37] sebastienbarbier commented on #795
Created new issues for missing request 👍

[2018-03-28 03:50] #795 closed

[2018-03-28 03:57] #782 closed

[2018-03-28 03:59] vladikoff commented on #791
<img width=200 src=https://user-images.githubusercontent.com/128755/38008106-dc805530-321a-11e8-82ea-64de605560f0.png />

[2018-03-28 04:02] vladikoff commented on #802
@ryanfeeley can we reuse footer notifications for this, and could you please provide text/copy for this?

[2018-03-28 04:21] sebastienbarbier commented on #492
This has been fixed in v4

[2018-03-28 04:21] #492 closed

[2018-03-28 04:25] sebastienbarbier commented on #525
Should be fixed in v4.

[2018-03-28 04:25] #525 closed

[2018-03-28 04:28] cedricium commented on #789
@vladikoff to clarify - on our end we would just open a new tab with that note's content and that's it? The user would then need to manually `Save as...` themselves?

[2018-03-28 04:28] cedricium commented on #807
@vladikoff should be doable 👍

[2018-03-28 04:30] sebastienbarbier commented on #789
What about something like this : https://stackoverflow.com/questions/2897619/using-html5-javascript-to-generate-and-save-a-file ?

[2018-03-28 04:31] sebastienbarbier commented on #789
@cedricium What about something like this : https://stackoverflow.com/questions/2897619/using-html5-javascript-to-generate-and-save-a-file ?

[2018-03-28 04:35] cedricium commented on #789
@sebastienbarbier ahh, nice find! I think initiating the download ourselves makes sense to do here - I'll go ahead and code a solution similar to the SO post.

[2018-03-28 07:33] sebastienbarbier opened #822 "Refactor background.js to use webworker"
Webworker have a different global scope and unfortunately our current background code heavily depend on those variable.
We might benefits regarding performance and maintainability to get rid of those.

This issue is created after working on #783

[2018-03-28 08:26] Natim commented on #791
According to https://testpilot.settings.services.mozilla.com/v1/ we don't show it here. We could/should.

[2018-03-28 09:03] Softvision-MariusComan opened #825 "Add spillover menu to editor options"
**[Affected versions]:**
- Firefox 59.0.2 and above

**[Affected Platforms]:**
- All Windows
- All Mac
- All Linux

**[Prerequisites]:**
- Have a Firefox profile with the latest version of the "Firefox Notes" add-on (4.0.0 Beta 3) installed.
- "Firefox Notes" sidebar is displayed.

**[Steps to reproduce]:**
1. Open the browser with the profile from prerequisites.
2. Hover the right margin of the s

[2018-03-28 11:14] SoftVision-EmilPasca opened #826 "Font Size (Heading style) dropdown is wrongly displayed under the content area"
**[Affected versions]:**
- Firefox 59.0.2 and above

**[Affected Platforms]:**
- All Windows
- All Mac
- All Linux

**[Prerequisites]:**
- Have a Firefox profile with the latest version of the "Firefox Notes" add-on (4.0.0 Beta 3) installed.
- "Firefox Notes" sidebar is displayed.

**[Steps to reproduce]:**
1. Open the browser with the profile from prerequisites.
2. Click on "Font size" dropdown a

[2018-03-28 12:08] Softvision-MariusComan opened #827 "You are wrongly logged out from "Firefox Notes" after reopening the sidebar if two notes were previously deleted"
**[Affected versions]:**
- Firefox 59.0.2 and above

**[Affected Platforms]:**
- All Windows
- All Mac
- All Linux

**[Prerequisites]:**
- Have a Firefox profile with the latest version of the "Firefox Notes" add-on (4.0.0 Beta 3) installed.
- You are logged into "Firefox Notes".
- Have minimum two notes in the sidebar.

**[Steps to reproduce]:**
1. Open the browser with the profile from prerequis

[2018-03-28 12:28] sebastienbarbier commented on #827
Currently working on this one, similar to #802

[2018-03-28 12:44] vladikoff commented on #825
by new design, @ryanfeeley confirm?

[2018-03-28 12:44] vladikoff commented on #826
Ah yess, need to adjust that

[2018-03-28 13:32] sebastienbarbier commented on #825
Looks like when sidebar is at normal width, there is a 4px white line bottom of ckeditor toolbar.
![capture d ecran 2018-03-28 a 20 30 56](https://user-images.githubusercontent.com/3018618/38032152-22d5fc2c-32c7-11e8-9a10-b56d11441179.jpg)

[2018-03-28 14:28] ryanfeeley commented on #580
I just imagine it like this:
![crop](https://user-images.githubusercontent.com/68213/38035580-b8b3fab4-3272-11e8-8abc-c7c78b5d56ac.png)

[2018-03-28 14:32] #826 closed

[2018-03-28 14:46] Softvision-CristinaBadescu commented on #759
This issue is no longer reproducible using Firefox Notes v3.2.0dev (custom built on 2018-03-28), on latest Nightly build 61.0a1 (2018-03-28), on Windows 10 x64, Mac 10.13.3 and Arch Linux 4.12.

[2018-03-28 15:03] vladikoff commented on #688
@johngruen could we get these?

[2018-03-28 15:04] vladikoff commented on #524
This should be fixed in notes v4 beta 3

[2018-03-28 15:04] #524 closed

[2018-03-28 15:09] ryanfeeley commented on #808
Good eye! It does look like our buttons are too small @sebastienbarbier.

Pixel specifications are here: https://design.firefox.com/photon/components/buttons.html#default-3

[2018-03-28 15:10] ryanfeeley commented on #813
Regular speed and slow-motion speed attached.
[Doorhanger Menu.zip](https://github.com/mozilla/notes/files/1856542/Doorhanger.Menu.zip)

[2018-03-28 15:23] ryanfeeley commented on #825
This is as designed until we have a proper spillover menu as depicted in the mockup:

https://mozilla.invisionapp.com/share/6VBUYHMRB#/281041484_Firefox_Notes

[2018-03-28 15:23] ryanfeeley commented on #825
<img width="151" alt="image" src="https://user-images.githubusercontent.com/68213/38039059-69f78776-327a-11e8-8317-573c572a4d13.png">

[2018-03-28 15:43] Softvision-CristinaBadescu opened #831 "The Note list is wrongly displayed if you delete all text from a Note and open a new window"
**[Affected versions]:**
- Firefox 59.0.2 and above

**[Affected Platforms]:**
- All Windows
- All Mac
- All Linux

**[Prerequisites]:**
- Have a Firefox profile with the latest version of the "Firefox Notes" add-on (3.2.0dev) installed.
- Have at least one note in the sidebar.

**[Steps to reproduce]:**
1. Open the browser with the profile from prerequisites.
2. Click the "New Note" button and pa

[2018-03-28 15:45] vladikoff commented on #831
[code]

@Softvision-CristinaBadescu hey, so every time we open a new window we should open to the Notes ListView, does that clarify this?

[2018-03-28 15:49] sebastienbarbier commented on #831
There is a feature in listView which hide and delete empty notes.
When opening a new window, we sync the other window state which include the empty note we work one ... then listPanel delete it 😅. Works well if note is not empty.

[2018-03-28 15:51] vladikoff commented on #831
Oh I was confused about the initial state, if I understand the issue correctly then good find @Softvision-CristinaBadescu !!

[2018-03-28 15:53] Softvision-CristinaBadescu commented on #831
Hey @vladikoff :) Yes, that would be great. In this way, we'll keep a consistency and in every opened window we'll see the same thing.

[2018-03-28 16:06] Softvision-MariusComan opened #832 "The "Send to Notes" context menu option no longer works on the latest Beta and Nightly"
https://bugzilla.mozilla.org/show_bug.cgi?id=1449614

**[Affected versions]:**
- Firefox Beta (60.0b3) and above

**[Affected Platforms]:**
- All Windows
- All Mac
- All Linux

**[Prerequisites]:**
- Have a Firefox profile with the latest version of the "Firefox Notes" add-on (4.0.0 Beta 3) installed.
- The "Firefox Notes" sidebar is opened in the list view mode.
- Have any website opened.

**[Ste

[2018-03-28 16:12] vladikoff commented on #832
@Softvision-MariusComan I'm super confused because this was supposed to be fixed here: https://bugzilla.mozilla.org/show_bug.cgi?id=1445080

Ref: https://github.com/mozilla/notes/issues/740

[2018-03-28 16:14] Softvision-CristinaBadescu opened #833 "[Enhancement] Text caret should appear in the sidebar when you click the "New Note" button"
**[Affected versions]:**
- Firefox 59.0.2 and above

**[Affected Platforms]:**
- All Windows
- All Mac
- All Linux

**[Prerequisites]:**
- Have a Firefox profile with the latest version of the "Firefox Notes" add-on (3.2.0dev) installed.
- Have Firefox Notes sidebar open.

**[Steps to reproduce]:**
1. Open the browser with the profile from prerequisites.
2. Click the "New Note" button and type som

[2018-03-28 16:14] vladikoff commented on #833
Good find! 👍 this would be great to have

[2018-03-28 16:20] #785 closed

[2018-03-28 16:22] vladikoff opened #834 "Dark Theme improvements"
![image](https://user-images.githubusercontent.com/128755/38042488-86748568-3282-11e8-877f-33ffeeb99f82.png)

@cedricium I merged the main PR 👍 looks good, minor improvements we can make:

- [ ] Let's make the title bar fit the same style as the `+ Add Note` bar.
- [ ] Can we make the scrollbar dark?
- [ ] The editor background looks dark, can it match the same colour as the title bar?

[2018-03-28 16:47] Softvision-CristinaBadescu commented on #831
Hey @sebastienbarbier , actually I can intermittently reproduce this behavior with only one letter.
See the screen recording below:
![intermittently with 1 letter](https://user-images.githubusercontent.com/31244235/38043805-c14ece12-32c0-11e8-8f85-bea2b7514d96.gif)

[2018-03-28 16:49] sebastienbarbier commented on #831
😱. Thanks a lot, will make sure that’s gone by tomorrow 😈.

[2018-03-28 17:58] vladikoff commented on #417
I tried to fix this up but I cannot take the sidebar under control of css with the high contrast theme:

![](http://v14d.com/i/5abbd77c901e6.jpg)

[2018-03-28 18:12] vladikoff commented on #417
@SoftVision-EmilPasca I think this is a bug in Firefox

could you please file it and link these two with it:

https://bugzilla.mozilla.org/show_bug.cgi?id=697836
https://bugzilla.mozilla.org/show_bug.cgi?id=343205

![high-contrast](https://user-images.githubusercontent.com/128755/38047947-f5aee6f8-3291-11e8-8b01-daea42525a77.gif)

[2018-03-29 04:23] sebastienbarbier opened #837 "Show quota"
Kinto Server has a _'per user quota'_ which should displayed in our UI. We handle error storage (#824) but should improve UX.

<img width=200 src=https://user-images.githubusercontent.com/128755/38008106-dc805530-321a-11e8-82ea-64de605560f0.png />

[2018-03-29 04:34] #791 closed

[2018-03-29 04:36] vladikoff commented on #801
we did this thing

[2018-03-29 04:36] #801 closed

[2018-03-29 05:04] sebastienbarbier commented on #783
I believe this issue was actually a mix of few issues noew fixed and should be closed.

Server was never deleting notes so syncing was way longer that it should be. Fixed in #824.
Copy/pasting was taking ages because of unoptimized behaviour in ckeditor. Fixed in #839.

We can still improve performances using webworker on background side, but this involve important refactoring which will be done i

[2018-03-29 05:04] #783 closed

[2018-03-29 05:09] sebastienbarbier commented on #807
@cedricium Can i quickly fix this one ?

[2018-03-29 05:19] vladikoff commented on #807
@cedricium otherwise if you already have code for this, send a PR and @sebastienbarbier will review.

We are tracking stuff for v4 in here: https://github.com/mozilla/notes/projects/4

[2018-03-29 05:28] cedricium commented on #807
@sebastienbarbier sure thing, go for it!

[2018-03-29 05:51] sebastienbarbier commented on #789
@cedricium Any work done on this one ? Can I suggest something ?

[2018-03-29 06:07] sebastienbarbier commented on #789
Found this amazing library which does everything me : https://github.com/eligrey/FileSaver.js

[2018-03-29 14:42] #789 closed

[2018-03-29 14:44] #807 closed

[2018-03-29 14:48] SoftVision-EmilPasca opened #843 "You are not brought back to the previous Notes view after the sidebar is switched or reopened"
**[Affected versions]:**
- Firefox 59.0.2 and above

**[Affected Platforms]:**
- All Windows
- All Mac
- All Linux

**[Prerequisites]:**
- Have a Firefox profile with the latest version of the "Firefox Notes" add-on (4.0.0 Beta 4) installed.
- Have at least one note in the sidebar.

**[Steps to reproduce]:**
1. Open the browser with the profile from prerequisites.
2. Switch the sidebar to "Bookmar

[2018-03-29 14:49] Softvision-MariusComan opened #844 "The "Firefox Notes" toolbars and buttons do not respect the "Dark" theme colors"
**[Affected versions]:**
- Firefox 59.0.2 and above

**[Affected Platforms]:**
- All Windows
- All Mac
- All Linux

**[Prerequisites]:**
- Have a Firefox profile with the latest version of the "Firefox Notes" add-on (4.0.0 Beta 4) installed.
- Have the "Dark" theme activated from "about:addons>Extensions>Notes".
- A note is opened in the sidebar.
- You must be logged into "Firefox Notes".

**[Step

[2018-03-29 14:51] Softvision-MariusComan opened #845 "The "Disable Sync" option is slightly moved down after the bottom toolbar menu is opened"
**[Affected versions]:**
- Firefox 59.0.2 and above

**[Affected Platforms]:**
- All Windows

**[Prerequisites]:**
- Have a Firefox profile with the latest version of the "Firefox Notes" add-on (4.0.0 Beta 4) installed.
- You must be logged into "Firefox Notes".

**[Steps to reproduce]:**
1. Open the browser with the profile from prerequisites.
2. Click the menu button from the bottom toolbar and

[2018-03-29 14:58] vladikoff commented on #845
Something to do with the css `EMs`

[2018-03-29 14:59] vladikoff commented on #844
cc @cedricium

Almost full dup of https://github.com/mozilla/notes/issues/834 keeping it open

[2018-03-29 14:59] vladikoff commented on #843
@ryanfeeley do you want this?

[2018-03-29 15:22] sebastienbarbier commented on #827
Playing with delete feature, I receive 500 from server (Kinto team actually reported it on github : https://github.com/Kinto/kinto/issues/1557).
One other issue I received was the following error message:
[code]
So hopefully ... handling or fixing those two might solve this problem.

[2018-03-29 16:25] vladikoff opened #846 "TypeError: resolution is undefined on fast `new note creation` and delete"
### [Description]:

[code]

on fast Note syncing...

Related to https://github.com/mozilla/notes/issues/827

[2018-03-29 16:26] vladikoff commented on #846
undefined if there is a conflict on DELETE

[2018-03-29 16:37] cedricium commented on #834
@vladikoff working on these dark theme improvements now.

Not possible - this has [been an issue for a looong time](https://bugzilla.mozilla.org/show_bug.cgi?id=77790) (17 years to be exact lol)

[2018-03-29 16:39] vladikoff commented on #834
@cedricium ah yes, I knew that then forgot, remembered and forgot again. i also saw devtools had a darker sidebar but maybe they are doing some voodoo. No worries then 👍  thanks

[2018-03-29 16:42] vladikoff commented on #834
@cedricium also sources tell me that 2018 is finally gonna be the year of a styled scrollbar (https://bugzilla.mozilla.org/show_bug.cgi?id=1432935), so hopefully we will be able to get this done before the original bug is [old enough to buy alcohol in Canada](https://en.wikipedia.org/wiki/Alcoholic_drinks_in_Canada#Age).

[2018-03-29 18:05] #771 closed

[2018-03-29 18:31] #834 closed

[2018-03-29 18:31] #844 closed

[2018-03-29 22:02] vladikoff commented on #843
from mtg: yea we should try to do our best to re-open where the user was. Not worrying about multi-window too much

[2018-03-29 22:04] vladikoff commented on #833
@sebastienbarbier let's see if we can do this for v4. We couldn't focus the editor on sidebar-open before but it might work with React views

[2018-03-29 22:11] vladikoff commented on #831
Could you check this one?

[2018-03-29 22:51] #827 closed

[2018-03-29 23:28] #845 closed

[2018-03-30 09:11] Softvision-MariusComan commented on #844
This issue is no longer reproducible with the latest version of the "Firefox Notes" add-on (4.0.0 Beta 5 build) installed, on the latest Firefox Release and Nightly. Verified on Windows 10 x64, Mac 10.12 and Ubuntu 14.04 x64.

[2018-03-30 09:50] Softvision-MariusComan commented on #827
This issue is no longer reproducible with the latest version of the "Firefox Notes" add-on (4.0.0 Beta 5 build) installed, on the latest Firefox release and Nightly. Verified on Windows 10 x64, Mac 10.12 and Ubuntu 14.04 x64.

[2018-03-30 09:51] Softvision-MariusComan commented on #845
This issue is no longer reproducible with the latest version of the "Firefox Notes" add-on (4.0.0 Beta 5 build) installed, on the latest Firefox release and Nightly. Verified on Windows 10 x64.

[2018-03-30 12:04] Softvision-MariusComan opened #853 "There is no confirmation message displayed when a note is deleted"
**[Affected versions]:**
- Firefox 59.0.2 and above

**[Affected Platforms]:**
- All Windows
- All Mac
- All Linux

**[Prerequisites]:**
- Have a Firefox profile with the latest version of the "Firefox Notes" add-on (4.0.0 Beta 5) installed.
- Have a note opened in the sidebar.

**[Steps to reproduce]:**
1. Open the browser with the profile from prerequisites.
2. Click the "Menu" button from the r

[2018-03-30 12:21] SoftVision-EmilPasca opened #854 "Space between characters is wrongly increased depending on the sidebar width"
**[Affected versions]:**
- Firefox 59.0.2 and above

**[Affected Platforms]:**
- All Windows
- All Linux

**[Prerequisites]:**
-Have a Firefox profile with the latest version of the "Firefox Notes" add-on (4.0.0 Beta 5) installed.
- Have at least one note in the sidebar.

**[Steps to reproduce]:**
1. Open the browser with the profile from prerequisites.
3. Adjust the width of the sidebar to differ

[2018-03-30 12:26] Softvision-MariusComan opened #855 "[Enhancement] A new note should be created when text is dragged in the list view mode"
**[Notes]:**
- If the "Send to Notes" context option is used under the same circumstances, then the text is displayed in the sidebar as a new note. Considering this we think that we should do the same for the drag and drop action.

**[Affected versions]:**
- Firefox 59.0.2 and above

**[Affected Platforms]:**
- All Windows
- All Mac
- All Linux

**[Prerequisites]:**
- Have a Firefox profile with t

[2018-03-30 14:35] Softvision-MariusComan opened #856 "The "Undo" context menu option is wrongly grayed out if text is pasted/dragged/sent to the sidebar"
**[Affected versions]:**
- Firefox 59.0.2 and above

**[Affected Platforms]:**
- All Windows
- All Mac
- All Linux

**[Prerequisites]:**
- Have a Firefox profile with the latest version of the "Firefox Notes" add-on (4.0.0 Beta 5) installed.
- Have a note opened in the sidebar.
- Have a website opened.

**[Steps to reproduce]:**
1. Open the browser with the profile from prerequisites and select an

[2018-03-30 15:24] mixedpuppy commented on #832
A change in notes 4 is that:

- it loads /sidebar/index.html,
- changes the url to /sidebar/index.html#/
- when you use the context menu it loads /sidebar/index.html.

Since the last no longer matches, a forced reload occurs.

The real fix should be to rely on the connected status.  I've provided a patch that fixes notes4

https://gist.github.com/mixedpuppy/61bfc082fff115c851ea5449d2c6343f

[2018-03-30 15:31] cedricium commented on #856
I was able to reproduce, but also when typing or removing text the "Undo" is always grayed out as well. I found an issue from the W3C - https://github.com/w3c/editing/issues/150 - which calls for the removal of the browser "Undo" option and CKEditor was listed as supporting this.

CKeditor5-undo has an open issue for handling system undo - https://github.com/ckeditor/ckeditor5-undo/issues/67

It d

[2018-03-30 15:39] vladikoff commented on #832
thank you @mixedpuppy

[2018-03-31 15:35] vladikoff commented on #832
@mixedpuppy @sebastienbarbier I submit a PR here https://github.com/mozilla/notes/pull/857

However it is not working well.
![n](https://user-images.githubusercontent.com/128755/38164773-6eb32efa-34d7-11e8-8f72-c8151dad827f.gif)

We have behaviour where if you are in the Notes LIST then it should create a new note from selection, if you have a Note Open then it should add to it.

@sebastienbarbier

[2018-03-31 15:35] vladikoff commented on #832
We could also consider pulling this feature out of v4 due to instability

[2018-03-31 16:07] vladikoff commented on #832
@sebastienbarbier fyi you have to start the thing with ` npx web-ext run -s build  --firefox=nightly` (make sure it is nightly to see broken behaviour)

[2018-04-02 03:49] sebastienbarbier commented on #832
Should be good, pushed a fix in PR can you test and review ?

[2018-04-02 12:02] SoftVision-EmilPasca opened #858 "The Notes List is not correctly synchronized across Firefox profiles when a note is deleted"
**[Affected versions]:**
- Firefox 59.0.2 and above

**[Affected Platforms]:**
- All Windows
- All Mac
- All Linux

**[Prerequisites]:**
- Have two Firefox profiles with the latest Notes version (4.0.0 Beta 5) enabled.
- You must be logged with the same "Firefox Notes" account on both profiles.
- Make sure you have the same notes in the "Note List" View on both profiles.

**[Steps to reproduce]:**

[2018-04-02 14:53] Softvision-MariusComan opened #859 "The "Sign In" window is not closed when the "Cancel Setup" option is clicked"
**[Notes]:**
- If the "Log In" window is not closed, when you will try logging in again, the "Your connection is not secure" message will be wrongly displayed in the "Log In" window.

**[Affected versions]:**
- Firefox 59.0.2 and above

**[Affected Platforms]:**
- All Windows
- All Mac
- All Linux

**[Prerequisites]:**
- Have a Firefox profile with the latest version of the "Firefox Notes" add-on

[2018-04-02 14:57] vladikoff commented on #859
Yeah I have looked at this before, I don't think we have an API to close this window :(

This is the only api we have: https://developer.mozilla.org/en-US/Add-ons/WebExtensions/API/identity/launchWebAuthFlow  Which is `launching` only.

@mixedpuppy, any ideas? I was thinking we can call a `win.close()` if `launchWebAuthFlow` gave us a Window, but it's a Promise.

[2018-04-02 15:02] SoftVision-EmilPasca commented on #417
Filled this isssue into bugzilla: [bugzilla 1450684](https://bugzilla.mozilla.org/show_bug.cgi?id=1450684)

[2018-04-02 15:08] Softvision-MariusComan opened #860 "The "Disable Sync" option does not have any hover effect, if the "Notes" dark theme is activated"
**[Affected versions]:**
- Firefox 59.0.2 and above

**[Affected Platforms]:**
- All Windows
- All Mac
- All Linux

**[Prerequisites]:**
- Have a Firefox profile with the latest version of the "Firefox Notes" add-on (4.0.0 Beta 5) installed.
- Have the sidebar opened.
- You are logged into "Firefox Notes".
- Have the "Dark" theme activated from "about:addons>Extensions>Notes".

**[Steps to reprodu

[2018-04-02 15:08] Softvision-MariusComan opened #861 "The title of a note is wrongly displayed if the note contains only a list"
**[Affected versions]:**
- Firefox 59.0.2 and above

**[Affected Platforms]:**
- All Windows
- All Mac
- All Linux

**[Prerequisites]:**
- Have a Firefox profile with the latest version of the "Firefox Notes" add-on (4.0.0 Beta 5) installed.
- Have the sidebar opened.
- Have a blank note opened.

**[Steps to reproduce]:**
1. Open the browser with the profile from prerequisites and click the "Bulle

[2018-04-02 15:14] vladikoff commented on #861
@ryanfeeley can you confirm what this should do again?

was it supposed to be `test test test` ?

[2018-04-02 17:04] mixedpuppy commented on #859
Not much we can do here.  I'm not sure why a cancel is in the ui at this stage when it couldn't do anything in the first place.  Bug 1320862 would possibly let you address it better.

[2018-04-02 17:07] vladikoff commented on #859
@mixedpuppy Thanks for the quick response!

@sebastienbarbier I think we should pull the `Cancel Setup` button then

[2018-04-02 18:25] mixedpuppy commented on #859
Just a thought.  If there is more to the setup than auth, you could introduce the button once the auth promise is resolved.

[2018-04-03 02:36] #832 closed

[2018-04-03 05:57] sebastienbarbier commented on #861
I did fix this exact issue with the content summary 🤣. Let me check this should take a second to fix.

[2018-04-03 06:11] sebastienbarbier commented on #861
@ryanfeeley: I did implement same as content formating.

![formattitle](https://user-images.githubusercontent.com/3018618/38232240-64a0d2d0-3740-11e8-8827-8dc9a1010d12.gif)

[2018-04-03 07:13] sebastienbarbier commented on #854
Interesting, shouldn't this text be bold after some refactoring we did couple of weeks ago ? @ryanfeeley can you confirm ?

[2018-04-03 07:19] HydrophobaHalibut opened #866 "Cannot not input any "notes" into the the "notes" panel"
### [Description]:Cannot not input any "notes" into the the "notes" panel!

### [Affected versions]:

### [Prerequisites]:

### [Steps to reproduce]:open notes sidebar, try to input notes into notes sidebar, fine no operable input field into which to do so, give up.

### [Expected result]:expect to be able to input notes into some form of input field

### [Actual result]: dead space, unresponsive

[2018-04-03 07:40] sebastienbarbier commented on #854
Tried to refactor using a fix block horizontally centred instead of a full width block being resized and having text-align centred. Also a defined `letter-spacing` value do not help.
We can notice same behaviour in footer.

![letterspacingfooter](https://user-images.githubusercontent.com/3018618/38235811-9b55d36e-374c-11e8-8de7-d038a3eecc25.gif)

Any one got inspiration ? I would suggest to create

[2018-04-03 07:52] sebastienbarbier commented on #866
Wow that's an extreme situation, I don't recall such issue yet. @HydrophobaHalibut do you have some info about how this occur ? Which version of Firefox are you using, how did you install the notes addon ? best would be if you could copy/paste logs you are having when starting the addon.

To see them, you need to open `Browser Toolbox` in toolbar menu : `Tools` > `Web developer` > `Browser Toolbox

[2018-04-03 08:59] Softvision-MariusComan commented on #832
This issue is no longer reproducible with the latest version of the "Firefox Notes" add-on (4.0.0 Beta 6 build) installed, on the latest Firefox Release and Nightly. Verified on Windows 10 x64, Mac 10.12 and Ubuntu 14.04 x64.

[2018-04-03 09:05] Softvision-CristinaBadescu opened #867 "The text from the "Welcome to Firefox Notes!" default note wrongly remains in the sidebar after the "New Note" button is clicked from the sidebar's header menu"
**[Affected versions]:**
- Firefox 59.0.2 and above

**[Affected Platforms]:**
- All Windows
- All Mac
- All Linux

**[Prerequisites]:**
- Have a Firefox profile with the latest version of the "Firefox Notes" add-on (3.2.0dev) installed.
- Have Firefox Notes sidebar open.

**[Steps to reproduce]:**
1. Open the browser with the profile from prerequisites.
2. Click the "Welcome to Firefox Notes!" de

[2018-04-03 10:18] #861 closed

[2018-04-03 10:20] vladikoff commented on #854
I think this is caused by CSS transitions, but will have to check

[2018-04-03 10:21] vladikoff commented on #833
Good find! we might be able to fix that

[2018-04-03 13:13] SoftVision-CiprianMuresan opened #868 "After updating to 4.0, the first created Note's timestamp is wrongly updated and its position moved when a different note is deleted"
[Affected versions]:
- Firefox 59.0.2 and above

[Affected Platforms]:
- All Windows
- All Mac
- All Linux

[Prerequisites]:
- Have the Test Pilot version of the "Firefox Notes" add-on installed on a clean new Firefox profile.
- Have Firefox Notes sidebar open.
- Have the "xpinstall.signatures.required" pref set to false.

[Steps to reproduce]:
1. Open the browser with the profile from prerequisit

[2018-04-03 13:32] ryanfeeley commented on #866
@sebastienbarbier This happens to many users. I usually tag this feedback as a "Performance & Stability" issue in our etherpad doc. Very critical problem.

[2018-04-03 13:57] ryanfeeley commented on #861
Correct. Only the first line should be shown in the title. Subsequent lines can appear in the second line excerpt on the list view.

[2018-04-03 14:19] sebastienbarbier opened #869 "When opening a note, set focus act weird."
### [Description]:
When displaying a note, editor get focus but add an empty line. Also seams like not being properly aligned on ckeditor

### [Affected versions]:
Master branch (v4.0.0-beta.6) on Mac OS

### [Steps to reproduce]:
Open a note.

### [Expected result]:
Get focus

### [Actual result]:
Get focus but add empty line

### [Additional Notes]:
![setfocus](https://user-images.githubusercont

[2018-04-03 14:30] Softvision-MariusComan commented on #869
I was investigating the same issue and I've found out that this behavior is reproducible only on the Release channel. Considering this using the Mozregression tool I've found a regression window:

First good revision: 575562183a3bc245c50dcf45d8dc21043b4565ae
Last bad revision: 490f87831c110acaa3eb966679ad94a1eaf51dd9
Pushlog:
https://hg.mozilla.org/integration/autoland/pushloghtml?fromchange=490f8

[2018-04-03 14:41] vladikoff commented on #843
Pulling this out of v4, @SoftVision-EmilPasca let us know if this is critical

[2018-04-03 14:41] Softvision-MariusComan opened #871 "Text cannot be undo-ed after using the "Send to Notes" option"
**[Affected versions]:**
- Firefox 59.0.2 and above

**[Affected Platforms]:**
- All Windows
- All Mac
- All Linux

**[Prerequisites]:**
- Have a Firefox profile with the latest version of the "Firefox Notes" add-on (4.0.0 Beta 5) installed.
- The "Firefox Notes" sidebar is opened in the note view mode.
- Have any website opened.

**[Steps to reproduce]:**
1. Open the browser with the profile from

[2018-04-03 14:45] vladikoff commented on #871
Out of v4

[2018-04-03 14:47] vladikoff commented on #860
Out of v4 unless @cedricium will have time

[2018-04-03 14:49] vladikoff commented on #859
Out of v4, we can clean the ui with "Cancel Setup", but we cannot close windows

[2018-04-03 14:49] vladikoff commented on #856
Out of V4

[2018-04-03 14:50] vladikoff commented on #855
Out of v4 for now

[2018-04-03 14:50] vladikoff commented on #853
Out of v4

[2018-04-03 14:51] vladikoff commented on #853
@ryanfeeley can add some designs for this in a bit

[2018-04-03 14:51] vladikoff commented on #854
Out of v4 for now

[2018-04-03 15:28] cedricium commented on #860
@vladikoff  I can work on this - mind updating `ckbuilt` branch?

[2018-04-03 15:39] SoftVision-EmilPasca commented on #843
I don't think this is necessary a critical issue. However, this issue could be quite annoying for users who are frequently navigating through different sidebars or who might have other sidebar addons enabled such as tab center redux.
@ryanfeeley @johngruen any thoughts on this?

[2018-04-03 15:40] vladikoff commented on #860
@cedricium will do! I will let you know when that is done

[2018-04-03 17:45] ryanfeeley commented on #853
Following our copy conventions established by existing strings:

RENAME MENU ITEM
* Delete Note… (add the ellipsis as the action is now reviewable)

CONFIRMATION DIALOG COPY
* Are you sure you want to delete this note?

PRIMARY BUTTON
* OK

SECONDARY BUTTON
* Cancel

[2018-04-03 18:14] #833 closed

[2018-04-03 18:14] #869 closed

[2018-04-03 18:17] #831 closed

[2018-04-03 18:57] vladikoff opened #872 ""Send to Notes" creates a new note but does not sync the new note"
@sebastienbarbier see https://github.com/mozilla/notes/commit/c420ae8d26dc706f74d7a5dab704d666ef13a524#diff-4e21b49273243fca121200053b009515R114

I had to make the change to update the synced status in that PR but it doesn't actually send the new note to kinto. What should we use there?

[2018-04-03 18:57] vladikoff commented on #867
should now be fixed , will be in the next beta

[2018-04-03 18:57] #867 closed

[2018-04-03 18:58] vladikoff commented on #858
Should be fixed in the next beta

[2018-04-03 19:12] vladikoff opened #873 "Upgrading from Notes 3 to Notes 4 creates a "welcome note""
### [STR]:

* Install stable notes from https://testpilot.firefox.com/experiments/notes/
* Type `wow notes` into the single note window

* Side-load Notes v4 using `about:debugging`

### [Actual]

* Add-on shows welcome note
* Going back the notes list I see 2 notes

### [Expected]

* Only my note should appear
(Should not see Welcome as an existing user)

![image](https://user-images.githubuserco

[2018-04-03 19:14] vladikoff commented on #873
Sort of related to https://github.com/mozilla/notes/issues/868

[2018-04-03 20:13] HydrophobaHalibut commented on #866
Yes, I think so. I’ve got a “Notes” sidebar heading, with a dropdown menu (apparently for the option of using the sidebar for another purpose: “Bookmarks”, “History”, “Synced Tabs”, “Notes”. “uBlock Logger”, “Move sidebar to right”, and “Close Sidebar” are the dropdown choices listed there).
But aside from the word “Notes” and the caret beside it that opens the dropdown menu, the entire “sidebar”

[2018-04-03 20:16] vladikoff commented on #866
@HydrophobaHalibut If you switched between Nightly and Stable firefox builds that could break your profile storage. there are some workarounds in that bug on how to fix that. This can also be caused by other issues

[2018-04-03 21:36] vladikoff opened #875 "Change welcome text for sync"
### [Expected result]:

"Sign in to Sync"

### [Actual result]:

"Sync Your Notes"

[2018-04-03 21:39] vladikoff commented on #875
Also fix "Verify your account"

[2018-04-04 04:51] vladikoff opened #877 ""Send to Notes" doesn't add text if note is empty after pressing "+ New Note""
### [Description]:

![a](https://user-images.githubusercontent.com/128755/38289046-37fcb246-37a2-11e8-824a-bed95facc40f.gif)

# STR

* Press "New Note"
* Do not enter any text, use "Send to Notes"

[2018-04-04 04:51] vladikoff commented on #877
Could be related to https://github.com/mozilla/notes/issues/872

[2018-04-04 12:41] vladikoff commented on #860
@cedricium Hey! I force pushed to https://github.com/mozilla/notes/commits/ckbuilt

So delete the branch locally and pull it again, don't forget to `npm install` after that

[2018-04-04 13:38] sebastienbarbier commented on #877
Ouuuh well done finding this one! It actually create a note outside of the editor. Bug caused by refactoring deleting process in beta.6. Not sure how to fix let me give a look.

[2018-04-04 13:56] vladikoff opened #879 "Upgrading from Notes v3 to v4 while synced crashes the notepad"
### [Description]:

![upgrade](https://user-images.githubusercontent.com/128755/38311947-68ec5cac-37ee-11e8-969c-8656518d2aab.gif)

[2018-04-04 15:24] vladikoff commented on #833
Yay!

[2018-04-04 15:24] Softvision-CristinaBadescu commented on #867
The issue is no longer reproducible using Firefox Notes v3.2.0dev (custom built on 2018-04-04), on latest Nightly build 61.0a1 (2018-04-04), on Windows 10 x64, Mac 10.13.3 and Ubuntu 14.04 x64.

[2018-04-04 15:48] #873 closed

[2018-04-04 15:53] #879 closed

[2018-04-04 16:17] #877 closed

[2018-04-04 17:16] #860 closed

[2018-04-05 01:27] vladikoff opened #886 "Implement FxA profile styling, layout"
**Drop the [ ... ] menu for now**

Menu items:

* Notes
* Give feedback
* Sign out

Rough mock up

![image](https://user-images.githubusercontent.com/128755/38342861-cd617f72-384e-11e8-9067-82d2b6bc9cc6.png)

[2018-04-05 01:29] vladikoff opened #887 "Implement "Last Synced" footer in the navigation drawer"
Let's use the same time format we use in the web extension, instead of "24h ago"

![image](https://user-images.githubusercontent.com/128755/38342919-2f17b75e-384f-11e8-8338-4b5b6b319bd0.png)

[2018-04-05 01:40] vladikoff opened #888 "Implement Mobile List Style"
### [Description]:

For now maybe we can reuse the same timestamp as WebExtension Desktop Notes

![image](https://user-images.githubusercontent.com/128755/38343244-bbcb2072-3850-11e8-8ac3-b9007dbd42fe.png)

[2018-04-05 01:41] vladikoff opened #889 "Implement New Note on Mobile"
### [Description]:

![image](https://user-images.githubusercontent.com/128755/38343266-d7aefb9c-3850-11e8-93a2-075fefcd353c.png)

As of right now the FAB is also not aligned properly :(

[2018-04-05 01:43] vladikoff opened #890 "Implement Editor layout on Mobile"
### [Description]:

**No Editor buttons in the MVP**

![image](https://user-images.githubusercontent.com/128755/38343293-0cff94f0-3851-11e8-9679-dc261f3ff815.png)

[2018-04-05 01:45] vladikoff opened #891 "Implement "Offline Mode""
### [Description]:

Basically what happens when you turn on Airplane mode on

See "Offline" indicator in the editor:

![image](https://user-images.githubusercontent.com/128755/38343359-7f617f4a-3851-11e8-884c-e941739b97ca.png)

[2018-04-05 01:46] vladikoff commented on #886
"FAB color: #4173CE App bar: #F9F9FA, Status bar: #EDEDEE"

[2018-04-05 01:47] vladikoff commented on #889
"FAB color: #4173CE App bar: #F9F9FA, Status bar: #EDEDEE"

[2018-04-05 01:48] vladikoff opened #892 "Add Kinto "PUT" to Notes on mobile"
### [Description]:

Need to be able to Save notes from mobile

[2018-04-05 01:49] vladikoff opened #893 "Metrics for the Mobile App"
### [Description]:

Should we just use as many events as possible from the WebExtension version but with a `mobile` flag

[2018-04-05 01:49] vladikoff opened #894 "Add GA to Mobile"
### [Description]:

Need to add a Google analytics library to the app

[2018-04-05 01:50] vladikoff opened #895 "Try to add L10N to Mobile"
### [Description]:

L10N process should take strings from the existing source and convert them to Android format

[2018-04-05 01:51] vladikoff opened #896 "Locally cache Notes using AsyncStorage"
See https://facebook.github.io/react-native/docs/asyncstorage.html

Needed for Offline viewing.

[2018-04-05 01:53] vladikoff opened #897 "Make "Give Feedback" work in Mobile"
### [Description]:

This should open the system browser with mobile params, so we know that user added feedback from mobile

[2018-04-05 01:55] vladikoff opened #898 "Ability to delete Notes from Mobile"
We might be able to use one of these for delete "confirmation": https://callstack.github.io/react-native-paper/dialog.html

Delete would go here (top right corner menu):
![image](https://user-images.githubusercontent.com/128755/38343601-e2ed7d9c-3852-11e8-98f4-17d54e8841d1.png)

[2018-04-05 02:30] vladikoff opened #899 "Mobile: What to show when there are no notes"
@antlam what should we do in the mobile app when there are no notes?

No notes synced down from WebExtension or the user never used the WebExtension

* Show a "Welcome Note" / create one for them
* Tell users to go install Test Pilot extension?
* Other ideas?

### [Current view]:

![image](https://user-images.githubusercontent.com/128755/38344422-882a3d46-3857-11e8-9d77-aa8691c38d02.png)

[2018-04-05 02:33] vladikoff opened #900 "Connect Mobile app to production servers"
### [Description]:

Need to switch to prod kinto and FxA

[2018-04-05 07:43] Softvision-MariusComan commented on #860
This issue is no longer reproducible with the latest version of the "Firefox Notes" add-on (4.0.0rc1 build) installed, on the latest Firefox release and Nightly. Verified on Windows 10 x64, Mac 10.12 and Ubuntu 14.04.

[2018-04-05 08:58] Softvision-MariusComan opened #901 "The sidebar wrongly flickers when the "Firefox Notes" toolbar button is clicked"
**[Affected versions]:**
- Firefox 60 and above

**[Affected Platforms]:**
- All Windows
- All Mac
- All Linux

**[Prerequisites]:**
- Have a Firefox profile with the latest version of the "Firefox Notes" add-on (4.0.0 RC1) installed.
- Have the sidebar opened.

**[Steps to reproduce]:**
1. Open the browser with the profile from prerequisites.
2. Click the "Firefox Notes" toolbar button and observ

[2018-04-05 10:32] vladikoff commented on #901
Ah, this bug comes back all the time, but i think i know how to fix it up , \o/

Thank you Marius

[2018-04-05 14:25] #901 closed

[2018-04-05 14:26] sebastienbarbier commented on #858
Ooooh I see, I just realised this issue occured between two different Firefox profile, which is not what I was testing 😱. Sorry, misread it. Will do some test.

[2018-04-05 14:28] vladikoff commented on #858
Updating issue title to clarify

[2018-04-05 16:13] antlam commented on #899
Good question!

@ryanfeeley and I were talking about this. Especially since all users default to having 1 note in Desktop. That also creates some extra cases for us.

When there are no notes at all I think we could at least show a screen with an image and some text as a more delightful empty state. I can work on a placeholder design for you in the meantime.

Will post in a bit!

[2018-04-05 16:59] antlam commented on #899
![screen shot 2018-04-05 at 9 58 29 am](https://user-images.githubusercontent.com/1994820/38380233-fc6f724c-38b7-11e8-977b-3b2768d12881.png)

@vladikoff

[2018-04-05 16:59] vladikoff commented on #899
@antlam thank you so much!

[2018-04-05 18:31] ryanfeeley opened #904 "Use Quill icons for text formatting"
They match our [iconography guidelines](https://design.firefox.com/photon/visuals/iconography.html) more closely than the current CKEditor icons.

Here are the ones we currently use.

[Archive.zip](https://github.com/mozilla/notes/files/1881240/Archive.zip)

[2018-04-05 18:56] ryanfeeley commented on #899
For inspiration: https://material.io/guidelines/patterns/empty-states.html#empty-states-avoiding-completely-empty-states

[2018-04-05 18:58] antlam commented on #899
@vladikoff just FYI I'm also going to ping out Content Strategy team to see if we can get an illustration going for this page, so I'll keep you posted.

If we can, it will just add to this with an image on top of the text.

[2018-04-05 19:01] vladikoff commented on #899
@ryanfeeley @antlam sounds great 👍

[2018-04-05 22:28] vladikoff opened #905 "Add Android app build to CI"
### [Description]:

https://docs.travis-ci.com/user/languages/android/

[2018-04-06 11:25] sebastienbarbier commented on #858
After many investigations, seams like we do not implement kinto.js **sync process** properly.

Our sync does not send on request the `_since` parameter _(which should be automatically managed)_ so as a result we always retrieve the entire list instead of only the differences.

On delete, server create a **tombstone** which confirm it is properly handled, but those are only returned if a `_since` p

[2018-04-06 12:49] vladikoff commented on #858
cc @natim

[2018-04-06 12:57] vladikoff commented on #858
@Natim === 🚒👨‍🚒🎇

[2018-04-06 13:16] glasserc commented on #858
Yes, based on the feedback I got when implementing chrome.storage.sync, I re-used some of the ideas here, namely that we encrypt tombstones to not leak info about what notes were deleted. (It might not have really been necessary but I had the code so I thought I would just go for it.) If we aren't sending `?_since`, that's very strange and something to investigate, but the absence of tombstones sh

[2018-04-06 13:33] vladikoff commented on #858
@sebastienbarbier let's not block on it for now

[2018-04-06 13:33] ryanfeeley commented on #899
This is less of a problem on desktop at the "New Note" is on top.

[2018-04-06 13:33] vladikoff commented on #899
@ryanfeeley plus we have a Welcome Note :)

[2018-04-06 14:03] sebastienbarbier commented on #858
@glasserc we had to change the default blob deleting behavior because of multi note reaching quota too quickly. I agree would have been nice to keep it as it was, but i feld like this would have been pricy to load everything for mobile and slow bandwidth.

[2018-04-06 14:09] glasserc commented on #858
Ah OK, that's interesting. Sorry then, I have no idea what's going on.

[2018-04-06 14:26] ryanfeeley commented on #899
@vladikoff We would also have the name welcome note on android, no?

[2018-04-06 14:43] vladikoff commented on #858
Couple of proposed solutions and items to keep track of:

* Keep track of LIVE notes, ignore tombstones. If there is a note that is not LIVE then delete it on sync
* Do the "tombstone thing" and sync delete events

Scenarios to test:

"work / home sync", "mobile app sync", "upgrade from v4 to v4.1, what happens to the users when they get the fix?"

[2018-04-06 15:06] Natim commented on #858
It is not really about keeping track of LIVE notes, it is more setting `content = encrypted('{"deleted": true}')`

[2018-04-06 15:07] Natim commented on #858
I would be in favour of using the real tombstones too.

[2018-04-06 15:08] vladikoff commented on #858
content = encrypted('{"deleted": true}')

[2018-04-06 15:09] vladikoff commented on #858
content = encrypted('{"deleted": true}')

If I understand this correctly then it sounds good :)

[2018-04-06 15:11] Natim commented on #858
I opened sync.js I see things :( I am really worry about.

[2018-04-06 16:11] antlam commented on #899
I'm confused.

I thought that notes were synced? Given that, they can also be erased. So we still need a design for this. Maybe we should take this discussion onto Slack to clear up?

[2018-04-06 16:37] ryanfeeley commented on #802
@vladikoff @sebastienbarbier Is that dialog copy + the Reconnect to Sync footer style appropriate?

[2018-04-06 17:27] ryanfeeley commented on #899
@antlam OK, join #notes on Slack.

[2018-04-08 03:18] vladikoff opened #910 "Figure out localization for the mobile app"
Hey @flodolo,

I'm trying to figure out how to add localization to the mobile app.

So far I found this module https://github.com/AlexanderZaytsev/react-native-i18n#installation that uses i18n-js ( https://github.com/fnando/i18n-js ) library. I assume we would need to convert the pontoon format to that.

I will look into alternative solutions as well. Let me know if you have any suggestions.

[2018-04-08 03:25] #894 closed

[2018-04-08 03:26] vladikoff opened #911 "Implement all GA events"
* Implement all GA events from metrics doc
* Set prod id for GA and Sentry

[2018-04-08 05:10] flodolo commented on #910
Since you're looking into React, you should check if you can use Fluent, and chat with @stas or @pike for any questions. A couple of links:
* [Fluent](http://projectfluent.org/)
* [fluent-react](https://github.com/projectfluent/fluent.js/)

[2018-04-08 15:03] #688 closed

[2018-04-09 02:32] vladikoff opened #916 "Add Android App Icon"
Hey @antlam,

We don't have an app icon, the only graphic we have is this:
<img src=https://user-images.githubusercontent.com/128755/38476587-878614aa-3b7c-11e8-950a-6b6ae48635e1.png width=200 />

What should we do for Android? Also does the 'blue' in that icon match your 'app blue' colour? (should it match?)

[2018-04-09 06:47] sebastienbarbier commented on #858
I just managed to solve that issue by managing `lastModified` manually as options of sync method. 🎉.
[code]
Will propose a PR later today.

[2018-04-09 14:43] vladikoff opened #918 "Add promotion for the mobile app in the webextension"
Maybe a single notification?
and a link in the meatball

[2018-04-09 15:28] vladikoff commented on #896
Kinto does this now, with SQLIte

[2018-04-09 15:28] #896 closed

[2018-04-09 15:33] vladikoff opened #919 "Use redux for profile data"
@sebastienbarbier it's a bit sketchy right now:

https://github.com/mozilla/notes/blob/master/native/app/components/DrawerItems.js#L61-L67

and doesn't update on change thing

Here's where we save the creds:

https://github.com/mozilla/notes/blob/master/native/app/vendor/fxa-utils.js#L72

[2018-04-09 16:58] antlam commented on #916
Let me reach out to the team that helped us with the Focus and Fennec icons to get us something... stay tuned!

[2018-04-09 18:18] vladikoff opened #920 "Remove welcome note if it wasn't changed on login to sync"
![image](https://user-images.githubusercontent.com/128755/38514926-8cf5797e-3c00-11e8-862c-8ca7001ca04b.png)

@sebastienbarbier for users who log in on different machines many times, they will get many "Welcome to Notes" notes and have to delete them.

might be a useful fix for the mobile app as well

[2018-04-09 18:18] vladikoff commented on #920
Setting this as non-blocking for v4

[2018-04-09 18:26] #858 closed

[2018-04-09 18:26] #872 closed

[2018-04-09 18:46] vladikoff opened #921 "Ability to update notes from mobile"
Changes made to the note in the webview should be pushed to Kinto server

Ref: https://github.com/mozilla/notes/issues/898

[2018-04-10 03:25] vladikoff commented on #889
FAB is now aligned properly, but need to hook up Kinto

[2018-04-10 03:25] vladikoff commented on #888
@sebastienbarbier instead of '1 min' use the same format as the WebExtension if we can.

[2018-04-10 03:26] vladikoff commented on #897
This is done

[2018-04-10 03:26] #897 closed

[2018-04-10 03:29] vladikoff commented on #887
@sebastienbarbier we are using this module for the icons: https://github.com/oblador/react-native-vector-icons

Only the `MaterialIcons` (by Google, Inc. (v3.0.1, 932 icons)) are working right now. You can search them here: https://materialdesignicons.com/

Use the ones that are WITHOUT the orange border:
![image](https://user-images.githubusercontent.com/128755/38534728-c3da83ba-3c4d-11e8-9dc7-d8

[2018-04-10 03:29] vladikoff commented on #887
The ones with the border are "community pack" which is not working at the moment

[2018-04-10 03:29] vladikoff commented on #892
Updated bug is here https://github.com/mozilla/notes/issues/921

[2018-04-10 03:29] #892 closed

[2018-04-10 08:41] Softvision-MariusComan commented on #901
This issue is no longer reproducible with the latest version of the "Firefox Notes" add-on (4.0.0 RC2 build) installed, on the latest Firefox release and Nightly. Verified on Windows 10 x64, Mac 10.13 and Ubuntu 14.04 x64.

[2018-04-10 11:51] Softvision-MariusComan opened #924 "Selected text is wrongly deleted when the "Windows" key is pressed"
**[Affected versions]:**
- Firefox 59.0.2 and above

**[Affected Platforms]:**
- All Windows
- All Linux

**[Prerequisites]:**
- Have a Firefox profile with the latest version of the "Firefox Notes" add-on (4.0.0 RC2) installed.
- Have "Firefox Notes" opened in the note view.
- Have content in the sidebar.

**[Steps to reproduce]:**
1. Open the browser with the profile from prerequisites.
2. Selec

[2018-04-10 13:01] Softvision-MariusComan opened #925 "Only the first level from a multileveled list is pasted into the "Firefox Notes" sidebar"
**[Affected versions]:**
- Firefox 59.0.2 and above

**[Affected Platforms]:**
- All Windows
- All Mac
- All Linux

**[Prerequisites]:**
- Have a Firefox profile with the latest version of the "Firefox Notes" add-on (4.0.0 RC2) installed.
- Have "Firefox Notes" opened in the note view.
- Have a multilevel list copied to the clipboard (https://goo.gl/uj5FT2).

**[Steps to reproduce]:**
1. Open the

[2018-04-10 13:16] vladikoff commented on #925
Could you try it on https://ckeditor5.github.io ?

[2018-04-10 15:50] vladikoff commented on #924
@Softvision-MariusComan  hey, can you repro this on https://ckeditor5.github.io/ ?

[2018-04-10 15:54] Softvision-MariusComan commented on #924
Yes, this behavior is also reproducible on https://ckeditor5.github.io/.

[2018-04-10 15:59] Softvision-MariusComan commented on #925
I have tested this issue on https://ckeditor5.github.io/ and it seems that the behavior is a little bit different. On the "CKEditor" website only the content from the first levels is pasted, without the bullets or numbers and it is pasted backwards from the third line to the first one.
I've attached a screen recording:
![rec of the issue](https://user-images.githubusercontent.com/31243259/38568409

[2018-04-10 16:00] vladikoff commented on #924
Filed https://github.com/ckeditor/ckeditor5/issues/955

[2018-04-10 16:12] vladikoff commented on #925
Filed https://github.com/ckeditor/ckeditor5/issues/956

[2018-04-10 17:54] vladikoff opened #926 "Implement Snackbar notification for Notes Deleted"
For Delete and Synced

**We should be able to use this: github.com/callstack/react-native-paper/pull/305/files**

******

![image](https://user-images.githubusercontent.com/128755/38574319-8d2c3a42-3cc6-11e8-852f-f1f659aca723.png)

![image](https://user-images.githubusercontent.com/128755/38574351-a02e50d0-3cc6-11e8-89b5-c5610155a54a.png)

[2018-04-10 17:57] vladikoff commented on #926
Material design spec for this: https://material.io/guidelines/components/snackbars-toasts.html#snackbars-toasts-usage

[2018-04-10 18:02] HydrophobaHalibut commented on #866
I don't know if i replied to the most recent replies to my question (I'm new to this Github forum format).
Yes, all i see is a blank panel (with a "Notes" icon, the word "Notes", and a drop-down carat symbol).
Yes i think it's probably the same as described in issue #512 .
No, i don't think I've switched between Nightly and Stable builds. I don't think I've ever installed the Nightly build at all.

[2018-04-10 18:03] vladikoff commented on #512
Yes, all i see is a blank panel (with a "Notes" icon, the word "Notes", and a drop-down carat symbol).
Yes i think it's probably the same as described in issue #512 .
No, i don't think I've switched between Nightly and Stable builds. I don't think I've ever installed the Nightly build at all. The edition i'm running is 59.0.2 (64-bit).
However, a while back i did uninstall it a couple times, reins

[2018-04-10 18:04] vladikoff commented on #866
@HydrophobaHalibut let's continue with that in https://github.com/mozilla/notes/issues/512

[2018-04-10 18:04] #866 closed

[2018-04-10 18:06] vladikoff commented on #512
@HydrophobaHalibut could you run this test: https://firefox-storage-test.glitch.me/ and report results

[2018-04-10 18:08] vladikoff commented on #866
@HydrophobaHalibut left a comment for you in https://github.com/mozilla/notes/issues/512#issuecomment-380194795

[2018-04-10 18:44] ApsOps commented on #512
I know you didn't ask me for the test, but I'm seeing a blank notes panel as well, and these results have left me scared 😐

<img width="728" alt="image" src="https://user-images.githubusercontent.com/2363074/38576946-37a57e7e-3d1d-11e8-8b0e-4db173a08d91.png">

[2018-04-10 18:50] ryanfeeley opened #927 "Lighten bottom border of notes in list view"
The bottom of the New Note button and top of Sign in to Sync should remain the same, but let's use Grey 20 (#ededf0) for the bottom border of notes in the list view.
https://design.firefox.com/photon/visuals/color.html#grey

![border](https://user-images.githubusercontent.com/68213/38577237-55d7fb46-3cce-11e8-8f15-bd63072ed7c0.png)

[2018-04-10 22:39] #900 closed

[2018-04-11 08:00] ApsOps commented on #512
Looks like it started working with today's release \o/

[2018-04-11 11:58] Softvision-AndreeaCupsa commented on #417
I have tested this issue on latest Firefox (59.0.2) and Nightly (61.0a1) with the "Notes" (version 4.0.0) add-on installed from https://testpilot.firefox.com/.changing the Windows "High Contrast" mode, do not changes "Notes" sidebar's  UI accordingly. The UI of "Notes" sidebar's remains the same, no changes are made to it.

[2018-04-11 12:09] Softvision-AndreeaCupsa opened #931 "[Windows] The "Notes" sidebar's UI do not change accordingly when Windows "High Contrast" is activated"
**[Affected versions]:**
- Firefox 59.0.2 and up

**[Affected Platforms]:**
- All Windows

**[Prerequisites]:**
- Have a Firefox profile with the latest version of the "Firefox Notes" add-on(4.0.0) enabled from https://testpilot.firefox.com/.

**[Steps to reproduce]:**
1. Open the browser with the profile from the prerequisites.
2. Go to Windows High Contrast Settings and change the Windows theme

[2018-04-11 12:10] vladikoff commented on #931
dup of https://github.com/mozilla/notes/issues/417 ?

[2018-04-11 12:10] #931 closed

[2018-04-11 12:21] Softvision-MariusComan opened #932 "The "Notes" toolbar button no longer works in the window where the sidebar was closed, if you open a note in another window and then go back to the list view"
**[Notes]:**
- This behavior is easily encountered when you open a private window because the "Firefox Notes" sidebar is closed by default when the window is opened.

**[Affected versions]:**
- Firefox 59.0.2 and above

**[Affected Platforms]:**
- All Windows
- All Mac
- All Linux

**[Prerequisites]:**
- Have a Firefox profile with the latest version of the "Firefox Notes" add-on (4.0.0) installed

[2018-04-11 13:24] #919 closed

[2018-04-11 13:34] vladikoff commented on #905
This is done in Circle CI

[2018-04-11 13:34] #905 closed

[2018-04-11 14:02] vladikoff commented on #895
Dup of https://github.com/mozilla/notes/issues/910

[2018-04-11 14:02] #895 closed

[2018-04-11 14:43] Softvision-MariusComan opened #933 "The "New Note" string is wrongly displayed as title if you have 20 empty rows before actual text"
**[Affected versions]:**
- Firefox 59.0.2 and above

**[Affected Platforms]:**
- All Windows
- All Mac
- All Linux

**[Prerequisites]:**
- Have a Firefox profile with the latest version of the "Firefox Notes" add-on (4.0.0) installed.
- Have the "Notes" sidebar opened.

**[Steps to reproduce]:**
1. Open the browser with the profile from prerequisites and click the New Note button.
2. Write a word

[2018-04-11 14:45] vladikoff commented on #933
Good find! I hope no one does this in real life, that's just a silly thing to do 😜

[2018-04-11 17:27] ryanfeeley commented on #814
@sebastienbarbier @vladikoff Would be cool to get this and then add a bunch more autoformatting keys. That gives us all the power of GFM and all the UI we need to clear it.

[2018-04-12 17:58] Pomax commented on #789
awesome, thanks!

[2018-04-13 13:32] vladikoff commented on #512
Fixed in v4!

[2018-04-13 13:32] #512 closed

[2018-04-13 15:46] #910 closed

[2018-04-13 20:13] vladikoff opened #935 "Fix Survey in Geckoview version of Focus"
<img src=https://user-images.githubusercontent.com/128755/38755768-f7118cbc-3f34-11e8-8484-b9d76f09d3bd.gif width=250 />

You have to scroll to see the next button. You can get the apk for that browser here: https://tools.taskcluster.net/index/project.focus.android/preview-builds.

One of these: public/app-klar-gecko-aarch64-beta-signed-aligned.apk
public/app-klar-gecko-arm-beta-signed-aligned.apk

[2018-04-14 01:03] sunjam opened #936 "Suggestion: WebDAV support"
It would be great to sync notes via basic [WebDAV](https://en.wikipedia.org/wiki/WebDAV) credentials to my own server.

[2018-04-15 01:14] kekkc opened #937 "New line / Return characters are removed when pasting ASCII text into notes"
### [Description]:
New line / Return characters are removed when pasting ASCII text into notes

### [Affected versions]:
Notes 4.0.0

### [Prerequisites]:

### [Steps to reproduce]:
Try to paste this text into notes:
first line

third line

### [Expected result]:
first line

third line

### [Actual result]:
first line
third line

### [Additional Notes]:

[2018-04-15 01:21] kekkc opened #938 "No option to disable automatic wordwrap & additional spaces"
[Description]:

[Affected versions]:
Notes 4.0.0

[Prerequisites]:

[Steps to reproduce]:
Paste a long ASCII text in notes:
aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
[Expected result]:
Option to disable automatic line break & no additional white spaces
[Actual result]:
No option to disable automatic word wrap, instead additional whitespaces are added as highlighted

[2018-04-15 01:40] kekkc opened #939 "Enable Right-Click Context Menu within Notelist"
### [Description]:
One should be able to right click one or several notes to delete / export them directly.

### [Affected versions]:
Notes 4.0.0

### [Steps to reproduce]:
1. Open Notes
2. Create several Notes
3. Open Notes list overview
4. Right click one note

### [Expected result]:
The context menu (delete, export to HTML...) should appear

### [Actual result]:
Context menu is not appearing an

[2018-04-16 15:29] SoftVision-EmilPasca commented on #937
Thanks @kekkc for reporting this issue. However, this is a duplicate of https://github.com/mozilla/notes/issues/677.

[2018-04-16 15:29] #937 closed

[2018-04-16 20:17] vladikoff opened #941 "Try to open keyboard on Note view"
### [Description]:

When the Note view opens we should try to open the keyboard

![image](https://user-images.githubusercontent.com/128755/38832766-95f25fce-4191-11e8-8321-2ee40ee946a8.png)

[2018-04-16 20:22] vladikoff opened #942 "On applicable versions of Android, set the Status bar background to F9F9FA"
On applicable versions of Android, set the Status bar background to F9F9FA

[2018-04-16 20:23] vladikoff opened #943 "Make ToolbarAction icon match the Title"
### [Description]:

![image](https://user-images.githubusercontent.com/128755/38833086-85bf2e7e-4192-11e8-8819-17f74c158804.png)

[2018-04-16 21:13] vladikoff opened #944 ""No Notes" flashes on app load"
![](http://v14d.com/a/5ad511f95cd91.gif)

Can we add a ProgressBar for this view?

https://callstack.github.io/react-native-paper/progress-bar.html

[2018-04-16 21:17] vladikoff opened #945 "Implement "No Notes" view"
Let's use the logo for now instead of the bear icon

![image](https://user-images.githubusercontent.com/128755/38835632-b8740d42-4199-11e8-8e66-77dfe45805f2.png)

[2018-04-17 01:35] vladikoff opened #947 "What should the version string be in mobile for Google Analytics?"
Hey @johngruen @chuckharmston

What version string should we send to GA for the mobile app to avoid confusion and create better dashboards? Right now Notes Android is at `1.0`.  Ideas?

[2018-04-17 01:44] vladikoff opened #948 "Finalize the "Sign in" button design"
1. Add a Loading Indicator. For example: https://github.com/callstack/react-native-paper/blob/master/example/src/ButtonExample.js#L55 On some devices it takes a bit to open up the login browser.

![image](https://user-images.githubusercontent.com/128755/38843876-0cb94af0-41bf-11e8-9839-084da31b1a98.png)

2. Use the design from the mock up:

![image](https://user-images.githubusercontent.com/128755

[2018-04-17 03:16] chuckharmston commented on #947
For mobile, I'd suggest formatting the request very differently, using GA's app tracking parameters https://developers.google.com/analytics/devguides/collection/protocol/v1/parameters#apptracking

[2018-04-17 04:05] vladikoff commented on #947
@chuckharmston I captured an example of sending a `login-success` event here:

[code]

Let me know how that looks

[2018-04-17 12:47] UTexas80 commented on #614
Right back to it...Hello...My Notes have stopped syncing and no longer appear in my Sidebar. Is there anyway to restore my work?
Thank you.

[2018-04-17 12:54] Natim commented on #614
Can you try: https://firefox-storage-test.glitch.me/

[2018-04-17 12:55] Natim commented on #614
In order to fix it you can remove all cache folder safely `FIREFOX_PROFILE_FOLDER/storage/{default,permanent,temporary}/*/cache`

[2018-04-17 13:18] chuckharmston commented on #947
That looks great! You'll also want to make sure to set [`ds`](https://developers.google.com/analytics/devguides/collection/protocol/v1/parameters#ds) to `web`.

[2018-04-17 14:46] UTexas80 commented on #614
Thank you for responding so quickly. I greatly appreciate your support. I deleted the local cache but it looks like the storage is totally broken...

Overview:
Storage is broken. This is your first visit or all storage was automatically cleared.
Specific Subsystem Statuses:

LocalStorage
    Good: Totally Working. (fullyOperational)
QuotaManager
    Good: Totally Working. (fullyOperational)
Indexe

[2018-04-17 14:48] Natim commented on #614
Do you mind adding this information as a comment of that bug? https://bugzilla.mozilla.org/show_bug.cgi?id=1425146

[2018-04-17 14:52] vladikoff commented on #942
This was fixed

[2018-04-17 14:52] #942 closed